[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-toolbar-tools h2, .md-toolbar-tools input {
   padding: 0 6px;
}
.md-toolbar-tools md-input-container {
   margin-bottom: 0px;  
}
md-dialog-content .hint {
   color: grey;
   font-size: 12px;
   transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}  
.text-md-primary {
   color: #3E50B4;
}
form#report md-input-container {
   margin: 0px;
}
.text-success {
   color: #259b24;
}
.text-primary {
   color: #01579b;
}
.text-warning {
   color: #cddc39;
}
.text-error {
   color: #dd514c;
}
.toast-error .md-toast-content{
   background-color: #dd514c !important;
}
.toast-success .md-toast-content{
   background-color: #5eb95e !important;
}
.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
@media print
{    
    .hidden-print, .hidden-print *
    {
        display: none !important;
    }
}