BODY 
{	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
}


.black_underlined 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #000000;
	text-decoration: underline;
}

.black_underlined_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}

.normal_text 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #000000;
}

.BusOpHeader
{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14pt; 
	COLOR: #000000; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.error 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #FF0000;
}

.red_bold_underlined 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #FF0000;
	text-decoration: underline;
	font-weight: bold;
}

.white_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.normal_white 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #FFFFFF;
}
.normal_text_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}


.small_black_bold 
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.small_black
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

.success_story
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	font-style: italic;
}

.small_red_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}

.red_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}


.small_black_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.small_black_underlined
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}


.big_black_bold
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13pt;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}