@import url("../../../../css/base.css");

/* Default STYLES
--------------------------------------------------------*/
body {background: #F6C500 url(images/bg.gif) repeat-x; margin: 0; padding: 20px 0}
#PageSubTable {width: 765px; margin-bottom: 20px}
#ContentCell { background:#fff; padding:15px 8px 8px 8px; height: 400px}

/* Instructions Box */
#Instruction1_InstructCell {border-bottom: 1px dotted #666; padding: 0 0 15px 0}

/* Error Messages */
.Messages, .ErrorMessages { font-size: 12px; font-weight: bold; color: #666; text-transform:uppercase;}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font: bold 14px Arial, Helvetica, sans-serif; font-weight: bold; color: #fff; background: #0501BE}
table.optionsbox {border: 1px solid #0501BE}

/* Form Styles */
.col2 .c1 {border-right: 1px dotted #666}
#Form2 input, #Form2 select {font: 12px Arial, Helvetica, sans-serif; color: #555; background: #fff; line-height: normal}
#ContentCell .formtbl td.input p {margin-top: 15px}

/* Type Styles
--------------------------------------------------------*/

/* Global Font Style */
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content,
#BreadCrumbs1_BreadCrumbs1, .Instructions {font-family: Arial, Helvetica, sans-serif}

/* Instructions */
.Instructions {font-size: 11px; line-height: 17px; color: #666}

/* Page Headlines */
.Headings, #ContentCell h1 {font: bold 18px Arial, Helvetica, sans-serif; border-bottom: 1px dotted #666; text-transform: capitalize; color: #090; padding: 0 0 5px 0; margin: 0 0 15px 0}

/* Sub Headlines */
.subHeadings, #ContentCell h2, .Content h2 {font: bold 16px Arial, Helvetica, sans-serif; color: #666}
#ContentCell h2 {margin-bottom: 15px}
#ContentCell h2.divide {padding-top: 15px; border-top: 1px dotted #999}

/* Sub Headlines 2 */
#ContentCell h3 {font-size: 12px; font-weight: bold; color: #0b3e8b}

/* Body Copy */
.Content, #BreadCrumbs1_BreadCrumbs1 {font-size: 11px; line-height: 17px; color: #666}
#ContentCell p {font-size:11px; margin: 0 0 15px 0}

/* Static Page List Styles */
.static #ContentCell li {margin: 0 0 15px 0}
.static #ContentCell li ul {margin: 15px 0 0 0; padding: 0; list-style: none}

/* Help Page Back To Top Link */
#ContentCell p.top {text-align: right}
#ContentCell p.top a {padding-left: 20px}

/* Body Link Styles */
.Content a {color: #E90308; text-decoration: underline}
.Content a:hover  {color: #E90308; text-decoration: none}
#Instruction1_InstructCell a {color: #E90308; text-decoration: underline}
#Instruction1_InstructCell a:hover {color: #E90308; text-decoration: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell {background: #fff url(images/tb-tile.gif) repeat-x top} 
#TopBannerCell .logo {width: auto; background: url(images/tb-bg.gif) no-repeat top left; float: left; padding: 20px 0 20px 7px}
#TopBannerCell .logo a {color:#00f; text-decoration: none; font-size: 20px; font-weight: bold}
#TopBannerCell .top-nav {display: none}

/* TopSubBanner Styles
--------------------------------------------------------*/
#TopSubBannerCell {background:#fff; padding-bottom:5px; border-bottom: 1px solid #ccc; font-size:11px}
/*#TopSubBannerCell a:hover {text-decoration: underline}
#TopSubBannerCell ul li {display: inline}
#TopSubBannerCell .sub-nav {float: left; width: auto; margin-left: 7px}
#TopSubBannerCell .sub-nav ul li a { text-decoration:none; color:#E90308; padding:2px 9px 2px 0; margin-right: 4px; background:url(images/tb-navpipe.gif) no-repeat center right}
#TopSubBannerCell .sub-nav ul li a:hover {text-decoration: underline}
#TopSubBannerCell .sub-nav ul li.item04 a {background: none}
#TopSubBannerCell .cart {float: right; width: auto}
#TopSubBannerCell .cart ul {text-align: right}
#TopSubBannerCell .cart .cartnav {margin-right: 7px}
#TopSubBannerCell .cart .cartnav li a { text-decoration:none; color:#E90308; padding:2px 9px 2px 0; margin-left: 4px; background:url(images/tb-navpipe.gif) no-repeat center right}
#TopSubBannerCell .cart .cartnav li.checkout a {background: none; padding-right: 0}
#TopSubBannerCell .cart .cartnav li a:hover {text-decoration: underline}
#TopSubBannerCell .cart .shopcart {margin: 5px 7px 3px 0; color: #E90308}
#TopSubBannerCell .cart .shopcart .head {background: url(images/tb-carticon.gif) no-repeat 0 50%; padding-left: 15px; font-weight: bold; color: #090}
#TopSubBannerCell .cart .shopcart .items {margin-right: 5px}*/

/* Cmenu Styles Added 12/18/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#TopSubBannerCell {margin:10px 0 0 0; padding:0; height:100px;}
#TopSubBannerCell li {list-style:none; margin:0; padding:0; float:left;}
#TopSubBannerCell li a {text-decoration:none; color:#000; padding:2px 9px 2px 0; margin-right: 4px; background:url(images/tb-navpipe.gif) no-repeat center right;}
#TopSubBannerCell li a.TopSubBannerText {color:#000; font-size:11px; font-weight:bold; margin:0; padding:5px; text-decoration:none; white-space:nowrap;}
#TopSubBannerCell li a:hover.TopSubBannerText {color:#696e5f; text-decoration:none;}
/* Search */
#TopSubBannerCell .search {height:30px; width:760px; vertical-align:middle; float:right; background: url(images/bn-nav_right.gif) no-repeat bottom right; margin:0 0 0 5px;}
#TopSubBannerCell .search ul {margin:5px 0 0 0; padding:0;}
#TopSubBannerCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0 5px 0 0;}
#TopSubBannerCell .search li.head {font-weight:bold; font-size:12px; padding:5px 5px 0 0;}
#TopSubBannerCell .search li.button {}
#TopSubBannerCell .search li.button a {background-image:none; padding:0; margin:0;}
#TopSubBannerCell .search li.button img {padding:0; margin:0; _margin:1px 0 0 0;}
#TopSubBannerCell .search li.textbox {margin:0;}
#TopSubBannerCell .search li.textbox input {width:115px; height:22px; border:1px solid #ccc; font-size:12px; color:#000;}
#TopSubBannerCell .search li.advsearch {color:#000; font-weight:normal; font-size:10px; padding:5px 0 0 0;}
#TopSubBannerCell .search li.advsearch a {background:none; text-decoration:underline;}
#TopSubBannerCell .search li.advsearch a:hover {text-decoration:none;}
/* Cart Links */
#TopSubBannerCell ul.cartnav {float:left; height:30px; line-height:30px; width:250px; float:left; margin:0; padding:0 0 0 10px; background: url(images/bn-nav_left.gif) no-repeat bottom left; font-size:11px;}
#TopSubBannerCell .cart {}
#TopSubBannerCell ul.cartnav li {padding:0; margin:0;}
#TopSubBannerCell li ul.shopcart li a {background: none}
#TopSubBannerCell ul.cartnav li.items {margin: 0 2px 0 5px}
/* Cart Control */
#TopSubBannerCell ul#TopSubBanner1_CMenubar1_MenuUL ul.shopcart {float:right; height:30px; line-height:30px; margin:0 10px 0 0; padding:0; width:auto; font-size:11px; font-weight: normal; color:#000;}
#TopSubBannerCell ul#TopSubBanner1_CMenubar1_MenuUL ul.shopcart li.head {background: url(images/carticon.gif) no-repeat 0 50%; padding-left:20px;}
#TopSubBannerCell ul#TopSubBanner1_CMenubar1_MenuUL ul.shopcart li.items {margin: 0 5px 0 2px}
/*------------------------------------------
END Cmenu Styles Added 12/18/07 DS Design*/

/* LeftColumnNav Styles
--------------------------------------------------------*/
#LeftColumnCell { width:24%; background:#E90308; vertical-align:top; height:100%; padding-bottom:10px;}
#LeftColumnNav1_custommenu {width: 182px; height:100%; vertical-align:top;}
#LeftColumnNav1_custommenu h2 {padding:4px 5px; margin:0 0 5px 0; border-bottom: 1px solid #fff; background:url(images/lc-head.gif) no-repeat 7px 50%; text-indent: -9999px}
#LeftColumnNav1_custommenu .search li {float: left}
#LeftColumnNav1_custommenu .search { background:#920101; width:100%; padding:5px;}
#LeftColumnNav1_custommenu .search input {margin-right: 5px; border: 1px solid #ccc; font: 12px Arial, Helvetica, sans-serif; color: #000; width:115px; font-size:12px;}
/*DS*/#LeftColumnNav1_custommenu/*DS*/ a {font-size: 11px; text-decoration: none; color:#fff; padding: 2px 0 2px 7px;}
/*DS*/#LeftColumnNav1_custommenu/*DS*/ a:hover {text-decoration: underline}

/* Cmenu Styles Added 12/18/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#LeftColumnCell ul li {height:auto;}
#LeftColumnCell {margin:0; padding:0;}
#LeftColumnCell li {list-style:none; margin:0; padding:0;}
/* Search */
#LeftColumnCell .search {height:25px; _height:30px; vertical-align:middle; margin:8px 0; padding:5px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
#LeftColumnCell .search ul {margin:0; padding:0;}
#LeftColumnCell .search li {list-style:none; font-size:10px; font-weight: normal; margin:0; padding:0;}
#LeftColumnCell .search li.head {display:none;}
#LeftColumnCell .search li.button {}
#LeftColumnCell .search li.button a {background-image:none; padding:0; margin:0;}
#LeftColumnCell .search li.button img {padding:0; margin:0 0 0 5px;}
#LeftColumnCell .search li.textbox {float:left; margin:0;}
#LeftColumnCell .search li.textbox input {width:115px; height:22px; border:none; margin:0; font-size:12px; color:#000;}
#LeftColumnCell .search li.advsearch {display:none;}
/* Cart Links */
#LeftColumnCell ul.cartnav {margin:0; padding:0;}
#LeftColumnCell ul.cartnav li {padding:0; margin:0;}
/* Cart Control */
#LeftColumnCell ul.shopcart {margin:10px 0 10px 8px; padding:0; font-size:11px; font-weight: normal; color:#fff;}
#LeftColumnCell ul.shopcart a {padding: 0}
/*------------------------------------------
END Cmenu Styles Added 12/18/07 DS Design*/

/* Footer Styles
--------------------------------------------------------*/
#FooterCell {/*DS*/background: #F6C500; /*padding: 10px 0; DS*/ font-size: 10px; color: #666;}
#FooterCell a {color: #666; text-decoration: none}
#FooterCell a:hover {text-decoration: underline}
#FooterCell ul {float: left; width: auto; /*DS margin:0px*/}
#FooterCell ul li {display: inline; margin-right: 15px}
#FooterCell p { color:#fff; font:11px Arial, Helvetica, sans-serif; float:left; clear: both; padding:0; /*DS margin:0px*/}
#FooterCell .powered {float: right; width: auto; margin-right: 7px}

/* Cmenu Styles Added 12/18/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#FooterCell ul#Footer1_CMenubar1_MenuUL {background:#fff; padding:10px 0 0 10px;}
#FooterCell li {list-style:none; margin:0; padding:0;}
#FooterCell li a {padding:0 3px 0 0;}
/* Search */
#FooterCell .search {height:30px; width:760px; vertical-align:middle; float:right; background: url(images/bn-nav_right.gif) no-repeat bottom right; margin:0;}
#FooterCell .search ul {margin:5px 0 0 0; padding:0;}
#FooterCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0 5px 0 0;}
#FooterCell .search li.head {font-weight:bold; font-size:12px; padding:5px 5px 0 0;}
#FooterCell .search li.button {}
#FooterCell .search li.button a {background-image:none; padding:0; margin:0;}
#FooterCell .search li.button img {padding:0; margin:0; _margin:1px 0 0 0;}
#FooterCell .search li.textbox {margin:0;}
#FooterCell .search li.textbox input {width:115px; height:22px; border:1px solid #ccc; font-size:12px; color:#000;}
#FooterCell .search li.advsearch {color:#000; font-weight:normal; font-size:10px; padding:5px 0 0 0;}
#FooterCell .search li.advsearch a {background:none; text-decoration:underline;}
#FooterCell .search li.advsearch a:hover {text-decoration:none;}
/* Cart Links */
#FooterCell ul.cartnav {float:left; height:33px; line-height:30px; width:200px; float:left; margin:5px 0 0 0; padding:0;}
#FooterCell .cart {}
#FooterCell ul.cartnav li {padding:0; margin:0;}
#FooterCell ul.cartnav li.viewcart a {}
/* Cart Control */
#FooterCell ul.shopcart {float:left; height:33px; line-height:30px; margin:5px 0 0 0; padding:0; width:300px; font-size:10px; font-weight: normal;}
#FooterCell ul.shopcart li.head {}
#FooterCell ul.shopcart li.items {}
/*------------------------------------------
END Cmenu Styles Added 12/18/07 DS Design*/

/* Default Page Styles
--------------------------------------------------------*/
.default #ContentCell .df-welcome {float: left; width: 100%}
.default #ContentCell .df-welcome h1 {font-size: 18px; font-weight: bold; text-transform: capitalize; color: #090; padding: 0; margin: 0 0 15px 0}
.default #ContentCell .df-welcome img {float: left; margin: 0 10px 4px 0; border: 1px solid #ccc}
.default #ContentCell .df-welcome p { color:#999}

.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%; background:#090}
.default #ContentCell .df-cats h2 {font-size: 14px; font-weight: bold; color: #fff; padding: 0; margin: 0 0 15px 0; padding: 7px 5px; background:#0501BE}
.default #ContentCell .df-cats ul {color: #fff; padding: 0; margin: 0 20px 10px 20px; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats li a {color: #fff}
.default #ContentCell .df-cats li a img {margin-bottom: 3px}
.default #ContentCell .df-cats img {border: 1px solid #ccc}

/* Detail Page Styles
-------------------------------------------------------*/
/* Detail Template 1 */
#ProductDetail11_Swatches_Table1 {padding-right: 10px}
#ProductDetail11_trPrice, #ProductDetail11_trCustomPrice, #ProductDetail11_trSavings {font-size: 12px; font-weight: bold}
tr#ProductDetail11_trDescription td {border-top: 1px dotted #666}
tr#ProductDetail11_trDescription td h1 {font-size: 12px; color: #666; text-transform: uppercase}
tr#ProductDetail11_trCategory td {padding-bottom: 10px}
tr#ProductDetail11_trEMailFriend td.button {text-align: left}

/* Detail Template 2 */
tr#ProductDetail21_trDescription td {border-top: 1px dotted #666}
tr#ProductDetail21_trDescription td h1 {font-size: 12px; font-weight: bold; color: #666; text-transform: uppercase; margin-bottom: 0; padding: 0; border: none}
#ProductDetail21_trPrice, #ProductDetail21_trCustomPrice, #ProductDetail21_trSavings {font-size: 12px; font-weight: bold}