<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <swCorporate.systemEx>
      <taskExecutor redirectConsoleOutputToLogFiles="false"
                    logPath="C:\Apps\Installation\GA\BDC\Console\TaskExecutor\logs\"
                    xdt:Transform="SetAttributes" />
   </swCorporate.systemEx>
   <system.serviceModel>
      <client>
         <endpoint name="DispatchClient"
                   address="net.tcp://dev.appservices.int/server/DispatchService.svc/intranet"
                   binding="netTcpBinding"
                   contract="SWCorporate.AppServices.Shared.Contracts.IDispatchService"
                   xdt:Transform="Replace"
                   xdt:Locator="Match(name)"/>
      </client>
   </system.serviceModel>
</configuration>