<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings"
                    type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="GA.BDC.Console.TaskExecutor.Properties.Settings"
                  type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                  requirePermission="false" />
      </sectionGroup>

      <section name="entityFramework"
               type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />

      <sectionGroup name="swCorporate.systemEx"
                    type="SWCorporate.SystemEx.Configuration.SectionGroup, SWCorporate.SystemEx">
         <section name="instrumentationProvider"
                  type="SWCorporate.SystemEx.Configuration.InstrumentationProviderSection, SWCorporate.SystemEx" />

         <section name="taskExecutor"
                  type="SWCorporate.SystemEx.Configuration.TaskExecutorSection, SWCorporate.SystemEx" />
      </sectionGroup>

      <sectionGroup name="swCorporate.systemEx.messaging"
                    type="SWCorporate.SystemEx.Messaging.Configuration.SectionGroup, SWCorporate.SystemEx.Messaging">
         <section name="instrumentation"
                  type="SWCorporate.SystemEx.Messaging.Instrumentation.Configuration.InstrumentationSection, SWCorporate.SystemEx.Messaging.Instrumentation" />

         <section name="messageBroker"
                  type="SWCorporate.SystemEx.Messaging.Configuration.MessageBrokerSection, SWCorporate.SystemEx.Messaging" />

         <section name="messageSensor"
                  type="SWCorporate.SystemEx.Messaging.Configuration.MessageSensorSection, SWCorporate.SystemEx.Messaging" />
      </sectionGroup>

   </configSections>

   <applicationSettings>
      <GA.BDC.Console.TaskExecutor.Properties.Settings>
         <setting name="Port"
                  serializeAs="String">
            <value>GABDC</value>
         </setting>
         <setting name="Partner"
                  serializeAs="String">
            <value>GABDC</value>
         </setting>
         <setting name="BulkOrder"
                  serializeAs="String">
            <value>L1</value>
         </setting>
         <setting name="AccountTypeShipping"
                  serializeAs="String">
            <value>ST</value>
         </setting>
         <setting name="AccountTypeBilling"
                  serializeAs="String">
            <value>BT</value>
         </setting>
         <setting name="SalesScreen"
                  serializeAs="String">
            <value>S</value>
         </setting>
         <setting name="OnlineOrder"
                  serializeAs="String">
            <value>O</value>
         </setting>
         <setting name="TaxExcluded"
                  serializeAs="String">
            <value>TE</value>
         </setting>
         <setting name="USCurrency"
                  serializeAs="String">
            <value>USD</value>
         </setting>
         <setting name="ClientOnlineCode"
                  serializeAs="String">
            <value>OF</value>
         </setting>
         <setting name="BankDraft"
                  serializeAs="String">
            <value>BD</value>
         </setting>
         <setting name="CreditCard"
                  serializeAs="String">
            <value>CC</value>
         </setting>
         <setting name="Check"
                  serializeAs="String">
            <value>CK</value>
         </setting>
         <setting name="Cash"
                  serializeAs="String">
            <value>CS</value>
         </setting>
         <setting name="Echeck"
                  serializeAs="String">
            <value>EC</value>
         </setting>
         <setting name="PaymentConfirmed"
                  serializeAs="String">
            <value>Confirmed</value>
         </setting>
         <setting name="PaymentReceived"
                  serializeAs="String">
            <value>Received</value>
         </setting>
         <setting name="Paid"
                  serializeAs="String">
            <value>8</value>
         </setting>
         <setting name="Refund"
                  serializeAs="String">
            <value>12</value>
         </setting>
         <setting name="PaymentSentToSAP"
                  serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="PaymentConfirmedBySAP"
                  serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="PaymentSentFromSAP"
                  serializeAs="String">
            <value>3</value>
         </setting>
         <setting name="SaleConfirmed"
                  serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="CACurrency"
                  serializeAs="String">
            <value>CAD</value>
         </setting>
         <setting name="SaleInProcessSAP"
                  serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="SaleInSAPNoPayment"
                  serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="SaleInSAPWoutPayment"
                  serializeAs="String">
            <value>3</value>
         </setting>
         <setting name="SaleInSAPPayInProcess"
                  serializeAs="String">
            <value>4</value>
         </setting>
         <setting name="SaleInSAPWithPay"
                  serializeAs="String">
            <value>5</value>
         </setting>
         <setting name="Shipped"
                  serializeAs="String">
            <value>6</value>
         </setting>
         <setting name="ProductClassIdOmit"
                  serializeAs="String">
            <value>8</value>
         </setting>
         <setting name="InHouseSaleStatus"
                  serializeAs="String">
            <value>7</value>
         </setting>
         <setting name="ExternalAjustment"
                  serializeAs="String">
            <value>7</value>
         </setting>
         <setting name="ReasonSAPAdjustment"
                  serializeAs="String">
            <value>34</value>
         </setting>
         <setting name="SaleIdCutOver"
                  serializeAs="String">
            <value>145603</value>
         </setting>
         <setting name="EZSaleIdCutOver"
                  serializeAs="String">
            <value>49000</value>
         </setting>
         <setting name="MassMailerAppName"
                  serializeAs="String">
            <value>BDC MassMailer</value>
         </setting>
         <setting name="MassMailerSentStatus"
                  serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="MailerFeedbackHistoryDays"
                  serializeAs="String">
            <value>30</value>
         </setting>
         <setting name="AmazonProjectID"
                  serializeAs="String">
            <value>8</value>
         </setting>
         <setting name="Notification_ToRecipients"
                  serializeAs="String">
            <value>bdcdevelopers@fundraising.com</value>
         </setting>
         <setting name="MAXOrdersInBatch"
                  serializeAs="String">
            <value>50</value>
         </setting>
         <setting name="EZSaleConfirmed"
                  serializeAs="String">
            <value>INVOICED</value>
         </setting>
         <setting name="EZfund"
                  serializeAs="String">
            <value>E</value>
         </setting>
      </GA.BDC.Console.TaskExecutor.Properties.Settings>
   </applicationSettings>

   <appSettings>
      <add key="CSVFilePath"
           value="C:\Users\jarellano\Desktop\SAGE04.csv" />
      <add key="Bulk_PartnerId"
           value="5921" />
      <add key="Bulk_EventId"
           value="1518342" />
      <add key="Bulk_SenderHiearchyId"
           value="9308410" />
      <add key="Bulk_BusinessRuleId"
           value="289" />
      <add key="Bulk_EventTypeId"
           value="1" />
      <add key="Bulk_CreationChannelId"
           value="7" />
      <add key="PubliTrac_API"
           value="f22a6c18-6443-11e4-806f-22000b068f8c" />
      <add key="PubliTrac_Username"
           value="frcom_sandbox" />
      <add key="PubliTrac_Password"
           value="fundraising" />
      <add key="CreateSponsor.PartnerId"
           value="6441" />
      <add key="CreateSponsor.CreationChannelId"
           value="2" />
      <add key="CreateSponsor.EventType"
           value="3" />
      <add key="CreateSponsor.FilePath"
           value="C:\Users\jarellano\Desktop\USAF.csv" />
      <add key="RelaunchCampaigns.PartnerId"
           value="143" />
      <add key="RelaunchCampaigns.From"
           value="2014-08-01 00:00:00" />
      <add key="fundraising.webapi.host"
           value="http://local-core.fundraising.com/" />
      <add key="fundraising.webapi.host.Notification"
           value="http://local-core.fundraising.com/Notifications" />
      <add key="fundraising.webapi.host.FundPass"
           value="http://local-core.fundraising.com/fundpass" />
      <add key="TouchEmailProcessQueueThrottle"
           value="50" />
   </appSettings>

   <connectionStrings>
      <add name="esubs_global_v2"
           connectionString="Data Source=GASQLT02;Initial Catalog=esubs_global_v2;Integrated Security=True;Application Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
      <add name="EFRCommon"
           connectionString="Data Source=GASQLT02;Initial Catalog=efrcommon;Integrated Security=True;Application Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Console.TaskExecutor.Properties.Settings.eFundraisingProdConnectionString"
           connectionString="Data Source=GASQLT02;Initial Catalog=eFundraisingProd;Integrated Security=True;Application Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Data.Properties.Settings.esubs_global_v2ConnectionString"
           connectionString="Data Source=GASQLT02;Initial Catalog=esubs_global_v2;Integrated Security=True;Application Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Console.TaskExecutor.Properties.Settings.MassMailerProdConnectionString"
           connectionString="Data Source=monqspmva1\mailer;Initial Catalog=rd_mailer;connection timeout=500;user id=rd_mailer;password=xh1tqaeuApplication Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Console.TaskExecutor.Properties.Settings.EZMainConnectionString"
           connectionString="Data Source=ezfazsqlP01;Initial Catalog=EZMain_Test; Persist Security Info=True;User ID=azureadmin;Password=S3rv3r@dm1n!"
           providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Console.TaskExecutor.Properties.Settings.EFRCommon"
           connectionString="Data Source=GASQLT02;Initial Catalog=efrcommon;Integrated Security=True;Application Name=GA.BDC.Console.TaskExecutor;"
           providerName="System.Data.SqlClient" />
   </connectionStrings>

   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />

      <providers>
         <provider invariantName="System.Data.SqlClient"
                   type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>

   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json"
                              publicKeyToken="30ad4fe6b2a6aeed"
                              culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-12.0.0.0"
                             newVersion="12.0.0.0" />
         </dependentAssembly>
         <dependentAssembly>
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                              publicKeyToken="b03f5f7f11d50a3a"
                              culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.6.0"
                             newVersion="4.0.6.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>

   <startup>
      <supportedRuntime version="v4.0"
                        sku=".NETFramework,Version=v4.7.2" />
   </startup>

   <swCorporate.systemEx>
      <instrumentationProvider name="SW Corporate Messaging Instrumentation Provider"
                               type="SWCorporate.SystemEx.Messaging.Instrumentation.InstrumentationProvider, SWCorporate.SystemEx.Messaging.Instrumentation" />

      <taskExecutor redirectConsoleOutputToLogFiles="false"
                    logPath="C:\Apps\Installation\GA\BDC\Console\TaskExecutor\logs\">
         <tasks>
            <task name="SendOrder"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendOrdersTask, GA.BDC.Console.TaskExecutor" />

            <task name="SendPayment"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendPaymentsTask, GA.BDC.Console.TaskExecutor" />

            <task name="HandleMessageQueues"
                  type="GA.BDC.Console.TaskExecutor.Tasks.MessageQueueHandlerTask, GA.BDC.Console.TaskExecutor" />

            <task name="DispatchQueuedMail"
                  type="GA.BDC.Console.TaskExecutor.Tasks.DispatchQueuedMailTask, GA.BDC.Console.TaskExecutor" />

            <task name="BulkLoadMembers"
                  type="GA.BDC.Console.TaskExecutor.Tasks.BulkLoadMembersTask, GA.BDC.Console.TaskExecutor" />

            <task name="SendPubliTracLead"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendPubliTracLead, GA.BDC.Console.TaskExecutor" />

            <task name="CreateSponsors"
                  type="GA.BDC.Console.TaskExecutor.Tasks.CreateSponsor, GA.BDC.Console.TaskExecutor" />

            <task name="RelaunchCampaigns"
                  type="GA.BDC.Console.TaskExecutor.Tasks.RelaunchCampaigns, GA.BDC.Console.TaskExecutor" />

            <task name="NotificationService"
                  type="GA.BDC.Console.TaskExecutor.Tasks.FollowUpNotificationService, GA.BDC.Console.TaskExecutor" />

            <task name="SendSalesPaidNotification"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendSalesPaidNotificationTask, GA.BDC.Console.TaskExecutor" />

            <task name="EZSendOrder"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendEZOrdersTask, GA.BDC.Console.TaskExecutor" />

            <task name="EZSendPayment"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendEZPaymentsTask, GA.BDC.Console.TaskExecutor" />

            <task name="TouchEmailProcessQueue"
                  type="GA.BDC.Console.TaskExecutor.Tasks.TouchEmailProcessQueueTask, GA.BDC.Console.TaskExecutor" />

            <task name="SendFundPassEmailTask"
                  type="GA.BDC.Console.TaskExecutor.Tasks.SendFundPassEmailTask, GA.BDC.Console.TaskExecutor" />
         </tasks>
      </taskExecutor>
   </swCorporate.systemEx>

   <swCorporate.systemEx.messaging>
      <instrumentation applicationName="(DEV) GA.BDC.Console.TaskExecutor"
                       messageQueueHost="DEV02"
                       messageQueueAceTrusteeList="SNA\Trusted Corporate DEV Messaging Principals" />

      <messageSensor>
         <messageQueues defaultAgentAttentionSpan="180"
                        defaultHost="DEV02">
            <messageQueue name="GA.BDC.Console.TaskExecutor(from SAP)">
               <messageHandler messageType="ZGA_BDC_ORDER_CONF"
                               type="GA.BDC.Integration.MessageParsers.FROrderConfirmIDocMessageParser, GA.BDC.Integration" />

               <messageHandler messageType="ZGA_BDC_PMT_CONF"
                               type="GA.BDC.Integration.MessageParsers.FRPaymentConfirmIDocMessageParser, GA.BDC.Integration" />

               <messageHandler messageType="ZGA_EZFUND_ORDER_CONF"
                               type="GA.BDC.Integration.MessageParsers.EZOrderConfirmIDocMessageParser, GA.BDC.Integration" />

               <messageHandler messageType="ZGA_EZFUND_PMT_CONF"
                               type="GA.BDC.Integration.MessageParsers.EZPaymentConfirmIDocMessageParser, GA.BDC.Integration" />
            </messageQueue>

            <messageQueue name="GA.BDC.Integration(AppSvcs feedback)">
               <messageHandler messageType="MailEntity"
                               type="GA.BDC.Integration.MessageParsers.FRMailFeedbackMessageParser, GA.BDC.Integration" />
            </messageQueue>
         </messageQueues>
      </messageSensor>

      <messageBroker>
         <messageQueues defaultAceTrusteeList="SNA\Trusted Corporate DEV Messaging Principals"
                        defaultHost="DEV02"
                        defaultJournalSizeConstraint="64000">
            <messageQueue name="GA.BDC.Integration(to SAP)"
                          transactional="true"
                          journalEnabled="true" />
         </messageQueues>

         <messageRouters>
            <messageRouter messageType="ZGA_EZFUND_PAYMENT">
               <destination type="messageQueue"
                            name="GA.BDC.Integration(to SAP)" />
            </messageRouter>

            <messageRouter messageType="ZGA_EZFUND_ORDER">
               <destination type="messageQueue"
                            name="GA.BDC.Integration(to SAP)" />
            </messageRouter>

            <messageRouter messageType="ZGA_BDC_ORDER">
               <destination type="messageQueue"
                            name="GA.BDC.Integration(to SAP)" />
            </messageRouter>

            <messageRouter messageType="ZGA_BDC_PAYMENT">
               <destination type="messageQueue"
                            name="GA.BDC.Integration(to SAP)" />
            </messageRouter>
         </messageRouters>
      </messageBroker>
   </swCorporate.systemEx.messaging>

   <system.diagnostics>
      <trace autoflush="false"
             indentsize="3">
         <listeners>
            <add name="GA.BDC.Console.TaskExecutor - EventLogTraceListener"
                 type="System.Diagnostics.EventLogTraceListener"
                 initializeData="GA.BDC.Console.TaskExecutor" />
         </listeners>
      </trace>
   </system.diagnostics>

   <system.net>
      <mailSettings>
         <smtp deliveryMethod="Network">
            <network host="SMTP.appservices.int"
                     port="25"
                     defaultCredentials="true" />
         </smtp>
      </mailSettings>
   </system.net>

   <system.serviceModel>
      <behaviors>
         <endpointBehaviors>
            <behavior>
               <dataContractSerializer maxItemsInObjectGraph="67108864" />
            </behavior>
         </endpointBehaviors>
      </behaviors>

      <bindings>
         <netTcpBinding>
            <binding transactionFlow="true">
               <reliableSession enabled="true" />

               <security mode="Transport">
                  <transport clientCredentialType="Windows"
                             protectionLevel="EncryptAndSign" />
               </security>
            </binding>
         </netTcpBinding>
      </bindings>

      <client>
         <endpoint name="DispatchClient"
                   address="net.tcp://dev.appservices.int/server/DispatchService.svc/intranet"
                   binding="netTcpBinding"
                   contract="SWCorporate.AppServices.Shared.Contracts.IDispatchService" />
      </client>
   </system.serviceModel>

</configuration>