<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <connectionStrings>
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.eFundraisingProdConnectionString" connectionString="Data Source=SQLT08;Initial Catalog=eFundraisingProd;connection timeout=30;user id=crm_user;password=%J$VQg4#GRj1"
          providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.EFRCommonConnectionString" connectionString="Data Source=SQLT08;Initial Catalog=EFRCommon;connection timeout=100;user id=esubs_global_v2;password=5oasis4lt"
       providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.EsubsConnectionString" connectionString="Data Source=SQLT08;Initial Catalog=esubs_global_v2;connection timeout=500;user id=esubs_global_v2;password=5oasis4lt"
        providerName="System.Data.SqlClient"  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
   </connectionStrings>
</configuration>