<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <sectionGroup name="swCorporate.systemEx" type="SWCorporate.SystemEx.Configuration.SectionGroup, SWCorporate.SystemEx">
         <section name="taskExecutor" type="SWCorporate.SystemEx.Configuration.TaskExecutorSection, SWCorporate.SystemEx" />
         <section name="instrumentationProvider" type="SWCorporate.SystemEx.Configuration.InstrumentationProviderSection, SWCorporate.SystemEx" />
      </sectionGroup>
   </configSections>
   <connectionStrings>
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.eFundraisingProdConnectionString"
         connectionString="Data Source=MONQSPMVA2;Initial Catalog=eFundraisingProd;Integrated Security=True"
         providerName="System.Data.SqlClient" />
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.EFRCommonConnectionString"
         connectionString="Data Source=GASQLP02;Initial Catalog=EFRCommon;Integrated Security=True" />
      <add name="GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings.EsubsConnectionString"
         connectionString="Data Source=GASQLP02;Initial Catalog=esubs_global_v2;Integrated Security=True" />
   </connectionStrings>
   <swCorporate.systemEx>
      <taskExecutor redirectConsoleOutputToLogFiles="false"
                    logPath="C:\Apps\Installation\GA\BDC\Console\PAPFeedback\TaskExecutor\logs\">
         <tasks>
            <task name="SendPAPLandedSale"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPLandedSaleTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="SendPAPEsubsSale"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPEsubsSaleTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="CancelPAPSale"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.CancelPAPSaleTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="ConfirmPAPSale"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.ConfirmPAPSaleTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="SendPAPActivation"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPActivationTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="SendPAPKickOff"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPKickOffTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="SendPAPAutoCreate"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPAutoCreateTask, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="VerifyPAPCampaigns"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.VerifyPAPCampaigns, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="VerifyPAPAffiliates"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.VerifyPAPAffiliates, GA.BDC.Console.PAPFeedback.TaskExecutor" />
            <task name="SendPAPKitRequest"
                  type="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPKitRequest, GA.BDC.Console.PAPFeedback.TaskExecutor" />
         </tasks>
      </taskExecutor>
      <instrumentationProvider name="SW Corporate Messaging Instrumentation Provider"
                               type="SWCorporate.SystemEx.Messaging.Instrumentation.InstrumentationProvider, SWCorporate.SystemEx.Messaging.Instrumentation" />
   </swCorporate.systemEx>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
   <applicationSettings>
      <GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings>
         <setting name="ServerURL" serializeAs="String">
            <value>http://fundraising.postaffiliatepro.com/scripts/server.php</value>
         </setting>
         <setting name="ServerMethodPost" serializeAs="String">
            <value>POST</value>
         </setting>
         <setting name="ServerMediaType" serializeAs="String">
            <value>application/x-www-form-urlencoded</value>
         </setting>
         <setting name="ApprovedStatus" serializeAs="String">
            <value>A</value>
         </setting>
         <setting name="PendingStatus" serializeAs="String">
            <value>P</value>
         </setting>
         <setting name="DeclinedStatus" serializeAs="String">
            <value>D</value>
         </setting>
         <setting name="TrackerUrl" serializeAs="String">
            <value>http://fundraising.postaffiliatepro.com/scripts/track.php</value>
         </setting>
         <setting name="ServerMethodGet" serializeAs="String">
            <value>GET</value>
         </setting>
         <setting name="RequestTimeout" serializeAs="String">
            <value>60000</value>
         </setting>
         <setting name="ErrorStatus" serializeAs="String">
            <value>E</value>
         </setting>
         <setting name="CRMAppID" serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="EsubsAppID" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="EsubsCommandExec" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="DaysBeforeOrderConfirmed" serializeAs="String">
            <value>14</value>
         </setting>
         <setting name="ActivationCampaign" serializeAs="String">
            <value>ACTIVATION</value>
         </setting>
         <setting name="ActivationStatus" serializeAs="String">
            <value>AS</value>
         </setting>
         <setting name="KickoffStatus" serializeAs="String">
            <value>KS</value>
         </setting>
         <setting name="KickoffCampaign" serializeAs="String">
            <value>KICK-OFF</value>
         </setting>
         <setting name="StartDate" serializeAs="String">
            <value>2013-01-01</value>
         </setting>
         <setting name="AutoCreateStatus" serializeAs="String">
            <value>AC</value>
         </setting>
         <setting name="AutoCreationCampain" serializeAs="String">
            <value>Group Auto Creation</value>
         </setting>
         <setting name="DaysToSubtractForFromDate" serializeAs="String">
            <value>-5</value>
         </setting>
      </GA.BDC.Console.PAPFeedback.TaskExecutor.Properties.Settings>
   </applicationSettings>
   <appSettings>
      <add key="PAPPassword" value="fundr@1s1ng2018" />
   </appSettings>
   <log4net>
      <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{yyyy-MM-dd HH:mm} %-5level %logger{1} - %message%newline" />
         </layout>
         <threshold value="DEBUG" />
      </appender>
      <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
         <file value="logs\logs.txt" />
         <appendToFile value="true" />
         <rollingStyle value="Date" />
         <datePattern value="yyyyMMdd" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{yyyy-MM-dd HH:mm} %-5level %logger{2} - %message%newline" />
         </layout>
         <threshold value="WARN" />
      </appender>
      <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
         <to value="bdcdevelopers@fundraising.com" />
         <from value="no-reply@swgao.com" />
         <subject value="Exception at GA.BDC.Console.PAPFeedback.TaskExecutor" />
         <smtpHost value="outgoingsmtp" />
         <threshold value="ERROR" />
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%newline%date %-5level %logger - %message%newline%newline%newline" />
         </layout>
      </appender>
      <root>
         <level value="DEBUG" />
         <appender-ref ref="ColoredConsoleAppender" />
         <appender-ref ref="RollingLogFileAppender" />
         <appender-ref ref="SmtpAppender" />
      </root>
   </log4net>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
         <parameters>
            <parameter value="mssqllocaldb" />
         </parameters>
      </defaultConnectionFactory>
      <providers>
         <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      </providers>
   </entityFramework>
</configuration>