BODY
{
    background-image:url('/images/KidsJumpingYellow.gif');
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: small;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
}
H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #003366;
}
		
TFOOT, THEAD	{	
	font-size:	small;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	small;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	

TD.ColumnHeader
{
	font-weight: bold;
	font-size: smaller;
	color: white;
	font-family: Verdana;
	background-color: #993300;
}

INPUT 
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
	border-width: 1;
	border-color: #7F9DB9;
}
TEXTAREA 
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
}
SELECT
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
}


A
{
	text-decoration:	none;
	color:	#336699;
}
A:link
{
	text-decoration:	none;
	color:	#336699;
}


BLOCKQUOTE, PRE	
{
	font-family:	Courier New, monospace;
}
IMG 	
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}



.PageHeader1
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-large;
	font-weight: bold;
	color: #005596;
}
.PageHeader2
{
	font-family: Verdana, Arial, Tahoma;
	font-size: x-large;
	font-weight	:bold;
	color: red;
}
.SectionHeader
{
    font-family: Verdana, Arial, Tahoma;
	font-size: large;
	font-weight: bold;
	border-bottom: #005596 1px solid;
}
.Text_Title
{
    font-family: Verdana, Arial, Tahoma;
	font-size: small;
	font-weight	:bold;
	color: #005596;
	text-align:left;
}
.Text_Directions
{
    font-family: Verdana, Arial, Tahoma;
	font-size: small;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}
.Text_Important
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	font-weight:bold ;
	color: #000000;
}
.Text_Small
{
	font-family: Verdana, Arial, Tahoma;
	font-size: x-small;
	color: #000000;
}
.Text_Note_Title
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-small;
	font-weight:bold;
	color: #005596;
}
.Text_Note_Text
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-small;
	color: #666666;
}
.Separator
{
    border: none;
    border-top: 1px;
    color: #005596;
    background-color: #005596;
    height: 1px;
}

.LinkButton
{
    border-style: solid;
    border-width : 1px;
    border-color : #336699;
    text-decoration : none;
    padding : 4px;
    color: #333333;
    background-color: #DDDDDD;
}
.LinkButton_OLD
{
    border-style: solid;
    border-width : 1px;
    border-color : #336699;
    text-decoration : none;
    padding : 4px;
    color: #336699;
    background-color: White;
}


.GridHeaderItemStyle
{
	background-color: #8EA9DD;
	color: White;
	font-weight: bold;
}
.GridItemStyle
{
	 color:Black;
	 font-weight:normal;
	 background-color: #F9F0C7;
	 cursor:hand;
	 font-size: smaller;
}
.GridItemStyle_Alternative
{
	 color:Black;
	 font-weight:normal;
	 background-color:White;
	 cursor:hand;
	 font-size: smaller;
}
.GridFooterItemStyle
{
	background-color: #F5F5F5;
	color: Black;
}
.GridPagerItemStyle
{
	background-color: #8EA9DD;
	color: White;
	font-weight:bold;
}

.Box
{
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

.Menu
{
	border-bottom:solid 1px #993300;
	border-right:solid 1px #993300;
	font-family: Arial, Tahoma;
	font-size: 8pt;
	text-decoration:none;
	
	
}
.MenuItem
{
	border-left:solid 1px #993300;
	border-top:solid 1px #993300;
	font-family: Arial, Tahoma;
	font-size: 8pt;
	text-align: left;
	text-decoration:none;
}
.FooterLabel
{
	font-size: 9px;
	font-family: Arial;
}