BODY
{
    width: 750px;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: small;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
}
H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
    COLOR: #000000;
}
		
TFOOT, THEAD	{	
	font-size:	small;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	
		
TH	{	
	vertical-align:	baseline;
	font-size:	small;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}	

TD.ColumnHeader
{
	font-weight: bold;
	font-size: smaller;
	color: white;
	font-family: Verdana;
	background-color: #696969;
}

INPUT 
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
	border-width: 1;
	border-color: #696969;
}
TEXTAREA 
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
}
SELECT
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	border-style: ridge;
}


A
{
	text-decoration:	none;
	color:	#000000;
}
A:link
{
	text-decoration:	none;
	color:	#000000;
}


BLOCKQUOTE, PRE	
{
	font-family:	Courier New, monospace;
}
IMG 	
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}



.PageHeader1
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-large;
	font-weight: bold;
	color: #000000;
}
.PageHeader2
{
	font-family: Verdana, Arial, Tahoma;
	font-size: x-large;
	font-weight	:bold;
	color: #666666;
}
.SectionHeader
{
    font-family: Verdana, Arial, Tahoma;
	font-size: large;
	font-weight: bold;
	border-bottom: #666666 1px solid;
}
.Text_Title
{
    font-family: Verdana, Arial, Tahoma;
	font-size: small;
	font-weight	:bold;
	color: #666666;
	text-align:left;
}
.Text_Directions
{
    font-family: Verdana, Arial, Tahoma;
	font-size: small;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}
.Text_Important
{
	font-family: Verdana, Arial, Tahoma;
	font-size: smaller;
	font-weight:bold ;
	color: #000000;
}
.Text_Small
{
	font-family: Verdana, Arial, Tahoma;
	font-size: x-small;
	color: #000000;
}
.Text_Note_Title
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-small;
	font-weight:bold;
	color: #666666;
}
.Text_Note_Text
{
	font-family: Verdana, Arial, Tahoma;
	font-size: xx-small;
	color: #666666;
}
.Separator
{
    border: none;
    border-top: 1px;
    color: #696969;
    background-color: #696969;
    height: 1px;
}



.GridHeaderItemStyle
{
	background-color: #696969;
	color: White;
	font-weight: bold;
}
.GridItemStyle
{
	 color:Black;
	 font-weight:normal;
	 background-color: #F5F5F5;
	 cursor:hand;
	 font-size: smaller;
}
.GridItemStyle_Alternative
{
	 color:Black;
	 font-weight:normal;
	 background-color: #FFFFFF;
	 cursor:hand;
	 font-size: smaller;
}
.GridFooterItemStyle
{
	background-color: #F5F5F5;
	color: Black;
}
.GridPagerItemStyle
{
	background-color: #696969;
	color: White;
	font-weight:bold;
}

.Box
{
	border-right: #666666 1px solid;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid;
	border-bottom: #666666 1px solid;
}

.FooterLabel
{
	font-size: 9px;
	font-family: Arial;
}