<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="PAToOrderMappingData.Properties.Settings.QSPFulfillmentConnectionString" connectionString="Data Source=qspproddb1.qsp;Initial Catalog=QSPFulfillment;User ID=QSPFormWebUser;Password=somewhereakinghasnowife;Connect Timeout=240;Application Name=OrderExpress;" providerName="System.Data.SqlClient" />-->
    <!--<add name="PAToOrderMappingData.Properties.Settings.QSPFulfillmentConnectionString" connectionString="data source=qspproddb7.qsp;initial catalog=QSPFulfillment;user id=QSPFormWebUser;password=somewhereakinghasnowife;Connect Timeout=240;Application Name=OrderExpress;" providerName="System.Data.SqlClient" />-->
    <!--<add name="PAToOrderMappingData.Properties.Settings.QSPFulfillmentConnectionString" connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser;Password=QSPFormWebUser" providerName="System.Data.SqlClient" />-->

    <add name="PAToOrderMappingData.Properties.Settings.QSPFulfillmentConnectionString" connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser;Password=QSPFormWebUser" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>