@using System.Configuration
@{
    ViewBag.Title = "Lollipop Fundraising Ideas - Fundraising.com";
    ViewBag.Description = "Lollipop Fundraising Ideas for your next fundraisers";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, Lollipop Fundraising, buy online";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = "/lollipop-fundraiser";
}

<div class="container-fluid NewSiteFontSize">
    <div class="lp">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/external/Products2021/top_banner_lollipops.jpg" alt="lollipops" style="margin: auto;display: block;" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <br />
                <h2>Lollipops</h2>
                From the very young to the very old, almost everyone loves a lollipop. At Fundraising.com, we offer a wide variety of lollipops to help organizations fundraise all year round. Sell the Yummy Hearts Lollipops around Valentine's Day, spooky Lolliween Halloween Lollipops through October, and Merry Pops Christmas Lollipops ahead of the holiday season.
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <br /><br />
                <a href="/products/tessas-lollipops/all-lollipops/Tessas-Kitchen-Lollipops" style="border:none">
                    <img src="~/Content/external/Products2021/banner_tessaslollies.jpg" alt="tessas kitchen gourmet lollipops" style="margin: auto;display: block;" class="img-responsive" />
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px;">

            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lix" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/54.jpg" alt="Yummy Lix Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Yummy Lix Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/color-xploder" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/50.jpg" alt="Color Xploder Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Color Xploder Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-mania" style="text-decoration:none;color:black;margin:4px;" title="Sour Mania Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/49.jpg" alt="Sour Mania Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Sour Mania Lollipops</span>
                </a>
            </div>

        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-star-pops" style="text-decoration:none;color:black;margin:4px;" title="Yummy Star Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/62.jpg" alt="Yummy Star Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Yummy Star Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-hearts" style="text-decoration:none;color:black;margin:4px;" title="Yummy Hearts Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/52.jpg" alt="Yummy Hearts Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Yummy Hearts Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/51.jpg" alt="Yummy Lips Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Yummy Lips Lollipops</span>
                </a>
            </div>

        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Sour Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/48.jpg" alt="Sour Yummy Lips Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Sour Yummy Lips Lollipops</span>
                </a>
            </div>

            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliball-football" style="text-decoration:none;color:black;margin:4px;" title="Lolliball Football Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/55.jpg" alt="Lolliball Football Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Lolliball Football Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/hot-pops" style="text-decoration:none;color:black;margin:4px;" title="Hot Pops Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/53.jpg" alt="Hot Pops Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Hot Pops Lollipops</span>
                </a>
            </div>


        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliween-halloween" style="text-decoration:none;color:black;;margin:4px;" title="Lolliween Halloween Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/58.jpg" alt="Lolliween Halloween Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Lolliween Halloween Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/merry-pops-christmas" style="text-decoration:none;color:black;margin:4px;" title="Merry Christmas Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/57.jpg" alt="Merry Christmas Lollipops" class="img-responsive"><br />
                    <span class="categoryFontSize">Merry Christmas Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lollipop-tree-stand" style="text-decoration:none;color:black;margin:4px;" title="Lollipop Tree Stand" class="img-thumbnail">
                    <img src="/Content/external/products/91.jpg" alt="Lollipop Tree Stand" class="img-responsive"><br />
                    <span class="categoryFontSize">Lollipop Tree Stand</span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
                <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                    <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
                </a>
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
            </div>
        </div>
    </div>
</div>


