@{
    ViewBag.Title = "Ideas to make your Fundraising campaign a success - Fundraising.com";
    ViewBag.Description = "Fundraising Ideas in Fundraising.com’s Tips and Tricks Section will help you with your Fundraising efforts with Fundraisng articles and Ideas to get your Fundraiser going";
    ViewBag.Keywords = "Fundraising tips and tricks, Fundraisers articles, Easy Fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("EasyFundraisers", "Ideas");
}
<div style="margin-top:125px">
   <h1>Plan Your Way to an Easy Fundraiser</h1>
   <div class="row">
      <div class="col-sm-12">
         In addition to highly profitable fundraisers, Fundraising.com also strives to provide you with easy fundraisers so that you can relax and enjoy your fundraising experience. All of our programs have long histories of being both easy to execute and low on maintenance, which is why they’ve been selected for you.
         <br /><br />
         Of course, the best way to ensure your fundraiser runs smoothly is to plan ahead. Here are a few pre-planning steps you can take to make sure your next fundraiser is your most successful one yet:
         <br /><br />
         <ul>
            <li>Review the successes and setbacks you experienced with past campaigns to determine what should be done differently this year.</li>
            <li>Set a fundraising goal and budget.</li>
            <li>Call your fundraising consultant to answer any questions you may have about the different programs and how they can work for you. Be sure to take notes.</li>
            <li>Meet with your committee to discuss and plan your course of action. Be sure to bring your fundraising kit to the meeting.</li>
            <li>Once you’ve decided what type of fundraiser you’ll be running, call your consultant to discuss delivery dates for your products, or, if you’re doing a pre-sale fundraiser like cookie dough, delivery time for your brochures and order forms.</li>
            <li>Meet with your volunteers to distribute tasks and set deadlines.</li>
            <li>Prepare materials for your group members like notices or flyers that give them all the information they will need to participate.</li>
         </ul>
         Fundraising doesn't have to be a chore. If you take the time to plan and get organized before you start raising funds, your campaign will fall into place. Visit our blog at <a href="https://www.fundraising.com/blog" target="_blank">www.fundraising.com/blog</a> for a variety of articles, tips and tricks, and call us anytime for help and advice (we're super nice!).
      </div>
   </div>
</div>