@{
    ViewBag.Title = "Most Profitable Fundraising Events and Articles - Fundraising.com";
    ViewBag.Description = "Fundraising.com a great source of Fundraising Ideas, Events and articles to help you start conduct a successful Fundraising Campaign for your School or sports team.";
    ViewBag.Keywords = "Fundraising Article, Start a Fundraisers, Successful Fundraising Campaign";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Events", "Ideas");
}
<div style="margin-top:125px">
   <h1>Top 10 Ideas for Fundraising Events</h1>
   <div class="row">
      <div class="col-sm-12">
         Fundraising events are a fun and exciting way to raise much-needed funds. They can also be a great way to raise community awareness about your cause, organization or nonprofit services. Here are our top 10 fundraising event ideas:
         <br /><br />
         <strong>1. Walk/Run/Bike-a-Thon</strong><br />
         Choose your sport and get moving! You can make almost any activity into a "thon" and use it as a fundraising event by getting pledges and local sponsorship.
         <br /><br />
         <strong>2. Dollar Walk</strong><br />
         Invite supporters to help pave your "Dollar Walk" with dollar bills. Outline your walk in a hallway or large room with colored tape. Use masking tape (preferably one that isn't sticky enough to tear paper) to tape donated dollar bills as stepping-stones on your walk.
         <br /><br />
         <strong>3. Car Wash</strong><br />
         It's more than just good clean fun, it's also a great way to raise funds!
         <br /><br />
         <strong>4. Spaghetti Dinner</strong><br />
         Spaghetti is a low-cost meal that's easy to make in large amounts, and everyone loves it! Some other fun, low-cost dinner options are pancakes and hotdogs. Add a twist and have a black-tie pancake supper!
         <br /><br />
         <strong>5. Auction</strong><br />
         Ask local businesses, artists and craftspeople to donate items for auction. A great event idea with children (a school group, for example), is to organize an art auction featuring the children's artwork.
         <br /><br />
         <strong>6. Fundraising Raffle</strong><br />
         Get local businesses to donate raffle prizes in exchange for advertising at your event. Make the day more exciting with carnival-style games, and sell snacks like lollipops and beef snacks to boost your profits.
         <br /><br />
         <strong>7. Jeans or Casual Dress Day</strong><br />
         If your school, organization or place of business has a strict dress code, opt for a day when people can donate a small amount (for example, $5) in exchange for the option to wear jeans or casual dress. For an ongoing fundraiser, make it a regular Friday event.
         <br /><br />
         <strong>8. Bake Sale</strong><br />
         This tried and true fundraising event is an American classic everyone loves. Participants love to show off their culinary expertise, and check out the accomplishments of friends and neighbors.
         <br /><br />
         <strong>9. Yard Sale</strong><br />
         One person's trash is almost always another person's treasure, which is why yard sales are such fun and successful events.
         <br /><br />
         <strong>10. Holiday Themes</strong><br />
         Ok, so this isn't a specific event, but you can take any of the above fundraising events, or any other event idea and easily add a holiday twist to make it extra special. For example, a Jingle Bell Dance-a-Thon, or a Hoppin' Shoppin' Easter Bake Sale!
      </div>
   </div>
   </div>