@{
    ViewBag.Description = "Here's 105 cool fundraising ideas";
    ViewBag.Keywords = "Fundraising tips and tricks, Fundraisers articles, Easy Fundraisers, fundraising ideas, 105 ideas for fundraising";
    ViewBag.Title = "105 Fundraising Ideas - Fundraising.com";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("FundraisingIdeas105", "Ideas");
}

<h1>105 Fundraising Ideas</h1>
<div class="container">
   
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas deaf for a day" src="~/Content/external/fundraisingideas/deaf_for_day.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">1. Deaf for a Day</h2>
            Assemble your finest fundraising team and collect pledges for you to pretend to be deaf for a day. On the day of deafness you can only communicate using sign language and gestures for the entire day. Not talking can be a lot harder than you think sometimes, so make sure the minimum pledge is high.
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">2. Pajama Day </h2>
            If you work at an office, see if you can arrange a work-in-your-jammies day where everyone wishing to wear their bedclothes pays a fee for enjoying the day in the utmost of comfort. A pair of soft slippers and a terry cloth house coat could be just the thing to boost productivity and focus.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas pajama day" src="~/Content/external/fundraisingideas/pajama_day.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas bottle return" src="~/Content/external/fundraisingideas/bottle_return.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">3. Bottle Return </h2>
            If you can return empty bottles and collect their deposits in your city it can make for another good fundraising idea. Ask all your neighbours to hand over whatever empty beer and liquor bottles they might have lying around. You need to collect a lot of them to make it worthwhile, so you'll need a car to transport them all.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">4. Community Clean Up </h2>
            Anytime there’s a festival, concert, or show of any kind there is always garbage scattered and piling up everywhere. Offer your professional cleaning services and charge a fee for a speedy and thorough cleanup operation.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising community cleanup" src="~/Content/external/fundraisingideas/community_cleanup.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas community tree" src="~/Content/external/fundraisingideas/community_tree.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">5. The Community Tree </h2>
            This works best during Christmastime. Buy the largest tree you can find and set it up in a park or neighbourhood, then sell people ornaments and lights to hang on it. Place a donations box next to the tree for people to leave their festive tidings.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">6. Ball Pit Treasure Hunt </h2>
            Find a large bin, something about the size of a baby’s crib, and fill it with balls that have been stuffed with either prizes or “sorry try again” notes. People just reach in, dig around, and grab one. Charge $1 per try, and include a “grand prize” hidden somewhere in the mix.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas ball pit treasure" src="~/Content/external/fundraisingideas/ball_pit_treasure.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas auction house" src="~/Content/external/fundraisingideas/auction_house.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">7. The Auction House </h2>
            Auctions always make great fundraisers, and there are several different types that you could try. There are silent auctions, blind auctions, bachelor auctions, ghost auctions, and used car auctions, just to name a few. Always make it clear that the profits from the event are going to a good cause.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">8. Corsages </h2>
            Is the local high school having prom soon? Is Valentine’s Day coming up? You can make corsages fairly cheap with materials from an arts and crafts store like Michaels, or even the dollar store. Sell them at a decent markup and get the word around town.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas corsages" src="~/Content/external/fundraisingideas/corsages.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas ugly sweater" src="~/Content/external/fundraisingideas/ugly_sweater.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">9. Ugly Sweater/Tie/Hat Day </h2>
            Ugly sweaters often pop up around the holidays, but you can stage your own ugly sweater day at the office to generate some quick and easy funds. People simple pay a nominal fee to wear an ugly sweater to work, and you could make things more interesting by offering a prize to the ugliest sweater of the day.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">10.   Selling Saplings </h2>
            Go to a local arboretum or green house and ask if they have any saplings they would be willing to donate to your fundraising cause. Then sell the baby trees to people any way you can. Whether you do it online, door to door, or in a store there are lots of people who want to liven up their homes with a little greenery.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas selling saplings" src="~/Content/external/fundraisingideas/selling_sapling.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas busking" src="~/Content/external/fundraisingideas/busking.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">11.   Busking</h2>
            If you or anyone else on your fundraising team has a musical talent you can always try playing in the street for money. Some buskers can makes hundreds of dollars in an outing so don’t underestimate this one. You might have to check with the city to see if you need to apply for a street performer’s license first, however.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">12.   Create a Mixtape </h2>
            The art of the mixtape isn’t dead, it can still live on in your fundraising efforts! Going along with the busking idea, if your fundraising team has any musical talent you can record a few songs on a CD and sell them. You’ll need to rent time in a studio to make a professional quality recording.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas create a mix tape" src="~/Content/external/fundraisingideas/create_mixtape.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas theme party" src="~/Content/external/fundraisingideas/theme_party.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">13.   Theme Party</h2>
            Who doesn’t like going to a theme party every now and then? Pick your own wacky or exotic theme and charge your guests a modest admission. You’ll have to throw in a big draw to get a lot of people interested, like a popular DJ or band.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">14.   Movie Night</h2>
            Movie nights are a tried and true fundraising idea. You can make this extra-interesting if you hold it in the summertime by having it outdoors in a beautiful park or down by the water (if your city has water). Just be sure to pick a film that’s suitable for all ages.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas movie night" src="~/Content/external/fundraisingideas/movie_night.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas sports" src="~/Content/external/fundraisingideas/sports.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">Sports!</h2>
            Another great idea is to arrange a sports game; hockey, football, soccer baseball, whatever is most popular in your city, and generate revenue from ticket sales and concessions.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">16.   Beat the Goalie </h2>
            If you have connections in professional or minor league sports, see if you can find a goaltender who would be willing to help you out. Charge people to take shots (or kicks if you want to do soccer) on the goalie and anyone who scores gets a small prize.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas beat the goalie"
                       src="~/Content/external/fundraisingideas/beat_goalie.jpg" />
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas scavenger hunt" src="~/Content/external/fundraisingideas/scavenger_hunt.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">17.   Scavenger Hunt </h2>
            Make a treasure map with clues leading to a buried treasure somewhere in town and charge people a fee to play the game. Generate a buzz with social media and whatever ads you can afford. The more players, the merrier.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">18.   Lawnmower Men </h2>
            Are your neighbours letting their grass grow a bit too long? Go door-to-door with a lawnmower and ask people if they’d like their grass cut for a fee. This idea works especially well with school kids.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas lawnmower men"
                       src="~/Content/external/fundraisingideas/lawnmower_men.jpg" />
        </div>
    </div>

    <br /><br />


    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas can i assist" src="~/Content/external/fundraisingideas/can_assist.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">19.   Can I Assist You? </h2>
            Offer to be someone’s personal assistant for a day. Clean their shoes, fetch their coffee, and take their phone calls, all for a modest fee being put towards a good cause. A lot of people are so busy these days, why not help them out?
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">20.   Dog Walking Service </h2>
            Dogs are a lot of responsibility to own since you have to take them out for walks regularly during the day, and this can be a problem for some people who have to be at work all day. Start a dog walking service and take care of the little pooches when their owners can’t be around.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dog walking"
                       src="~/Content/external/fundraisingideas/dog_walking.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas mr fit it" src="~/Content/external/fundraisingideas/mr_fixit.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">21.   Mr. Fix-It  </h2>
            – If you’re handy, why not offer your know how to people in need. Even odd jobs around the house like fixing a leaky sink or patching a hole in the wall can be worth a small fee. The key is to be able to handle as many jobs as possible to maximize your revenue potential and this might entail buying new tools or watching tutorials on home repair.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">22.   Let’s Go Bowling </h2>
            There’s nothing like the sound of 10 pins smashing after bowling a strike! A simple bowling tournament can be a great way to rally people of all ages together. Fundraising comes through player registration fees and concessions.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas lets go bowling"
                       src="~/Content/external/fundraisingideas/lets_bowling.jpg" />
        </div>
    </div>



    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas games tourney" src="~/Content/external/fundraisingideas/games_tourney.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">23.   Games Tourney </h2>
            Board games are all the rage these days, so you could easily put together a board games event in a banquet hall. This could work as a tournament or as a friendly games night where people pay to rent board games and play with their friends.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">24.   Karaoke Idol </h2>
            Some people turn into rock stars once they have a few drinks and stand on a stage, so give them a place to claim their crown as Karaoke Idol. Offer a cash prize to the winner, and consolation prizes to the runners up. Make a big spectacle of this fundraiser and it will be a night to remember.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas karaoke idol"
                       src="~/Content/external/fundraisingideas/karaoke_idol.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas used book" src="~/Content/external/fundraisingideas/used_book.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">25.   Used Book Blowout </h2>
            Ask around if people have any old books they want to get rid of and sell them all in a used book blowout sidewalk sale. See if you can get a table at a bazaar or festival to get a spot with tons of foot traffic.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">26.   TV Series Finale Marathon   </h2>
            People often like to make a big deal of it when their favorite show reaches its terminal episode so they make an event out of it. But what about having a fundraiser where you show the series finales of a dozen or so popular television shows? Choose a diverse selection of shows to attract the biggest audience.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas tv series"
                       src="~/Content/external/fundraisingideas/tv_series.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas poker tournament" src="~/Content/external/fundraisingideas/poker_tournament.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">27.   Poker Tournament  </h2>
            Poker is an intense game of skill, and some people take it very seriously. Some poker champs earn millions in tournaments. Although you might not make that much at your poker tournament fundraiser, you can still make something when the stakes get high.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">28.   Swear Jar  </h2>
            Does someone in your family or one of your coworkers have a bit of a potty mouth problem? Charge them $1 for every bad word they say. They will either clean up their language, or go broke from the cost.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas swear jar"
                       src="~/Content/external/fundraisingideas/swear_jar.jpg" />
        </div>
    </div>



    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dress down" src="~/Content/external/fundraisingideas/dress_down.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">29.   Dress Down Day </h2>
            A lot of offices might have ‘casual Fridays’ when the staff gets to wear jeans and shirts to work. It also makes for a solid fundraising idea. Charge people $5 to dress casual on any day of the week at your office.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">30.   Benefit Show </h2>
            Maybe you know a band or an acting group? Ask them if they’d be willing to put on a show with all the proceeds going towards your fundraising cause. This is another fundraising idea where you can sell concessions and apparel.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas benefit show"
                       src="~/Content/external/fundraisingideas/benefit_show.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas henna tattoos" src="~/Content/external/fundraisingideas/henna_tattoos.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">31.   Henna Tattoos  </h2>
            Almost everyone has tattoos these days, but they’re permanent so now everyone would want to get one. Henna, on the other hand, is temporary, and the elegant and intricate lines painted over the hands looks interesting. Find a henna artist willing to help you out and pay them with a cut of the proceeds.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">32.   Street Carnival  </h2>
            You’ll have to apply for a city permit for this one, and there is a lot of paperwork involved, but carnival rides and games are easy enough to rent along with the crew to set them up. Street carnivals are a great summertime fundraising idea.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas street carnival"
                       src="~/Content/external/fundraisingideas/street_carnival.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas Balloon popping" src="~/Content/external/fundraisingideas/balloon_popping.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">33.   Balloon Popping </h2>
            Inflate a couple hundred balloons and fill them with notes or prizes, then charge people to pop the balloons at $1 a pop, or whatever other price you choose. You can use cheap dollar store prizes, and maybe even have a grand prize hidden somewhere.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">34.   Dance Lessons </h2>
            If you or someone else on your fundraising team knows how to dance, try offering dance classes to the public. Either one-on-one or group classes can work here. A few popular dance styles to go with are salsa, swing dancing, and meringue.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dance lessons"
                       src="~/Content/external/fundraisingideas/dance_lesson.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas racing car" src="~/Content/external/fundraisingideas/racing_day.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">35.   Racing Day </h2>
            Gentlemen start your engines! See if you can rent a racetrack for a day and put on a race. Nascar or F-1? It’s up to you.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">36.   Car Smash </h2>
            Give people a way to take out their aggressions after a stressful day with this fundraising idea. Procure an old car and charge people for the pleasure of smashing it with a sledgehammer.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas car wash"
                       src="~/Content/external/fundraisingideas/car_smash.jpg" />
        </div>
    </div>



    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas cfl Bulb" src="~/Content/external/fundraisingideas/cfl_bulb.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">37.   CFL Bulb Replacement </h2>
            CFL bulbs are good for the environment and reduce your electricity bill, so you can do people a service by replacing their old bulbs with these newer, more efficient ones. You'll have to find a source that can sell you the bulbs for cheap to make this worth it.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">38.   Christmas Caroling </h2>
            This fundraising idea is an oldie, but a goodie. Spread some Christmas cheer by going door to door and regaling people with festive tunes. The spirit of the season is sure to make some people give you a few bucks.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas christmas caroling"
                       src="~/Content/external/fundraisingideas/christmas_caroling.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas cooking class" src="~/Content/external/fundraisingideas/cooking_class.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">40.   Cooking Class  </h2>
            Do you know your way around the kitchen? Host a cooking class where you teach them some of your best recipes techniques. Food has a way of bringing people together, so this fundraising idea can’t miss.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">41. Cow Pie Bingo </h2>
            Here's a new take on bingo. Find a farmer who will allow you to use one of his cows and his field. Draw a large bingo board on the ground and as the cow walks around, people playing the game have to guess which square it will do its business on. If the cow pie lands of their square they get a point.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas cow pie bingo"
                       src="~/Content/external/fundraisingideas/cow_pie_bingo.jpg" />
        </div>
    </div>




    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas pet grooming" src="~/Content/external/fundraisingideas/pet_grooming.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">42.   Pet Grooming   </h2>
            This is a great fundraising idea for pet lovers. Offer your services around your neighbourhood and beyond as a pet groomer and put all your profits towards your cause.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">43.   Dunk Tank  </h2>
            This fundraiser is fun for everyone, as long as you don’t mind falling into a tank of cold water! Charge people $1 per throw to hit the target, and make it interesting by taunting them and putting on various antics. Make it a show and the money will roll in faster than you can say dunk!
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dunk tank" src="~/Content/external/fundraisingideas/dunk_tank.jpg" />
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas guided tour" src="~/Content/external/fundraisingideas/guided_tour.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">44.   Guided Tours   </h2>
            If you know where all the best spots are in your city, or if you can show people around a specific area and can explain the history behind you could be successful as a tour guide. It’s a pretty easy business model, and tips are always a possibility too.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">45.   Full Service Gas Station   </h2>
            It seems the full service gas station went extinct a long time ago, but you can bring it back if you can find a gas station willing to let you do this. Pump gas and wash windshields for everyone who comes and be sure to make it known that you’re doing it for a good cause.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas full service gas" src="~/Content/external/fundraisingideas/full_service_gas.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas horseback riding" src="~/Content/external/fundraisingideas/horseback_riding.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">46.   Horseback Riding   </h2>
            How often do you get that chance to ride a horse? Probably not often at all, so see if you can set up a horseback riding course. You’ll need to find access to the horses, and you’ll need a venue with a simple track that people can ride on. Or, even better, do it out in the countryside where people have space to roam.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">47.   Gourd Throwing   </h2>
            Around Thanksgiving is when all the gourds are harvested, and there are always too many of them. From pumpkins to squash, what are we to do with all these gourds? As a fundraiser, organize a gourd throwing competition where people have to build their own throwing mechanisms like catapults or trebuchets. It’ll be good and messy fun.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas gourd throwing" src="~/Content/external/fundraisingideas/gourd_throwing.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas guest speaker" src="~/Content/external/fundraisingideas/guest_speaker.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">48.   Guest Speaker Seminar  </h2>
            See if you can find an educational or motivational speaker willing to volunteer for your cause. Charge a modest admission fee for anyone wishing to attend, and generate a buzz via advertising and social media.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">49.   Ghost Walk  </h2>
            Most places have old ghost stories being told, so why not arrange a ghost walk tour where you introduce people to all the supernatural folklore of your city? Naturally, this fundraiser works best around Halloween.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas ghost walk" src="~/Content/external/fundraisingideas/ghost_walk.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas head shaving" src="~/Content/external/fundraisingideas/hair_shaving.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">50. Head Shaving </h2>
            You’ve probably seen this one before, and that’s because it works. Collect sponsors willing to pay you to shave your head. This might be a little harder to commit to if you’re a woman, so make sure the minimum pledge is a relatively high number!
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">51.   Language Classes  </h2>
            Bilingualism is a tremendously useful skill, but in North America a lot of people only know one language. Help people get started on their second, or perfect what they already know, with some language lessons. French, Spanish, and Mandarin are all popular language choices.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas language classes" src="~/Content/external/fundraisingideas/language_classes.jpg" />
        </div>
    </div>


    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas luau" src="~/Content/external/fundraisingideas/luau.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">52.   Luau</h2>
            Get out your grass skirts and ukuleles because it’s time to get Hawaiian! Some people will pay good money to enjoy a taste of tropical culture in a country where it’s too cold to go outside for five months out of the year.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">53.   Luxury Car Test Ride </h2>
            Some people would do almost anything for the chance to drive a Lamborghini or Ferrari, so why not give them the chance? There are many luxury car dealerships that will allow you to rent a car for a day, so take it to a track and charge people top dollar to ride around the course once
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas luxury car" src="~/Content/external/fundraisingideas/luxury_car.jpg" />
        </div>
    </div>
    <br /><br />




    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas sexy calendar" src="~/Content/external/fundraisingideas/sexy_calender.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">54.   Sexy Calendar </h2>
            We all know how popular fireman calendars are, so how about making your own sexy calendar as a fundraiser? On the flip side, you could make it something silly instead if sexy doesn’t seem appropriate.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">55.   Pop-Up Garden  </h2>
            This is another small business idea. Imagine waking up to find your front lawn covered in pink flamingos! What a surprise it would be. That’s exactly what this business would do. Overnight, set up a display of plastic animals or plants to amaze the lucky recipient.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas popup garden" src="~/Content/external/fundraisingideas/popup_garden.jpg" />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas pancakes" src="~/Content/external/fundraisingideas/pancakes.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">56.   Pancakes   </h2>
            Who doesn’t like pancakes? They’re cheap and easy to make, so as a fundraiser you can charge people on per pancake basis. Plus, you can offer toppings like fruits and nuts which they can add for an additional fee.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">57.   No Pants Day </h2>
            The annual No Pants Subway Ride is becoming a phenomenon, so you can channel that same thing in your fundraising efforts. Look for sponsors willing to pay you to go a whole day with no pants on. Offer to show them photos as proof when you are ready to pantsless.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas no pants" src="~/Content/external/fundraisingideas/no_pants.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas t shirt sale" src="~/Content/external/fundraisingideas/t_shirt_sale.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">58.   T-Shirt Sale  </h2>
            Pretty much everyone wear T-shirts and there are funds to be raised here. Procure a few hundred plain t-shirts in various colours and a silk screen printer. Set up a booth where you can make custom printed t-shirts. Even at just $10 each you can make a killing.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">59.   Plinko </h2>
            This fundraising idea fits in well at a festival or carnival. Set up a giant plinko board (the game they had on The Price is Right) and charge people to drop wooden pucks down the board. Offer prizes to people who hit the right slots.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas plinko" src="~/Content/external/fundraisingideas/plinko.jpg" />
        </div>
    </div>

    <br /><br />



    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas santa claus" src="~/Content/external/fundraisingideas/santa_claus.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">60.   Santa Claus </h2>
            It’s time to start practising your jolly ho ho ho’s because if its Christmas time you can raise some serious funds this way. Set up a Santa’s Workshop at a local mall and hire a few helper elves. Every kid wants their picture taken with Santa and the funds will roll in faster than you can say Merry Christmas.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">61.   Raking Leaves </h2>
            Raking and bagging the leaves in the yard can be a painstaking and time consuming task, but that’s exactly why you can make money doing it. Go around your neighbourhood with a rake and a pack of yard waste bags and see who will pay you to clean their yard.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas raking leaves" src="~/Content/external/fundraisingideas/raking_leaves.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas scramble golf" src="~/Content/external/fundraisingideas/scramble_golf.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">62.   Scramble Golf </h2>
            In this style of golf all four players tee off at once and then shoot from the ball that lands closest to the hole. This continues until they get to the green, and then they all put from where the ball closest to the hole is. It’s easier and more fun than regular golf, so you should be able to get a lot of people interested in this fundraiser.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">63.   Celebrity Bartenders  </h2>
            Host a bar night with celebrity bartenders and charge top dollar for entry. Hire flair bartenders (the kind that know how to do crazy tricks) and make the event a night to remember. Just add music and dancing and you’ll have tons of funds by the end of the night.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas celebrity bartenders" src="~/Content/external/fundraisingideas/celebrity_bartenders.jpg" />
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas smoothie bar" src="~/Content/external/fundraisingideas/smoothie_bar.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">64.   Smoothie Bar </h2>
            For the more health conscious consumers, you can have a smoothie bar offering a menu of various tropic delights. You’ll need to procure various fruits like banana, strawberry, kiwi, and mango, at wholesale price to make this worthwhile.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">65.   Ice Cream Vendor </h2>
            There’s nothing better than an ice cold treat on a sweltering hot day. Acquire large amount of ice cream bars and popsicles on the cheap and sell them at outdoor events and city parks. You might need to apply for a vendor license first to do this legally though.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas ice cream" src="~/Content/external/fundraisingideas/ice_cream.jpg" />
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas revenge boss teacher" src="~/Content/external/fundraisingideas/revenge_boss_teacher.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">66. Revenge on the Boss/Teacher </h2>
            Ask your boss or teacher if they would be willing to be subject to a harmless revenge prank for charity. It could just be something fun and simple like a cream pie in the face, but it shouldn’t be anything embarrassing or harmful.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">67.   Tug-o-War </h2>
            Heave! Ho! A tug of war is a great way to bring the community together, and as a fundraiser no matter who wins money will go to charity. This is another great chance to look for sponsors willing to lend some money to the cause.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas tug o war" src="~/Content/external/fundraisingideas/tug_o_war.jpg" />
        </div>
    </div>

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas junk car rally" src="~/Content/external/fundraisingideas/junk_car_rally.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">68.   Junk Car Rally </h2>
            A little demolition derby is sure to get your blood pumping, so see if anyone has an old clunker they would be willing to enter into a junk car rally race. Charge the drivers an entry fee, and charge spectators admission. Concessions and memorabilia are some additional revenue streams here.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">69.   Bake-to-Order </h2>
            This is a different take on the traditional bake sale fundraiser. Present people with a menu of possible items you can bake and take their orders. Maybe you could even offer bulk discounts to attract some big sales.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas bake to order" src="~/Content/external/fundraisingideas/bake_to_order.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dueling piano" src="~/Content/external/fundraisingideas/dueling_piano.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">70. Dueling Pianos </h2>
            Gambling is a sure way to raise some funds and you can arrange to put on your own casino night. Hire some pro card dealers and rent the blackjack tables, slot machines, poker tables, and craps tables. Don’t forget; the house always wins.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">71.   Wine Tasting </h2>
            If you’re the athletic type, make an announcement that you’ll be making a long and hard journey biking, running, or swimming, and look for sponsors. Many people might be inspired with the difficult task you’re taking on and gladly throw money at you.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas wine tasting" src="~/Content/external/fundraisingideas/wine_tasting.jpg" />
        </div>
    </div>


    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas casino night" src="~/Content/external/fundraisingideas/casino_night.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">72.   Casino Night </h2>
            Gambling is a sure way to raise some funds and you can arrange to put on your own casino night. Hire some pro card dealers and rent the blackjack tables, slot machines, poker tables, and craps tables. Don’t forget; the house always wins.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">73.   Sponsored Bike Ride/Run/Swim </h2>
            If you’re the athletic type, make an announcement that you’ll be making a long and hard journey biking, running, or swimming, and look for sponsors. Many people might be inspired with the difficult task you’re taking on and gladly throw money at you.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas sponsored bike" src="~/Content/external/fundraisingideas/sponsored_bike.jpg" />
        </div>
    </div>

    <br /><br />



    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas duck regata" src="~/Content/external/fundraisingideas/duck_regata.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">74.   Duck Regata </h2>
            You’ve heard of a sailing regatta, but have you ever heard of a duck regatta? Have people each buy rubber ducks and let them float down the river. May the fastest duck win!
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">75.   House Sitting </h2>
            Do you know anyone who’s going on a vacation and needs someone to look after their place while they’re gone? Offer your services as a house sitter and charge a fee to put towards your fundraising efforts
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas house sitting" src="~/Content/external/fundraisingideas/house_sitting.jpg" />
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas baby sitting" src="~/Content/external/fundraisingideas/baby_sitting.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">76. Baby Sitting </h2>
            Maybe you have a friend or relative with a child and they’re having trouble finding someone reliable to take care of them? If you’re good with kids this can be an easy fundraising idea to pull off.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">77. Talent Show </h2>
            This tried and true fundraising idea can work very well if you get the word out in advance that you’re putting on a show for charity. People of all talents are welcome, and you can start a buzz over social media and with ads in your local paper or radio station.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas talent show" src="~/Content/external/fundraisingideas/talent_show.jpg" />
        </div>
    </div>
    <br /><br />






    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas serenade in the part" src="~/Content/external/fundraisingideas/serenade_in_park.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">78. Serenade in the Park </h2>
            If you have some musical talent try playing songs for people in the park or in restaurants, always telling them that you’re doing this as a fundraiser so any tips are well appreciated. Brighten someone’s evening with a beautiful song!
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">79. Sell Flowers </h2>
            If you can find a florist or greenhouse that can give some roses at a wholesale price, walk around town in the areas where a lot of couples tend to go on dates and see if you can talk the gentlemen into buying flowers for their ladies. It’ll make them look good, and it’ll raise funds for your cause.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas sell flowers" src="~/Content/external/fundraisingideas/sell_flowers.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas protrait booth" src="~/Content/external/fundraisingideas/portrait_booth.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">80. Portrait Booth</h2>
            If you have some artistic talent, set up a booth where you draw people’s portraits for a fee. This fundraising idea works especially well in the more touristy areas of town.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">81. Poetry Booth </h2>
            Revive the underappreciated art of poetry with this fundraising idea! Just like the portrait booth, write a poem on the spot for people willing to pay a fee. Print it out on an elegant sheet of paper so they have something to take home.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas poetry booth" src="~/Content/external/fundraisingideas/poetry_booth.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas make your pizza" src="~/Content/external/fundraisingideas/make_your_pizza.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">82. Make Your Own Pizza </h2>
            Pizza fundraisers are common, but why not allow people the ability to make their own pizza? Set up a table with all the dough, sauce and fixings you need, and have a piping hot pizza oven at the end.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">83. Dance-a-thon </h2>
            With this fundraising idea you can literally dance the night away. Collect money from sponsors willing to pay you to dance all night long. The more people you get involved in this dance marathon, the more funds you can raise.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas dance a thon" src="~/Content/external/fundraisingideas/dance_a_thon.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas knitted good" src="~/Content/external/fundraisingideas/knitted_good.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">84. Knitted Goods </h2>
            If you know how to knit, some people might pay good money to purchase some hand-crafted mittens, sweaters, and scarves. This fundraiser might be most effective in the winter time when people need to stock up on warm clothing.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">85. Homemade Preserves </h2>
            A lot of people like to know that the food they’re eating is healthy and natural, so you can raise some funds by selling your own homemade preserves. Things like jams and spreads are sure to be hot sellers.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas homemade preserves" src="~/Content/external/fundraisingideas/homemade_preserves.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas pet show" src="~/Content/external/fundraisingideas/pet_show.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">86. Pet Show</h2>
            Put on a pet show for the community. Have them do tricks and stunts to amuse the crowd, or have a beauty competition for pets. A lot of people love cats and dogs, so this can be a lot of fun for everyone involved.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">87. Go Kart Race</h2>
            See if you can rent a go kart track for a day and make an event out of it where anyone can enter. Set it up as a tournament, or a long race, and this will be a fun day at the track.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas go  kart" src="~/Content/external/fundraisingideas/go_kart_race.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas scratchcards" src="~/Content/external/fundraisingideas/scratch_card.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">88. Scratchcards </h2>
            Some people get addicted to scratch and win tickets, but you can make your own scratchcards and sell them at a similar price. With your cards the prizes won’t be near as lofty though.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">89. Photo Competition </h2>
            Ask everyone to bring out their inner shutterbug and put on a photography competition. People must pay a small fee per photo they enter in the contest, and the top three winners get modest prizes.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas photo booth" src="~/Content/external/fundraisingideas/photo_competition.jpg" />
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas sell candles" src="~/Content/external/fundraisingideas/sell_candles.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">90. Sell Candles</h2>
            Candles are cheap if you buy them wholesale, but they are also pretty easy to make from scratch. Either way, this is another product that you could make a small business out of to raise some quick funds.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">91. Rat Race</h2>
            Life in the big city is a rat race, so people will love this as it is an actually race with rats scurrying through a maze. Have each rat wear a number and take bets on who will win.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas rat race" src="~/Content/external/fundraisingideas/rat_race.jpg" />
        </div>
    </div>
    <br /><br />


    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas junk removal" src="~/Content/external/fundraisingideas/junk_removal.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">92. Junk Removal</h2>
            Lots of people have loads of old junk they don’t know what to do with, and there is big money in junk removal services. Get a truck and a couple strong people to help out and you can clean up both literally, and figuratively.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">93. Community Mural</h2>
            Nothing jazzes up a neighbourhood like street art, and you can do it in your area with a community mural. Get city approval to cover a wall with outdoor art and charge people to add their own creations to it.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas community_mural" src="~/Content/external/fundraisingideas/community_mural.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas art exhibit" src="~/Content/external/fundraisingideas/art_exhibit.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">94. Art Exhibit </h2>
            If you have connections into the art world, this can be a great fundraising idea. Stage an art exhibit for charity and take a small cut of all artwork sold for your fundraiser.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">95. Abseil Down a Building </h2>
            Also known as rappelling is perfect for getting media attention and generating a buzz. Collect sponsors for this one and choose the biggest, tallest, most well known building in your city to abseil down it. It’s very important that the setup is done by professionals in order to ensure a secure environment.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas abseil down" src="~/Content/external/fundraisingideas/abseil_down.jpg" />
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas beard growing" src="~/Content/external/fundraisingideas/beard_growing.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">96. Beard Growing Competition</h2>
            Beards are trendy these days, so any guy who can grow one can consider doing it as a fundraising idea. Collect sponsors willing to see you or your fundraising partners with a full beard, and then collect sponsors again in a few months to shave it off!
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">97. BMX/Skateboard Show</h2>
            It’s exhilarating watching people do crazy stunts on BMXs ad skateboards, so this is another great fundraising idea. Hire some pro skaters and BMXers and arrange a show in your town.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas bmx skateboard" src="~/Content/external/fundraisingideas/bmx_skateboard_show.jpg" />
        </div>
    </div>
    <br /><br />

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas egg drop" src="~/Content/external/fundraisingideas/egg_drop.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">98. Egg Drop</h2>
            Just like the art exhibit, this is a fun and engaging way to get people out to support your fundraising cause. You’ll need some connections into the industry and a good venue to make it happen.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">99. Fashion Show</h2>
            Just like the art exhibit, this is a fun and engaging way to get people out to support your fundraising cause. You’ll need some connections into the industry and a good venue to make it happen.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas fashion show" src="~/Content/external/fundraisingideas/fashion_show.jpg" />
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas quit vice" src="~/Content/external/fundraisingideas/quit_vice.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">100. Quit a Vice</h2>
            If you’re a smoker or a drinker, it’s time to quit that nasty habit and raise some funds while you’re at it. Just look for sponsors willing to see you quit your old habit. The hard thing is the actual quitting part.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">101. Kite Fighting</h2>
            We all know about kite flying, but what about kite fighting? It’s where people fly their kites and have them “attack” one another by colliding. Charge people to play in the competition.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas kite fighting" src="~/Content/external/fundraisingideas/kite_fighting.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas murder mystery" src="~/Content/external/fundraisingideas/murder_mystery.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">102. Murder Mystery</h2>
            Host a dinner party with a twist; there’s been a murder and they have to solve it through various clues that pop up throughout the night. Charge people entry to this special event.
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">103.  Obstacle Course</h2>
            This fundraiser is fun for people both young and old. Set up an obstacle course and charge people for the pleasure of running through it. This goes well at a carnival or street festival.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas obstacle course" src="~/Content/external/fundraisingideas/obstacle_course.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas parachuting" src="~/Content/external/fundraisingideas/parachuting.jpg" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#087A92">104. Parachuting </h2>
            Just like the abseiling idea, this one is great for adrenaline junkies and easily lends itself to media coverage. How many people would pay to see you jump out of a plane? Hopefully a lot!
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6  col-lg-7">
            <h2 style="color:#b12704">105. In Stocks </h2>
            If you, or someone on your team, doesn’t mind suffering for the cause, put them in stocks and have people pay to throw things like water balloons or banana cream pies at them. This fundraiser is another good one for carnivals and street festivals.
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-5">
            <br /><img class="img-responsive img-rounded img-thumbnail" alt="fundraising ideas in stocks" src="~/Content/external/fundraisingideas/in_stocks.jpg" />
        </div>
    </div>


</div>




