@{
    ViewBag.Title = "Fundraising Products for the health conscious Fundraising organizer - Fundraising.com";
    ViewBag.Description = "Making healthy fundraiser choices is important. Chocolates and candies are profitable fundraisers, but if you’re looking for healthy options here are some great choices";
    ViewBag.Keywords = "healthy fundraiser ideas, fundraising ideas";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("HealthyFundraisers", "Ideas");
}
<div style="margin-top:125px">
   <h1>Ideas for Healthy Fundraisers</h1>
   <div class="row">
      <div class="col-sm-12">
         Making healthy fundraiser choices is important. Chocolates and candies are great as occasional treats, and are very profitable fundraisers, but if your group is looking for some healthy options to add to your fundraising lineup, here are some great choices:
         <h3>Games Day</h3>
         A games day is a great way to get everyone active. You can raise funds by selling healthy treats like high protein <a href="/products/beef-jerky" title="Beef Snacks fundraiser">beef snacks</a>, but you can also sell tickets for games, or a raffle. Organize active games like relay races, and raffle off a prize like a bicycle or other active toy. You can often get great prizes donated by local businesses in exchange for advertising at your event, so ask around.
         <h3>No-Bake Bake Sale</h3>
         This is basically a donation fundraiser, but you make it a little more fun by using the bake sale theme. Bake sales can be incredibly profitable, but they can also be a lot of work, and if you want to promote healthy choices, a variety of baked goods may not be the best way to go about it.
         <br /><br />
         Instead, send home notices to parents or adult group members that they are invited to NOT spend all day deciphering their grandmother’s cookie recipe, and NOT spend an afternoon at a bake sale table, and NOT feel obligated to buy someone else’s culinary efforts, but to simply contribute $10 (or $15, or $20 depending on your fundraising goal) to the No-Bake Bake Sale.
         <h3>Food-Free Fundraisers</h3>
         For a healthy fundraiser you always have the option of selling non-food products. Make it an educational experience by explaining why you’re choosing these products. Some great options are <a href="/products/scratchcards" title="scratchcards fundraiser">Scratchcards</a> and the @Html.ActionLink("Online Magazine Fundraiser", "HowItWorks", "OnlineFundraising").
         <br /><br />
         These are just a few ideas for healthy fundraisers. In addition to these, there are lots of activities and events that promote healthy lifestyle choices. Check out our @Html.ActionLink("fundraising activities", "Activities", "Resources") and @Html.ActionLink("fundraising events", "Events", "Ideas") sections for more tips and ideas.
      </div>
   </div>
</div>



