@{
    ViewBag.Title = "Fundraising Tips to help you have a successful fundraiser - Fundraising.com";
    ViewBag.Description = "Fundraising.com offers the best fundraising tips from our fundraising experts: everything from how to plan a budget, organize your staff, run a successful Fundraiser and how to wrap your campaign by saying thank you";
    ViewBag.Keywords = "Fundraising Help, Fundraising Budget, Fundraising Organization, write a thank you email";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Tips", "Ideas");
}
<div style="margin-top:125px">
   <h1>Fundraising Tips</h1>
   <div class="row">
      <div class="col-sm-12">
         Your Fundraising Consultant will have lots of fundraising tips to help you out along the way, but to get you started on your fundraising journey, here are our top tips for successful fundraising preparations:
         <br /><br />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips_01.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>1. Organize your staff</strong><br />
         Your fundraising staff consists of participants, parents, volunteers, and anyone else who will be helping with your campaign. Participants need to know well in advance that the fundraiser is coming, and when fundraising with children, parents will need to be kept in the loop as well, so be sure to send letters home with full details, and your contact information.
         <br /><br />
         Volunteers are your support staff, so use them well! Divide up the responsibilities (responsibilities will depend on the type of campaign you're running, so speak with your consultant for this step), and delegate to the people you feel are best suited to each role. If everyone knows his or her role beforehand, fundraising will go smoothly!
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips_03.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>2. Plan your budget</strong><br />
         Articles on fundraising tips often miss this one, yet it's such an important step! Many programs require products to be purchased in advance, but not all of them. Before you call your Fundraising Consultant, sit down with your group or committee and decide on a budget. That way, your consultant knows to work for you within that budget.
         <br /><br />
         When planning your budget, it's also important to determine your fundraising goal, and to have as much information on hand as possible when you call your Consultant.
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips_05.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>3. Advertise your campaign</strong><br />
         People need to know about your fundraising campaign to support it, so be sure to start advertising well in advance. If you're planning an event that people will have to buy tickets for, start advertising about a month in advance. For fundraising sales, 2 weeks in advance should be enough.
         <br /><br />
         Advertise with posters and flyers. Ask local business if you can put up posters in their windows and post flyers on community bulletin boards. Send emails and mailings to all your contacts, and tell everyone you know about your fundraiser. A great fundraising tip is to contact your local TV and radio stations, and your local newspaper. They will often include your fundraising information in their community news.
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips_07.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>4. Motivate your group</strong><br />
         Be sure to keep you group motivated and excited with great incentives like prizes, fun activities and other rewards. When you set goals and rewards, your group members will be more excited about participating, and work harder to ensure the goals are met.
         <br /><br />
         A great tip is to create competition among your group with rewards for the highest or fastest sellers!
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips_09.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>5. Always say thank you</strong><br />
         When it comes to fundraising, how you say "thank you" is as important as how you say "please".
         <br /><br />
         Always follow up your fundraising campaign with a letter of thanks: it not only demonstrates your sincere appreciation, but gives your supporters the satisfaction and sense of reward they deserve for getting involved and backing your cause. Here are some tips on how to write an absolutely awesome thank you email.
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-sm-2">
         <img src="~/Content/images/public/fundraising_tips-FB.jpg" alt="fundraising tips" />
      </div>
      <div class="col-sm-10">
         <strong>Have some fundraising ideas, tips or tricks that have worked well for you? Help other fundraising groups by posting them on our <a href="https://www.facebook.com/Fundraisingdotcom" target="_blank" title="fundraising.com facebook page">Facebook page</a></strong>
      </div>
   </div>
</div>