@{
    ViewBag.Title = "Fundraising Ideas for School, Sports teams and Church Groups - Fundraising.com";
    ViewBag.Description = "Fundraising ideas to make your next fundraiser fun, profitable? Look no further! Here are some great fundraising ideas to help you start our fundraiser";
    ViewBag.Keywords = "unique fundraiser ideas, fundraising ideas";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("UniqueFundraisers", "Ideas");
}

<h1>Unique Fundraising Ideas </h1>
<div class="row">
    <div class="col-sm-12">
        Looking for fundraising ideas to make your next fundraiser fun, exciting and profitable? Look no further! Here are some great ideas for fundraising to help you get started:
        <h3>Ideas for Schools</h3>
        <ul>
            <li><i>"Pie the Teacher"</i> (or principal, or other authority figure): Kids can pay for a chance to pie an authority figure. You can also turn it into a raffle. The winning ticket-holder gets to pie the principal!</li>
            <li><i>Classroom Competition:</i> For school-wide fundraising, create competition between classrooms to boost participation. The classroom that sells or raises the most wins a prize like a pizza party or homework-free week.</li>
            <li><i>Friday Snack Shop:</i> As a special Friday treat, and on-going fundraising campaign, organize a snack shop that will be open every Friday during scheduled break times. Students and teachers can take turns running the shop, and you can sell treats like lollipops, candy bars, bags of chips or healthy beef snacks.</li>
        </ul>
        <br />
        <h3>Ideas for Sports Teams and Leagues</h3>
        <ul>
            <li><i>Registration Day Fundraising:</i> Raise funds in one day by charging a fundraising fee. Team members and/or parents pay the fee on registration day and receive a Scratchcard that they can use to raise back their money, and even some extra to cover additional travel or equipment expenses. </li>
            <li><i>Customized Fundraisers:</i> Use your team's name, logo and colors to add an official touch to your campaign by choosing products and programs that can be customized such as – Scratchcards and the Free Online Magazine Fundraiser.</li>
            <li><i>Game Day Hotdog Sale:</i> A hotdog sale is a great fundraising idea because hotdogs are a low-cost snack that you know will sell fast. It’s also pretty easy to find parent volunteers willing to man the barbecue and sell hotdogs throughout the game.</li>
        </ul>
        <br />
        <h3>Ideas for Churches and Youth Groups</h3>
        <ul>
            <li><i>Holiday Sales:</i> Set up a sale of baked goods and holiday handicrafts made by members of the community just before the holidays. You can also take orders for frozen cheesecakes or cookie dough at your sale. Frozen foods are so convenient for the holidays, and your customers will really appreciate the opportunity to order these delectable treats.</li>
            <li><i>Strawberry Social:</i> You can use strawberries, apples, pumpkins, or any other in-season produce. Sell tickets for your social and have community members bake a variety of treats using your theme fruit. You can even have a bake-off as your main event!</li>
            <li><i>Talent Show:</i> What talents are hidden away in your community? Between churches and youth groups, there is probably a wealth of talent with little opportunity for exposure. Take advantage and organize a talent show filled with singing, dancing, acting, comedy and music all from local talent!</li>
        </ul>
        <br />
        Need even more ideas, or have an idea of your own and want help getting organized? Call us! You can also find more great fundraising ideas in our Resource center.

    </div>
</div>




