<?xml version="1.0" encoding="utf-8" ?>
<menu>

	<menuItem>
		<text>Home</text>
		<url>/QSPFulfillment/Home.Aspx</url>
	</menuItem>

	<menuItem>
		<text>Group Mgt.</text>
		<roles>HomeOffice,FieldManager</roles>
		<subMenu>
			<menuItem>
				<text>Add a Group</text>
				<roles>HomeOffice,FieldManager</roles>
				<url>/QSPFulfillment/AcctMgt/AccountMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Campaign Lookup</text>
				<roles>ITdev,ITHelpDesk</roles>
				<url>/QSPFulfillment/AcctMgt/CampaignsForLinks.aspx</url>
			</menuItem>
			<menuItem>
				<text>Group List</text>
				<url>/QSPFulfillment/AcctMgt/AccountList.aspx</url>
			</menuItem>
			<!--Sub-Menu of Group Mgt-->
			<menuItem>
				<text>Reports</text>
				<subMenu>
						<menuItem>
							<text>CA Batch Reports</text>
							<url>/QSPFulfillment/Reports/CampaignBatchReports.aspx</url>
						</menuItem>
						<menuItem>
							<text>CA Management Report</text>
							<url>/QSPFulfillment/Reports/CAManagementReport.aspx</url>
						</menuItem>
						<menuItem>
							<text>Confirmation Agreement</text>
							<roles>HomeOffice</roles>
							<url>/QSPFulfillment/Reports/ConfirmationAgreement.aspx</url>
						</menuItem>
						<menuItem>
							<text>Magazine Items Summary</text>
							<roles>HomeOffice</roles>
							<url>/QSPFulfillment/Finance/SearchMagItemsSummaryReport.aspx</url>
						</menuItem>
						<menuItem>
							<text>Participant Listing</text>
							<roles>HomeOffice</roles>
							<url>/QSPFulfillment/Finance/SearchParticipantListingReport.aspx</url>
						</menuItem>
						<menuItem>
							<text>Problem Solver</text>
							<roles>HomeOffice</roles>
							<url>/QSPFulfillment/Finance/SearchProblemSolverReport.aspx</url>
						</menuItem>
						<menuItem>
							<text>Summary Forms Report</text>
							<url>/QSPFulfillment/Reports/SummaryFormsReport.aspx</url>
						</menuItem>
						<menuItem>
							<text>Thank You Letter</text>
							<roles>HomeOffice</roles>
							<url>/QSPFulfillment/Reports/ThankYouLetter.aspx</url>
						</menuItem>
				</subMenu>
			</menuItem>
		</subMenu>
	</menuItem>

	<menuItem>
		<text>Order Mgt.</text>
		<roles>OrderMgt,FieldManager</roles>
		<subMenu>
			<menuItem>
				<roles>ITdev</roles>
				<text>View Estimated Sales</text>
				<url>/QSPFulfillment/Reports/EstimatedSalesView.aspx</url>
			</menuItem>
			<menuItem>
				<text>Order Stage Tracking</text>
				<url>/QSPFulfillment/OrderMgt/OrderStageTracking.aspx</url>
			</menuItem>
			<menuItem>
				<roles>HomeOffice</roles>
				<text>Remit Batches</text>
				<url>/QSPFulfillment/OrderMgt/TotalRemitBatch.aspx</url>
			</menuItem>
			<menuItem>
				<roles>HomeOffice</roles>
				<text>Gift Card Files</text>
				<url>/QSPFulfillment/OrderMgt/GiftCardOutput.aspx</url>
			</menuItem>
			<menuItem>
				<roles>HomeOffice</roles>
				<text>Remit Processing Report</text>
				<url>/QSPFulfillment/Reports/RemitProcessingReport.aspx</url>
			</menuItem>
			<menuItem>
				<roles>HomeOffice,Tester1</roles>
				<text>Rapid Order Entry</text>
				<url>/QSPFulfillment/OrderMgt/KanataOrderEntry.aspx?ProductType=Kanata&amp;OrderID=-1</url>
			</menuItem>
			<menuItem>
				<text>Order History</text>
				<url>/QSPFulfillment/OrderMgt/OrderHistory.aspx</url>
			</menuItem>
      <menuItem>
        <text>Shipment Report</text>
        <url>/QSPFulfillment/OrderMgt/ShipmentReport.aspx</url>
      </menuItem>
      <menuItem>
				<text>Time Staff Order Report</text>
				<roles>HomeOffice</roles>
				<url>/QSPFulfillment/OrderMgt/TimeStaffOrderReport.aspx</url>
			</menuItem>
		</subMenu>
	</menuItem>

	<menuItem>
		<text>Fulfillment</text>
		<roles>OrderMgt</roles>
		<subMenu>
			<menuItem>
				<text>Batch Reports</text>
				<url>/QSPFulfillment/OrderMgt/OrderReports.aspx</url>
			</menuItem>
			<!--<menuItem>
				<text>Batch Returns</text>
				<url>/QSPFulfillment/OrderMgt/OrderReturns.aspx</url>
			</menuItem>-->
			<menuItem>
				<text>View Shippable Orders</text>
				<url>/QSPFulfillment/OrderMgt/Shipment.aspx?P=46002,46004,46008,46013,46014,46003,46018,46019,46020,46022,46024,46025&amp;I=0</url>
			</menuItem>
			<!--
			<menuItem>
				<text>Shipment History</text>
				<url>/QSPFulfillment/OrderMgt/Shipment.aspx</url>
			</menuItem>
			-->
			<menuItem>
				<text>Print Documents</text>
				<url>/QSPFulfillment/OrderMgt/PrintDocs.aspx</url>
			</menuItem>
			<menuItem>
        <roles>HomeOffice</roles>
        <text>Season Maintenance</text> 
				<url>/QSPFulfillment/Fulfillment/SeasonListMaintenance.aspx</url> 
			</menuItem>
		</subMenu>
	</menuItem>

	<menuItem>
		<text>Fulfillment</text>
		<roles>BatchReports</roles>
		<subMenu>
			<menuItem>
				<text>Batch Reports</text>
				<url>/QSPFulfillment/OrderMgt/OrderReports.aspx</url>
			</menuItem>
		</subMenu>
	</menuItem>
	
	<menuItem>
		<roles>Finance</roles>
		<text>Finance</text>
		<subMenu>
			<menuItem>
				<text>Adjustment Batch Maintenance</text>
				<url>/QSPFulfillment/Finance/AdjustmentBatchMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Bank Deposit</text>
				<url>/QSPFulfillment/Finance/BankDepositAdd.aspx</url>
			</menuItem>
			<menuItem>
				<text>Orders Not Invoiced</text>
				<url>/QSPFulfillment/Finance/OrdersNotInvoiced.aspx</url>
			</menuItem>
			<menuItem>
				<text>Pay Add</text>
				<url>/QSPFulfillment/Finance/PayDeposit.aspx</url>
			</menuItem>
			<menuItem>
				<text>Payment Distribution Report</text>
				<url>/QSPFulfillment/Finance/PaymentDistributionReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Print Invoices</text>
				<url>/QSPFulfillment/Finance/InvoiceListprint.aspx</url>
			</menuItem>
			<menuItem>
				<text>View Invoices</text>
				<url>/QSPFulfillment/Finance/InvoiceList.aspx</url>
			</menuItem>
			<menuItem>
				<text>Campaign Statement Report</text>
				<url>/QSPFulfillment/Finance/StatementReportPrintByCampaign.aspx</url>
			</menuItem>
			<!--Sub-Menu of Finance-->
			<menuItem>
				<text>Reports</text>
				<subMenu>
					<menuItem>
						<text>Finance Report Queue</text>
						<url>/QSPFulfillment/Finance/FinanceReportStatus.aspx</url>
					</menuItem>
					<menuItem>
						<text>Over All Sales Report</text>
						<url>/QSPFulfillment/Finance/OverAllSalesReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Sales Commission Report</text>
						<url>/QSPFulfillment/Finance/SalesCommissionReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Sub Bonus Report</text>
						<url>/QSPFulfillment/Finance/SubBonusReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Group Sales And Profit Report</text>
						<url>/QSPFulfillment/Finance/GroupSalesAndProfitReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Group Refund Report</text>
						<url>/QSPFulfillment/Finance/GroupRefundReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Customer Refund Report</text>
						<url>/QSPFulfillment/Finance/CustomerRefundReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Adjustment Detail Report</text>
						<url>/QSPFulfillment/Finance/AdjustmentDetailReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Invoice Register Report</text>
						<url>/QSPFulfillment/Finance/InvoiceRegisterReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Credit Balance Report</text>
						<url>/QSPFulfillment/Finance/CreditBalanceReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Dead Order Report</text>
						<url>/QSPFulfillment/Reports/DeadOrderReport.aspx</url>
					</menuItem>
					<menuItem>
						<text>Kanata Prize Management Report</text>
						<url>/QSPFulfillment/Finance/KanataPrizeManagementReport.aspx</url>
					</menuItem>
          			<menuItem>
            			<text>Campaign Statement Print Report</text>
            			<url>/QSPFulfillment/Finance/StatementPrintRequestReport.aspx</url>
          			</menuItem>
        </subMenu>
			</menuItem>
		</subMenu>
	</menuItem>

	<menuItem>
		<text>Customer Service</text>
		<roles>CustomerService</roles>
		<subMenu>
			<menuItem>
        			<roles>CustSvc_Rpt_IncidentMgt</roles>
				<text>Add Problem Code</text>
				<url>/QSPFulfillment/CustomerService/ProblemCode.aspx?id=false</url>
			</menuItem>
			<menuItem>
				<text>New Sub For Certificate</text>
				<url>/QSPFulfillment/CustomerService/coupon.aspx</url>
			</menuItem>
			<menuItem>
				<text>Lead Entry</text>
				<url>/QSPFulfillment/CustomerService/LeadInsert.aspx</url>
			</menuItem>
			<menuItem>
				<text>Lead Assignments</text>
				<url>/QSPFulfillment/CustomerService/Lead.aspx</url>
			</menuItem>
			<menuItem>
				<text>Incident Log</text>
				<url>/QSPFulfillment/CustomerService/default.aspx</url>
			</menuItem>
			<menuItem>
				<text>Incident Management Report</text>
				<url>/QSPFulfillment/CustomerService/incidentmanagementreport.aspx</url>
			</menuItem>
      <menuItem>
        <text>Customer Refund Report</text>
        <url>/QSPFulfillment/Finance/CustomerRefundReport.aspx</url>
      </menuItem>
			<menuItem>
				<text>Letter Batch Maintenance</text>
				<url>/QSPFulfillment/CustomerService/LetterBatchMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Gift Replacement</text>
				<url>/QSPFulfillment/CustomerService/ProductReplacement.aspx?ProductType=Gift</url>
			</menuItem>
			<menuItem>
				<text>Kanata Replacement</text>
				<url>/QSPFulfillment/CustomerService/ProductReplacement.aspx?ProductType=Kanata</url>
			</menuItem>
         <menuItem>
            <text>Cookie Dough Replacement</text>
            <url>/QSPFulfillment/CustomerService/ProductReplacement.aspx?ProductType=CookieDough</url>
         </menuItem>
      </subMenu>
	</menuItem>

	<menuItem>
		<text>Marketing Management</text>
		<roles>HomeOffice</roles>
		<subMenu>
			<menuItem>
				<text>Create Catalog</text>
				<url>/QSPFulfillment/MarketingMgt/CatalogMaintenance.aspx?CreateNew=true</url>
			</menuItem>
			<menuItem>
				<text>Catalog Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/CatalogMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Product Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/ProductMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Product Category Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/ProductCategoryMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Premium Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/PremiumMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Pay Group / Vendor Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/PayGroupVendorMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Fulfillment House Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/FulfillmentHouseMaintenance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Publisher Maintenance</text>
				<url>/QSPFulfillment/MarketingMgt/PublisherMaintenance.aspx</url>
			</menuItem>
		</subMenu>
	</menuItem>

	<menuItem>
		<text>Reports</text>
		<roles>HomeOffice</roles>
		<subMenu>
			<menuItem>
				<roles>Finance</roles>
				<text>Aging Report</text>
				<target>_blank</target>
				<url>/QSPFulfillment/Reports/AgingReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Catalog Contract Report</text>
				<url>/QSPFulfillment/Reports/CatalogContractReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Catalog Price List</text>
				<url>/QSPFulfillment/Reports/CatalogPriceList.aspx</url>
			</menuItem>
			<menuItem>
				<text>Confirmation Agreement</text>
				<url>/QSPFulfillment/Reports/ConfirmationAgreement.aspx</url>
			</menuItem>
			<menuItem>
				<roles>ITdev</roles>
				<text>Estimated Sales View</text>
				<url>/QSPFulfillment/Reports/EstimatedSalesView.aspx</url>
			</menuItem>
			<menuItem>
				<text>Magazine Detailed Report</text>
				<url>/QSPFulfillment/Reports/MagazineDetailedReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Remit Processing Report</text>
				<url>/QSPFulfillment/Reports/RemitProcessingReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Summary Forms Report</text>
				<url>/QSPFulfillment/Reports/SummaryFormsReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Thank You Letter</text>
				<url>/QSPFulfillment/Reports/ThankYouLetter.aspx</url>
			</menuItem>
			<menuItem>
				<text>Participant Listing</text>
				<url>/QSPFulfillment/Finance/SearchParticipantListingReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Magazine Items Summary</text>
				<url>/QSPFulfillment/Finance/SearchMagItemsSummaryReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Problem Solver</text>
				<url>/QSPFulfillment/Finance/SearchProblemSolverReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Gross Sales Performance Report</text>
				<url>/QSPFulfillment/Reports/GrossSalesPerformance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Internet Sales Report</text>
				<url>/QSPFulfillment/Reports/InternetSales.aspx</url>
			</menuItem>
			<!--<menuItem>
				<text>MagNet Sales Report</text>
				<url>/QSPFulfillment/Reports/MagNetSales.aspx</url>
			</menuItem>-->
			<!--<menuItem>
				<text>MagNet Profit Statement</text>
				<url>/QSPFulfillment/Reports/MagNetProfitStatement.aspx</url>
			</menuItem> -->
		</subMenu>
	</menuItem>
	<menuItem>
		<text>FM Reports</text>
		<roles>FieldManager,HomeOffice</roles>
		<subMenu>
			<!--
			<menuItem>
				<text>CA Mgt Report</text>
				<url>/QSPFulfillment/OrderMgt/OrderReports.aspx</url>
			</menuItem>			
			<menuItem>
				<text>Campaign Late Reporting</text>
				<url>/QSPFulfillment/OrderMgt/OrderReports.aspx</url>
			</menuItem>			
			<menuItem>
				<text>Estimated Sales Performance Report</text>
				<url>/QSPFulfillment/Reports/GrossSalesPerformance.aspx</url>
			</menuItem>
			-->
			<menuItem>
				<text>Group Online Password Report</text>
				<url>/QSPFulfillment/Reports/GroupOnlinePassword.aspx</url>
			</menuItem>
			<menuItem>
				<text>Gross Sales Performance Report</text>
				<url>/QSPFulfillment/Reports/GrossSalesPerformance.aspx</url>
			</menuItem>
			<menuItem>
				<text>Group Sales And Profit Report</text>
				<url>/QSPFulfillment/Finance/GroupSalesAndProfitReport.aspx</url>
			</menuItem>
			<menuItem>
				<text>Internet Sales Report</text>
				<url>/QSPFulfillment/Reports/InternetSales.aspx</url>
			</menuItem>
      <menuItem>
        <text>Print Group Statements</text>
        <url>/QSPFulfillment/Finance/StatementReportPrintByCampaign.aspx</url>
      </menuItem>
      <!--
			<menuItem>
				<text>Invoices</text>
				<url>/QSPFulfillment/Reports/InternetSales.aspx</url>
			</menuItem>	
			-->
			<!--<menuItem>
				<text>Magnet Program Profit Statement</text>
				<url>/QSPFulfillment/Reports/MagNetProfitStatement.aspx</url>
			</menuItem>-->
			<!--<menuItem>
				<text>Magnet Sales Report</text>
				<url>/QSPFulfillment/Reports/MagNetSales.aspx</url>
			</menuItem>	-->	
			<menuItem>
				<text>Order/Batch Reports</text>
				<url>/QSPFulfillment/OrderMgt/OrderReports.aspx</url>
			</menuItem>
			<menuItem>
				<text>Print Invoices</text>
				<url>/QSPFulfillment/Finance/InvoiceListprint.aspx</url>
			</menuItem>
      		<menuItem>
        		<text>Campaign Statement Print Report</text>
        		<url>/QSPFulfillment/Finance/StatementPrintRequestReport.aspx</url>
      		</menuItem>
      <menuItem>
        <text>Shipment Report</text>
        <url>/QSPFulfillment/OrderMgt/ShipmentReport.aspx</url>
      </menuItem>
      <menuItem>
				<text>Summary Forms Report</text>
				<url>/QSPFulfillment/Reports/SummaryFormsReport.aspx</url>
			</menuItem>
      <menuItem>
        <text>Sub Bonus Report</text>
        <url>/QSPFulfillment/Finance/SubBonusReport.aspx</url>
      </menuItem>
    	<menuItem>
				<text>Sales Commission Report</text>
				<url>/QSPFulfillment/Finance/SalesCommissionReport.aspx</url>
			</menuItem>
    </subMenu>

	</menuItem>

	<!--
	<menuItem>
		<text>Admin</text>
		<subMenu>
			<menuItem>
				<text>Update Your Profile</text>
				<url>/QSPFulfillment/Admin/Profile.aspx</url>
			</menuItem>
			<menuItem>
				<text>Personnel Directory</text>
				<url>/QSPFulfillment/Admin/personnel_directory.aspx</url>
			</menuItem>
		</subMenu>
	</menuItem>
	-->
	<menuItem>
		<text>IT Help Desk</text>
		<roles>ITHelpDesk</roles>
		<subMenu>
			<menuItem>
				<text>QSP.ca Account Reporting</text>
				<url>/QSPFulfillment/AcctMgt/OnlineStoreReportAccounts_Search.aspx</url>
			</menuItem>
			<menuItem>
				<text>Campaign Lookup for Links - by Group #</text>
				<url>/QSPFulfillment/AcctMgt/CampaignsForLinks.aspx</url>
			</menuItem>
		</subMenu>
	</menuItem>


	<menuItem>
		<text>Logout</text>
		<url>/QSPFulfillment/QSPFulfillmentLogin.aspx?logout=true</url>
	</menuItem>

</menu>