USE [QSPCanadaOrderManagement]
GO
/****** Object:  StoredProcedure [dbo].[DoUpdateStatus]    Script Date: 06/07/2017 09:19:26 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[DoUpdateStatus]
	@orderID int	
as
GO
