USE [QSPCanadaOrderManagement]
GO
/****** Object:  StoredProcedure [dbo].[pr_Delete_ShipmentVariations]    Script Date: 06/07/2017 09:19:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[pr_Delete_ShipmentVariations]

@SessionId varchar(100)

AS

/*DELETE FROM
	ShipmentVariation
WHERE
	SessionId LIKE @SessionId*/
GO
