USE [QSPCanadaOrderManagement]
GO
/****** Object:  StoredProcedure [dbo].[pr_SelectAllFulfillmentHouse]    Script Date: 06/07/2017 09:20:32 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[pr_SelectAllFulfillmentHouse] 

AS

select 1
GO
