USE [QSPCanadaOrderManagement]
GO
/****** Object:  StoredProcedure [dbo].[pr_ResetSwitchLetterBatch]    Script Date: 06/07/2017 09:20:31 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[pr_ResetSwitchLetterBatch]

	@iSwitchLetterBatchInstance int
 AS
GO
