@using System.Configuration
@{
    ViewBag.Title = "Beef Jerky Fundraising Ideas - Fundraising.com";
    ViewBag.Description = "Beef Jerky are some great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, Lollipop Fundraising, buy online";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = "/beef-jerky-fundraiser";


}

<div class="container-fluid NewSiteFontSize">
    <div class="lp">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/external/Products2021/banner_beefjerky.jpg" style="margin: auto;display: block;" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <br />
                <h2>BEEF JERKY</h2>
                As one of America's favorite treats, Beef Jerky makes an excellent fundraising product for any organization! It’s also a suitable fundraiser for Sports groups that might prefer Beef Jerky over other food fundraisers. It's also worth noting that because jerky is dried, it lasts a really long time, so your supporters can buy in bulk without  worrying the treats will spoil. Remind your donors of this, and you might be surprised how much they spend!
            </div>

        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-5oz-Original-Beef-Stick" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40024.jpg" alt="Jack Links - 0.5 oz Original Beef Stick" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.5 oz Original Beef Stick</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links–Stick-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40025.jpg" alt="Jack Links – 1.5oz Stick - Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Original</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40026.jpg" alt="Jack Links – 1.5oz Stick - Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Teriyaki</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Pepperoni" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40027.jpg" alt="Jack Links – 1.5oz Stick - Pepperoni" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Pepperoni</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Hot-Spicy" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40028.jpg" alt="Jack Links – 1.5oz Stick – Hot & Spicy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick – Hot & Spicy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/75.jpg" alt="Jack Links - 0.85 oz Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/76.jpg" alt="Jack Links - 0.85 oz Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/77.jpg" alt="Jack Links - 0.85 oz Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Peppered</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links--8oz-Beef-Steaks-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40029.jpg" alt="Jack Links - 0.8 oz Beef Steaks Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8oz-Beef-Steaks-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40030.jpg" alt="Jack Links - 0.8 oz Beef Steaks Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8-oz-Beef-Steaks-Peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40031.jpg" alt="Jack Links - 0.8 oz Beef Steaks Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Peppered</span>
                </a>
            </div>



            <div class="row">
                <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
                    <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                        <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
                    </a>
                    <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
                </div>
            </div>
        </div>
    </div>


