<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QSPForm.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QSPForm.Business.Properties.Settings.QSPCommonConnectionString"
      connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPCommon;Persist Security Info=True;User ID=QSPFormWebUser;Password=QSPFormWebUser"
      providerName="System.Data.SqlClient" />
    <add name="QSPForm.Business.Properties.Settings.QSPFulfillmentConnectionString"
      connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser;Password=QSPFormWebUser"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <QSPForm.Business.Properties.Settings>
      <setting name="AccountFinderWSUserName" serializeAs="String">
        <value>orderexpress</value>
      </setting>
      <setting name="AccountFinderWSPassword" serializeAs="String">
        <value>fi11m3nt</value>
      </setting>
      <setting name="AddressHygieneWSUserName" serializeAs="String">
        <value>AddressHygiene</value>
      </setting>
      <setting name="AddressHygieneWSPassword" serializeAs="String">
        <value>sesahpwd</value>
      </setting>
      <setting name="AccountFinderWSUrl" serializeAs="String">
        <value>http://ws.qsp.com/QSP.AccountFinder/AccountFinder.asmx</value>
      </setting>
      <setting name="AddressHygieneWSUrl" serializeAs="String">
        <value>http://ws.qsp.com/SES.AddressHygiene.20071031/AddressHygieneContract.asmx</value>
      </setting>
      <setting name="PineValleyFormList" serializeAs="String">
        <value>65,67</value>
      </setting>
      <setting name="OtisFormList" serializeAs="String">
        <value>69,71</value>
      </setting>
      <setting name="HersheyFormList" serializeAs="String">
        <value>77</value>
      </setting>
      <setting name="AccountFinderEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddressHygieneEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDatabasePaging" serializeAs="String">
        <value>False</value>
      </setting>
    </QSPForm.Business.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>