<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="ApplicationConfiguration" type="QSPForm.SystemFramework.ApplicationConfiguration, QSPForm.SystemFramework"/>
		<section name="QSPFormConfiguration" type="QSPForm.Common.QSPFormConfiguration, QSPForm.Common"/>
		<section name="SourceViewer" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/></compilers>
			<assemblies>
				<!--<add assembly="Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<!--	<add assembly="IBM.Data.DB2.iSeries, Version=10.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/> -->
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Serialization, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="RemoteOnly"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Forms">
			<forms name="QSPFormWebServices" path="/" loginUrl="/Personalization.asmx" protection="All" timeout="30">
				<credentials passwordFormat="Clear">
					<user name="awardvision" password="test"/>
					<user name="mike" password="test"/>
				</credentials>
			</forms>
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<!-- <allow users="*" /> -->
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<webServices>
			<soapExtensionTypes>
				<add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0"/>
			</soapExtensionTypes>
		</webServices>
		<xhtmlConformance mode="Legacy"/></system.web>
	<microsoft.web.services2>
		<diagnostics/>
	</microsoft.web.services2>
	<ApplicationConfiguration>
		<!-- Trace file settings -->
		<add key="SystemFramework.Tracing.Enabled" value="False"/>
		<!-- Set this to the file with the trace settings. This file should be relative
             to the root application directory. -->
		<add key="SystemFramework.Tracing.TraceFile" value="QSPFormTrace.txt"/>
		<!-- The TraceLevel for this switch.  -->
		<add key="SystemFramework.Tracing.TraceLevel" value="4"/>
		<!-- This switch name. The trace level for this name can be set through
             environment variables or the registry  -->
		<add key="SystemFramework.Tracing.SwitchName" value="QSPFormTraceSwitch"/>
		<!-- This description of the Tracing.SwitchName switch -->
		<add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for QSPForm"/>
		<!-- Event log settings
			Note: The default QSPForm event source name is created in the local machine during setup. If you wish to log events to a different event source
            that event source must exist.
        -->
		<add key="SystemFramework.EventLog.Enabled" value="True"/>
		<add key="SystemFramework.EventLog.Machine" value="."/>
		<add key="SystemFramework.EventLog.SourceName" value="QSPForm"/>
		<!-- Use the standard TraceLevel values:
             0 = Off
             1 = Error
             2 = Warning
             3 = Info
             4 = Verbose -->
		<add key="SystemFramework.EventLog.LogLevel" value="1"/>
		<!-- Mail Sender Settings When error send an email to -->
		<add key="SystemFramework.Mail.From" value="Form_Automation@rd.com"/>
		<add key="SystemFramework.Mail.To" value="francis_roy@rd.com"/>
		<add key="SystemFramework.Mail.Smtp" value="nasmtp.us.rdigest.com"/>
		<add key="SystemFramework.Error.ConnectionString" value="data source=161.230.158.127;initial catalog=QSPError;password=QSPError;persist security info=True;user id=QSPError"/>
		<add key="SystemFramework.Error.SendMail.Enabled" value="False"/>
		<add key="SystemFramework.Error.DBInsert.Enabled" value="False"/>
		<!-- Key to use with ASP Tree View -->
		<!-- Always put the / at the end -->
	</ApplicationConfiguration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Authentification" value="false"/>
	</appSettings>
	<QSPFormConfiguration>
		<!-- Settings specific to the QSPForm application (DEV)161.230.158.127, (PROD)161.230.158.119-->
		<!--<add key="QSPForm.Data.ConnectionString" value="data source=19_06_02\F6;initial catalog=QSPForm;password=&quot;&quot;;persist security info=True;user id=sa" />-->
		<!--<add key="QSPForm.Data.ConnectionString" value="data source=161.230.158.127;initial catalog=QSPFulfillment;password=QSPFormWebUser;persist security info=True;user id=QSPFormWebUser;Connect Timeout=240" />-->
		<add key="QSPForm.Data.ConnectionString" value="data source=USPVL3K09-DEV;initial catalog=QSPFulfillment;password=qspformwebuser;user id=QSPFormWebUser;Connect Timeout=240;Application Name=OrderExpress;"/>
		<!--<add key="QSPForm.Data.ConnectionString" value="data source=USPVL3K05-DEV;initial catalog=QSPFulfillment;password=somewhereakinghasnowife;user id=QSPFormWebUser;Connect Timeout=240;Application Name=OrderExpress;" />-->
		<add key="QSPForm.Data.ExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=[DataSource];Extended Properties=&quot;Excel 8.0; IMEX=1; HDR=[Header]&quot;"/>
		<add key="QSPForm.Data.TxtConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=[DataSource];Extended Properties=&quot;text;HDR=[Header];FMT=Delimited&quot;"/>
		<!--<add key="QSPForm.Data.SynchConnectionString" value="Provider=IBMDADB2.1;Persist Security Info=False;User ID=ORDENT;password=password;Data Source=QDC_SYNC;Mode=ReadWrite"  />-->
		<!--<add key="QSPForm.Data.SynchConnectionString" value="Server=161.230.9.253:446;database=QDC400;Connect Timeout=60;user Id=ORDENT; password=password;Connection Reset=true;Connection Lifetime=6000000;" />-->
		<!--<add key="QSPForm.Data.SynchDBOwner" value="QS36F" />-->
		<add key="QSPForm.Data.SynchConnectionString" value="Server=192.85.11.243:446;database=QDC400;Connect Timeout=60;user Id=ORDENT; password=password;Connection Reset=true;Connection Lifetime=6000000;"/>
		<add key="QSPForm.Data.SynchDBOwner" value="QALIB"/>
		<add key="QSPForm.Data.CommandTimeOut" value="30"/>
		<add key="QSPForm.IO.ImportPath" value="C:\Temp\QSPFormImport\"/>
		<add key="QSPForm.IO.ExportPath" value="C:\Temp\QSPFormExport\"/>
		<add key="QSPForm.IO.ReportPath" value="Reports/"/>
		<add key="QSPForm.IO.ImportFileName" value="QSPFormImportFile"/>
		<add key="QSPForm.IO.ImportFilePrefix" value="QSPFormImport"/>
		<add key="QSPForm.IO.ExportFilePrefix" value="QSPFormExport"/>
		<add key="QSPForm.WebApp.EnablePageCache" value="True"/>
		<add key="QSPForm.WebApp.PageCacheExpiresInSeconds" value="3600"/>
		<add key="QSPForm.WebApp.EnableSsl" value="False"/>
		<!-- Setting for Promotion Image. -->
		<add key="QSPForm.IO.PromoImagePath" value="~/QSPFormImage/PromoImage/"/>
		<add key="QSPForm.IO.PromoImagePreviewPath" value="~/QSPFormImage/PromoImagePreview/"/>
		<add key="QSPForm.IO.PromoImageExtensionFile" value="application/octet-stream,image/pjpeg,image/jpeg,image/jpg,image/jpe,image/jfif,image/pjp,image/bmp,image/gif,image/tiff, image/tif"/>
		<!-- Setting for Logo Image. -->
		<add key="QSPForm.IO.LogoImagePath" value="~/QSPFormImage/LogoImage/"/>
		<add key="QSPForm.IO.LogoImagePreviewPath" value="~/QSPFormImage/LogoImagePreview/"/>
		<add key="QSPForm.IO.LogoImageExtensionFile" value="application/octet-stream,image/pjpeg,image/jpeg,image/jpg,image/jpe,image/jfif,image/pjp,image/bmp,image/gif,image/tiff,image/tif"/>
		<!-- Setting for Promo_Logo Image. -->
		<add key="QSPForm.IO.PromoLogoImagePath" value="~/QSPFormImage/Promo_LogoImage/"/>
		<add key="QSPForm.IO.PromoLogoImagePreviewPath" value="~/QSPFormImage/Promo_LogoImagePreview/"/>
		<add key="QSPForm.IO.PromoLogoImageExtensionFile" value="application/octet-stream,image/pjpeg,image/jpeg,image/jpg,image/jpe,image/jfif,image/pjp,image/bmp,image/gif,image/tiff,image/tif"/>
		<!-- Setting for Temp Folder for Image. -->
		<add key="QSPForm.IO.PromoLogoTempFolder" value="~/QSPFormImage/PromoLogoTemp/"/>
		<add key="QSPForm.Security.CryptoKey" value="!GJDUEDLKD43324*423DL243KD"/>
		<!-- Setting for QSPFormImage -->
		<add key="QSPForm.IO.PreviewExtensionFile" value="jpg"/>
		<!-- this value must not change -->
	</QSPFormConfiguration>
	<SourceViewer>
		<!-- Valid directories for source browsing. Keep these lower case. -->
		<!--<add key="." value=" " />
		<add key="modules" value=" " />
		<add key="..\common\data" value=" " />
		<add key="..\systemframework" value=" " />
		<add key="..\business\facade" value=" " />
		<add key="..\business\rules" value=" " />
		<add key="..\dataaccess" value=" " />
		<add key="secure" value=" " />
		<add key="docs\common" value=" " />
		<add key="docs\dataaccess" value=" " />
		<add key="docs\facade" value=" " />
		<add key="docs\rules" value=" " />
		<add key="docs\web" value=" " />-->
	</SourceViewer>
</configuration>
