<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="applicationSettings" type="efundraising.Configuration.MultiNameValueSectionHandler, efundraising.Configuration" />
  </configSections>
  <applicationSettings>
    <connectionStrings>
      <add name="QSPForm.Data.ConnectionString" connectionString="Data Source=USPVL3K09-DEV;User ID=qspformwebuser;Password=QSPFormWebUser;Persist Security Info=True;Initial Catalog=QSPFulfillment;Application Name=Order Express WebServices - Developer DEV;" />
    </connectionStrings>
    <!-- ############### -->
    <!-- COMMON SETTINGS -->
    <!-- ############### -->
    <!-- 
       ERROR LOGGING. 
       Specify where to log errors. You may specify more than one location.
       Valid logType is "email", "eventlog" or "file".
       Valid logSource is either the email address for "email" type, source name
       for "eventlog" type or file name for "file" type.
       For "eventlog" type, you may need to create a new Key with the source name 
       in the registry under HKLM\SYSTEM\CurrentControlSet\Services\Eventlog\Application
    -->
    <add key="Common.Log.Error" logType="email" logSource="jason.farrell@fundraising.com" />
    <!-- add key="Common.Log.Error" logType="email" logSource="jfbuist@rd.com" / -->
    <add key="Common.Log.Error" logType="file" logSource="c:\Log\EfundData_%yyyy%%MM%%dd%_Log.xml" />
    <add key="Common.Log.Warn" logType="file" logSource="c:\Log\EfundData_%yyyy%%MM%%dd%_Log.xml" />
    <add key="Common.Log.Info" logType="file" logSource="c:\Log\EfundData_%yyyy%%MM%%dd%_Log.xml" />
    <add key="Common.Log.Debug" logType="file" logSource="c:\Log\EfundData_%yyyy%%MM%%dd%_Log.xml" />
    <!-- Production Setting -->
    <!--
    <add key="Common.Email.SmtpServer" host="localhost" />
    -->
    <add key="Common.Email.SmtpServer" host="192.168.4.68" />
    <add key="Error.Report.Email" Email="jason.farrell@fundraising.com" />
    <!--  
    <add key="Info.Report.Email" Email="jfbuist@rd.com" />
    -->
    <add key="Info.Report.Email" Email="jason.farrell@fundraising.com" />
    <!-- ################## -->
    <!-- EFUNDDATA SETTINGS -->
    <!-- ################## -->
    <add key="eFundData.Partner" partnerName="WSTest" partnerId="-1" username="WSTest" promotionId="10475" />
    <add key="eFundData.Partner" partnerName="stepbystep" partnerId="94" username="stepbystep" promotionId="10919" password="das32field" />
    <add key="eFundData.Partner" partnerName="ssww" partnerId="124" username="ssworldwide" promotionId="10735" />
    <add key="eFundData.Partner" partnerName="gofundraising" partnerId="154" username="gofundraising" promotionId="3623" />
    <add key="eFundData.Partner" partnerName="activeteamfundraising" partnerId="8" username="activeteamfundraising" promotionId="2612" />
    <add key="eFundData.Partner" partnerName="efrspanish" partnerId="659" username="efrspanish" promotionId="4157" />
    <add key="eFundData.Partner" partnerName="fundraising.com" partnerId="686" username="fundraising.com" promotionId="5961" />
    <add key="eFundData.Partner" partnerName="fastfundraising.com" partnerId="686" username="fastfundraising.com" promotionId="5953" />
    <!-- #################### -->
    <!-- EFUNDRAISING SETTINGS -->
    <!-- #################### -->
    <add key="EFundWeb.Version" version="1" subversion="2" />
    <add key="EFundWeb.Production" isProduction="false" />
    <add key="EFundWeb.SqlConnection.Release" provider="mssql" connectionString="Data Source=GASQLP02;Initial Catalog=efundweb;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" />
    <add key="EFundWeb.SqlConnection.Debug" provider="mssql" connectionString="Data Source=gasqlt01;Initial Catalog=efundraisingprod_externe;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" />
    <add key="EFundWeb.TrapLog" value="True" />
    <!-- ######################### -->
    <!-- EFUNDRAISINGPROD SETTINGS -->
    <!-- ######################### -->
    <add key="EFundraisingProd.Production" isProduction="false" />
    <add key="EFundraisingProd.SqlConnection.Release" provider="mssql" connectionString="Data Source=GASQLP02;Initial Catalog=efundraisingprod;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1" />
    <add key="EFundraisingProd.SqlConnection.Debug" provider="mssql" connectionString="Data Source=gasqlt01;Initial Catalog=efundraisingprod;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1" />
    <add key="EFundraisingProd.TrapLog" value="True" />
  </applicationSettings>
  <appSettings>
    <add key="Tibo" value="False" />
    <add key="LogClientManually" value="true" />
    <!-- Azote Server -->
    <!--
    <add key="ConnectionString" value="Data Source=AZOTE;Initial Catalog=eFundWeb;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" />
        <add key="efundraising.ConnectionString" value="Data Source=AZOTE;Initial Catalog=eFundWeb;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" /> 
     -->
    <!-- WebRemote 2 Server -->
    <add key="ConnectionString" value="Data Source=GASQLP02;Initial Catalog=eFundWeb;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" />
    <add key="efundraising.ConnectionString" value="Data Source=GASQLP02;Initial Catalog=eFundWeb;connection timeout=100;user id=eMagnetWeb;password=!magnet$73!" />
    <add key="DataProvider" value="sql" />
    <add key="MassMailerCnnStr" value="Server=209.71.230.10;database=massemail;login=massemail;password=mass!mail78" />
    <add key="DataProvider" value="sql" />
    <add key="efundraising.DataProvider" value="sql" />
    <add key="ApplicationName" value="webservices.efundraising.com" />
    <add key="SmtpServer" value="mail.efundraising.com" />
    <add key="FromEmail" value="eSubs@efundraising.com" />
    <add key="LogNotificationEmailPanic" value="lturmel@rd.com" />
    <add key="LogNotificationEmailError" value="lturmel@rd.com" />
    <add key="LogNotificationEmailWarning" value="lturmel@rd.com" />
    <add key="LogNotificationEmailInformation" value="lturmel@rd.com" />
    <add key="LogNotificationFilePanic" value="c:\Log\LogFilePanicWSeFund.txt" />
    <add key="LogNotificationFileError" value="c:\Log\LogFileErrorWSeFund.txt" />
    <add key="LogNotificationFileWarning" value="c:\Log\LogFileWarningWSeFund.txt" />
    <add key="LogNotificationFileInformation" value="c:\Log\LogFileInformationWSeFund.txt" />
    <add key="LoggingSystemEventMethodPanic" value="0" />
    <!-- everywhere -->
    <add key="LoggingSystemEventMethodError" value="1" />
    <!-- file, email and database -->
    <add key="LoggingSystemEventMethodWarning" value="0" />
    <!-- event viewer and email -->
    <add key="LoggingSystemEventMethodInformation" value="0" />
    <!-- event viewer -->
    <add key="WebServiceLogFile" value="c:\\eFundWs.txt" />
    <add key="WebServiceLogProvider" value="File, Email" />
    <add key="WebServiceLogEmail" value="lturmel@rd.com" />
    <add key="ErrorNotificationEmail" value="lturmel@rd.com" />
    <add key="NotificationMethod" value="email" />
    <!-- Username assigned to specific Partner and his partner_ID -->
    <add key="WSTest" value="-1" />
    <add key="lturmel" value="0" />
    <add key="ssworldwide" value="124" />
    <!-- End of Username and Partner_ID Pair values -->
    <!-- xFramework Log Variables -->
    <add key="SendErrorTo" value="lturmel@rd.com" />
    <add key="SmtpMailServer" value="mail.efundraising.com" />
    <add key="SendErrorFrom" value="lturmel@rd.com" />
    <add key="LogType" value="Email" />
    <!-- end of xFramework Log Variables -->
    <!-- Lead Integrator -->
    <add key="LeadIntegratorResponsibleEmails" value="jason.farrell@efundraising.com" />
    <!-- End of Lead Integrator -->
  </appSettings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" />
    <authentication mode="Forms">
      <forms name=".eFundData" loginUrl="eFundData.asmx" protection="All" timeout="60" path="/">
        <credentials passwordFormat="Clear">
          <user name="WSTest" password="WSTest" />
          <user name="stepbystep" password="das32field" />
          <user name="ssworldwide" password="398ddyell" />
          <user name="gofundraising" password="di23as2h" />
          <user name="activeteamfundraising" password="dsh34sda2" />
          <user name="efrspanish" password="jkpdj324" />
          <user name="fundraising.com" password="ergfrd45" />
          <user name="fastfundraising.com" password="ergfrd45" />
          <user name="efundraising" password="kj83jsd4" />
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                roles="[comma separated list of roles]"/>
          <deny      users="[comma separated list of users]"
                roles="[comma separated list of roles]"/>
        -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
      Application-level tracing enables trace log output for every page within an application. 
      Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
      trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
      application trace log by browsing the "trace.axd" page from your web application
      root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
      By default ASP.NET uses cookies to identify which requests belong to a particular session. 
      If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
      To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
      This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <xhtmlConformance mode="Legacy" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate.Mapping.Attributes" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>