<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QSP.OrderExpress.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <QSP.OrderExpress.Reporting.Properties.Settings>
            <setting name="RSServer" serializeAs="String">
                <value />
            </setting>
            <setting name="RSUID" serializeAs="String">
                <value />
            </setting>
            <setting name="RSPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="RSReportFolder" serializeAs="String">
                <value />
            </setting>
        </QSP.OrderExpress.Reporting.Properties.Settings>
    </applicationSettings>
</configuration>