
*.zip
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/8_29_2013(8_56_44 AM)/HowToUseFlash_Example.htm
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/8_29_2013(8_56_44 AM)/style.css
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/ChickenVideo.mp4
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/ChickenVideo.swf
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/favicon.ico
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/Prizes_01.jpg
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/Prizes_02.jpg
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/Prizes_03.jpg
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/Prizes_04.jpg
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/images/Thumbs.db
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/index.htm
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/jquery-1.7.2.js
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/NEW_QSPCAN.mov
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/swfobject.js
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/Thumbs.db
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/web.config.old
WebSites/Webservices/ECommerce_QSP/ChickenVideos/ChickenVideo/web.old.config
WebSites/Webservices/ECommerce_QSP/Poulets/index.htm
WebSites/Webservices/ECommerce_QSP/Poulets/jquery-1.7.2.js
WebSites/Webservices/ECommerce_QSP/Poulets/poulets.mov
WebSites/Webservices/ECommerce_QSP/Poulets/poulets.mp4
WebSites/Webservices/ECommerce_QSP/Poulets/poulets.swf
WebSites/Webservices/ECommerce_QSP/Poulets/swfobject.js
WebSites/Webservices/ECommerce_QSP/Poulets/Thumbs.db
WebSites/Webservices/ECommerce_QSP/Poulets/web.config.old
