@using GA.BDC.Shared.Entities
@{
    ViewBag.Title = "The EzFund Blog - Archive";
    ViewBag.CanonicalUrl = "/blog/tag/old-posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" ng-controller="BlogAllController as blogAllCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>All Posts</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogAllCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories") 
    </div>
</div>

