@{
    ViewBag.Title = "The EzFund Blog - Football Fundraisers Guaranteed To Make You Money";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/Football-Fundraisers";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/footballfundraisers.jpg" alt="Football Fundraisers Guaranteed To Make You Money" title="Football Fundraisers Guaranteed To Make You Money" class="img-responsive center" />
    <h2>Football Fundraisers Guaranteed To Make You Money</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            Sports teams often have to launch fundraising campaigns and we’ve got six solid football fundraisers to get you started. Whether you need new equipment, uniforms, or a tour bus to get to away games, consider these fundraisers for your team.
            <br /><br />
            <strong>Punt Pass & Kick Competition</strong>
            <br />
            The NFL’s Punt, Pass and Kick competition has been a smash hit for years, so why not stage your own version of it? The way this fundraiser works is pretty straightforward: players pay a fee to join the competition in which they compete in punting, passing, and place kicking. There are different age divisions to keep things fair. For example, you might have one for 5-7 year olds, another for 8-10 year olds, another for 11-12 year olds, and so on.
            <br /><br />
            <strong>Hall of Famer Diner Party</strong>
            <br />
            Arrange for a fun and affordable dinner party at a banquet hall and invite former players and coaches as well as people currently on the team. Ask for a modest fee and make it clear in the invitation that it’s a fundraising event for the team. It’ll be a great opportunity for people to meet former players, exchange stories, and maybe even make new friends. It’s sure to be a fun night for everyone.
            <br /><br />
            <strong>Concession Stand Sales</strong>
            <br />
            What’s game night without some drinks and snacks to enjoy while you’re cheering for the team? See if you can get a local business to help you out by providing things like coffee, chips, hot dogs, and anything else you feel might be easy to sell to the fans. You’ll probably have to give your business partner a small cut of the proceeds to make it worth their while, but everything can be put towards your fundraising efforts. You can place your concession stand at the entrance and set it up with a sport’s theme. The options are endless, from football lollipops to custom T-shirts, you can have a good variety to cover different tastes and budgets.We have some great products for your concession stand, so don’t hesitate to call us and get some great advice from our fundraising consultants.
            <br /><br />
            <strong>Team Memorabilia</strong>
            <br />
            Shirts, hats, and jerseys are a mainstay for professional sports teams, and your team can have its own sports apparel and accessories personalized with your team logo or name.
            <br /><br />
            <strong>Football 101</strong>
            <br />
            Have some of your players offer to teach a football clinic to kids in the area for a small fee. The Football 101 lessons can be offeres in a park with a football field open to the public. Put up some posters and flyers around the city to attract attention before the big day. Social media is another good way to generate a buzz for this fundraiser.
            <br /><br />
            <strong>Sponsored Touchdowns</strong>
            <br />
            This football fundraiser is a good one because it will inspire the players to play hard, and play to win. Have them collect a list of sponsors from the community who will agree to submit a donation each time a player scores a touchdown. For a little extra incentive you can also offer a prize to the player who manages to raise the most money. The same thing could be done with QB sacks, completed passes, interceptions, or field goals instead of touchdowns.
            <br /><br />
            Hopefully at least one of these fundraising ideas will work out for your team. If you need anything to help get your fundraiser off the ground, don’t hesitate to call or email us!
        </div>
    </div>
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@