@{
    ViewBag.Title = "The EzFund Blog - 4 Fundraising Ideas for Middle School Coaches";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/4-Fundraising-Ideas-Middle-School-Coaches";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/blog_middleschoolcoach.jpg" alt="4 Fundraising Ideas for Middle School Coaches" title="4 Fundraising Ideas for Middle School Coaches" class="img-responsive center" />
    <h2>4 Fundraising Ideas for Middle School Coaches</h2>
    <div class="row row-padding-lg">
       <div class="col-sm-12">
          When coaching a team, often times the coach finds his/herself wanting to help the kids raise funds for uniforms or trips. Among some of the most popular school fundraisers are bake sales and car washes, and while those ideas are tried and true, why not come up with some fresh fundraising ideas to intrigue and attract your supporters? We know some will prefer to go with fundraisers that have been successful so we gathered a bit of both worlds, some that you might have heard of, and some that probably you have never tried.
          <br /><br />
          <strong>Rent-An-Athlete</strong>
          <br />
          The Rent-An-Athlete fundraiser is super easy to do! These fundraisers get the whole team involved, and the best part is that there is a 100% profit. Offer to "rent your athletes" to families to mow the lawn, walk the dog, or any other little job someone might need done. Advertising this fundraiser draws a lot of attention and gives the team a sense of accomplishment and community.
          <br /><br />
          <strong>Temporary Tattoos</strong>
          <br />
          Temporary tattoos are a great substitute for a bake sale for a middle school fundraiser. You can get some custom made tattoos with your team's logo, and make a great profit at low expense for your supporters. Besides, who doesn't love a team-spirited tattoo, right?
          <br /><br />
          <strong>Duct Tape Your Coach to the Wall</strong>
          <br />
          This is a great fundraising idea that has been around for a while now, but it's still fun and students continue to have a blast. Another advantage is that you host it right at the school which makes it easier in terms of logistics. Offer a strip of duct tape for $1 and let the kids tape their coach to the gym wall. This is a perfect opportunity to get involved in the fundraiser, since you're the coach, you can offer yourself as the victim. This fundraiser can make a good profit, and the only expense is the duct tape!
          <br /><br />
          <strong>Candy Bars</strong>
          <br />
          This is a classic fundraising idea for a reason. Selling $1 candy bars is a sure way to make a profit. It's simple and straight forward. Just select the <a href="/products/in-hand-sellers/candies/original-one-dollar-bar" title="One Dollar bar">One Dollar bar</a>, buy online, get it at your school and start raising funds!
       </div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@