@{
    ViewBag.Title = "The EzFund Blog - Fun Fundraisers";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/fun-fundraisers";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/blog_funfundraisers.jpg" alt="fun fundraisers" title=fun fundraisers" class="img-responsive center" />
    <h2>How to Put the Fun in Fundraising</h2>
    <div class="row row-padding-lg">
       <div class="col-sm-12">
          Fundraising is hard work. It takes a great deal of planning, effort, and coordination from everyone involved. It helps if you can make all this work feel more like fun. There are many effective fundraising ideas that can be a lot of fun for everyone involved; here are a few ideas to put the fun in fundraising.
          <br /><br />
          <strong>Get Cooking</strong>
          <br />
          Food brings people together, so any kind of fundraiser focused around food is sure to generate good times for everyone. Bake sales and barbeques are easy enough to organize, and it shouldn't take much convincing to get people to buy a freshly cooked meal. If you want to make it a bake sale, you can use some <a href="/products/cookie-dough-fundraisers/cookie-dough" title="cookie dough">
             cookie dough</a>. Pancake dinners and Spaghetti Dinners are always a great opportunity to get together and strengthen the sense of community.
          <br /><br />
          <strong>Friendly Competition</strong>
          <br />
          Athletic competitions like sporting events and tournaments also bring people together with the spirit of community. It is important to emphasize with any kind of sport-themed fundraiser that it doesn't matter who wins the game. The real winners are the people who you're fundraising for.
          <br /><br />
          <strong>Let the Games Begin</strong>
          <br />
          Not everything has to be a competition. Carnival games like target shooting, whack-a-mole, bouncy castles, and dunk tanks also work well. You can look for carnival games rental companies or you can create your own and have some fun with the creative process. These events involve quite some logistics including setting everything up. If you decide to hire a rental company, you'll find a huge variety of games to choose from and they may also provide people to set everything up which can make the process easier if your budget allows it.
          <br /><br />
          Fundraising can be tough, but that doesn't mean you can't make it fun. We hope these ideas help you inject a little fun and games into your next fundraiser.

          </div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@