@{
    ViewBag.Title = "The EzFund Blog - Get the Word Out About Your Next Fundraiser";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/Get-the-Word-Out-Fundraisers";
}
<div class="container">
    <br />
    <img ng-src="/Content/images/public/word.jpg" alt="3 Ways to Get the Word Out" title="3 Ways to Get the Word Out" class="img-responsive center" />
    <h2>3 Ways to Get the Word Out About Your Next Fundraiser</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            When it comes to fundraising, it is important to spread the word about your event so that you get a good turn out. Here are some fundraising ideas to help you reach an audience and make the most of your event.
            <br /><br />
            <strong>Word of Mouth</strong>
            <br />
            People often times forget about the most basic form of sharing information: word of mouth. Talk to family members, friends, and people in your community or at your work place about your fundraiser; hey may continue to spread the word. People need to know your story to care, so telling people face-to-face gives you a chance to connect with them.
            <br /><br />
            <strong>Local News</strong>
            <br />
            The local news is always looking for a great new story, so share yours! Reach out to local newspapers, radio stations, and news channels to advertise your event. People love to support their community, especially when it comes to school fundraisers or church fundraisers. The local news will get your story out to people in your community who would be willing to show their support.
            <br /><br />
            <strong>Social Media</strong>
            <br />
            The best outlet to reach the largest group of people is through social media. Fundraising on social media is becoming huge, so post your fundraiser on every platform you can Facebook, Twitter, and Pinterest are all great outlets to share your story.<br /><br />
            These are just a few great fundraising tips to spread the word about your next event. For more helpful advice, give us a call at <a href="tel:+1-800-991-8779" style="text-decoration:none; font-weight:bold">1.800.991.8779</a>
</div>
    </div>

</div>

