@{
    ViewBag.Title = "The EzFund Blog - Low-Cost or Even No-Cost Fundraising Ideas";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/Low-Cost-fundraisers-ideas";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/blog_lowcost.jpg" alt="Low-Cost or Even No-Cost Fundraising Ideas" title="Low-Cost or Even No-Cost Fundraising Ideas" class="img-responsive center" />
    <h2>Low-Cost or Even No-Cost Fundraising Ideas</h2>
    <div class="row row-padding-lg">
       <div class="col-sm-12">
          <strong>1. 50/50 raffle</strong>
          <br />
          This is a known one, but it's still around because it's one of the easiest and cheapest ways to fundraise. You just need to buy a raffle ticket roll from a party store and start selling the tickets. The raffle works very well in community events where you have access to a greater amount of people at once.
          <br /><br />
          <strong>2.	Prom dress fundraiser</strong>
          <br />
          This campaign is very useful for fundraising groups who don't have a selling big force. Get people to donate the prom dresses they won't use anymore.  If you promote it well and with some time in advance, you can raise some good money. This is a campaign that you can run every year after the celebrations are over. There are also 2 other good moments throughout the year; one, at the beginning of the year since the December holiday season is over. And two, during Spring Cleaning time, people clean the closets, and many would rather donate to your cause instead of thinking what to do with the clothes that they don’t want to wear anymore. To promote the donations you can use a website, the school newsletter, a dress shop, or a stand in your school. Plan the selling event and invite the community!
          <br /><br />
          <strong>3.	Bring and Buy Sale</strong>
          <br />
          This is a very easy method to raise funds. You need a big space, some promotion, several tables, and some change. Invite people to come and sell their old stuff or the things they don't need anymore. Ask people for a small door fee. All the funds you get are yours, while people will be happy to sell their stuff they do not use anymore and make some money. Furthermore, make sure you promote the event! <br /><br />
          <h3>Good luck!</h3>
       </div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@