@{
    ViewBag.Title = "The EzFund Blog - Sports Teams: Personalize your Fundraiser";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/Sports-Teams-fundraisers";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/blog_personalizesports.jpg" alt="Sports Teams: Personalize your Fundraiser" title="Sports Teams: Personalize your Fundraiser" class="img-responsive center" />
    <h2>Sports Teams: Personalize your Fundraiser</h2>
    <div class="row row-padding-lg">
       <div class="col-sm-12">
          When trying to raise funds for your team, using your team's name, logo, or pictures of players will gain the attention of your prospective buyers. Anyone who is a family member or friend of an individual in the team will be interested in donating their money for the cause because they get to keep an item that reminds them of the team every time it is viewed. Also, players who used to belong to the team themselves will be excited to have an item that gives them a bit of nostalgia. Here are some custom fundraisers for sports groups that will help you raise funds and bring the cheer!
          <br /><br />
          <strong>Scratch Cards</strong>
          <br />
          These cards are fun for people who enjoy the luck of the draw. How it works is that the buyer will decide how many dots they want to scratch and then give you the amounts underneath the dots to go towards your fundraiser. Your group can raise up to $100. It is a fun game of chance to see how much each person has to fork over for your group. It is all in fun and you can warn the participants that the highest amount is $5. You can also play little games where the winners will get a prize and losers will have to scratch a dot. After they hand you the money, hand them a discount coupon to be used at local restaurants and stores. You can use a sports design from our catalog but you can also personalize it with team's picture or logo.
          <br /><br />
          <strong>Custom T-Shirts</strong>
          <br />
          T-shirts can be a big hit when having a team fundraiser. A high quality T-shirts with your team's logo is an easy buy among family, friends and fans who will be glad to show some team pride. You can choose from a variety of colors and locations for you designs, just head to out <a href="/products/custom/customized-Fundraising-Products/custom-t-shirts" title="Custom T-Shirts">
   Custom T-shirts</a> page or give us a call at 1-800-991-8779
   <br /><br />
   <strong>Custom Spirit Sleeves </strong>
   <br />
   Your supporters will also enjoy the idea of <a href="/products/custom/customized-Fundraising-Products/custom-spirit-sleeves" title="Custom Spirit Sleeves">Spirit Sleeves</a> they can come very handy for an early walk or an outdoors workout. A funky or cool design will assure that people will be happy to wear them at the games but also in their regular day-to-day.
</div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@