@{
    ViewBag.Title = "The EzFund Blog - 4 Tips to Sell More at your Fundraiser";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/4-Tips-to-Sell-More";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/tipssellmore.jpg" alt="tips to Sell More at your Fundraiser" title="tips to Sell More at your Fundraiser" class="img-responsive center" />
    <h2>4 Tips to Sell More at your Fundraiser</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            It’s not easy to launch a successful fundraiser because there are a lot of things to consider in making sure you see the desired results.  Not all fundraising ideas are made equal, and there is no one-size-fits-all solution, but there are a few things to bear in mind that can help. So, here are a few tips that should help you sell more at your fundraising event.
            <br /><br />
            <strong>Be Original</strong>
            <br />
            There are a lot of old fundraising ideas that people have seen a hundred times, so you might have some trouble getting people’s attention. This includes things like bake sales, garage sales, and raffle tickets, just to name a few. Get creative and put a new spin on an old idea; if you’re having a bake sale, add a theme related to your cause, or you can reserve a spot at a local park and turn it into a full day of family activities. You just might be able to turn a few heads with something fresh.
            <br /><br />
            <strong>Generate a Buzz</strong>
            <br />
            These days it’s very easy to utilize social media, emails and even online marketing to generate a buzz about your fundraiser. More and more people are logging onto Facebook and other online outlets so you can easily get the word out about your fundraiser and generate a buzz before you get things started. When people start talking and sharing your content there is the potential to go viral if the right elements are in place, and then you’ll really see the funds rolling in.
            <br /><br />
            <strong>Get Foot Traffic</strong>
            <br />
            If you do an outdoor event it’s best to do it in a place where you get a lot of foot traffic. It’s just the same principle as opening a retail store: you want to set up shop in a place where the most people will walk by and see what you’re doing. Each person who walks by is a potential donor for your fundraiser.
            <br /><br />
            <strong>Know Your Audience</strong>
            <br />
            Not everyone will react to the same things. You need to zero in on exactly who you’re marketing to with your fundraiser and tailor it to them. Are you looking for seniors? Students? Parents? Just like in advertising, you have to know your audience to get the most results. Figure out who your audience is and what they’ll go for.
            <br /><br />
            Fundraising can be a challenge, but it can also be a lot of fun if you keep your group engaged and your goal at sight.

        </div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@