@{
    ViewBag.Title = "The EzFund Blog - 4 Tips Eco-Friendly Fundraisers for your School";
    ViewBag.Description = "EzFund blog with tons of ideas for your event";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers, blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CanonicalUrl = "/blog/4-Tips-Eco-Friendly-Fundraisers";
}


<div class="container">
    <br />
    <img ng-src="/Content/images/public/ecofriendlyfundraisers.jpg" alt="eco friendly fundraising" title="eco friendly fundraising" class="img-responsive center" />
    <h2>4 Tips Eco-Friendly Fundraisers for your School</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            Everyone wants to live in a clean neighbourhood, and most people care about the environment in this day and age, so there are several eco-friendly fundraising ideas that you can take advantage of. Do your part to help the environment and earn a few bucks with these sustainable fundraising ideas.
            <br /><br />
            <strong>Clean Up the Neighbourhood</strong>
            <br />
            An environmental cleanup is an awesome green fundraiser that students are sure to love because it will get them out of the classroom and in the outdoors for a while. Ask for pledges from people and in exchange perform a trash clean up in the neighbourhood or a nearby park. Not only will the students love the fresh air, but local residents will be happy to have a nice and clean neighbourhood to call their home.
            <br /><br />
            <strong>Smencils</strong>
            <br />
            Students always need a pencil, right? So you can make a fundraiser out of selling Smencils. These are scented pens and pencils made with recycled materials, and we always have loads of them in stock in several different colours and themes.
            <br /><br />
            <strong>Sapling Sale</strong>
            <br />
            Spring and fall are perfect times to sell saplings and seeds, and few things are more environmentally friendly than planting a few trees. This is another school fundraiser that will get the kids out in the neighbourhood and involved with the community. To find the seeds and saplings try asking some local greenhouses if they have anything to spare, or see if they’ll offer you a bulk discount.
            <br /><br />
            <strong>Bottle and Can Collection</strong>
            <br />
            It’s always a shame to see empty bottles and cans littering the streets and parks where you live. Turn that into a green fundraising idea by doing a bottle collection drive! Ask people to bring in their empty bottles and cans, or look for sponsors willing to pay your students to scour the neighbourhood for empties. At the end of the day, all those 10 cent deposits can really add up!
            <br /><br />
            Most students love the chance to get out of the classroom for a little while, and these fundraisers not only raise money for your cause but also help the environment. In the end, everyone benefits from these eco-friendly fundraising ideas.
        </div>
    </div>
 
    
</div>


@*<div class="row" ng-controller="BlogIndexController as blogIndexCtrl">
    <div class="col-sm-12 col-md-9">
        <h1>Fundraising Ideas Blog</h1>
        <div class="row">
            <div class="col-sm-6 col-md-4 text-center" ng-repeat="post in blogIndexCtrl.posts" ng-cloak>
                <a ng-href="/blog/post/{{::post.Url}}" class="thumbnail">
                    <img ng-src="/Content/external/blog/{{::post.ThumbnailUrl}}" alt="{{::post.Title}}" class="img-responsive" />
                    <h5>{{::post.Title}}</h5>
                    <span style="text-decoration: none; color: black">{{::post.Summary}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="/blog/old-posts"><strong>View All Posts</strong></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        @Html.Partial("Blog/_lastPosts")
        @Html.Partial("Blog/_categories")
    </div>
</div>*@