
<HTML>
<HEAD>
  <TITLE>Buy It With Cash Store</TITLE>
</HEAD>

<FONT FACE="arial,helvetica">You have entered an invalid Card ID or PIN.  Please  <a href="javascript:history.go(-1)">try again</a>.<BR><BR>

Cash was not removed from your SpendCash card(s).  <BR>

<BR>
Return Code: <SC_RETURN_CODE>
<BR>
Return Desc: <SC_RETURN_DESCRIPTION>

</BODY>
</HTML>
