
<HTML>
<HEAD>
  <TITLE>Buy It With Cash Store</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<FONT FACE="arial,helvetica">You have entered <SC_NUMBER_OF_CARDS> cards(s), but you have insufficient funds to complete this transaction.  Please try using more cards or different cards to complete this transaction.   <a href="javascript:history.go(-1)">Click here</a> to try again. <BR><BR>

Cash was not removed from your SpendCash card(s).  <BR>

<BR>
Return Code: <SC_RETURN_CODE>
<BR>
Return Desc: <SC_RETURN_DESCRIPTION>

</BODY>
</HTML>
