
<HTML>
<HEAD>
  <TITLE>Buy It With Cash Store</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<FONT FACE="arial,helvetica">Your transaction did not go through.  Please <a href="javascript:history.go(-1)">try again</a>.  If it fails to go through after multiple retries, please contact your merchant and reference transaction ID "<SC_MERCHANT_TRANS_ID>".<BR><BR>

Cash was not removed from your SpendCash card(s).  <BR>

<BR>
Return Code: <SC_RETURN_CODE>
<BR>
Return Desc: <SC_RETURN_DESCRIPTION>

</BODY>
</HTML>
