
<HTML>
<HEAD>
  <TITLE>Buy It With Cash Store</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">
<FONT FACE="arial,helvetica">There appears to be a problem with the system.  Please contact your merchant with a reference to transaction ID <SC_MERCHANT_TRANS_ID><BR><BR>

Cash was not removed from your SpendCash card(s).  <BR>

<BR>
Return Code: <SC_RETURN_CODE>
<BR>
Return Desc: <SC_RETURN_DESCRIPTION>

</BODY>
</HTML>
