
<HTML>
<HEAD>
  <TITLE>Buy It With Cash Store</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">

<FONT FACE="arial,helvetica">
Congratulations!  The transaction succeeded <BR>
<SC_DEBIT_AMOUNT> was removed from <SC_NUMBER_OF_CARDS> SpendCash card(s).<BR><BR>
For future reference, the SpendCash Payment Authorization Number (PAN) is <SC_PAN>, and the time of purchase was <SC_AUTHORIZATION_TIME>.
<br>
SC_AUTHORIZATION_NUMBER = <SC_AUTHORIZATION_NUMBER>
<BR><BR>
<B>We suggest you print this page for your records. <FONT SIZE="-2">Type Ctrl+P to print from a PC.</FONT></B>
<BR><BR>

</BODY>
</HTML>
