<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://www.microsoft.com/schema/EnterpriseInstrumentation/v1/EnterpriseInstrumentation.xsd">
   <instrumentedApp name="GA.BDC.Console.PAPFeedback.TaskExecutor" mode="released" />
   <eventSources>
      <eventSource name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.CancelPAPSaleTask" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC PAP Orders Cancelling Event Source" />
      <eventSource name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.ConfirmPAPSaleTask" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC Orders Confitmation Event Source" />
      <eventSource name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPLandedSaleTask" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC Landed Orders Uploading Event Source" />
      <eventSource name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPEsubsSaleTask" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC Online Orders Uploading Event Source" />
      <eventSource name="GA.BDC.PAP.Data" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC Order Uploading Event Source" />
      <eventSource name="GA.BDC.Data" type="softwareElement" internalExceptionHandler="ignore" description="GA BDC Data Source Event Source" />
      <eventSource name="Newtonsoft.Json.Net35" type="softwareElement" internalExceptionHandler="ignore" description="JSON Wrapper Event Source" />
      <eventSource name="Application" type="softwareElement" internalExceptionHandler="ignore" description="Application level event source." />
   </eventSources>
   <filterBindings>
      <eventSourceRef name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.CancelPAPSaleTask">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>

      <eventSourceRef name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.ConfirmPAPSaleTask">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>

      <eventSourceRef name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPLandedSaleTask">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>

      <eventSourceRef name="GA.BDC.Console.PAPFeedback.TaskExecutor.Tasks.SendPAPEsubsSaleTask">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>
      <eventSourceRef name="GA.BDC.PAP.Data">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>
      
      <eventSourceRef name="GA.BDC.Data">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>

      <eventSourceRef name="Newtonsoft.Json.Net35">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>
     <eventSourceRef name="Application">
         <filterRef name="defaultSoftwareElementFilter" />
      </eventSourceRef>
   </filterBindings>
   <filters>
      <filter name="defaultSoftwareElementFilter" description="A default filter for the Software Element event sources." >
         <eventCategoryRef name="Error Message Event">
            <eventSinkRef name="logSink" />
            <eventSinkRef name="smtpSink" />
         </eventCategoryRef>
         <eventCategoryRef name="Trace Message Event">
            <eventSinkRef name="logSink" />
         </eventCategoryRef>
      </filter>
      <filter name="defaultRequestFilter" description="A default filter for the Request event sources." />
   </filters>
   <eventSinks>
      <eventSink name="wmiSink" description="Outputs events to WMI." type="Microsoft.EnterpriseInstrumentation.EventSinks.WmiEventSink" />
      <eventSink name="traceSink" description="Outputs events to the Windows Event Trace." type="Microsoft.EnterpriseInstrumentation.EventSinks.TraceEventSink">
         <parameter name="sessionName" value="TraceSession" />
      </eventSink>
      <eventSink name="logSink" description="Outputs events to the Windows Event Log." type="Microsoft.EnterpriseInstrumentation.EventSinks.LogEventSink">
         <parameter name="entryTypeFieldName" value="EventLogEntryTypeID" />
         <parameter name="defaultEntryType" value="Information" />
         <parameter name="machineName" value="." />
      </eventSink>
      <eventSink name="smtpSink" description="Outputs events to SMTP Mail." type="SWCorporate.SystemEx.Instrumentation.EventSinks.SmtpEventSink, SWCorporate.SystemEx.Instrumentation">
         <parameter name="smtpServer" value="SMTP.appservices.int" />
         <parameter name="from" value="netsvc00@swgao.com" />
         <parameter name="to" value="bdcdevelopers@fundraising.com" />
      </eventSink>
   </eventSinks>
   <eventCategories>
      <eventCategory name="All Events" description="A category that contains all events.">
         <event type="System.Object" />
      </eventCategory>
      <eventCategory name="Standard Events" description="A category containing all sample schema events.">
         <event type="Microsoft.EnterpriseInstrumentation.Schema.BaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </eventCategory>
      <eventCategory name="Request Tracing Events" description="A category containing all of the request tracing events.">
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </eventCategory>
      <eventCategory name="Known Event Types" description="This event category contains all event types seen by the ProjectInstaller.">
         <event type="Microsoft.EnterpriseInstrumentation.Schema.AdministrativeEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.AdminMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.AuditEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.AuditMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.AuditOperationEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.BaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.CommonEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ComPlusInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.DiagnosticEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ExternalErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ExternalErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.ComPlusInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.ManagedSecurityInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceNestedRequestEndEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceNestedRequestStartEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEndEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.TraceRequestStartEvent, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.Internal.WindowsSecurityInfo, Microsoft.EnterpriseInstrumentation, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.InternalErrorEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.InternalErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ManagedSecurityInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallEnterEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceCallReturnEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceDatabaseCommandEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceDatabaseEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalCallEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceExternalReturnEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
         <event type="Microsoft.EnterpriseInstrumentation.Schema.WindowsSecurityInfo, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </eventCategory>
      <eventCategory name="Error Message Event"
                     description="A category that contains only the Error Message Event.">
         <event type="Microsoft.EnterpriseInstrumentation.Schema.ErrorMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </eventCategory>
      <eventCategory name="Trace Message Event"
                     description="A category that contains only the Trace Message Event.">
         <event type="Microsoft.EnterpriseInstrumentation.Schema.TraceMessageEvent, Microsoft.EnterpriseInstrumentation.Schema, Version=7.0.5000.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </eventCategory>
   </eventCategories>
</configuration>