USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[special_offer]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[special_offer](
	[special_offer_id] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[brand_id] [int] NOT NULL,
	[product_class_id] [tinyint] NOT NULL,
	[special_offer_text] [varchar](255) NOT NULL,
 CONSTRAINT [PK_special_offer] PRIMARY KEY CLUSTERED 
(
	[special_offer_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[special_offer]  WITH NOCHECK ADD  CONSTRAINT [FK_special_offer_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[special_offer] CHECK CONSTRAINT [FK_special_offer_brand]
GO
