USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Lead_Activity_Closing_Reason]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lead_Activity_Closing_Reason](
	[Activity_Closing_Reason_ID] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Reason] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Lead_Activity_Closing_Reason] PRIMARY KEY CLUSTERED 
(
	[Activity_Closing_Reason_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
