USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Req_Employees]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Req_Employees](
	[Employee_Id] [int] IDENTITY(101,1) NOT FOR REPLICATION NOT NULL,
	[Employee_Name] [varchar](100) NOT NULL,
	[Is_MIS] [bit] NOT NULL,
	[Password] [varchar](20) NULL,
	[Email] [varchar](200) NULL,
	[Is_Manager] [bit] NOT NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [PK_Req_Employees] PRIMARY KEY NONCLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ__Req_Employees__39AD8A7F] UNIQUE NONCLUSTERED 
(
	[Employee_Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ__Req_Employees__3AA1AEB8] UNIQUE NONCLUSTERED 
(
	[Employee_Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
