USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[transfer_status]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transfer_status](
	[transfer_status_id] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[transfer_status_desc] [varchar](25) NOT NULL,
 CONSTRAINT [PK_transfer_status] PRIMARY KEY CLUSTERED 
(
	[transfer_status_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
