USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[lead_id_for_xavier]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lead_id_for_xavier](
	[lead_id] [int] NULL
) ON [PRIMARY]
GO
