USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[GL_Table]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_Table](
	[GL_Code] [varchar](20) NOT NULL,
	[Description] [varchar](50) NULL,
	[GL_Account_No] [varchar](20) NULL,
	[Debit_Credit] [varchar](1) NULL,
 CONSTRAINT [PK_GL_Table] PRIMARY KEY NONCLUSTERED 
(
	[GL_Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
