USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Template]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Template](
	[Partner_ID] [int] NOT NULL,
	[Template_Path] [varchar](256) NULL,
	[ReportCenterPasswd] [varchar](50) NULL,
 CONSTRAINT [PK_Template] PRIMARY KEY CLUSTERED 
(
	[Partner_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Template] ADD  CONSTRAINT [DF_Template_ReportCenterPasswd]  DEFAULT ('pass') FOR [ReportCenterPasswd]
GO
