USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[xHarmony]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xHarmony](
	[lead_id] [int] NULL,
	[year] [int] NULL
) ON [PRIMARY]
GO
