USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Organization_Status]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organization_Status](
	[Organization_Status_ID] [int] IDENTITY(2,1) NOT FOR REPLICATION NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Organization_Status] PRIMARY KEY NONCLUSTERED 
(
	[Organization_Status_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
