USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[hear_about_us_desc]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hear_about_us_desc](
	[hear_id] [tinyint] NOT NULL,
	[language_id] [tinyint] NOT NULL,
	[description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_hear_about_us_desc] PRIMARY KEY CLUSTERED 
(
	[hear_id] ASC,
	[language_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[hear_about_us_desc]  WITH CHECK ADD  CONSTRAINT [FK_hear_about_us_desc_hear_about_us] FOREIGN KEY([hear_id])
REFERENCES [dbo].[hear_about_us] ([hear_id])
GO
ALTER TABLE [dbo].[hear_about_us_desc] CHECK CONSTRAINT [FK_hear_about_us_desc_hear_about_us]
GO
ALTER TABLE [dbo].[hear_about_us_desc]  WITH CHECK ADD  CONSTRAINT [FK_hear_about_us_desc_languages] FOREIGN KEY([language_id])
REFERENCES [dbo].[languages] ([language_id])
GO
ALTER TABLE [dbo].[hear_about_us_desc] CHECK CONSTRAINT [FK_hear_about_us_desc_languages]
GO
