USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Alias_Promotion]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alias_Promotion](
	[Cookie_Content] [varchar](255) NOT NULL,
	[Promotion_ID] [int] NOT NULL,
 CONSTRAINT [PK_Alias_Promotion] PRIMARY KEY CLUSTERED 
(
	[Cookie_Content] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
