USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Production_Status]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Production_Status](
	[Production_Status_ID] [int] NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_Production_Status] PRIMARY KEY NONCLUSTERED 
(
	[Production_Status_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Production_Status] ADD  CONSTRAINT [DF_Production_Status_Production_Status_ID]  DEFAULT (0) FOR [Production_Status_ID]
GO
