USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Promotion_Code]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Promotion_Code](
	[Promotion_Code_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Promotion_Code_Desc] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Promotion_Code] PRIMARY KEY CLUSTERED 
(
	[Promotion_Code_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
