USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Lead_Duplicates_Login]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lead_Duplicates_Login](
	[LEAD_DUPLICATES_LOGIN_ID] [int] NOT NULL,
	[DUPLICATES_FOUND] [varchar](255) NULL,
	[RELATED_TABLE] [varchar](255) NULL,
	[DETECTED_FIELDS] [varchar](255) NULL,
	[FIELDS_VALUES] [varchar](255) NULL,
	[NT_LOGIN] [varchar](255) NULL,
	[MACHINE] [varchar](255) NULL,
	[TIME_STAMP] [smalldatetime] NULL,
 CONSTRAINT [PK_Lead_Duplicates_Login] PRIMARY KEY CLUSTERED 
(
	[LEAD_DUPLICATES_LOGIN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
