USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Req_Language]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Req_Language](
	[Language_Id] [int] NOT NULL,
	[Language] [varchar](30) NULL,
 CONSTRAINT [PK_Req_Language] PRIMARY KEY NONCLUSTERED 
(
	[Language_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
