USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Web_Site]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Site](
	[Web_Site_Id] [int] IDENTITY(12,1) NOT FOR REPLICATION NOT NULL,
	[Web_Site_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Web_Site] PRIMARY KEY CLUSTERED 
(
	[Web_Site_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
