USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[EFO_Status]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EFO_Status](
	[Status_ID] [int] IDENTITY(6,1) NOT FOR REPLICATION NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EFO_Status] PRIMARY KEY NONCLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
