USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[EFO_Admin]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EFO_Admin](
	[Admin_ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UID] [varchar](20) NOT NULL,
	[Password] [varchar](32) NOT NULL,
 CONSTRAINT [PK_EFO_Admin] PRIMARY KEY NONCLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
