USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[eFr_Bounce_Mar_09_SC_Newsletter]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eFr_Bounce_Mar_09_SC_Newsletter](
	[email] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
