USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Bounced_Email]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bounced_Email](
	[Email] [varchar](75) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
