USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[organization_type]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[organization_type](
	[organization_type_id] [tinyint] NOT NULL,
	[party_type_id] [tinyint] NOT NULL,
	[organization_type_desc] [varchar](50) NOT NULL,
	[is_school] [bit] NOT NULL,
 CONSTRAINT [PK_organization_type] PRIMARY KEY CLUSTERED 
(
	[organization_type_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[organization_type]  WITH NOCHECK ADD  CONSTRAINT [FK_organization_type_party_type] FOREIGN KEY([party_type_id])
REFERENCES [dbo].[party_type] ([party_type_id])
GO
ALTER TABLE [dbo].[organization_type] CHECK CONSTRAINT [FK_organization_type_party_type]
GO
