USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[SS_Drop_Box]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SS_Drop_Box](
	[SS_Drop_Box_Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SS_Drop_Box_Name] [varchar](50) NOT NULL,
	[Display_Order] [int] NULL,
 CONSTRAINT [PK_SS_Drop_Box] PRIMARY KEY NONCLUSTERED 
(
	[SS_Drop_Box_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
