USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[credit_card_refund_request_status]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[credit_card_refund_request_status](
	[status_code] [char](3) NOT NULL,
	[description] [varchar](100) NULL,
 CONSTRAINT [PK_credit_card_refund_request_status] PRIMARY KEY CLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
