USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[QSP_Program]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QSP_Program](
	[QSP_Program_ID] [int] IDENTITY(3,1) NOT FOR REPLICATION NOT NULL,
	[Description] [varchar](100) NULL,
	[Base_Directory] [varchar](100) NULL,
 CONSTRAINT [PK_QSP_Program] PRIMARY KEY NONCLUSTERED 
(
	[QSP_Program_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
