USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Sale_To_Local_Sponsor]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sale_To_Local_Sponsor](
	[Sales_ID] [int] NOT NULL,
	[Brand_ID] [int] NOT NULL,
	[Local_Sponsor_ID] [int] NOT NULL,
	[Assigned_Date] [datetime] NULL,
	[Comments] [varchar](255) NULL,
 CONSTRAINT [PK_Sale_To_Local_Sponsor] PRIMARY KEY NONCLUSTERED 
(
	[Sales_ID] ASC,
	[Brand_ID] ASC,
	[Local_Sponsor_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
