USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[EFR_US_Aug_09_New_Lollis]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EFR_US_Aug_09_New_Lollis](
	[Lead_ID] [nvarchar](50) NULL,
	[First_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[FC_Name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
