USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[tbd_nortons_zipcodes]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbd_nortons_zipcodes](
	[zip_codes] [int] NULL
) ON [PRIMARY]
GO
