USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[tbl_NewsletterRecipient]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NewsletterRecipient](
	[Col001] [varchar](8000) NULL,
	[Col002] [varchar](8000) NULL,
	[Col003] [varchar](8000) NULL,
	[Col004] [varchar](8000) NULL,
	[Col005] [varchar](8000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
