USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Competitor]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Competitor](
	[Competitor_ID] [int] NOT NULL,
	[Business_Name] [varchar](100) NOT NULL,
	[Comments] [varchar](255) NULL,
 CONSTRAINT [PK_Competitor] PRIMARY KEY NONCLUSTERED 
(
	[Competitor_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
