USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[ll_December 2008 email_unsubs]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ll_December 2008 email_unsubs](
	[Column 0] [nvarchar](50) NULL,
	[Column 1] [nvarchar](50) NULL
) ON [PRIMARY]
GO
