USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[May_09_FR_All]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[May_09_FR_All](
	[email] [nvarchar](50) NULL,
	[name] [nvarchar](64) NULL
) ON [PRIMARY]
GO
