USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Newsletter]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Newsletter](
	[Newsletter_ID] [int] IDENTITY(2205,1) NOT FOR REPLICATION NOT NULL,
	[Referrer] [varchar](255) NULL,
	[Email] [varchar](100) NULL,
	[Fullname] [varchar](100) NULL,
	[Unsubscribed] [bit] NULL,
 CONSTRAINT [PK_Newsletter] PRIMARY KEY NONCLUSTERED 
(
	[Newsletter_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Newsletter] ADD  CONSTRAINT [DF_Newsletter_Unsubscribed]  DEFAULT (0) FOR [Unsubscribed]
GO
