USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[rs_threads]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rs_threads](
	[id] [int] NOT NULL,
	[seq] [int] NULL
) ON [PRIMARY]
GO
