USE [eFundraisingProd]
GO
/****** Object:  Table [dbo].[Flag_Pole]    Script Date: 02/14/2014 16:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Flag_Pole](
	[Flag_Pole_ID] [int] NOT NULL,
	[MDR_ID] [varchar](15) NULL,
 CONSTRAINT [PK_Flag_Pole] PRIMARY KEY NONCLUSTERED 
(
	[Flag_Pole_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
