vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Apr 2004 16:18:26 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{B865BAA2-B82B-4096-8FC3-A34550E2E453}
vti_backlinkinfo:VX|Beef_Jerky/Oberto/oberto.htm
vti_syncwith_localhost\\c\:\\documents and settings\\fin_jhs\\my documents\\ezupgrade/c\:/documents and settings/fin_jhs/my documents/ezupgrade:TR|19 Jan 2004 23:06:43 -0000
vti_cacheddtm:TX|23 Apr 2004 16:18:26 -0000
vti_filesize:IR|211
vti_cachedlinkinfo:VX|S|../../Background.jpg
vti_cachedsvcrellinks:VX|FSUS|Background.jpg
