@import url("../../../../css/base.css");

/* Global Application Styles
--------------------------------------------------------*/
body {background: #fff; padding: 10px 0}
#PageSubTable {width: 775px; background: #fff}
#ContentCell {height: 450px; padding: 8px}

/* Instructions Box */
#Instruction1_InstructCell {background: #F1F1F2; border: 1px solid #dedede; padding: 7px}

/* Error Messages */
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color: #343537}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font-size: 14px; font-weight: bold; color: #fff; background: #C01F21}
table.optionsbox {border: 1px solid #C01F21}

/* Form Styles */
.col2 .c1 {border-right: 1px dotted #343537}
#Form2 input, #Form2 select {font: 12px Arial, Helvetica, sans-serif; color: #343537; background: #fff; line-height: normal}
#ContentCell .formtbl td.input p {margin-top: 15px}

/* Type Styles
--------------------------------------------------------*/

/* Global Font Style */
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content,
#BreadCrumbs1_BreadCrumbs1, .Instructions {font-family: Arial, Helvetica, sans-serif}

/* Instructions */
.Instructions {font-size: 12px; line-height: 18px; color: #343537; text-align: left}

/* Page Headlines */
.Headings, #ContentCell h1 {font-size: 18px; font-weight: bold; text-transform: uppercase; color: #343537; border-bottom: 1px solid #C01F21; padding: 0 0 5px 0; margin: 0 0 15px 0}

/* Sub Headlines */
.subHeadings, #ContentCell h2, .Content h2 {font-size: 14px; font-weight: bold; color: #343537}
#ContentCell h2 {margin-bottom: 15px}
#ContentCell h2.divide {padding-top: 15px; border-top: 1px dotted #dedede}

/* Sub Headlines 2 */
#ContentCell h3 {font-size: 12px; font-weight: bold; color: #343537; margin: 0 0 3px 0}

/* Body Copy */
.Content, #BreadCrumbs1_BreadCrumbs1 {font-size: 12px; line-height: 18px; color: #343537; text-align: left}
#ContentCell p {font-size: 12px; margin: 0 0 15px 0}

/* Static Page List Styles */
.static #ContentCell li {margin: 0 0 15px 0}
.static #ContentCell li ul {margin: 15px 0 0 0; padding: 0; list-style: none}

/* Help Page Back To Top Link */
#ContentCell p.top {text-align: right}
#ContentCell p.top a {padding-left: 20px}

/* Body Link Styles */
.Content a {color: #C01F21; text-decoration: underline}
.Content a:hover  {color: #C01F21; text-decoration: none}
#Instruction1_InstructCell a {color: #C01F21; text-decoration: underline}
#Instruction1_InstructCell a:hover {color: #C01F21; text-decoration: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell {background: #D7E5F8 url(images/bn-tile.gif) repeat-x top; height: 68px; font-size: 11px}
#TopBannerCell .logo {margin-left: 10px; float: left; width: auto; font-size: 20px; font-weight: bold}
#TopBannerCell .logo a {color: #C01F21; text-decoration: none}
#TopBannerCell .cart {float: right; width: 200px; text-align: right}
#TopBannerCell .cart ul.cartnav {float: right; width: auto; text-align: right; margin: 0; padding: 0; list-style: none; font-size: 11px; font-weight: bold}
#TopBannerCell .cart ul.cartnav li {display: inline; float: left; margin: 0 10px 0 0}
#TopBannerCell .cart ul.cartnav li a {color: #FF6C00; text-decoration: none; padding: 2px 0; display: block}
#TopBannerCell .cart ul.cartnav li.account a {background: transparent url(images/bn-icon01.gif) no-repeat 0 50%; padding-left: 17px}
#TopBannerCell .cart ul.cartnav li.checkout a {background: transparent url(images/bn-icon03.gif) no-repeat 0 50%; padding-left: 19px}
#TopBannerCell .cart ul.shopcart {text-align: right; width: 100%; float: right; clear: both; margin: 5px 0 0 0; padding: 0; list-style: none}
#TopBannerCell .cart ul.shopcart li {display: inline}
#TopBannerCell .cart ul.shopcart li.items {margin-right: 5px}
#TopBannerCell .cart ul.shopcart li.total {margin-right: 10px}
#TopBannerCell .top-nav {display: none}

/* TopSubBanner Styles
--------------------------------------------------------*/
#TopSubBannerCell {background: url(images/bn-nav_tile.gif) repeat-x top; height: 32px; line-height: 32px; font-size: 12px}
#TopSubBannerCell ul {float: left; width: auto; margin: 0; padding: 0; list-style: none; background: transparent url(images/bn-nav_left.gif) no-repeat top left; height: 32px; line-height: 32px}
#TopSubBannerCell li {float: left; background: url(images/bn-nav_divide.gif) no-repeat top right}
#TopSubBannerCell li a {padding: 10px 20px; color: #333; text-decoration: none}
#TopSubBannerCell ul li ul {background: none}
#TopSubBannerCell ul li ul li {background: none; margin: 0; padding: 0}
#TopSubBannerCell ul li ul a {background: none; margin: 0; padding: 0}
#TopSubBannerCell .cartnav li {margin: 0 7px 0 0}
#TopSubBannerCell .shopcart li {margin: 0 7px 0 0}

/* Search Styles */
#TopSubBannerCell .search {float: right; width: 321px; height: 32px; line-height: 32px}
#TopSubBannerCell .search ul {width: 321px; height: 32px; line-height: normal; background: url(images/bn-search_bkgd.gif) no-repeat top left; margin: 0; padding: 0; list-style: none}
#TopSubBannerCell .search li {background: none; float: left; width: auto}
#TopSubBannerCell .search li a {padding: 0}
#TopSubBannerCell .search li.head {width: 129px; height: 32px; display: block; text-indent: -9999px; background: url(images/bn-search.gif) no-repeat 12px 7px}
#TopSubBannerCell .search li.advsearch {display: none}
#TopSubBanner1_SimpleSearch1_Panel1 {width: 321px; margin: 0; padding: 0; font-size: 11px; color: #0d0d0d}
#TopSubBanner1_SimpleSearch1_Panel1 a {margin: 4px 0 0 5px; display: block; width: auto; height: auto}
#TopSubBanner1_SimpleSearch1_Panel1 a:hover {color: #0d0d0d; text-decoration: none}
#TopSubBanner1_SimpleSearch1_Panel1 input {text-indent: 3px; font: 11px Arial, Helvetica, sans-serif; background: #fff; border: 1px solid #2B62AD; margin-top: 6px; width: 130px}

/* LeftColumnNav Styles
--------------------------------------------------------*/
#LeftColumnCell {background: #F1F1F2; width: 23%; border-right: 1px solid #fff}
#LeftColumnNav1_custommenu {width: 181px; background: url(images/lc-head_tile.gif) repeat-x top; float: left}
#LeftColumnNav1_custommenu li {float: left; clear: both; list-style: none; margin: 0; padding: 0; width: 181px}
#LeftColumnNav1_custommenu h2 {font-size: 12px; float: left; margin: 0; padding: 10px 0 10px 20px; text-indent: -9999px; background: url(images/lc-head.gif) no-repeat 20px 10px; width: 150px; display: block}
/*
#LeftColumnNav1_custommenu table#LeftColumnNav1_CMenubar2_dlMenu {float: left; margin: 5px 0 0 0; font-size: 12px}
#LeftColumnNav1_custommenu table#LeftColumnNav1_CMenubar2_dlMenu .LeftColumnText a {font-size: 11px; margin: 0 0 0 20px; line-height: 18px; color: #0d0d0d; font-weight: bold; text-decoration: none}
#LeftColumnNav1_custommenu table#LeftColumnNav1_CMenubar2_dlMenu .LeftColumnText a:hover {text-decoration: underline}
*/

.lc-nav #LeftColumnNav1_CMenubar2_MenuUL {float: left; margin: 5px 0 0 0; padding: 0; font-size: 12px}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL li a {font-size: 11px; margin: 0 0 0 20px; line-height: 18px; color: #0d0d0d; font-weight: bold; text-decoration: none}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL li a:hover {text-decoration: underline}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL li ul {margin: 0; padding: 0; list-style: none; float: left}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL div.search {padding-left: 20px; float: left}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search ul {font-size: 11px; font-weight: bold; width: 150px}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search li {margin: 0; padding: 0; float: left; width: auto}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search li a {margin: 0; padding: 0}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search li.head {}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search li.advsearch {clear: both}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .search li input {width: 100px}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .shopcart {font-size: 11px; font-weight: bold; margin: 10px 0 0 20px}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .shopcart a {margin: 0}
.lc-nav #LeftColumnNav1_CMenubar2_MenuUL .shopcart li {width: 100px}

/* Footer Styles
--------------------------------------------------------*/
#FooterCell {border-top: 1px solid #fff; font-size: 10px; background: url(images/ft-tile.gif) repeat-x top; padding-bottom: 10px}
#FooterCell a {color: #0d0d0d; text-decoration: none}
#FooterCell a:hover {text-decoration: underline}
#FooterCell ul {float: left; margin: 0; padding: 30px 0 0 10px; list-style: none}
#FooterCell li {display: inline; border-right: 1px solid #0d0d0d; padding: 0 5px}
#FooterCell li.item01 {padding-left: 0}
#FooterCell li.item05 {border-right: none}
#FooterCell p {float: right; margin: 0; padding: 30px 10px 0 0}
#FooterCell .powered {float: right; clear:right; margin: 5px 10px 0 0; padding-left: 164px; background: url(images/ft-credit.gif) no-repeat 0 0}
#FooterCell ul li ul {margin: 0; padding: 0}
#FooterCell ul li ul li {margin: 0; padding: 0; background: none; border: none}
#FooterCell ul li ul li a {border: none}
#FooterCell ul li .search ul {margin: 0 10px 0 0}
#FooterCell ul li .cartnav {margin: 0 10px 0 0}
#FooterCell ul li .cartnav li {margin: 0 5px 0 0}

/* Default Page Styles
--------------------------------------------------------*/
.default #ContentCell {color: #0d0d0d; padding:8px}
.default #ContentCell .df-welcome {float: left; width: 100%}
.default #ContentCell .df-welcome h1 {font-size: 18px; font-weight: bold; text-transform: uppercase; color: #0d0d0d; border-bottom: 1px solid #EC254D; padding: 0 0 5px 0; margin: 0 0 15px 0}
.default #ContentCell .df-welcome img {float: left; margin: 0 10px 4px 0; border: 1px solid #ccc}

.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%}
.default #ContentCell .df-cats h2 {font-size: 14px; font-weight: bold; color: #fff; background: #C01F21; margin: 0 0 15px 0; padding: 3px}
.default #ContentCell .df-cats ul {padding: 0; margin: 0 20px 30px 20px; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats li a img {margin-bottom: 3px}
.default #ContentCell .df-cats img {border: 1px solid #ccc}

/* Detail Page Styles
-------------------------------------------------------*/

/* Detail Template 1 */
#ProductDetail11_Swatches_Table1 {padding-right: 10px}
#ProductDetail11_trPrice, #ProductDetail11_trCustomPrice, #ProductDetail11_trSavings {font-size: 12px; font-weight: bold}
tr#ProductDetail11_trDescription td {border-top: 1px dotted #343537}
tr#ProductDetail11_trDescription td h1 {font-size: 12px; color: #343537; text-transform: uppercase}
tr#ProductDetail11_trCategory td {padding-bottom: 10px}
tr#ProductDetail11_trEMailFriend td.button {text-align: left}

/* Detail Template 2 */
tr#ProductDetail21_trDescription td {border-top: 1px dotted #343537}
tr#ProductDetail21_trDescription td h1 {font-size: 12px; font-weight: bold; color: #343537; text-transform: uppercase; margin-bottom: 0; padding: 0; border: none}
#ProductDetail21_trPrice, #ProductDetail21_trCustomPrice, #ProductDetail21_trSavings {font-size: 12px; font-weight: bold}