<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostalAddressFix.Logic.Properties.Settings.QSPFulfillmentConnectionString"
            connectionString="Data Source=uspvl3k09-dev;Initial Catalog=QSPFulfillment;User ID=QSPFormWebUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>