<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BPPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
	<appSettings>
		<add key="ePayCertificatePathProd" value="C:\www\QPay-DEV\Webservice\tcsepayprod.cer.txt"/>
		<add key="ePayCertificatePathTest" value="C:\www\QPay-DEV\Webservice\tcsepaytest.cer.txt"/>
		<add key="ePayEnvironment" value="PROD"/>
		<!-- Either TEST or PROD -->
		<add key="BPS" value="server=GASQLP02;database=BatchPaymentSystem;uid=BatchPaymentSystemUser;pwd=wfty5%JP"/>
	</appSettings>
	<connectionStrings>
		<add name="BPS" providerName="System.Data.SqlClient" connectionString="server=GASQLP02;database=BatchPaymentSystem;uid=BatchPaymentSystemUser;pwd=wfty5%JP"/>
	</connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false" targetFramework="4.5.1"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <BPPS.Properties.Settings>
            <setting name="ErrorNotificationFrom" serializeAs="String">
                <value>QPay@gafundraising.com</value>
            </setting>
            <setting name="ErrorNotificationTo" serializeAs="String">
                <value>GADevelopers@swgao.com</value>
            </setting>
            <setting name="SMTPSERVER" serializeAs="String">
                <value>outgoingsmtp</value>
            </setting>
            <setting name="ErrorNotificationSubject" serializeAs="String">
                <value>Error occurred on QPAY Webservice</value>
            </setting>
            <setting name="BPPS_ePayProd2_EPayItemService" serializeAs="String">
                <value>https://service.customersvc.com/EPay2App/services/EPay2Item</value>
            </setting>
    </BPPS.Properties.Settings>
  </applicationSettings>
 <system.serviceModel>
   <behaviors>
     <endpointBehaviors>
       <behavior name="B2B">
         <clientCredentials>
           <clientCertificate findValue="515896940aaee4fce04cecb6327456f5c7b3245d" x509FindType="FindByThumbprint"
               storeLocation="LocalMachine" storeName="My" />
           <serviceCertificate>
             <authentication certificateValidationMode="None"/>
           </serviceCertificate>
         </clientCredentials>
       </behavior>
     </endpointBehaviors>
   </behaviors>
  <bindings>
   <netNamedPipeBinding>
    <binding name="NetNamedPipeBinding_PaymentProcessingService"
     closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
     sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered"
     transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
     maxReceivedMessageSize="65536">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport protectionLevel="EncryptAndSign" />
     </security>
    </binding>
   </netNamedPipeBinding>
   <netTcpBinding>
    <binding name="NetTcpBinding_PaymentProcessingService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
     hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
     maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="true" />
     <security mode="Transport">
      <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
      <message clientCredentialType="Windows" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://prod.gacore.int/Server/PaymentProcessingService.svc/intranet"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PaymentProcessingService"
    contract="GAPayNETTCP.PaymentProcessingService.PaymentProcessingService"
    name="NetTcpBinding_PaymentProcessingService">
    <identity>
     <userPrincipalName value="GAProxyProd@swgao.int" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>
