<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes" />
  </system.web>
  <log4net>
    <root>
      <level value="DEBUG" xdt:Transform="Remove"/>
      <level value="WARN" xdt:Transform="Insert"/>
      <appender-ref ref="AdoNetAppender" xdt:Transform="Insert"/>
    </root>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" xdt:Transform="Insert">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=GASQLT02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Core" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
   <appSettings>
      <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="GAPay.BindingName" value="NetNamedPipeBinding_PaymentProcessingService"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="fundraising.host" value="https://test.fundraising.com"   xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="IsMonerisPaymentServiceUsed" value="false"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
   </appSettings>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
         </customHeaders>
      </httpProtocol>
   </system.webServer>
   <system.serviceModel>
      <client>
         <endpoint name="NetTcpBinding_PaymentProcessingService" address="net.tcp://test.gacore.int/Server/PaymentProcessingService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
         </endpoint>
         <endpoint address="net.pipe://local.gacore.int/Server/PaymentProcessingService.svc/local" name="NetNamedPipeBinding_PaymentProcessingService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
         </endpoint>
         <endpoint name="DispatchClient" address="net.tcp://test.appservices.int/server/DispatchService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"></endpoint>
      </client>
   </system.serviceModel>
</configuration>