<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <swCorporate.systemEx.messaging xdt:Transform="Replace">
    <instrumentation applicationName="GA.BDC.WebApi.Core"
                     messageQueueHost="SQLP08"
                     messageQueueAceTrusteeList="SNA\Trusted GA PROD Servers;SNA\Trusted GA PROD Service Accounts;SNA\Trusted Corporate PROD Servers;SNA\Trusted Corporate PROD Service Accounts;SNA\Trusted Corporate Developer Workstations;sna\developmentadmingroup" />
  </swCorporate.systemEx.messaging>
   <connectionStrings>
      <add name="EFRCommon" connectionString="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Core;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="FastFundraising" connectionString="data source=GASQLP02;initial catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.WebApi.Core;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="EFundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.WebApi.Fundraising" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="MassMailer" connectionString="Data Source=MONQSPMVA1, 1435;Initial Catalog=rd_mailer;connection timeout=100;user id=rd_mailer;password=xh1tqaeu" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="EFundStore" providerName="System.Data.SqlClient" connectionString="Data Source=GASQLP02;Initial Catalog=efundstore;Integrated Security=True;Application Name=GA.BDC.WebApi.Fundraising;" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
     <add name="ESubs" connectionString="data source=GASQLP02;initial catalog=esubs_global_v2;Integrated Security=True;Application Name=GA.BDC.WebApi.Core;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
   </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
   <paypal>
      <settings>
         <add name="mode" value="live" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
         <add name="clientId" value="AZZa0gaVcaz1RBIpkIU4hgDbkwBs0__hbLTRx5QlSU62Ss0ENS802jU7wkCjrVogcBY5cqT4q1uiQC8o" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
         <add name="clientSecret" value="EDmf3BeFjbpSR07CHCVhdqKwVp5VwzxuxmEYjJFp1_XrOQ3k6niQKtnRCDOwzM08lz5txVzYAICDzyYP" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      </settings>
   </paypal>
   <appSettings>
      <add key="LeadReceivedReport" value="Xavier.Desaunettes@fundraising.com,jason.farrell@fundraising.com,malcindor@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      <add key="US.Root.PackageId" value="786" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="Canada.Root.PackageId" value="832" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="GAPay.BindingName" value="NetNamedPipeBinding_PaymentProcessingService"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="OrderConfirmationCopyEmailsCC" value="info@fundraising.com " xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      <add key="OrderConfirmationCopyEmailsBCC" value="jason.farrell@fundraising.com,Xavier.Desaunettes@fundraising.com,Marc.Alcindor@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
     <add key="GALeadCopyEmailsBCC"  value="jason.farrell@fundraising.com,Xavier.Desaunettes@fundraising.com,Marc.Alcindor@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" /> 
     <add key="SaleCreatedEmails" value="jason.farrell@fundraising.com,Xavier.Desaunettes@fundraising.com,info@fundraising.com " xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      <add key="SaleFailedEmail" value="jason.farrell@fundraising.com,Xavier.Desaunettes@fundraising.com,info@fundraising.com ,Marc.Alcindor@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      <add key="fundraising.host" value="https://www.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
     <add key="ProductReviewSubmitted" value="Sadday.Zivec@fundraising.com,info@fundraising.com " xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="BrochureSubmitted" value="Xavier.Desaunettes@fundraising.com,Marc.Alcindor@fundraising.com,jason.farrell@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
     <add key="SaveLeadsPardot" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
     <add key="IsMonerisPaymentServiceUsed" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
     <add key="MonerisHostURL" value="https://www3.moneris.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
     <add key="IsMonerisTestMode" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
   </appSettings>
   <log4net>
      <root>
         <level value="DEBUG" xdt:Transform="Remove"/>
         <level value="WARN" xdt:Transform="Insert"/>
      </root>
      <appender name="RollingLogFileAppender" xdt:Transform="Remove" xdt:Locator="Match(name)">
      </appender>
      <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender" xdt:Transform="Insert">
         <to value="jason.farrell@fundraising.com"/>
         <from value="no-reply@swgao.com"/>
         <subject value="Exceptions at GA.BDC.WebApi.Core"/>
         <smtpHost value="outgoingsmtp"/>
         <bufferSize value="1" />
         <lossy value="false" />
         <threshold value="ERROR"/>
         <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%newline%date %-5level %logger - %message%newline%newline%newline" />
         </layout>
      </appender>
      <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" xdt:Transform="Insert">
         <bufferSize value="5" />
         <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
         <connectionString value="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Core" />
         <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
         <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout" />
         </parameter>
         <parameter>
            <parameterName value="@thread" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%thread" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@log_level" />
            <dbType value="String" />
            <size value="50" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%level" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@logger" />
            <dbType value="String" />
            <size value="255" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%logger" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@message" />
            <dbType value="String" />
            <size value="8000" />
            <layout type="log4net.Layout.PatternLayout">
               <conversionPattern value="%message" />
            </layout>
         </parameter>
         <parameter>
            <parameterName value="@exception" />
            <dbType value="String" />
            <size value="8000" />
            <layout type="log4net.Layout.ExceptionLayout" />
         </parameter>
      </appender>
   </log4net>
   <system.webServer>
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
         </customHeaders>
      </httpProtocol>
   </system.webServer>
   <system.serviceModel>
      <client>
         <endpoint name="NetTcpBinding_PaymentProcessingService" address="net.tcp://prod.gacore.int/Server/PaymentProcessingService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
         </endpoint>
         <endpoint address="net.pipe://prod.gacore.int/Server/PaymentProcessingService.svc/local" name="NetNamedPipeBinding_PaymentProcessingService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
         </endpoint>
         <endpoint name="DispatchClient" address="net.tcp://prod.appservices.int/server/DispatchService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"></endpoint>
      </client>
   </system.serviceModel>
</configuration>