<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <validation>
    <type name="Data.Batch" defaultRuleset="PropertyRuleset" assemblyName="Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <ruleset name="PropertyRuleset">
        <properties>
          <property name="StatusInstance">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              messageTemplate="Invalid status" tag="StatusInstance" name="StatusInstance">
              <domain>
                <add name="40001" />
                <add name="40002" />
              </domain>
            </validator>
          </property>
        </properties>
      </ruleset>
      <ruleset name="Batch Header Validations">
        <properties>
          <property name="OrderID">
            <validator type="BusinessServices.Validations.BatchOrderExistsValidator,BusinessServices"
              messageTemplate="OrderID already exists" name="Header" />
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
  <connectionStrings>
    <add name="QSPCanadaOrderManagementEntities" connectionString="metadata=res://*/OrderModel.csdl|res://*/OrderModel.ssdl|res://*/OrderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TMPQSPMDA1\QSPCanada;initial catalog=QSPCanadaOrderManagement;persist security info=True;user id=ktracy1918;password=Ktra0198;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
