@{
   ViewBag.Title = "Confirmation page";
   ViewBag.Description = "Easy Sports Apparel Confirmation Page";
   ViewBag.Keywords = "";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("ConfirmationPage", "Home");

}

<h2>ConfirmationPage</h2>

