@{
   ViewBag.Title = "Contact";
   ViewBag.Description = "Easy Apparel Contact Us";
   ViewBag.Keywords = "Contact Us, fundraising ideas";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Contact", "Home");

}


<style>

   .btn.btn-default:hover {
      color: #fff;
      background-color: #00c8c8;
      border-color: #00c8c8;
   }
</style>

<div class="row">
   <div class="col-sm-12">
      <div class="card text-white text-center" style="border-radius:0;">
         <img class="card-img" src="/Content/home/contact_image_top.jpg" alt="Card image">
         <div class="card-img-overlay" style="margin-top:1%">
            <p class="card-title font-weight-bold" style="color:#fff; font-size:2.5vw">GET IN TOUCH</p>
            <p class="card-text" style="color:#fff; font-size:2vw">WE LOVE TO HEAR FROM YOU</p>
          </div>
      </div>
   </div>

</div>

<div class="row">
   <div class=" col-lg-4 col-lg-offset-1 col-xs-offset-1" style="margin-top:30px; margin-bottom:30px;">
      <h2 style="color:#01c9c7;">CONTACT US TODAY</h2><br />
      Our experts in fundraising will glady help you understand your options,
      how the program works and more. Get in touch with us today.
      <br /><br /><br />
      <img src="/Content/home/icon_phone.jpg" style="padding-right:10px;" alt="call us" title="call us" /><span style="font-size:18px;"><a href="tel:+1-800-443-5353" style="text-decoration: none;" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">1.800.443.5353</a></span><br /><br />
      <img src="/Content/home/icon_www.jpg" style="padding-right:10px" alt="email us" title="email us" /><span style="font-size:18px;"> <a href="https://www.easyapparelfundraising.com" onclick="ga('send', 'social', 'email easyapparel contact page', 'Click'); ">www.easyapparelfundraising.com</a></span><br /><br />
      <img src="/Content/home/icon_email.jpg" style="padding-right:10px" alt="email us" title="email us" /><span style="font-size:18px;"> <a href="mailto:info@easyapparelfundraising.com" onclick="ga('send', 'social', 'email easyapparel contact page', 'Click'); ">info@easyapparelfundraising.com</a></span><br /><br />
      <img src="/Content/home/icon_insta.jpg" style="padding-right:10px" alt="check our instagram" title="check our instagram" /><span style="font-size:18px;"><a href="https://instagram.com/easyapparelfundraising/" onclick="ga('send', 'social', 'easyapparel Instagram', 'Click'); " target="_blank">easyapparelfundraising</a></span>
   </div>
   <div class=" col-lg-1"></div>
   <div class=" col-lg-5 col-xs-offset-1" style="margin-top:40px; margin-bottom:30px;">
      <h4>GET STARTED</h4><br />
      Start raising funds today! You already have a logo or name? You found a brochure you like? Let us create the best program for you and your group.<br /><br />
      <img src="/Content/home/shirts.jpg" alt="check our tshirts" title="check our tshirts" /><br /><br />
      <a href="/get-started" class="btn btn-default btn-lg" type="button" onclick="ga('send', 'event', 'GET STARTED contact page', 'Click');">START NOW</a><br /><br />
   </div>
</div>


