@using GA.BDC.Shared.Entities

@{
   ViewBag.Title = "Easy Apparel Fundraising";
   ViewBag.Description = "Easy Sports Apparel Fundraising Ideas";
   ViewBag.Keywords = "fundraising ideas, sports apparel, fundraising sports";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Index", "Home");

}

<div class="row">
   <div class="col-sm-12">
      <div class="card text-white" style="border-radius:0;">
         <img class="card-img" src="~/Content/home/top_banner.jpg" alt="Card image">
         <div class="card-img-overlay" style="margin-left:10%; margin-top:2%">
            <p class="card-title font-weight-bold" style="color:#343335; font-size:2.5vw">RAISE FUNDS WITH<br />CUSTOM APPAREL</p><br />
            <p class="card-text d-none d-md-block" style="color:#343335; font-size:2vw">Personalize your favorite <br />items and sell them for a profit.</p>
            <p class="card-text d-none d-md-block d-none d-lg-block">
               <a href="@Url.Action("getstarted", "home")" type="button" class="btn btn-default  btn-lg  btn-responsive" style="border:none; margin-top:10px; color:white; background-color: #01c9c7 !important;" onclick="ga('send', 'event', 'GET STARTED', 'Click', 'GET STARTED');">GET STARTED</a>
            </p>
            <p class="card-text d-md-none">
               <a href="@Url.Action("getstarted", "home")" type="button" class="btn btn-default btn-sm  btn-responsive" style="border:none; margin-top:-4px; color:white; background-color: #01c9c7 !important;" onclick="ga('send', 'event', 'GET STARTED', 'Click', 'GET STARTED');">GET STARTED</a>
            </p>
         </div>
      </div>
   </div>

</div>


<div class="row" style="margin-top:10px">
   <div class="col-sm-12">
      <p class="text-center" style="font-size:2vw">CUSTOMIZE APPAREL WITH YOUR OWN LOGO OR NAME FOR FREE</p>
   </div>
</div>

<div class="row" style="margin-top:10px">
   <div class="col-sm text-center" style="margin-bottom:10px">

      <img src="~/Content/home/first_set.jpg" class="img-fluid" />
   </div>
   <div class="col-sm text-center" style="margin-bottom:10px">

      <img src="~/Content/home/second_set.jpg" class="img-fluid" />
   </div>

</div>


<div class="row" style="background-color:#51d9d8">
   <div class="col-sm-12" style="margin-top:20px; margin-bottom:20px; text-align:center;">
      <div style="color:#fff; font-size:3.5vw;" class="font-weight-bold">Easy and Unique <span style="color:#536069">Apparel Fundraising</span></div><br />
      <div style="color:#fff; font-size:3vw;">
         - No hassle<br />
         - No minimum per item<br />
         - No Inventory<br />
      </div>
      <br />
      <a href="@Url.Action("program", "howitworks")" class="btn btn-default btn-lg btn-border" style="font-weight:bold;border-radius:0;  border:none; margin-top:10px; color:white; background-color: #595b5c !important; padding: 10px; width:30%; font-size:25px" onclick="ga('send', 'event', 'Learn more', 'Click', 'Learn more');">LEARN MORE</a>

   </div>
</div>

<div class="row" style="background-color:#fff; margin-bottom:10px">
   <div class="col-sm-12" style="margin-top:20px; text-align:center;">
      <div style="color:#51d9d8; font-size:2.8vw; font-weight:bold">TAKE A LOOK AT OUR BROCHURES</div>
      <div style="color:#4d5a63; font-size:2vw">FROM PRE-SET TO CUSTOMIZE PROGRAMS<br />THERE'S A BROCHURE PERFECT FOR YOU</div>
   </div>


</div>



<div class="row" style="margin-bottom:15px">
   <div class="col-md-6 text-center">
      <img src="~/Content/home/brochure_homepage.jpg" class="img-fluid align-middle" />
   </div>
   <div class="col-md-6 text-center">
      <img src="~/Content/home/order_taker_homepage.jpg" class="img-fluid align-middle" />
   </div>

</div>


<div class="row justify-content-around" style="margin-bottom:15px; margin-top:15px">
   
   <p class="col-sm-12 col-md-5 text-center" style="background-color:#333333; text-align:center; color:white; font-size:20px; padding-bottom:20px; padding-top:20px; height:65px">
      <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
   </p>
  
   <p class="col-sm-12 col-md-5 text-center" style="background-color:#545454; text-align:center; padding-bottom:10px; padding-top:5px; color:white; font-size:20px; height:65px">
      LOOKING FOR WHOLESALE PRICES <br /><a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>
    </p>
</div>



<div class="row" style="margin-bottom:10px">
   <div class="col-sm-12" style="margin-top:10px; text-align:center;">
      <p style="color:#4d5a63; font-size:2.5vw;"> GET INSPIRED BY WHAT OTHERS HAVE DONE</p>

   </div>


</div>


<div class="row" style="margin-bottom:10px">
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_1.jpg" class="img-fluid align-middle" />
   </div>
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_2.jpg" class="img-fluid align-middle" />
   </div>
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_3.jpg" class="img-fluid align-middle" />
   </div>

</div>



<div class="row">
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_4.jpg" class="img-fluid align-middle" />
   </div>
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_5.jpg" class="img-fluid align-middle" />
   </div>
   <div class="col-md-4 text-center" style="margin-bottom:10px">
      <img src="~/Content/home/example_6.jpg" class="img-fluid align-middle" />
   </div>

</div>


