USE [QSPCanadaCommon]
GO
/****** Object:  StoredProcedure [dbo].[USP_RESOLVE_DATA_MAPPING]    Script Date: 06/07/2017 09:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************
	DATA EXPORT FOR RESOLVE CORPORATION 
	=========================================================
	EXPORT CAMPAIGN AND ACCOUNT DATA INTO TEMP TABLE. THEN,
	DATA WILL BE REFORMATED WITH REQUIREMENTS OF RESOLVE.
	=========================================================
	LOCATION : USPVL2K58.US.QSPCANADACOMMON
	=========================================================
	CREATE: 2005-09-23 BY DONG YANG
	=========================================================
	UPDATE: ADDING ZIP CODE FORMAT FILTER
			2005-09-27 BY DONG
	=========================================================
 **************************************************************/

CREATE PROCEDURE [dbo].[USP_RESOLVE_DATA_MAPPING]

AS

BEGIN

SET NOCOUNT ON
	-- CAMPAIGN DATA
	-- 'SELECT' STATEMENT IS FROM QSPCANADACOMMON.DBO.PR_GENERATECAMPAIGNLISTFORRESOLVE
	
	DELETE RESOLVE_CAMPAIGN
	
	INSERT INTO RESOLVE_CAMPAIGN (
		 [ID]
		,FMID
		,LANG
		,STARTDATE
		,ENDDATE
		,BILLTOACCOUNTID
		,SHIPTOACCOUNTID
		,ESTIMATEDGROSS
		,NUMBEROFPARTICIPANTS
		,NUMBEROFCLASSROOMS
		,NUMBEROFSTAFF
		,ISSTAFFORDER
		,CONTACTFIRSTNAME
		,CONTACTLASTNAME
		,CONTACTEMAIL
		,CONTACTPHONE
		,CONTACTFAX)
	SELECT TOP 65500
		 CAMP.[ID]
		,FMID
		,CAMP.LANG
		,CONVERT(VARCHAR, STARTDATE, 101) STARTDATE
		,CONVERT(VARCHAR, ENDDATE, 101) ENDDATE
		,BILLACCT.[ID] BILLTOACCOUNTID
		,SHIPACCT.[ID] SHIPTOACCOUNTID
		,CAMP.[ESTIMATEDGROSS]
		,NUMBEROFPARTICIPANTS
		,NUMBEROFCLASSROOOMS
		,NUMBEROFSTAFF
		,CAMP.ISSTAFFORDER
		,CONT.[FIRSTNAME] CONTACTFIRSTNAME
		,CONT.[LASTNAME] CONTACTLASTNAME
		,CONT.[EMAIL] CONTACTEMAIL
		,PH.[PHONENUMBER] CONTACTPHONE
		,PHF.[PHONENUMBER] CONTACTFAX
	 FROM 
		QSPCANADACOMMON.DBO.CAMPAIGN CAMP
		LEFT JOIN QSPCANADACOMMON.DBO.CACCOUNT     BILLACCT
			ON CAMP.[BILLTOACCOUNTID] = BILLACCT.[ID]	
		LEFT JOIN QSPCANADACOMMON.DBO.CONTACT      CONT
			ON CAMP.[SHIPTOCAMPAIGNCONTACTID] = CONT.[ID]
		LEFT JOIN QSPCANADACOMMON.DBO.PHONE        PH
			ON CONT.[PHONELISTID] = PH.[PHONELISTID] 
			AND PH.[TYPE] <> 30503 --NOT FAX
			AND PH.TYPE IS NOT NULL
		LEFT JOIN QSPCANADACOMMON.DBO.PHONETYPE        PHTYPE
			ON PH.[TYPE] = PHTYPE.[PHONETYPEID]	
		LEFT JOIN QSPCANADACOMMON.DBO.PHONE        PHF
			ON CONT.[PHONELISTID] = PHF.[PHONELISTID] 
			AND PHF.[TYPE] = 30503 --FAX
		LEFT JOIN QSPCANADACOMMON.DBO.CACCOUNT     SHIPACCT
			ON CAMP.[SHIPTOACCOUNTID] = SHIPACCT.[ID]
	WHERE STARTDATE >='7/1/10'


	-- FMID
	UPDATE RESOLVE_CAMPAIGN SET FMID = SUBSTRING(FMID, 1, 50) WHERE LEN(FMID) > 50
	-- LANG
	UPDATE RESOLVE_CAMPAIGN SET LANG = SUBSTRING(LANG, 1, 2) WHERE LEN(LANG) > 2
	UPDATE RESOLVE_CAMPAIGN SET LANG = 'EN' WHERE LANG NOT IN ('EN', 'FR')
	-- startdate
	--ENDDATE
	-- BILLTOACCOUNTID
	UPDATE RESOLVE_CAMPAIGN SET BILLTOACCOUNTID = 0 WHERE ISNUMERIC(BILLTOACCOUNTID) <> 1
	-- SHIPTOACCOUNTID
	UPDATE RESOLVE_CAMPAIGN SET SHIPTOACCOUNTID = 0 WHERE ISNUMERIC(SHIPTOACCOUNTID) <> 1
	--ESTIMATEDGROSS
	UPDATE RESOLVE_CAMPAIGN SET ESTIMATEDGROSS = 0 WHERE ISNUMERIC(ESTIMATEDGROSS) <> 1	
	-- NUMBEROFPARTICIPANTS
	UPDATE RESOLVE_CAMPAIGN SET NUMBEROFPARTICIPANTS = 0 WHERE ISNUMERIC(NUMBEROFPARTICIPANTS) <> 1
	-- NUMBEROFCLASSROOOMS
	UPDATE RESOLVE_CAMPAIGN SET NUMBEROFCLASSROOMS = 0 WHERE ISNUMERIC(NUMBEROFCLASSROOMS) <> 1
	-- NUMBEROFSTAFF
	UPDATE RESOLVE_CAMPAIGN SET NUMBEROFSTAFF = 0 WHERE ISNUMERIC(NUMBEROFSTAFF) <> 1
	-- ISSTAFF
	UPDATE RESOLVE_CAMPAIGN SET ISSTAFFORDER = 0 WHERE ISSTAFFORDER NOT IN ('1', '0')
	-- CONTACTFIRSTNAME
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFIRSTNAME = SUBSTRING(CONTACTFIRSTNAME, 1, 30) WHERE LEN(CONTACTFIRSTNAME) > 30
	-- CONTACTLASTNAME
	UPDATE RESOLVE_CAMPAIGN SET CONTACTLASTNAME = SUBSTRING(CONTACTLASTNAME, 1, 30) WHERE LEN(CONTACTLASTNAME) > 30
	-- CONTACTEMAIL
	UPDATE RESOLVE_CAMPAIGN SET CONTACTEMAIL = SUBSTRING(CONTACTEMAIL, 1, 60) WHERE LEN(CONTACTEMAIL) > 60
	--FAKE EMAIL ADDRESS SOMEONE@SOMEWHERE.SOM
	UPDATE RESOLVE_CAMPAIGN SET CONTACTEMAIL = 'SOMEONE@SOMEWHERE.SOM' WHERE CONTACTEMAIL LIKE '%[~!@#$%^&*()_+-= ][;\,`./]%'

	-- CONTACTPHONE
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = '1234567890' WHERE ISNULL(CONTACTPHONE, '') = ''
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, '(', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, ')', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, '-', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, '/', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, 'NA', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, '*', '') WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = REPLACE(CONTACTPHONE, ' ', '')
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = SUBSTRING(CONTACTPHONE, 1, 10) 
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = '1234567890' FROM RESOLVE_CAMPAIGN WHERE ISNUMERIC(CONTACTPHONE) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = '1234567890' FROM RESOLVE_CAMPAIGN WHERE cast(CONTACTPHONE as numeric) = 0
	UPDATE RESOLVE_CAMPAIGN SET CONTACTPHONE = CONTACTPHONE + REPLACE(SPACE(10 - LEN(CONTACTPHONE)), ' ', '0') FROM RESOLVE_CAMPAIGN WHERE LEN(CONTACTPHONE) < 10	

	-- CONTACTFAX
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = '1234567890' WHERE ISNULL(CONTACTFAX, '') = ''
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, '(', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, ')', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, '-', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, '/', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, 'NA', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, '*', '') WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = REPLACE(CONTACTFAX, ' ', '')
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = SUBSTRING(CONTACTFAX, 1, 10) 
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = '1234567890' FROM RESOLVE_CAMPAIGN WHERE ISNUMERIC(CONTACTFAX) <> 1
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = '1234567890' FROM RESOLVE_CAMPAIGN WHERE cast(CONTACTFAX as numeric) = 0
	UPDATE RESOLVE_CAMPAIGN SET CONTACTFAX = CONTACTFAX + REPLACE(SPACE(10 - LEN(CONTACTFAX)), ' ', '0') FROM RESOLVE_CAMPAIGN WHERE LEN(CONTACTFAX) < 10	

	
	-- ACCOUNT DATE
	DELETE RESOLVE_ACCOUNT
	
	INSERT INTO RESOLVE_ACCOUNT (
		 ACCTID
		,ACCTNAME
		,SHIPPINGADDRESS
		,SHIPPINGADDRESS2
		,SHIPPINGCITY
		,SHIPPINGSTATE
		,SHIPPINGZIP
		,BILLINGADDRESS
		,BILLINGADDRESS2
		,BILLINGCITY
		,BILLINGSTATE
		,BILLINGZIP
		,PHONENUMBER
		)
	SELECT TOP 65500
		A.ID AS ACCTID, 
		A.NAME AS ACCTNAME,
		ADSHIP.STREET1 		AS SHIPPINGADDRESS,
		ADSHIP.STREET2 		AS SHIPPINGADDRESS2,
		ADSHIP.CITY      		AS SHIPPINGCITY,
		ADSHIP.STATEPROVINCE	AS SHIPPINGSTATE,
		ADSHIP.POSTAL_CODE      	AS SHIPPINGZIP,
		ADBILL.STREET1 		AS BILLINGADDRESS,
		ADBILL.STREET2 		AS BILLINGADDRESS2,
		ADBILL.CITY      		AS BILLINGCITY,
		ADBILL.STATEPROVINCE	AS BILLINGSTATE,
		ADBILL.POSTAL_CODE      	AS BILLINGZIP,
		PHONENUMBER
	FROM  
		QSPCANADACOMMON..CACCOUNT A 
		LEFT JOIN QSPCANADACOMMON..ADDRESSLIST AL ON A.ADDRESSLISTID = AL.ID
		LEFT JOIN QSPCANADACOMMON..ADDRESS ADSHIP ON AL.ID = ADSHIP.ADDRESSLISTID AND ADSHIP.ADDRESS_TYPE = 54001 --SHIP TO
		LEFT JOIN QSPCANADACOMMON..ADDRESS ADBILL   ON AL.ID = ADBILL.ADDRESSLISTID   AND ADBILL.ADDRESS_TYPE = 54002 --USE SHIP TO FOR BOTH.  BILL TO=2
		LEFT JOIN QSPCANADACOMMON..PHONE PHONE ON  A.PHONELISTID = PHONE.PHONELISTID AND PHONE.TYPE = 30501
	
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = 'NA' WHERE RTRIM(LTRIM(ISNULL(SHIPPINGADDRESS, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGCITY = 'NA' WHERE RTRIM(LTRIM(ISNULL(SHIPPINGCITY, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGSTATE = 'NA' WHERE RTRIM(LTRIM(ISNULL(SHIPPINGSTATE, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A 0A0' WHERE RTRIM(LTRIM(ISNULL(SHIPPINGZIP, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = 'NA' WHERE RTRIM(LTRIM(ISNULL(BILLINGADDRESS, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET BILLINGCITY = 'NA' WHERE RTRIM(LTRIM(ISNULL(BILLINGCITY, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET BILLINGSTATE = 'NA' WHERE RTRIM(LTRIM(ISNULL(BILLINGSTATE, ''))) = ''
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A 0A0' WHERE RTRIM(LTRIM(ISNULL(BILLINGZIP, ''))) = ''

	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'O' + SUBSTRING(SHIPPINGZIP, 2, 5) WHERE SUBSTRING(SHIPPINGZIP, 1, 1) = '0'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = SUBSTRING(SHIPPINGZIP, 1, 2) + 'O' + SUBSTRING(SHIPPINGZIP, 4, 3) WHERE SUBSTRING(SHIPPINGZIP, 3, 1) = '0'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = SUBSTRING(SHIPPINGZIP, 1, 4) + 'O' + SUBSTRING(SHIPPINGZIP, 6, 1) WHERE SUBSTRING(SHIPPINGZIP, 5, 1) = '0'
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = SUBSTRING(SHIPPINGZIP, 1, 1) + '0' + SUBSTRING(SHIPPINGZIP, 3, 4) WHERE SUBSTRING(SHIPPINGZIP, 2, 1) LIKE 'O'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = SUBSTRING(SHIPPINGZIP, 1, 3) + '0' + SUBSTRING(SHIPPINGZIP, 5, 2) WHERE SUBSTRING(SHIPPINGZIP, 4, 1) = 'O'	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = SUBSTRING(SHIPPINGZIP, 1, 5) + '0' WHERE SUBSTRING(SHIPPINGZIP, 4, 1) = 'O'	

	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 1, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 2, 1) NOT LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 3, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 4, 1) NOT LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 5, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'A0A0A0' WHERE SUBSTRING(SHIPPINGZIP, 6, 1) NOT LIKE '[1234567890]'

	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'O' + SUBSTRING(BILLINGZIP, 2, 5) WHERE SUBSTRING(BILLINGZIP, 1, 1) = '0'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = SUBSTRING(BILLINGZIP, 1, 2) + 'O' + SUBSTRING(BILLINGZIP, 4, 3) WHERE SUBSTRING(BILLINGZIP, 3, 1) = '0'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = SUBSTRING(BILLINGZIP, 1, 4) + 'O' + SUBSTRING(BILLINGZIP, 6, 1) WHERE SUBSTRING(BILLINGZIP, 5, 1) = '0'
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = SUBSTRING(BILLINGZIP, 1, 1) + '0' + SUBSTRING(BILLINGZIP, 3, 4) WHERE SUBSTRING(BILLINGZIP, 2, 1) LIKE 'O'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = SUBSTRING(BILLINGZIP, 1, 3) + '0' + SUBSTRING(BILLINGZIP, 5, 2) WHERE SUBSTRING(BILLINGZIP, 4, 1) = 'O'	
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = SUBSTRING(BILLINGZIP, 1, 5) + '0' WHERE SUBSTRING(BILLINGZIP, 4, 1) = 'O'	

	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 1, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 2, 1) NOT LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 3, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 4, 1) NOT LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 5, 1) LIKE '[1234567890]'
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'A0A0A0' WHERE SUBSTRING(BILLINGZIP, 6, 1) NOT LIKE '[1234567890]'

	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = REPLACE(SHIPPINGADDRESS, '&', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = REPLACE(SHIPPINGADDRESS, '#', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = REPLACE(SHIPPINGADDRESS, '"', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = REPLACE(SHIPPINGADDRESS, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS = REPLACE(SHIPPINGADDRESS, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS2 = REPLACE(SHIPPINGADDRESS2, '&', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS2 = REPLACE(SHIPPINGADDRESS2, '#', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS2 = REPLACE(SHIPPINGADDRESS2, '"', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS2 = REPLACE(SHIPPINGADDRESS2, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGADDRESS2 = REPLACE(SHIPPINGADDRESS2, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = REPLACE(BILLINGADDRESS, '&', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = REPLACE(BILLINGADDRESS, '#', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = REPLACE(BILLINGADDRESS, '"', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = REPLACE(BILLINGADDRESS, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS = REPLACE(BILLINGADDRESS, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS2 = REPLACE(BILLINGADDRESS2, '&', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS2 = REPLACE(BILLINGADDRESS2, '#', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS2 = REPLACE(BILLINGADDRESS2, '"', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS2 = REPLACE(BILLINGADDRESS2, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGADDRESS2 = REPLACE(BILLINGADDRESS2, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '&', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '#', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '"', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, ')', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '@', ' ')
	UPDATE RESOLVE_ACCOUNT SET ACCTNAME = REPLACE(ACCTNAME, '+', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGCITY = REPLACE(SHIPPINGCITY, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGCITY = REPLACE(SHIPPINGCITY, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = REPLACE(SHIPPINGZIP, ' ', '') WHERE LEN(SHIPPINGZIP) > 6
	
	UPDATE RESOLVE_ACCOUNT SET SHIPPINGZIP = 'V2X4V5' WHERE SHIPPINGZIP = 'V2X24V5'
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGCITY = REPLACE(BILLINGCITY, '(', ' ')
	UPDATE RESOLVE_ACCOUNT SET BILLINGCITY = REPLACE(BILLINGCITY, ')', ' ')
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = REPLACE(BILLINGZIP, ' ', '') WHERE LEN(BILLINGZIP) > 6
	
	UPDATE RESOLVE_ACCOUNT SET BILLINGZIP = 'V2X4V5' WHERE BILLINGZIP = 'V2X24V5'
	
	UPDATE  RESOLVE_ACCOUNT SET PHONENUMBER = REPLACE(PHONENUMBER, '(', '') WHERE PHONENUMBER LIKE '%[~!@#$%^&*()_+{}|"]%'
	UPDATE  RESOLVE_ACCOUNT SET PHONENUMBER = REPLACE(PHONENUMBER, ')', '') WHERE PHONENUMBER LIKE '%[~!@#$%^&*()_+{}|"]%'
	UPDATE  RESOLVE_ACCOUNT SET PHONENUMBER = REPLACE(PHONENUMBER, '-', '') WHERE PHONENUMBER LIKE '%[~!@#$%^&*()_+{}|"-]%'
	UPDATE  RESOLVE_ACCOUNT SET PHONENUMBER = REPLACE(PHONENUMBER, ' ', '') 
	
	UPDATE RESOLVE_ACCOUNT SET PHONENUMBER = REPLACE(PHONENUMBER, ' ', '')
	
	UPDATE RESOLVE_ACCOUNT SET PHONENUMBER = '5196556822' WHERE PHONENUMBER = '15196556822'
	
	UPDATE RESOLVE_ACCOUNT SET PHONENUMBER = '1234567890' WHERE ISNULL(PHONENUMBER, '') = ''

END
GO
