USE [QSPCanadaCommon]
GO
/****** Object:  StoredProcedure [dbo].[USP_EXPEXCEL]    Script Date: 06/07/2017 09:33:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**************************************************************
 Execel file generator. 2005-08-30 / DONG YANG
***************************************************************/

CREATE     PROCEDURE [dbo].[USP_EXPEXCEL] 
(
	@SQL		VARCHAR(2000),
	@DDL		VARCHAR(4000),
	@SERVERNAME	NVARCHAR(128),
	@WKS_NAME	VARCHAR(255),
	@PATH		VARCHAR(255),
	@ERROR		BIT OUTPUT
)
AS
BEGIN

 -- INIT ENVIORNMENT OPTIONS
 SET NOCOUNT ON

 -- DECLARE ENVIORNMENT VARIABLES
 DECLARE @CONN		INT,
	 @HR		INT,
	 @SRC		VARCHAR(255),
	 @DESC		VARCHAR(255),
	 @CONNECT	VARCHAR(255),
	 @WKS_CREATED	BIT,
	 @RECS		INT

 -- INIT VARIABLES
 SET @RECS		= 0
 SET @ERROR		= 0

 SET @CONNECT		= 'PROVIDER=MICROSOFT.JET.OLEDB.4.0;DATA SOURCE='+@PATH+';EXTENDED PROPERTIES=EXCEL 8.0'

 -- CREATE THE CONN OBJECT
 EXEC @HR = SP_OACREATE 'ADODB.CONNECTION', @CONN OUT, 5

 IF @HR <> 0
  BEGIN
	-- RETURN OLE ERROR
	EXEC SP_OAGETERRORINFO @CONN, @SRC OUT, @DESC OUT 
	SELECT ERROR = CONVERT(VARBINARY(4),@HR), SOURCE=@SRC, DESCRIPTION=@DESC
	SET @ERROR = 1
	RETURN
  END

 -- SET A THE CONN OBJECT'S CONNECTIONSTRING PROPERTY
 -- WORKAROUND FOR ERROR USING A VARIABLE PARAMETER ON THE OPEN METHOD
 EXEC @HR = SP_OASETPROPERTY @CONN, 'CONNECTIONSTRING', @CONNECT

 IF @HR <> 0
 BEGIN
	-- RETURN OLE ERROR
	EXEC SP_OAGETERRORINFO @CONN, @SRC OUT, @DESC OUT 
	SELECT ERROR=CONVERT(VARBINARY(4),@HR), SOURCE=@SRC, DESCRIPTION=@DESC
	SET @ERROR = 1
	RETURN
 END

 -- CALL THE OPEN METHOD TO CREATE THE XLS IF IT DOES NOT EXIST, CAN'T USE PARAMETERS
 EXEC @HR = SP_OAMETHOD @CONN, 'OPEN'

 IF @HR <> 0
 BEGIN
	-- RETURN OLE ERROR
	EXEC SP_OAGETERRORINFO @CONN, @SRC OUT, @DESC OUT 
	SELECT ERROR=CONVERT(VARBINARY(4),@HR), SOURCE=@SRC, DESCRIPTION=@DESC
	SET @ERROR = 1
	RETURN
 END

 -- ADCMDTEXT + ADEXECUTENORECORDS
 EXEC @HR = SP_OAMETHOD @CONN, 'EXECUTE', NULL, @DDL, NULL, 129

 IF @HR = 0X80040E14 OR @HR = 0X80042732
 BEGIN
	-- TRAP THESE OLE ERRORS
	IF @HR = 0X80040E14 SET @WKS_CREATED = 0
	SET @HR = 0
 END

 IF @HR <> 0
 BEGIN
	-- RETURN OLE ERROR
	EXEC SP_OAGETERRORINFO @CONN, @SRC OUT, @DESC OUT 
	SELECT ERROR=CONVERT(VARBINARY(4),@HR), SOURCE=@SRC, DESCRIPTION=@DESC
	SET @ERROR = 1
	RETURN
 END

 -- DESTROY THE CONN OBJECT, +++ IMPORTANT TO NOT LEAK MEMORY +++
 EXEC @HR = SP_OADESTROY @CONN
 IF @HR <> 0
 BEGIN
	-- RETURN OLE ERROR
	EXEC SP_OAGETERRORINFO @CONN, @SRC OUT, @DESC OUT 
	SELECT ERROR=CONVERT(VARBINARY(4),@HR), SOURCE=@SRC, DESCRIPTION=@DESC
	SET @ERROR = 1
	RETURN
 END

 IF NOT EXISTS(SELECT SRVNAME FROM MASTER.DBO.SYSSERVERS WHERE SRVNAME = @SERVERNAME)
 BEGIN
	EXEC SP_ADDLINKEDSERVER	@SERVER		= @SERVERNAME,
				@SRVPRODUCT 	= 'MICROSOFT EXCEL WORKBOOK',
				@PROVIDER 	= 'MICROSOFT.JET.OLEDB.4.0',
				@DATASRC 	= @PATH,
				@PROVSTR 	= 'EXCEL 8.0' 
	EXEC SP_ADDLINKEDSRVLOGIN @SERVERNAME, 'FALSE' 
 END

 --   FOR THE LINKED SERVER BEFORE IT EXISTS
 EXEC (@SQL)
 IF( @@ERROR <> 0) SET @ERROR = 1

 IF EXISTS(SELECT SRVNAME FROM MASTER.DBO.SYSSERVERS WHERE SRVNAME = @SERVERNAME) EXEC SP_DROPSERVER @SERVERNAME, 'DROPLOGINS'

 SET NOCOUNT OFF

END
GO
