USE [QSPCanadaCommon]
GO
/****** Object:  StoredProcedure [dbo].[pr_Address_Delete]    Script Date: 06/07/2017 09:33:10 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
---------------------------------------------------------------------------------
-- Stored procedure that will delete an existing row from the table 'Address'
-- using the Primary Key. 
-- Gets: @iaddress_id int
---------------------------------------------------------------------------------
CREATE PROCEDURE [dbo].[pr_Address_Delete]
	@iaddress_id int
AS
SET NOCOUNT ON
-- DELETE an existing row from the table.
DELETE FROM [dbo].[Address]
WHERE
	[address_id] = @iaddress_id
GO
