USE [QSPCanadaCommon]
GO
/****** Object:  StoredProcedure [dbo].[pr_Campaign_Insert]    Script Date: 06/07/2017 09:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_Campaign_Insert]
	@iStatus int,
	@bRenewal bit,
	@sCountry varchar(50),
	@sFMID varchar(4),
	@sDateChanged varchar(50),
	@sLang varchar(10),
	@daEndDate datetime,
	@daStartDate datetime,
	@iIncentivesBillToID int,
	@iBillToAccountID int,
	@iShipToCampaignContactID int,
	@iShipToAccountID int,
	@dcEstimatedGross numeric(10, 2),
	@iNumberOfParticipants int,
	@iNumberOfClassroooms int,
	@iNumberOfStaff int,
	@iBillToCampaignContactID int,
	@iSuppliesCampaignContactID int,
	@iSuppliesShipToCampaignContactID int,
	@daSuppliesDeliveryDate datetime,
	@sSpecialInstructions varchar(1000),
	@bIsStaffOrder bit,
	@dcStaffOrderDiscount numeric(10, 2),
	@bIsTestCampaign bit,
	@daDateModified datetime,
	@iUserIDModified int,
	@bIsPayLater bit,
	@iIncentivesDistributionID int,
	@bFSRequired bit,
	@bFSExtraRequired bit,
	@bFSOrderRecCreated bit,
	@daApprovedStatusDate datetime,
	@daMagnetStatementDate datetime,
	@bRewardsProgramCumulative bit,
	@bRewardsProgramChart bit,
	@bRewardsProgramDraw bit,
	@sContactName varchar(50),
	@iPhoneListID int,
	@iSuppliesAddressID int,
	@dDateSubmitted datetime,
	@iExtra_1Ups int,
	@iExtra_GiftForm int,
	@iExtra_MagBrochure int,
	@iCoolCardsBoxes int,
	@bOnlineOnlyPrograms bit,
	@bForceStatementPrint bit,
	@bDisableStatementPrint bit,
	@daCookieDoughDeliveryDate datetime,
	@iCarrierID int,
	@sNotes nvarchar(4000),
	@bOnlineNutFree bit,
	@bOnlineMagazineTRTOnly bit,
	@iID int OUTPUT
AS

IF @iCoolCardsBoxes = -1
	SET @iCoolCardsBoxes = null

-- INSERT a new row in the table.
INSERT [dbo].[Campaign]
(
	[Status],
	[Renewal],
	[Country],
	[FMID],
	[DateChanged],
	[Lang],
	[EndDate],
	[StartDate],
	[IncentivesBillToID],
	[BillToAccountID],
	[ShipToCampaignContactID],
	[ShipToAccountID],
	[EstimatedGross],
	[NumberOfParticipants],
	[NumberOfClassroooms],
	[NumberOfStaff],
	[BillToCampaignContactID],
	[SuppliesCampaignContactID],
	[SuppliesShipToCampaignContactID],
	[SuppliesDeliveryDate],
	[SpecialInstructions],
	[IsStaffOrder],
	[StaffOrderDiscount],
	[IsTestCampaign],
	[DateModified],
	[UserIDModified],
	[IsPayLater],
	[IncentivesDistributionID],
	[FSRequired],
	[FSExtraRequired],
	[FSOrderRecCreated],
	[ApprovedStatusDate],
	[MagnetStatementDate],
	[RewardsProgramCumulative],
	[RewardsProgramChart],
	[RewardsProgramDraw],
	[ContactName],
	[PhoneListID],
	[SuppliesAddressID],
	[DateSubmitted],
	[Extra_1Ups],
	[Extra_GiftForm],
	[Extra_MagBrochure],
	[CoolCardsBoxes],
	[OnlineOnlyPrograms],
	[ForceStatementPrint],
	[DisableStatementPrint],
	[CookieDoughDeliveryDate],
	[CarrierID],
	[Notes],
	[OnlineNutFree],
	[OnlineMagazineTRTOnly]
)
VALUES
(
	@iStatus,
	@bRenewal,
	@sCountry,
	@sFMID,
	@sDateChanged,
	@sLang,
	@daEndDate,
	@daStartDate,
	@iIncentivesBillToID,
	@iBillToAccountID,
	@iShipToCampaignContactID,
	@iShipToAccountID,
	@dcEstimatedGross,
	@iNumberOfParticipants,
	@iNumberOfClassroooms,
	@iNumberOfStaff,
	@iBillToCampaignContactID,
	@iSuppliesCampaignContactID,
	@iSuppliesShipToCampaignContactID,
	@daSuppliesDeliveryDate,
	@sSpecialInstructions,
	@bIsStaffOrder,
	@dcStaffOrderDiscount,
	@bIsTestCampaign,
	@daDateModified,
	@iUserIDModified,
	@bIsPayLater,
	@iIncentivesDistributionID,
	@bFSRequired,
	@bFSExtraRequired,
	@bFSOrderRecCreated,
	@daApprovedStatusDate,
	@daMagnetStatementDate,
	@bRewardsProgramCumulative,
	@bRewardsProgramChart,
	@bRewardsProgramDraw,
	@sContactName,
	@iPhoneListID,
	ISNULL(@iSuppliesAddressID, ((-1))),
	@dDateSubmitted,
	ISNULL(@iExtra_1Ups,0),
	ISNULL(@iExtra_GiftForm,0),
	ISNULL(@iExtra_MagBrochure,0),
	@iCoolCardsBoxes,
	@bOnlineOnlyPrograms,
	@bForceStatementPrint,
	@bDisableStatementPrint,
	@daCookieDoughDeliveryDate,
	@iCarrierID,
	@sNotes,
	@bOnlineNutFree,
	@bOnlineMagazineTRTOnly
)
-- Get the IDENTITY value for the row just inserted.
SELECT @iID=SCOPE_IDENTITY()

UPDATE   CAccount
SET      DateUpdated = @daDateModified
WHERE    Id = @iBillToAccountID
GO
