<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="searchEngineOptimizationSettings" type="SWCorporate.SystemEx.Web.SEO.Configuration.SearchEngineOptimizationSettingsSectionHandler, SWCorporate.SystemEx.Web.SEO, Version=4.0.472.4, Culture=Neutral, PublicKeyToken=3268d2a822844cac" xdt:Transform="Insert" />
  </configSections>
  <swCorporate.systemEx.messaging xdt:Transform="Replace">
    <instrumentation applicationName="GA.BDC.Web.Fundraising"
                     messageQueueHost="SQLP08"
                     messageQueueAceTrusteeList="SNA\Trusted GA PROD Servers;SNA\Trusted GA PROD Service Accounts;SNA\Trusted Corporate PROD Servers;SNA\Trusted Corporate PROD Service Accounts;SNA\Trusted Corporate Developer Workstations;sna\developmentadmingroup" />
  </swCorporate.systemEx.messaging>
  <searchEngineOptimizationSettings xdt:Transform="Insert">
    <robotPolicySettings>
      <robotPolicyRecord field="User-Agent" value="*" />
      <robotPolicyRecord field="Disallow" value="/Admin/" />
       <robotPolicyRecord field="Disallow" value="/my/" />
      <robotPolicyRecord field="Disallow" value="/admin/" />
      <robotPolicyRecord field="Disallow" value="/administration/" />
      <robotPolicyRecord field="Disallow" value="/fonts/" />
      <robotPolicyRecord field="Disallow" value="/Checkout/" />
      <robotPolicyRecord field="Disallow" value="/shopping-cart/" />
      <robotPolicyRecord field="Disallow" value="/kit-request-confirmation" />
      <robotPolicyRecord field="Disallow" value="/kit-request-confirmation-pop-up" />
      <robotPolicyRecord field="Sitemap" value="https://www.fundraising.com/sitemap.xml" />
    </robotPolicySettings>
  </searchEngineOptimizationSettings>
  <connectionStrings>
    <add name="EFundStore" providerName="System.Data.SqlClient" connectionString="Data Source=GASQLP02;Initial Catalog=efundstore;Integrated Security=True;Application Name=GA.BDC.Web.Fundraising.MVC;"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    <add name="EFRCommon" connectionString="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Fundraising;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EFundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.WebApi.Fundraising" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="FastFundraising" connectionString="data source=GASQLP02;initial catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.Fundraising.MVC;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="EFundraisingHost" value="http://www.efundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="fundraising.webapi.host" value="https://api.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="core.webapi.host" value="https://core.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="US.ChocolateCategoryId" value="787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Canada.ChocolateCategoryId" value="833,834,835,836,837,838,839" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="forceWWW" value="true" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Paypal.Login" value="online@fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Paypal.ReturnUrl" value="https://www.fundraising.com/shopping-cart/paypal-return" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Paypal.Url" value="https://www.paypal.com/us/cgi-bin/webscr" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="US.Root.PackageId" value="786" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="Canada.Root.PackageId" value="832" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="showGoogleAnalyticsCode" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="showChatProviderCode" value="False" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" xdt:Transform="Remove"/>
      <level value="WARN" xdt:Transform="Insert"/>
    </root>
    <appender name="RollingLogFileAppender" xdt:Transform="Remove" xdt:Locator="Match(name)">
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender" xdt:Transform="Insert">
      <to value="jason.farrell@fundraising.com"/>
      <from value="no-reply@swgao.com"/>
      <subject value="Exceptions at GA.BDC.Web.Fundraising"/>
      <smtpHost value="outgoingsmtp"/>
      <bufferSize value="1" />
      <lossy value="false" />
      <threshold value="ERROR"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date %-5level %logger - %message%newline%newline%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" xdt:Transform="Insert">
      <bufferSize value="5" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.Web.Fundraising" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
  </log4net>
  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes" />
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
    <anonymousIdentification enabled="true" cookieName="fundraising.com" cookieless="UseCookies" cookieTimeout="60" cookiePath="/" cookieRequireSSL="true" cookieSlidingExpiration="true" cookieProtection="None" xdt:Transform="Replace"/>
  </system.web>
</configuration>