@import url("../../../../css/base.css");

/* Global Styles
--------------------------------------------------------*/
body {background: #8A718A url(images/bg.gif) repeat-x top left; padding: 20px 0 0 0}
#PageSubTable {border: 8px solid #fff; background: #fff; width: 745px; _width: 761px}
#ContentCell {height: 450px; padding: 0 8px 8px 8px}

/* Form Element Styles */
#Form2 input, #Form2 select {font: 12px Arial, Helvetica, sans-serif; color: #555; line-height: normal}

/* Instructions Box */
#Instruction1_InstructCell {background:#F3F3F3; border: 1px solid #ccc; padding: 7px}

/* Error Messages */
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color: #555}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal, .default #ContentCell .df-cats h2 {color: #555; background: #dedede}
table.optionsbox {border: 1px solid #dedede}

/* Form Styles */
.col2 .c1 {border-right: 1px dashed #ccc}
#Form2 input, #Form2 select {font: 12px Verdana, Arial, Helvetica, sans-serif; color: #555; background: #fff}

/* Type Styles
--------------------------------------------------------*/

/* Global Font Style */
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content,
#BreadCrumbs1_BreadCrumbs1, .Instructions {font: 11px Verdana, Arial, Helvetica, sans-serif}

/* Instructions */
.Instructions {color: #555}

/* Page Headlines */
.Headings, #ContentCell h1 {font-size: 16px; font-weight: bold; color: #c60; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 15px}

/* Sub Headlines */
.subHeadings, #ContentCell h2, .Content h2 {font-size: 14px; font-weight: bold; color: #555; margin-bottom: 15px}
#ContentCell h2.divide {padding-top: 15px; border-top: 1px dashed #ccc}

/* Sub Headlines 2 */
#ContentCell h3 {font-size: 12px; font-weight: bold; color: #555; margin: 0}

/* Body Copy */
.Content {line-height: 18px; color: #555}
#ContentCell p {font-size: 11px; margin: 0 0 15px 0}

/* Static Page List Styles */
.static #ContentCell li {margin: 0 0 15px 0}
.static #ContentCell li ul {margin: 15px 0 0 0; padding: 0; list-style: none}

/* Help Page Back To Top Link */
#ContentCell p.top {text-align: right}
#ContentCell p.top a {padding-left: 20px; background: url(images/design/c-top.gif) no-repeat 0 50%}

#ContentCell .formtbl td.input p {margin-top: 15px}

/* Body Link Styles */
.Content a, #Instruction1_InstructCell a  {color: #602F61; text-decoration: underline}
.Content a:hover, #Instruction1_InstructCell a:hover  {color: #602F61; text-decoration: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell {padding: 0; margin: 0; font-size: 10px; color: #555}

#TopBannerCell .logo { float:left; margin:0; width: 50%}
#TopBannerCell .logo a {color: #555; text-decoration: none; font-size: 20px}
#TopBannerCell .cart {float: right; width: auto; margin-top: 25px}
#TopBannerCell .cartnav li {border-right: 1px solid #555; padding: 0 5px 0 8px}
#TopBannerCell .cartnav li.viewcart a {background: url(images/carticon.gif) no-repeat 0 50%; padding-left: 18px}
#TopBannerCell .shopcart {margin-left: 10px}
#TopBannerCell .shopcart .items {margin-right: 5px}

#TopBannerCell ul { padding: 0 0 8px 0; margin: 0; list-style: none; float:left}
#TopBannerCell li { display: inline}
#TopBannerCell li a {color: #555; text-decoration: none}
#TopBannerCell li a:hover {text-decoration: underline}
#TopBannerCell .top-nav {display: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopSubBannerCell {background: url(images/bn-tile.gif) repeat-x /*DS*/ bottom; height: 65px; /*End-DS*/ font-size: 10px; border-bottom: 8px solid #fff}
#TopSubBannerCell a {color: #555; text-decoration: none}
#TopSubBannerCell a:hover {text-decoration: underline}
#TopSubBannerCell ul {margin: 0; padding: 0; list-style: none}
#TopSubBannerCell li {display: inline}
#TopSubBannerCell .sub-nav {float: left; width: auto; background: url(images/bn-nav_left.gif) no-repeat top left; height: 33px}
#TopSubBannerCell .sub-nav ul {margin-top: 9px}
#TopSubBannerCell .sub-nav li {background:url(images/tsb-navpipe.gif) no-repeat center right; padding:0 9px 0 12px}
#TopSubBannerCell .sub-nav li.item04 {background: none}
/*#TopSubBannerCell .search {float: right; width: 200px; background: url(images/bn-nav_right.gif) no-repeat top right; height: 33px}
#TopSubBannerCell .search li.button img
{
	vertical-align:middle;
}

#TopSubBanner1_SimpleSearch1_Panel1 {color: #555; font-size: 10px; line-height: 29px; padding:0 0 0 10px; height: 29px; background:url(images/tsb-searchpipe.gif) no-repeat 0 50%;}
#TopSubBanner1_SimpleSearch1_Panel1 a img { padding:0; margin:0}
#TopSubBanner1_SimpleSearch1_Panel1 input {border: 1px solid #ACA899; width:110px; margin:0; font: 10px Verdana, Arial, Helvetica, sans-serif}
#TopSubBanner1_SimpleSearch1_Panel1 ul {_margin-top: 6px}
#TopSubBannerCell #TopSubBanner1_SimpleSearch1_Panel1 .search li {margin: 0; padding: 0; line-height: normal}

/* Cmenu Styles Added 12/13/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#TopSubBannerCell {margin:10px 0 0 0; padding:0;}
#TopSubBannerCell li {list-style:none; margin:0; padding:0;}
#TopSubBannerCell li a {padding:0 3px;}
/* Search */
#TopSubBannerCell .search {height:40px; width:150px; vertical-align:middle; float:right; background: url(images/bn-nav_right.gif) no-repeat bottom right; margin:10px 0 0 0;}
#TopSubBannerCell .search ul {margin:5px 0 0 0; padding:0;}
#TopSubBannerCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0;}
#TopSubBannerCell .search li.head {display:none;}
#TopSubBannerCell .search li.button {}
#TopSubBannerCell .search li.button a {background-image:none; padding:0; margin:0;}
#TopSubBannerCell .search li.button img {padding:0; margin:15px 0 0 5px;}
#TopSubBannerCell .search li.textbox {margin:8px 0 0 0;}
#TopSubBannerCell .search li.textbox input {width:115px; height:18px; border:1px solid #ccc; font-size:10px; color:#666;}
#TopSubBannerCell .search li.advsearch {display:none;}
/* Cart Links */
#TopSubBannerCell ul.cartnav {float:left; height:40px; line-height:40px; width:250px; float:left; margin:10px 0 0 0; padding:0 0 0 10px; background: url(images/bn-nav_left.gif) no-repeat bottom left;}
#TopSubBannerCell .cart {}
#TopSubBannerCell ul.cartnav li {padding:0; margin:0;}
#TopSubBannerCell ul.cartnav li.viewcart a {}
/* Cart Control */
#TopSubBannerCell ul.shopcart {float:left; height:40px; line-height:40px; margin:10px 0 0 0; padding:0; width:300px;}
#TopSubBannerCell ul.shopcart {font-size:10px; font-weight: normal; color:#666;}
#TopSubBannerCell ul.shopcart li.head a {background: url(images/carticon.gif) no-repeat 0 50%; padding-left:20px;}
#TopSubBannerCell ul.shopcart .items {font-size:10px; font-weight: normal; color:#666;}
/*------------------------------------------
END Cmenu Styles Added 12/13/07 DS Design*/

/* LeftColumnNav Styles
--------------------------------------------------------*/
#LeftColumnCell { width:21%; background:#F3F3F3; border:1px solid #ccc}
#LeftColumnNav1_custommenu {width: 154px; _width: 138px; /*DS*/ margin:0 0 10px 0; /*DS*/}
ul#LeftColumnNav1_CMenubar2_MenuUL {margin: 0; padding: 0; list-style: none}
#LeftColumnNav1_custommenu h2 {color: #c60; font-size: 11px; font-weight: normal; margin: 7px 0 10px 10px; padding: 0}
#LeftColumnNav1_custommenu .lc-nav {margin: 0 0 /*DS*/ 0 /*DS*/ 10px;}
#LeftColumnCell a { text-decoration:none; color:#555; font:bold 10px Arial, Helvetica, sans-serif; padding:3px 0 3px 10px; background:url(images/lc-arrows.gif) no-repeat 0 50%}

/* Cmenu Styles Added 12/13/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#LeftColumnCell ul li {height:auto;}
#LeftColumnCell {margin:0; padding:0;}
#LeftColumnCell li {list-style:none; margin:0; padding:0;}
/* Search */
#LeftColumnCell .search {height:55px; vertical-align:middle; margin:8px 0; padding:5px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
#LeftColumnCell .search ul {margin:0; padding:0;}
#LeftColumnCell .search li {list-style:none; font-size:10px; font-weight: normal; margin:0; padding:0;}
#LeftColumnCell .search li.head {font-weight:bold; color:#666; width:100%;}
#LeftColumnCell .search li.button {}
#LeftColumnCell .search li.button a {background-image:none; padding:0; margin:0;}
#LeftColumnCell .search li.button img {padding:0; margin:10px 0 0 5px;}
#LeftColumnCell .search li.textbox {float:left;}
#LeftColumnCell .search li.textbox input {width:100px; height:18px; border:1px solid #ccc; margin:5px 0; font-size:10px; color:#666;}
#LeftColumnCell .search li.advsearch {clear:both; float:none; width:100%; margin:0;}
/* Cart Links */
#LeftColumnCell ul.cartnav {margin:0; padding:0;}
#LeftColumnCell .cart {}
#LeftColumnCell ul.cartnav li {padding:0; margin:0;}
#LeftColumnCell ul.cartnav li.viewcart a {background: url(images/carticon.gif) no-repeat 0 50%; padding-left:20px;}
/* Cart Control */
#LeftColumnCell ul.shopcart {margin:0; padding:0;}
#LeftColumnCell ul.shopcart {font-size:10px; font-weight: normal; color:#666;}
#LeftColumnCell ul.shopcart .items {font-size:10px; font-weight: normal; color:#666;}
/*------------------------------------------
END Cmenu Styles Added 12/13/07 DS Design*/

/* Footer Styles
--------------------------------------------------------*/
#FooterCell { padding: 17px 0 0 8px; font-size: 10px; color: #555; background: url(images/ft-bg.gif) repeat-x 0 8px}
#MenuContainer
{
	height:12px;
	_height:18px;
}
#FooterCell a {color: #555; text-decoration: none; font-size:10px;/*DS margin: 0 10px 0 0;*/}
#FooterCell a:hover {text-decoration: underline}
#FooterCell ul, #FooterCell p {float: left; margin: 0; padding: 0; width: auto}
#FooterCell .powered {/*DS*/ display:none; /*DS float: right; margin: 0; width: auto; margin-top:-21px; _margin-top:-27px;*/}
#FooterCell ul {list-style: none; margin: 0 0 5px 0}
#FooterCell li {display: inline; margin: 0 10px 0 0}
#FooterCell p {clear: both}

/* Cmenu Styles Added 12/13/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#FooterCell {margin:10px 0 0 0; padding: 20px 10px 0 10px;}
#FooterCell li {list-style:none; margin:0; padding:0;}
#FooterCell li a {padding:0 3px 0 0;}
/* Search */
#FooterCell .search {height:33px; width:150px; vertical-align:middle; float:right; margin:10px 0 0 0;}
#FooterCell .search ul {margin:5px 0 0 0; padding:0;}
#FooterCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0;}
#FooterCell .search li.head {display:none;}
#FooterCell .search li.button {}
#FooterCell .search li.button a {background-image:none; padding:0; margin:0;}
#FooterCell .search li.button img {padding:0; margin:8px 0 0 5px;}
#FooterCell .search li.textbox {}
#FooterCell .search li.textbox input {width:115px; height:18px; border:1px solid #ccc; font-size:10px; color:#666;}
#FooterCell .search li.advsearch {display:none;}
/* Cart Links */
#FooterCell ul.cartnav {float:left; height:33px; line-height:30px; width:200px; float:left; margin:5px 0 0 0; padding:0;}
#FooterCell .cart {}
#FooterCell ul.cartnav li {padding:0; margin:0;}
#FooterCell ul.cartnav li.viewcart a {}
/* Cart Control */
#FooterCell ul.shopcart {float:left; height:33px; line-height:30px; margin:5px 0 0 0; padding:0; width:300px;}
#FooterCell ul.shopcart {font-size:10px; font-weight: normal; color:#666;}
#FooterCell ul.shopcart li.head {background: url(images/carticon.gif) no-repeat 0 50%; padding-left:20px;}
#FooterCell ul.shopcart .items {font-size:10px; font-weight: normal; color:#666;}
/*------------------------------------------
END Cmenu Styles Added 12/13/07 DS Design*/

/* Home Page Styles
--------------------------------------------------------*/
.default #ContentCell {padding: 0 5px 8px 8px}
.default #ContentCell .df-welcome {float: left; border: 1px solid #ccc; width: 100%; padding-bottom:10px;}
.default #ContentCell .df-welcome h1 {padding: 0; margin: 10px 0 15px 8px; border: none}
.default #ContentCell .df-welcome img {float: left; margin: 0 10px 4px 10px}
.default #ContentCell .df-welcome p {color:#555; line-height:16px; padding:0 8px;}
.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%}
.default #ContentCell .df-cats h2 {font-size: 14px; font-weight: bold; padding: 0; margin: 0 0 15px 0; padding: 3px 0; text-indent: 3px}
.default #ContentCell .df-cats ul {padding: 0; margin: 0; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats img {border: 1px solid #ccc;}
.default #ContentCell .df-cats li.image {padding:0; margin:0;}

tr#SearchTemplate11_DataGrid1__ctl3_DataList1 table td img {border: 1px solid #ccc}

/* Detail Page Styles
-------------------------------------------------------*/

/* Detail Template 1 */
#ProductDetail11_Swatches_Table1 {padding-right: 10px}
#ProductDetail11_trPrice, #ProductDetail11_trCustomPrice, #ProductDetail11_trSavings {font-size: 12px; font-weight: bold}
tr#ProductDetail11_trDescription td {border-top: 1px dashed #ccc}
tr#ProductDetail11_trDescription td h1 {font-size: 12px; color: #555; text-transform: uppercase}
tr#ProductDetail11_trCategory td {padding-bottom: 10px}
tr#ProductDetail11_trEMailFriend td.button {text-align: left}

/* Detail Template 2 */
tr#ProductDetail21_trDescription td {border-top: 1px dashed #ccc}

tr#ProductDetail21_trDescription td h1 {font-size: 12px; font-weight: bold; color: #555; text-transform: uppercase; margin-bottom: 0; padding: 0; border: none}
#ProductDetail21_trPrice, #ProductDetail21_trCustomPrice, #ProductDetail21_trSavings {font-size: 12px; font-weight: bold}