body
{
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
	margin: 0px 0px 0px 0px;
	background-color: White;
	background-image: url("Images/background.gif");
}

a, a:visited, a:link, a:active, a:hover 
{
	color: Blue;
}

.Error_Label
{
	font-family: Trebuchet MS, Verdana;
	font-size: 14pt;
	font-weight: bold;
	color: Red;
}

.FeedbackForm_Panel
{
	background-color: #FFCC00;
}

.FeedbackForm_CheckBox1
{
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
}

.FeedbackForm_Button1
{
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
	font-weight: bold;
	border-right: black 2px groove;
	border-top: black 2px groove;
	border-left: black 2px groove;
	border-bottom: black 2px groove;
	background-color: silver;
	color: black;
}

.FeedbackForm_Title
{
	font-size: 18pt;
	font-weight: bold;
	color: Black;
}

.FeedbackForm_Watermark
{
	font-style: italic;
	color: silver;
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
}

.FeedbackForm_RequiredLabel1
{
	font-size: 12pt;
	font-weight: bold;
	color: Green;
}

.FeedbackForm_HighlightLabel1
{
	font-size: 12pt;
	font-weight: bold;
	color: Gray;
}

.FeedbackForm_TextBox1
{
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
}

.FeedbackForm_TextBox2
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: dashed 1px black;
	font-family: Trebuchet MS, Verdana;
	font-size: 12pt;
}

.TopFeedback_Message
{
	font-family: Times New Roman, Garamond;
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
	color: #fc0000;
}

.TopFeedback_Date
{
	font-size: 10pt;
	font-style: italic;
	color: silver;
}

.TopFeedback_Name
{
	font-size: 12pt;
	font-weight: bold;
	color: black;
}

.TopFeedback_Panel
{
	background-color: white;
}

.TopFeedback_Title
{
	font-size: 18pt;
	font-weight: bold;
	color: Black;
}