@{
    ViewBag.Title = "Recover your Password";
    Layout = "~/Views/Shared/_public.cshtml";
}

<div id="signIn" ng-controller="loginController">
    <div class="row">
        <div class="col-md-12">
            <h1>Recover your Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="description_text">Please enter your email address below. You will receive an email shortly with your password.<br />
                <br />
                Note that the email address that you enter must be the same as the email address that we have on file for you.</span>
            <br /><br/>
            <form ng-submit="recoverPassword()">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="email" type="email" id="email" name="email" required class="form-control" />
                </div>
                <div class=" form-group" ng-show="executingAction">
                    <span class="text-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...
                    </span>
                </div>
                <div class=" form-group" ng-show="resultFailed">
                    <span class="text-danger">{{responseText}}
                    </span>
                </div>
                <div class=" form-group" ng-show="success">
                    <span class="text-success">{{responseText}}
                    </span>
                </div>
                <div class=" form-group" ng-hide="executingAction">
                    <button class="btn btn-default">Recover Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
