USE [fastfundraising]
GO
/****** Object:  Table [dbo].[ALastThing]    Script Date: 02/14/2014 16:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALastThing](
	[col1] [char](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
