USE [fastfundraising]
GO
/****** Object:  Table [dbo].[ffcookies]    Script Date: 02/14/2014 16:35:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ffcookies](
	[cookieid] [int] NULL
) ON [PRIMARY]
GO
