@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="column" layout-margin ng-controller="PromotionCodesController as promotionCodesCtrl" id="promotionCodes">
   <div layout-align="center center" flex="100">
      <h1 class="text-md-primary md-title">Promotion Codes</h1>
   </div>
   <div layout="column" layout-align="center center" flex="100">
      <div ng-show="promotionCodesCtrl.executing" ng-cloak>
         <md-progress-circular md-mode="indeterminate"></md-progress-circular>
         <br />
      </div>
   </div>
   <div ng-hide="promotionCodesCtrl.executing" ng-cloak>
      <div layout="column" style="height:700px">
         <md-toolbar class="md-primary md-hue-1" md-scroll-shrink>
            <div class="md-toolbar-tools">
               <h2><ng-md-icon icon="search" style="fill: white" size="16"></ng-md-icon> Search:</h2>
               <md-input-container md-no-float>
                  <input type="text" name="filter" ng-model="promotionCodesCtrl.filter">
               </md-input-container>
               <span flex></span>
               <md-button class="md-raised" ng-click="promotionCodesCtrl.OpenPromotionCodeDialog(null);">
                  <md-icon>add</md-icon>
                  Create new
               </md-button>
               <md-button ng-disabled="promotionCodesCtrl.promotionCodesSelected.length == 0" class="md-raised" ng-click="promotionCodesCtrl.DisablePromotionCodes()">
                  <md-icon>visibility_off</md-icon>
                  Disable Selected(s)
               </md-button>
            </div>
         </md-toolbar>
         <md-content flex>
            <md-list ng-init="promotionCodesCtrl.GetPromotionCodes()">
               <md-list-item class="md-3-line" ng-repeat="promotionCode in promotionCodesCtrl.promotionCodes | filter: promotionCodesCtrl.filter | orderBy: '-Created'" ng-click="promotionCodesCtrl.OpenPromotionCodeDialog(promotionCode);">
                  <md-checkbox ng-model="promotionCode.Selected" ng-true-value="true" ng-false-value="false" ng-change="promotionCodesCtrl.PromotionCodeCheckboxChanged(promotionCode)" aria-label="{{promotionCode.Name}}"></md-checkbox>
                  <div class="md-list-item-text" layout="column">
                     <h3>{{promotionCode.Name}}</h3>
                     <h4>{{promotionCode.Description}}</h4>
                     <p>{{promotionCode.IsEnabled ? 'Enabled' : 'Disabled'}}</p>
                  </div>
               </md-list-item>
            </md-list>
         </md-content>
      </div>
   </div>
</div>

@section left_navigation_menu
{
   @Html.Partial("_menu")
}

