/* CSS Document */
.PageContent {font-family:Arial, Helvetica, sans-serif; font-size:9pt;color:#646464;font-weight:bold;}
.FormContent {font-family:verdana, Helvetica, sans-serif; font-size:8pt;color:#333333;}
.CmplxBold {font-family:Arial, Helvetica, sans-serif; font-size:11pt;color:#000000;font-weight:bold;}
.SimpleBold {font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#000000;font-weight:bold;}
.RedContent {font-family:Arial, Helvetica, sans-serif; font-size:9pt;color:#ff0000;font-weight:bold;}
.Required {font-family:verdana, Helvetica, sans-serif; font-size:8pt;color:#000000;font-weight:bold;}
.smllFnt {font-family:verdana, Helvetica, sans-serif; font-size:7pt;color:#333333;}
.Footer {font-family:Arial, Helvetica, sans-serif; font-size:9pt;color:#000000; font-weight:bold;}
.BlkHeading {font-family:Arial, Helvetica, sans-serif; font-size:13pt;color:#000000; font-weight:bold;}
.Header {font-family:Arial, Helvetica, sans-serif; font-size:18px;color:#000000; font-weight:bold;}
.checkbox {color:#00f;background-color:#fff;border:0px solid #999;width:20px; height:20px;padding:0;margin:0;}
.btn
{
   color:#050;
   font-family:'verdana',helvetica,sans-serif;
   font-size:95%;
   font-weight:bold;
   height:20px;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#FEBC1D');
}
.tbox
{
    
    FONT-SIZE: 11px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
	background-color:#ffffff;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
}
li 
{
		list-style-type: round;
		margin-left: 0;
}
body
{
	scrollbar-face-color: #FCDDCD; scrollbar-shadow-color: #EFCF79; 
	scrollbar-highlight-color: #DDE3F1; scrollbar-3dlight-color: #EFCF79; 
	scrollbar-darkshadow-color: #DDE3F1; scrollbar-track-color: #F6F6F6; 
	scrollbar-arrow-color: #07014B;
}
a:link {text-decoration: none;color: #678DFF;}
a:visited {text-decoration: none;color: #678DFF;}
a:hover {text-decoration: underline;color: #970202;}
a:active {text-decoration: none;color: #CC6600;}

a.FooterLink:link {text-decoration: none;color: #000;}
a.FooterLink:visited {text-decoration: none;color: #000;}
a.FooterLink:hover {text-decoration: underline;color: #970202;}
a.FooterLink:active {text-decoration: none;color: #CC6600;}