@{
    ViewBag.Title = "Contact us Page - Fundraising.com ";
    ViewBag.Description = "Contact us with your questions.  Our Customer Service and Fundraising consultants are available to help you.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("ContactUs", "AboutUs");
}
<div  style="margin-top:125px">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col-sm-12 text-justify">
            At FundRaising.Com, we believe in "bend over backwards" customer service and that's why we always deal with our customers directly. We also welcome your suggestions and ideas for new products as well as product improvements. If you have a comment, suggestion, please contact us in the manner that is most convenient for you. If you would like to place an order, request samples, or have a question about an existing order, please contact us through any of these channels.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Phone:</strong>
        </div>
        <div class="col-sm-3" ng-cloak>
            {{::partnersCtrl.Partner.Attributes.phone_number}}
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <strong>Email:</strong>
        </div>
        <div class="col-sm-3">
           <a href="mailto:CustomerService.EFR@fundraising.com">CustomerService.EFR@fundraising.com</a>
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Corporate Headquarters:</strong>
        </div>
        <div class="col-sm-3">
           Fundraising.com<br />
           156 Lawrence Paquette Industrial Drive PMW#5<br />
           Champlain, NY 12919
           <br />
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
    <h3>Orders</h3>
    <div class="row">
        <div class="col-sm-12" ng-cloak>
            Please call us toll-free at {{::partnersCtrl.Partner.Attributes.phone_number}}.
        </div>
    </div>
    <h3>Delivery Questions</h3>
    <div class="row">
        <div class="col-sm-12" ng-cloak>
            If you have questions about your upcoming product delivery, call Customer service at: {{::partnersCtrl.Partner.Attributes.phone_number}} or email us at <a href="mailto:CustomerService.EFR@fundraising.com">CustomerService.EFR@fundraising.com</a>.
        </div>
    </div>
    <h3>Join Us Online</h3>
    <div class="row">
        <div class="col-sm-12">
            Facebook: <a href="http://www.facebook.com/Fundraisingdotcom" target="_blank">www.facebook.com/Fundraisingdotcom</a><br />
            Pinterest: <a href="http://www.pinterest.com/frdotcom" target="_blank">www.pinterest.com/frdotcom</a><br />
            Twitter: <a href="http://www.twitter.com/fundraising_com" target="_blank">www.twitter.com/fundraising_com</a><br />
            Blog: <a href="https://www.fundraising.com/blog" target="_blank">Fundraising Blog</a>
        </div>
    </div>
    <h3>Feedback</h3>
    <div class="row">
        <div class="col-sm-12">
            We welcome your comments and suggestions! Please email them to <a href="mailto:CustomerService.EFR@fundraising.com">CustomerService.EFR@fundraising.com</a>.
        </div>
    </div>
</div>