@{
    ViewBag.Title = "Our Guarantee - Fundraising.com";
    ViewBag.Description = "If, for any reason, you are not satisfied with one of our fundraising products we will do everything we can to resolve your problem";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Guarantees", "AboutUs");
}


<div class="row container">
    <div class="col-sm-12">
        <h1>Guarantees</h1>
        <span>
            Our guarantee is simple: we guarantee all of our products 100%.<br /><br />
            If, for any reason, you are not satisfied with one of our products, please contact us immediately and we will do everything we can to help resolve your problem.<br /><br />
            At Fundraising.com, we pride ourselves on our quality products and excellent customer service. We will bend over backwards to maintain this high standard, should problems ever arise. We’ve been helping organizations raise money for many 14 years and your absolute happiness and satisfaction with our products is why we plan to be around for many more years! <br /><br />
        </span>
        <h3>Why do so many groups choose Fundraising.com?</h3>
        <span>
            The answers are simple:<br /><br />
            <ol>
                <li>It's Easy! We make fundraising "soooo" easy. This is the #1 compliment that we receive from customers every day. Our years of experience help to make your job of raising money as easy as possible.</li>

                <li>
                    High Profit Margins. FundRaising.com offers our customers the highest profit margins:
                    <ul>
                        <li>Up to 50% on brochure sales (plus free prize program)</li>
                        <li>
                            Up to 90% on Scratch Cards (plus free thank you gifts)
                        </li>
                        <li>50% on lollipops (just 1 case minimum order)</li>
                    </ul>
                </li>
                <li>Experienced Fundraising Consultants. Our Fundraising Consultants are trained to help each and every customer raise the amount of money they need. They work with you, to answer all your questions and help you to choose the right product for your group. If you ever have a question or concern, just pick up the phone and call us toll-free. Or, drop us an email and we'll get back to as quickly as possible.</li>
                <li>100% Guarantee. FundRaising.com keeps its promises. Everything we sell is 100% guaranteed and we stand behind our guarantee. If you ever have a problem with an order, we promise that we will go into high gear to solve it for you. We want each and every customer to be a long-term, satisfied customer. And, we will do whatever it takes to make sure you come back to us, again and again.</li>
            </ol>
            If you have questions about our guarantee, please send an e-mail to <a href="mailto:CustomerService.EFR@fundraising.com">CustomerService.EFR@fundraising.com</a>.
        </span>
    </div>
</div>

