@{
    ViewBag.Title = "History and background - Fundraising.com";
    ViewBag.Description = "Fundraising.com and its history.  Get to know how we became America's number 1 source for fundraising products and new ideas";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("OurCompany", "AboutUs");
}

<div class="row container">
    <div class="col-sm-12 text-justify">
        <h1>About Us</h1>
        <span>
            Fundraising.com helps tens of thousands of non-profit* groups raise millions of dollars each year for their good causes.<br /><br />
            Our story began with the genuine desire to help these types of organizations raise money by fundraising to support their activities.<br /><br />
            Initially marketed as "The Lollipop Company" and offering just one product - gourmet lollipops - to non-profit groups nationwide, we modeled our business in a way that would ensure maximum profits were returned directly to our customers. Combined with a strong commitment to excellent service, we enjoyed a rapidly growing customer base out of the gate and happily, our sales have continued to increase every year since.<br /><br />
            In 1995, the domain name www.fundraising.com was first registered, with the goal of continued nationwide marketing. That foresight became reality in 1999 when the Fundraising.com web site was first launched, offering a variety of traditional fundraising products. Both year-round and seasonal products are offered including lollipops, scratch cards, chocolate, cookie dough.<br /><br />
            In 2001, Fundraising.com was acquired by QSP (Quality Service Programs, Inc.), and this alliance allowed us to join one of the biggest names in fundraising, thus adding over 35 years of traditional know-how and expertise to our own innovative fundraising experience.<br /><br />
            The most recent chapter in our story kicked-off in January 2012 when QSP was acquired by respected fundraising leaders, Great American Opportunities. Stronger together - with a sales force approximately 400 strong and a dedicated customer service team who share a "bend-over-backwards" approach - our company's philosophy among this rapid growth remains the same: "We are here to help all non-profit groups raise money for their good causes, and we will do everything we can to offer a wide selection of high-quality products that give groups the highest profits possible. We are committed to providing caring, personalized customer service to all our customers, and we promise to do everything we can to make each and every fundraiser a complete success!"<br /><br />
            Ours is a story of tremendous continuing growth and success and we look forward to many more years of helping thousands of non-profit groups raise millions of dollars for their good causes!
        </span><br /><br />
        <span class="small">* Non-profit groups consist of school groups, churches, scouts, youth sports organizations, bands, parent-teacher associations ('PTA's), parent-teacher organizations ('PTOs') and thousands of other independent organizations.</span><br /><br />
    </div>
</div>

