@{
    ViewBag.Title = "Products Shipping Policies - Fundraising.com";
    ViewBag.Description = "shiping times policies for all of fundraising.com's fundraising products are available in this page.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("ShippingPolicies", "AboutUs");
}

<div class="container" >
<h1>Payment & Shipping Policy</h1>
<div class="row">
    <div class="col-sm-12 text-justify">
        <h2>Payment</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-justify">
        <span>
            The following are the accepted methods of payment at Fundraising.com:<br /><br />
            <ul>
                <li>Credit Cards (We accept Visa, Master Card, American Express and Discover)</li>
                <li>PayPal</li>
                <li>Purchase Orders (We only accept purchase orders signed by schools)</li>
                <li>Checks (We accept checks, money orders, and certified checks)</li>
            </ul>
            Please note that we do not accept any returns.
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-justify">
        <h2>Shipping</h2>
    </div>

</div>
<div class="row">
    <div class="col-sm-12 text-justify">
        <span>
            All shipping information applies to orders shipped to the 48 contiguous states only.<br /><br />
            <ul>
                <li>Customers in Canada, Alaska and Hawaii should phone 1-800-443-5353 to learn what products are available in their area and any extra charges that may apply.</li>
                <li>
                    Shipping fees vary depending on the product - please consult products pages or call 1-800-443-5353 for details.
                </li>
                <li>
                    Delivery Times
                    <ul>
                        <li>Normal delivery time for direct-sale products, such as lollipops and candy bars, is 5 to 15 business days.</li>
                        <li>
                            For catalog items, normal delivery time is approximately 4 weeks from the time we receive your completed tally.
                        </li>
                        <li>Frozen cookie dough arrives on a refrigerated truck and delivery is pre-arranged according to your sale dates and receipt of your final tally of items sold.</li>
                        <li>Your fundraising consultant will be able to answer any questions you have regarding your product's shipping time.</li>
                    </ul>
                </li>
            </ul>
            If you have questions about our payment or shipping policy, please send an e-mail to <a href="mailto:info@fundraising.com">info@fundraising.com</a>.
        </span>
    </div>
</div>
</div>
