@{
    ViewBag.Title = "Testimonials from Schools and Groups - Fundraising";
    ViewBag.Description = "Here are a few testimonials of the many happy fundraising customers fundraising.com has served";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Testimonials", "AboutUs");
}
<div class="container"  style="margin-top:125px">
    <h1>Testimonials</h1>
    <div class="row">
        <div class="col-sm-12">
            <blockquote>
                <p>Yes I received my samples and information and would like to thank you. You were very quick in your response and it was well noted. I like what your company has to offer and how you have made our relationship more than just another customer/business one but one where the company truly does care about helping the customer's needs.</p>
                <footer>Kris</footer>
            </blockquote>
            <blockquote>
                <p>
                    When we saw your website, we knew we wanted these mascot tees! Time was against us. We had only 6 days to sell, but we managed to sell 240 shirts for Field Day. I think if we would have had more time, we would have sold more.
                </p>
                <footer>
                    Heather, <cite>Elementary School, AL</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    It has been a pleasure working with you. I would highly recommend your company to anyone who is fundraising for the first time. Your employees have been very informative and pleasant.
                </p>
                <footer>
                    Susan,
                    Border Blades, <cite>
                        Grand Forks, ND
                    </cite>
                </footer>
            </blockquote>


            <blockquote>
                <p>
                    Thank you! Thank you! We (First Holiness Church) appreciate you! God Bless!
                </p>
                <footer>
                    Bobby,<cite>
                        First Holiness Church, AL
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    All of our dealings so far with your company have been very pleasant, your representative was extremely helpful right from the start. Because she offered her number with all of her time, I was able to get into contact with her at anytime, and all of my questions and concerns were addressed and taken care of immediately. So far, our fundraising efforts have been a great success!
                </p>
                <footer>
                    Liana,<cite>
                        University, NJ
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I will order again and again! I was most impressed by the polite, genuinely friendly phone representative.
                </p>
                <footer>
                    Catherine,<cite>
                        High School Dance Team, WV
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We sold the 4 cases of dollar bars already, so we are ordering 2 more cases. The people are asking for more candy - they are very easy to sell.
                </p>
                <footer>
                    Vondalia,<cite>
                        Church, MD
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We did very well and are ecstatic about the results! We will never use another company. Thanks!
                </p>
                <footer>
                    2nd Grade Teacher,<cite>
                        Elementary School, Georgia
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We are very pleased with everything from ordering product to receiving.
                </p>
                <footer>
                    Cindy,<cite>
                        Band Parents Group, Salisbury, NC
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    Customer service is outstanding! We sold everything in four days!
                </p>
                <footer>
                    Tracy,<cite>
                        Middle School, Tucson, AZ
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    Great service - great products! Sales reps are very nice and I am very happy!
                </p>
                <footer>
                    Linda,<cite>
                        High School Drama Club, Boulder, MT
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    I went to all the fundraising companies on the Internet and requested lots of samples and information. The samples from your firm arrived first - within 3 days! I'm really happy with the information and will choose FundRaising.Com for all our fundraising needs!
                </p>
                <footer>
                    Tara<cite>
                        Student Council Association, New Jersey
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    Thank you so much for sending the samples of the ideas for fundraising programs. I really enjoyed looking through the different ideas. I have taken the ideas that I liked (and were different from the norm) to the school for everyone to put their input into them. Just to let you know that your company is the only company that actually took time to send out samples. You have our business if I have anything to say about it.
                </p>
                <footer>
                    Private School, <cite>
                        Michigan
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I just wanted to thank you for your help with our cookie dough fundraiser. Everything arrived as ordered and the truck driver was very nice! Thanks for all of your advice and information. I would never have been as prepared as I was without your help. We'll probably do again next year, it was such a success!
                </p>
                <footer>
                    Jody<cite>
                        High School Band, Texas
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thanks soooo much for all you do. ! I've purchased many tubs of cookie dough from my relatives and neighbors and I know how wonderful your products are! Thanks for giving the kiddos a great product to sell and earn money at the same time! It's soooo different from the junk other companies try to get kids to sell for fundraisers! NICE JOB!
                </p>
                <footer>
                    Lori<cite>
                        Elementary School, AZ
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    The cookie dough fundraiser was great! It was so easy to sell. Some members took the order forms to work and left it on the table in the lunchroom. When they came back to check, the form was already filled! Thirty members of our choir sold over $5,000 in 2 weeks. We plan to run the sale again because everyone wants to order more.
                </p>
                <footer>
                    Mark<cite>
                        South Jersey Mass Choir, NJ
                    </cite>
                </footer>
            </blockquote>

            <blockquote>
                <p>
                    We did presales to our actual cookie sale and loved the response we got. It was so easy. It almost sold itself. The service was both pleasant and outstanding. Kudos to your sales staff for their help.
                </p>
                <footer>
                    Middle School, <cite>
                        North Carolina
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our school does a lot of fundraisers - carnivals, fairs, etc. and they all take a lot of manpower. The cookie dough fundraiser was too easy! I was able to do the majority of organizing myself. Parents loved the product and could easily sell at work and outside our small community. My only problem is I keep getting orders and the sale is over! Our goal was $7,000 and we wound up with $12,000!
                </p>
                <footer>
                    Casey<cite>
                        Elementary School, Durham, California
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    What really got us into the cookie dough sale was the free sample. I baked up the cookies and our staff loved them! It's a product that most people buy anyway so they were easy to sell.
                </p>
                <footer>
                    Patty<cite>
                        Alpha Elementary, Tennessee
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    This is the first time we worked with FundRaising.Com and we made at least 10% more profit on our cookie dough sale than last year! We found the customer service very friendly and extra helpful. Delivery is important when you're dealing with over 400 students and it went so smooth - we were really impressed.
                </p>
                <footer>
                    Connie<cite>
                        V-H Elementary, Wisconsin
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thank you for your support during our Peppermint Panda' fundraiser. We had a very good experience with your company and look forward to working with you again.
                </p>
                <footer>
                    Rhonda<cite>
                        Private Academy, CA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We did very well on the Holiday Boutique' catalog fundraiser. Having our own consultant made things easier. The products are very satisfactory.
                </p>
                <footer>
                    Melissa<cite>
                        Private School, NY
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thank you! We are so pleased with the success of your Peppermint Panda' fundraiser!! Your fundraising consultant's help was so appreciated.
                </p>
                <footer>
                    Karen
                    <cite>Elementary School, NM</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thank you for everything your company did to make our fundraiser a success. We will definitely be using your company again. You were so helpful will all my questions on the phone and always patient. Fundraising is a stressful job, especially trying to keep the parents happy. You made it easy! THANK YOU!
                </p>
                <footer>
                    Kathy,
                    <cite>Elementary School PTA, WI</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    You did a great job with our fall catalog fundraiser. Thanks!
                </p>
                <footer>
                    Jennifer,<cite>
                        Dance School, TX
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We are so happy with our Tisket-a-Tasket catalog sale (spring 2001) and Cottage Garden brochure sales. We only had 12 sellers and we still made over $2,000! It was so easy - we didn't have to work very hard at all. To top it off, the items arrived weeks before I thought they would! Everything was awesome. We'll definitely be doing another sale with FundRaising.Com soon!
                </p>
                <footer>
                    Katherine,<cite>
                        Community Church, Kansas
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We have over 60 girls in our cheerleading group who participate in competitions all over the state of Texas. We've had success with the FunTees and Christmas brochure sales. Girls that participated earned over half of their competition fees! I've found your people easy to work with, easy to get a hold of, and the turnaround time is pretty good, too!
                </p>
                <footer>
                    Dawn<cite>
                        Cheerleading Group, Texas
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our parents loved the merchandise in the Holly Jolly brochure which made for a very successful fundraiser. We also loved the 55% profit and with only 18 participants, we were able to earn over $1,500 in profit! Your customer service is very friendly and very easy to reach. I'll be recommending FundRaising.Com to our other centers!
                </p>
                <footer>
                    Genevra<cite>
                        Children's Center, California
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We've always dealt with sales reps in the past and I was very nervous about dealing with a new firm. I even received some complaints in the beginning about choosing a dotcom company. I found that I had nothing to be nervous about because FundRaising.Com was more attentive to our group's needs than the reps were! The service was excellent and everyone was super supportive and very friendly. We had a very successful Holiday Delights brochure sale and the 55% profit was great!
                </p>
                <footer>
                    Synthia<cite>
                        Bell Middle School, Milwaukee, WI
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our Holiday Delights brochure sale was one of the best fundraisers we've ever had! It was the most profit we ever made!
                </p>
                <footer>
                    Donna,<cite>
                        Elementary School, New York
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    FundRaising.Com has been a wonderful company to deal with. The Christmas brochures have a really good assortment to choose from and the quality is great! Selection wasn't limited to just your typical wrapping paper and a few little insignificants. We had one broken item, which is being replaced. Your customer service always calls back and is very friendly to deal with. We'll always toot our horn for FundRaising.Com!
                </p>
                <footer>
                    Sarah,<cite>
                        Champion's Childcare, Oregon
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I am so pleased with our School Days brochure sale! I was hoping to make at least $350 so that I could purchase a playhouse for my small daycare of eight children. You can imagine how excited we were when we realized we made over $1100 in profit! Parents were really happy with the nice assortment of products and their support was tremendous!
                </p>
                <footer>
                    Shannon<cite>
                        Daycare in New York
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thanks again, our young people did so well with the sale. We are very happy with the results. Your service was and has been excellent. The lollipops are always a great item for the young and old.
                </p>
                <footer>
                    Johninne,<cite>
                        Church Youth Group, PA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    This has been a great pon-going project for us! Great product and fast order delivery.
                </p>
                <footer>
                    Kathy,<cite>
                        Student Booster Club, OK
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The colorblasters went fast! Excellent products and service!
                </p>
                <footer>
                    Racheal,<cite>
                        7th grade class, NM
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The fundraiser went well and we were pleased with the students' enjoyment of the sale and products. Your service is excellent. We appreciate the monthly coupon specials because we have an extremely low budget.
                </p>
                <footer>
                    Mona,<cite>
                        Yearbook Committee, CA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We did very well. We'll be buying more product in the near future! Service was perfect.
                </p>
                <footer>
                    Joe,<cite>
                        Youth Group, WA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We loved the lollipops! Excellent service!
                </p>
                <footer>
                    Tammy,<cite>
                        Church of God, SC
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We are enjoying the sale as well as the lollipops! Great speedy service.
                </p>
                <footer>
                    Kim,<cite>
                        First Grade Class, IN
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our cheerleaders did great! Much better than I ever expected. When I was told Dorothy ordered 2,000 lollipops, I thought she was crazy!!! But, the girls have done extremely well and I am pleased! We were also pleased that there was no shipping cost. Thank you!
                </p>
                <footer>
                    Flo,<cite>
                        Cheerleading Group, PA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The children continue to be enthusiastic about selling your product. For the most part, it is a very easy seller. Your company was great when I called about the damaged lollipops received in this order. Thank you!
                </p>
                <footer>
                    Emma,<cite>
                        Elementary School, NY
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We set our goal high and still had to order double our goal just to keep up. Excellent products!
                </p>
                <footer>
                    Pastor,<cite>
                        Church Youth Group, IN
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The lollipops were a great success! Thank you for sending them on such short notice. If we ever have another fundraiser, we will call you. God Bless you is our prayer.
                </p>
                <footer>
                    Tammy,<cite>
                        Church Youth Coordinator, IA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We sold 2 cases in 3-20 minute sessions! It was fast! Your service was great.
                </p>
                <footer>
                    Denise,<cite>
                        Student Council, CO
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    This was an excellent fundraiser. Students come knocking on my door to beg for lollipops.
                    Great service - very easy to order.
                </p>
                <footer>
                    Dawn,<cite>
                        Athletic Advisor, FL
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We did very well. In fact, we sold twice as much as we originally intended. The product and service was excellent. Thank you.
                </p>
                <footer>
                    Kathy,<cite>
                        Computer Club, OH
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The 8th grade class did very well. I was so surprised to see how quickly we ran out of lollipops! The service was prompt and the product was excellent. The lollipops are unique in size as well as with all the wonderful flavors. When I ordered the 2nd case, everyone knew their favorites!! I plan to order more items from you in the near future for other activities.
                </p>
                <footer>
                    Carol,<cite>
                        Private Academy, IL
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The children love your product! I love the results!
                </p>
                <footer>
                    Sister Mary,<cite>
                        Elementary school, MI
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The 8th graders did quite well selling 5 cases of lollipops (only 23 students). Service was great!
                </p>
                <footer>
                    Deb,<cite>
                        8th Grade Teacher, PA
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We did great on the lollipop sales and were very pleased with the results. We couldn't keep them away from our booth!
                </p>
                <footer>
                    Allison,<cite>
                        Cheerleading Advisor, NJ
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our first order from your company arrived promptly and although our sales event isn't until over Labor Day weekend we opened the box of lollipops and let the children purchase taste samples.
                    They have been a big hit and we sold $30 worth in just a couple of hours to club members and friends. I am not a big candy eater but found I love the cheesecake flavors! Thanks for great service as well. I have called your customer service dept. for info and everyone ws very friendly and helpful. Our council bookkeeper who handled the purchase order, etc. told me she had never worked with a company who made things so easy for us. I am sure we will sell out quickly this weekend and be ordering right away again. Our school principal is ready for us to sell on a weekly basis after reading your materials! Again, thanks for this great opportunity.
                </p>
                <footer>
                    Cindy<cite>
                        Camp Fire Group, MO
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We're just a small elementary school (K-6) with 175 students. Fridays have become Lollipop Day at our school and the student council is in charge of selling them. Our lollipop sales have been going strong for five years! From the profits, each year we have been able to purchase a 25 color television, VCR as well as the wall mounting brackets. We now have TV/VCR set-ups in 5 classrooms, with 5 left to go - all paid for from lollipop sales. It's a great fundraiser!
                </p>
                <footer>
                    Jan <cite> Elementary School, NE</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The team of teachers I work with were nervous about me wanting to order two cases of lollipops. After only one week, we were almost sold out!! They were very thrilled and insisted that I order another case. We received our reorder very fast that our fundraiser continued without any interruptions!! Thanks! We will definitely do this again.
                </p>
                <footer>
                    <cite>Middle School, TX</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our group has done very well on the lollipops for fundraising. We have raised enough money for our uniforms. Now we are trying to raise money for shoes and our banquet. Your service was great. Thank you very much.
                </p>
                <footer>
                    <cite>Youth Cheerleading, OH</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our middle school did very well selling the lollipops. I like the fact that we get 50% profit. We are a very small school and that helps. The products were good and the service was fast and friendly.
                </p>
                <footer>
                    <cite>Middle School, AZ</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    As part of our American Cancer Society Walk for Life Fundraising, we all took lollipops to work, school, relatives and events. WOW! They sold themselves! With the hustle and bustle, this was the most perfect way to raise funds. Thank you so much!
                </p>
                <footer>
                    <cite>Relay for Life, NC</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The Hoppin Pop lollipops arrived quickly and sold almost as fast!! The service was terrific. Better than terrific! We were very pleased.
                </p>
                <footer>
                    <cite>House of Worship Church, KY</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Colorblasters! They are wonderful. We sold all that we ordered (one case) in only 3 days. They were delicious and the results were quick and fantastic. Your representative was helpful and thorough in completing the sale.
                </p>
                <footer>
                    <cite>Youth Child Care Center, PA</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We sold all the lollipops in one day! We are very pleased with the sale and are ordering another case. Your customer service was very kind and helpful and the products arrived quickly.
                </p>
                <footer>
                    <cite>Elementary Academy, MI</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Fundraising.Com did a great job. Your goods sell like hot cakes!
                </p>
                <footer>
                    <cite>High School - Yearbook Committee, NY</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our group did wonderful. The lollipops (gourmet rounds and Hoppin Pops) practically sold themselves! The quality and services rendered were exceptional. Thank you.
                </p><footer>
                    <cite>Church Youth Group, NJ</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I have never seen anything sell so fast! You did a great job.
                </p>
                <footer>
                    <cite>Student Association, FL</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our lollipop sale went very well. We sold five cases of the gourmet round lollipops for a profit of $720!! Very happy! You did a great job with service. Thank you.
                </p>
                <footer>
                    <cite>Elementary School, MO</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The lollipops are a good product and the young people enjoyed it. They did great and it's easy! We are happy with the results.
                </p>
                <footer>
                    <cite>Church Youth Group, NC</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The Warheads sold out in four days! We are very happy. FundRaising.Com did great in providing quality service and products.
                </p>
                <footer>
                    <cite>Booster Club, CA</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The lollipop fundraiser was excellent! We sold one case in two days and are very happy. Your service was great.
                </p>
                <footer>
                    <cite>Third Grade Class, Elementary School, LA</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We love the heart pops we ordered for Valentine's Day. Our Elementary Library Club is sponsoring lollipop days on Wednesday and Friday, which everyone enjoys. We look forward to working with FundRaising.Com for the remainder of the school year.
                </p>
                <footer>
                    <cite>Elementary School, AR</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our youth ordered the lollipops and they loved selling them! They said they had people asking them to buy them instead of having to ask people to buy. They sold themselves! The kids were real excited about selling the lollipops, which makes it more fun. Your service was great, too. The lollipops arrived in such a short time, I was really surprised.
                </p>
                <footer>
                    <cite>Church Youth Group, KY</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our cheerleading group sold the gourmet round and Colorblaster lollipops. The fundraiser was just super and we were very happy with the results. FundRaising.Com is awesome!
                </p>
                <footer>
                    <cite>Middle School Cheerleaders, OK</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our children's ministry did wonderfully on the lollipop fundraiser! The kids love it and the adults are even asking to sell them. We are very happy with the results. The service is great, too.
                </p>
                <footer>
                    <cite>Children's Ministry, CA</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    This is a really good fundraiser. Our Girl Scout troop sold many bags of the lollipops in two days time at the high school.
                </p>
                <footer>
                    <cite>Girl Scout Troop, PA</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The information that was sent to us prior to our fundraising was very helpful. Your service was quick and friendly. Our lollipop sale is doing well.
                </p>
                <footer>
                    <cite>Childhood Association, IL</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    The lollipops were a great fundraiser! You were quick and efficient in getting the lollipops to us and we are very happy with the results.
                </p>
                <footer>
                    <cite>Fourth Grade Class, MI</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our drill team sold a whole case of lollipops within 5 days from receiving it. We did great! FundRaising.Com did very well in providing quality service.
                </p>
                <footer>
                    <cite>Middle School Drill Team, OH</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I opened up the case of lollipops that we ordered at 8:30am this morning while setting up for my physical education class. I gave one bag to one of the softball players and before I knew it, the other players were asking why they didn't get a bag to sell! I also gave 3 bags to the cheerleaders who were leaving on a field trip and they sold ½ bag before they even got on the bus! Since we're already down to 3 bags, I've ordered two more cases and plan to have them on hand all the time. This is a great fundraiser!
                </p>
                <footer>
                    Jeannette,<cite>
                        Middle-High School, ME
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We've sold eight cases of lollipops and we find they're very easy to sell. Most people will go ahead and buy two. Our cheerleading organization was able to provide wind suits for each of the 50 girls on the cheerleading squads. We were all so excited for the girls -being able to provide them with the suits made it so special.
                </p>
                <footer>
                    Patricia S.<cite>
                        Drexel Cheerleaders,Morganton, NC
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I am a believer in FundRaising.Com! Our school of 260 students, decided to sell lollipops to raise money to go to the zoo, which is 100 miles away. We raised enough money to pay for all 75 students and chaperones, plus lunch, supper, buses, and $10 in spending money for each child. We also donated $650 to other classes, made lollipop bouquets for Valentine's Day and still had over $700 left to start the next school year! All the selling was done before and after school - no one took lollipops home to sell. Thanks to FundRaising.Com for such a great product!
                </p>
                <footer>
                    Ralph W.<cite>
                        Elementary School, OH
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    In order to raise money for an upcoming trip to NASA in Houston, our Science Club decided on lollipops from FundRaising.Com. Since students need to raise $240 each, we were very excited when we discovered how quickly they sell! One student raised over $60 the first week. Our only problem is figuring out when to place the next order so we don't run out!
                </p>
                <footer>
                    Dene,<cite>
                        Middle School Science Club, TX
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our pompon squad decided to sell lollipops to raise money for uniforms. It was unbelievable - we sold 3 cases in less than 2 days and the kids are begging for more! Lollipops are such an affordable item for kids. We're thrilled with the sale and it's been great working with FundRaising.Com!
                </p>
                <footer>
                    Gayle,<cite>
                        Pompon Squad, MD
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I was dead set against fundraising! I only ordered one case of lollipops to start because I pictured my office filled with boxes of products. I couldn't believe it when I sold the whole case in two days and I haven't even given any to the students to sell yet! We are ordering another 3 cases and are really happy that we have found FundRaising.Com.
                </p>
                <footer>
                    Jerry,<cite>
                        Middle School, TN
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We were able to quickly raise over $900 with just 10 Pennies to Dollars cards in just a few days. It was so easy. In fact, people felt guilty when they only scratched $1 or $2 dollars and usually scratched more spots till they were up to about a $5 donation. We are using the money to help refurnish school and lab supplies to our sister school in West Africa. In the past, we wrote letters asking for donations, but the Pennies to Dollars program was much more successful.
                </p>
                <footer>
                    Anthony,<cite>
                        Cathedral School, Pennsylvania
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Our parish youth group of 25 students had a very successful sale with the Pennies to Dollars Fundraiser. It was really easy to use and instead of selling something, the kids just asked for donations. Paying out such a small amount and receiving a big amount in return made for a very successful fundraiser. We'll be using the money for our summer religious programs.
                </p>
                <footer>
                    Erick<cite>
                        Our Redeemer Lutheran Church, Minnesota
                    </cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thank you for your fundraising product. This was the most successful fundraiser our troop has ever had. We succeeded in raising a gross amount of $3,000.00, enough money to buy a troop trailer.
                </p>
                <footer>
                    John, <cite>Boy Scout Troop, Nebraska</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    We wanted to let you know that our program was the beneficiary of a very successful fundraising profit as a result of using the Pennies to Dollars program this past football year. The concept of getting the kids involved in a way that is not very demanding on the little guys and girls is nice. Besides, it is fun to have this type of activity instead of door-to-door selling of items people don't want. Our overall sales were $10,000.00 and we netted about $7,000.00 after expenses.
                </p>
                <footer>
                    Mike, <cite>Football Team, California</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Thanks to your excellent fundraising system, our small group of 6 students was able to raise enough money to go to the International Student Convention! Six teens worked for six hours…and raised $600.00!!! PLUS, since most people rounded up their amounts, the extra money MORE THAN paid for each card, making this a FREE fundraiser for us!
                </p>
                <footer>
                    Barbara, <cite>Christian School, New York</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    I would like to share with other youth pastors, churches or business organizations the success of a new fundraiser called Pennies to Dollars. One of the outstanding features of this fundraiser is that it is a simple way to raise money. It included no baking, no melted candy bars, and no messy car washes, making this one of the easiest and most hassle free fundraisers around. Our Youth Group raised an easy $4,000.00 for a trip to our General Assembly in Indiana by using the Pennies to Dollars Donation System. I would highly recommend this fundraiser for any organization looking for a fun and easy way to raise money.
                </p>
                <footer>
                    Jackie, <cite>Church of God, Virginia</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Each year our drill team attends the National Drill Team Championships in Daytona Beach, Florida. This trip is quite an expense and we are always looking for effective forms of fundraising. We recently tried the Pennies to Dollars Donation System. This proved to be a quick and relatively profitable way for the cadets to earn money to offset the trip's cost. These cards are easy to use and manage. They added a different twist to getting donations for our team and made it interesting for those supporting our effort. We look forward to including this system in our future fundraising efforts.
                </p>
                <footer>
                    Albert, <cite>Academy, New York</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    This is the easiest and most hassle free fundraiser around. After offering everyone an incentive of a spirit pack with a completed personalized Pennies to Dollars card, our football team raised over $6,000.00. Our net profit, after all expenses was over $4,000.00! This was pure profit with no upfront money and done in two weeks.
                </p>
                <footer>
                    Steve, <cite>Football Team, California</cite>
                </footer>
            </blockquote>
            <blockquote>
                <p>
                    Your fundraiser was GREAT!! In only 8 days time, while playing games and practicing, my group of 37 baseball players managed to raise $1,300.00! IT would be my pleasure to recommend your program to anyone in our area and tell them how effective the program is and how helpful you were.
                </p>
                <footer>
                    Rick, <cite>High School, Michigan</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
