USE [eFundraisingProd]
GO
/****** Object:  StoredProcedure [dbo].[efrcrm_get_temp_sale_zip_codes]    Script Date: 02/14/2014 13:06:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Generate get stored proc for Temp_Sale_Zip_Code
CREATE PROCEDURE [dbo].[efrcrm_get_temp_sale_zip_codes] AS
begin

select Zip_Code, Sale_To_Add_ID from Temp_Sale_Zip_Code

end
GO
