USE [eFundraisingProd]
GO
/****** Object:  StoredProcedure [dbo].[SetLeadContacted]    Script Date: 02/14/2014 13:08:52 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.SetLeadContacted    Script Date: 2003-02-22 20:34:54 ******/
CREATE PROCEDURE [dbo].[SetLeadContacted] AS
GO
