USE [eFundraisingProd]
GO
/****** Object:  StoredProcedure [dbo].[efrcrm_update_temp_lead]    Script Date: 02/14/2014 13:08:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Generate update stored proc for Temp_Lead
CREATE PROCEDURE [dbo].[efrcrm_update_temp_lead] @Division_ID int, @Promotion_ID int, @Temp_Lead_Id int, @Channel_Code varchar(4), @Lead_Status_ID int, @Consultant_ID int, @Lead_Entry_Date datetime, @Salutation varchar(10), @First_Name varchar(50), @Last_Name varchar(50), @Title varchar(50), @Organization varchar(100), @Street_Address varchar(100), @City varchar(50), @State_Code varchar(10), @Country_Code varchar(10), @Zip_Code varchar(10), @Day_Phone varchar(20), @Day_Time_Call varchar(20), @Evening_Phone varchar(20), @Evening_Time_Call varchar(20), @Fax varchar(20), @Email varchar(50), @Group_Type_ID int, @Member_Count int, @Participant_Count int, @Fund_Raising_Goal int, @Decision_Date datetime, @Decision_Maker bit, @Committee_Meeting_Required bit, @Committee_Meeting_Date datetime, @Fund_Raiser_Start_Date datetime, @OnEmailList bit, @FaxKit bit, @EmailKit bit, @Comments text, @Hear_Id int, @Kit_to_send bit, @Kit_sent bit, @Kit_sent_date datetime, @Old_Lead_Id int, @Lead_Assignment_Date datetime, @Interests text, @Has_Been_Contacted bit, @Fk_Kit_Type_ID int, @Lead_Priority_Id int, @Day_Phone_Ext varchar(10), @Evening_Phone_Ext varchar(10), @Rejection_reason text, @Other_Phone varchar(20), @Other_Phone_Ext varchar(10), @Group_Web_Site varchar(50), @Organization_Type_Id int, @Campaign_Reason_Id int, @Title_Id int, @Cookie_Content varchar(255), @Campaign_Reason varchar(50), @Web_Site_Id int, @IsNew bit AS
begin

update Temp_Lead set Promotion_ID=@Promotion_ID, Temp_Lead_Id=@Temp_Lead_Id, Channel_Code=@Channel_Code, Lead_Status_ID=@Lead_Status_ID, Consultant_ID=@Consultant_ID, Lead_Entry_Date=@Lead_Entry_Date, Salutation=@Salutation, First_Name=@First_Name, Last_Name=@Last_Name, Title=@Title, Organization=@Organization, Street_Address=@Street_Address, City=@City, State_Code=@State_Code, Country_Code=@Country_Code, Zip_Code=@Zip_Code, Day_Phone=@Day_Phone, Day_Time_Call=@Day_Time_Call, Evening_Phone=@Evening_Phone, Evening_Time_Call=@Evening_Time_Call, Fax=@Fax, Email=@Email, Group_Type_ID=@Group_Type_ID, Member_Count=@Member_Count, Participant_Count=@Participant_Count, Fund_Raising_Goal=@Fund_Raising_Goal, Decision_Date=@Decision_Date, Decision_Maker=@Decision_Maker, Committee_Meeting_Required=@Committee_Meeting_Required, Committee_Meeting_Date=@Committee_Meeting_Date, Fund_Raiser_Start_Date=@Fund_Raiser_Start_Date, OnEmailList=@OnEmailList, FaxKit=@FaxKit, EmailKit=@EmailKit, Comments=@Comments, Hear_Id=@Hear_Id, Kit_to_send=@Kit_to_send, Kit_sent=@Kit_sent, Kit_sent_date=@Kit_sent_date, Old_Lead_Id=@Old_Lead_Id, Lead_Assignment_Date=@Lead_Assignment_Date, Interests=@Interests, Has_Been_Contacted=@Has_Been_Contacted, Fk_Kit_Type_ID=@Fk_Kit_Type_ID, Lead_Priority_Id=@Lead_Priority_Id, Day_Phone_Ext=@Day_Phone_Ext, Evening_Phone_Ext=@Evening_Phone_Ext, Rejection_reason=@Rejection_reason, Other_Phone=@Other_Phone, Other_Phone_Ext=@Other_Phone_Ext, Group_Web_Site=@Group_Web_Site, Organization_Type_Id=@Organization_Type_Id, Campaign_Reason_Id=@Campaign_Reason_Id, Title_Id=@Title_Id, Cookie_Content=@Cookie_Content, Campaign_Reason=@Campaign_Reason, Web_Site_Id=@Web_Site_Id, IsNew=@IsNew where Division_ID=@Division_ID

end
GO
