USE [eFundraisingProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_sales_shipped_with_partner]    Script Date: 02/14/2014 13:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_sales_shipped_with_partner] (@date_from VARCHAR(10) = '', @date_to VARCHAR(10) = '', @partner_id INTEGER = 0) AS
	DECLARE @date_from_temp DATETIME;
	DECLARE @date_to_temp DATETIME;
	
	
	if @date_from = ''
		SET @date_from_temp = getdate();
	else
		SET @date_from_temp = @date_from;
	
	if @date_to = ''
		SET @date_to_temp = getdate();
	else
		SET @date_to_temp = @date_to;

	SELECT     dbo.Sale.Sales_ID, MIN(dbo.Product_Class.Product_Class_ID) as Product_Class_id, MIN(dbo.Product_Class.Description) as [Description],  dbo.Sale.Sales_Date, dbo.Sale.Total_Amount, dbo.Client.Organization, 
                dbo.Client.Salutation, dbo.Client.First_Name, dbo.Client.Last_name, dbo.Client.Title, dbo.Client.Day_Phone, dbo.Client.Fax, dbo.Client.Email, 
                dbo.Client.Lead_ID, dbo.Client_Address.Street_Address, dbo.Client_Address.State_Code, dbo.Client_Address.City, dbo.Client_Address.Zip_Code, 
                dbo.Client_Address.Country_Code
	FROM    dbo.Client INNER JOIN
                dbo.Sale ON dbo.Client.Client_Sequence_Code = dbo.Sale.Client_Sequence_Code AND dbo.Client.Client_ID = dbo.Sale.Client_ID INNER JOIN
                dbo.Sales_Item ON dbo.Sale.Sales_ID = dbo.Sales_Item.Sales_ID INNER JOIN
                dbo.Scratch_Book ON dbo.Sales_Item.Scratch_Book_ID = dbo.Scratch_Book.Scratch_Book_ID INNER JOIN
                dbo.Product_Class ON dbo.Scratch_Book.Product_Class_ID = dbo.Product_Class.Product_Class_ID INNER JOIN
                dbo.Lead ON dbo.Client.Lead_ID = dbo.Lead.Lead_ID INNER JOIN
                dbo.Promotion ON dbo.Lead.Promotion_ID = dbo.Promotion.Promotion_ID INNER JOIN
                dbo.Client_Address ON dbo.Client.Client_Sequence_Code = dbo.Client_Address.Client_Sequence_Code AND 
                dbo.Client.Client_ID = dbo.Client_Address.Client_ID
	WHERE   dbo.Promotion.partner_id = @partner_id and dbo.Client_Address.Address_Type = 'BT' and 
		dbo.Lead.lead_entry_date BETWEEN @date_from_temp AND @date_to_temp
		AND Sale.Actual_Ship_Date IS NOT NULL AND ((Sale.Reship_Date IS NULL AND Sale.Box_Return_Date IS NULL) OR
	        (Sale.Reship_Date IS NOT NULL AND Sale.Box_Return_Date IS NOT NULL))
	GROUP BY dbo.Sale.Sales_ID,  dbo.Sale.Sales_Date, dbo.Sale.Total_Amount, dbo.Client.Organization, 
                dbo.Client.Salutation, dbo.Client.First_Name, dbo.Client.Last_name, dbo.Client.Title, dbo.Client.Day_Phone, dbo.Client.Fax, dbo.Client.Email, 
                dbo.Client.Lead_ID, dbo.Client_Address.Street_Address, dbo.Client_Address.State_Code, dbo.Client_Address.City, dbo.Client_Address.Zip_Code, 
                dbo.Client_Address.Country_Code ;
GO
