USE [eFundraisingProd]
GO
/****** Object:  StoredProcedure [dbo].[UpdateAllLeadQualificationType]    Script Date: 02/14/2014 13:09:13 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/****** Object:  Stored Procedure dbo.UpdateAllLeadQualificationType    Script Date: 2003-02-22 20:34:54 ******/
CREATE PROCEDURE [dbo].[UpdateAllLeadQualificationType] AS
GO
