@{
    ViewBag.Title = "Error 500: Internal Error";
    Layout = "~/Views/Shared/_error.cshtml";
    ViewBag.ErrorCode = 500;
    ViewBag.ErrorFatal = "true";
}
<div class="row">
    <div class="row">
        <div class="col-md-3 visible-md visible-lg">&nbsp;</div>
        <div class="col-md-6 text-center">
            <img src="/Content/images/public/content/error_page.jpg" alt="Internal Error" style="width: 100%;"/>
        </div>
        <div class="col-md-3 visible-md visible-lg">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>We found an error and we are trying to fix it.</h1>
            <h3>Please go back <a href="#" onclick="window.history.go(-2);">by clicking here</a></h3>
        </div>
    </div>
    <br/>
    <br />
    <div class="row">
        <div class="col-md-3 visible-md visible-lg">&nbsp;</div>
        <div class="col-md-6 text-center">
            <a href="/">
                <img src="/Content/images/public/content/404_4.jpg" alt="Go home" style="width: 100%;"/>
            </a>
        </div>
        <div class="col-md-3 visible-md visible-lg">&nbsp;</div>
    </div>
</div>