USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[TaxProvince]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxProvince](
	[COUNTRY_CODE] [varchar](10) NOT NULL,
	[PROVINCE_CODE] [varchar](10) NOT NULL,
	[TAX_ID] [int] NOT NULL,
	[AP_INTF_DIST_ACCTSEG_1] [varchar](3) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_2] [varchar](4) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_3] [varchar](4) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_4] [varchar](4) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_5] [varchar](2) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_6] [varchar](2) NOT NULL,
	[AP_INTF_DIST_ACCTSEG_7] [varchar](3) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_1] [varchar](3) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_2] [varchar](4) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_3] [varchar](4) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_4] [varchar](4) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_5] [varchar](2) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_6] [varchar](2) NOT NULL,
	[AP_INTF_PREPAY_ACCTSEG_7] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC,
	[PROVINCE_CODE] ASC,
	[TAX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
