USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[OM_TBL_RESOURCE]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OM_TBL_RESOURCE](
	[RESOURCE_ID] [decimal](38, 0) NOT NULL,
	[DESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
