USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[RESOLVE_ACCOUNT]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESOLVE_ACCOUNT](
	[ACCTID] [int] NULL,
	[ACCTNAME] [varchar](50) NULL,
	[SHIPPINGADDRESS] [varchar](50) NULL,
	[SHIPPINGADDRESS2] [varchar](50) NULL,
	[SHIPPINGCITY] [varchar](50) NULL,
	[SHIPPINGSTATE] [varchar](10) NULL,
	[SHIPPINGZIP] [varchar](7) NULL,
	[BILLINGADDRESS] [varchar](50) NULL,
	[BILLINGADDRESS2] [varchar](50) NULL,
	[BILLINGCITY] [varchar](50) NULL,
	[BILLINGSTATE] [varchar](10) NULL,
	[BILLINGZIP] [varchar](7) NULL,
	[PHONENUMBER] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
