USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[OM_TBL_GROUP_TAX_REGISTRATION]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OM_TBL_GROUP_TAX_REGISTRATION](
	[GROUP_ID] [numeric](38, 0) NOT NULL,
	[TAX_ID] [numeric](38, 0) NOT NULL,
	[TAX_REGISTRATION_NUMBER] [varchar](20) NULL,
	[IS_TAX_EXEMPT] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
