USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[MissingCampaignToContentCatalog]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MissingCampaignToContentCatalog](
	[campaignid] [int] NOT NULL
) ON [PRIMARY]
GO
