USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[TaxApplicableTax]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxApplicableTax](
	[TAX_ID] [int] NOT NULL,
	[SECTION_TYPE_ID] [int] NOT NULL,
	[COUNTRY_CODE] [varchar](10) NOT NULL,
	[PROVINCE_CODE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC,
	[SECTION_TYPE_ID] ASC,
	[COUNTRY_CODE] ASC,
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
