USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[ACCOUNTCODELEVEL]    Script Date: 06/07/2017 09:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTCODELEVEL](
	[ACCOUNTCODELEVEL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CACCOUNTCODE] [char](4) NULL,
	[ORGANIZATIONLEVELID] [int] NULL,
 CONSTRAINT [PK_ACCOUNTCODELEVEL] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTCODELEVEL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
