USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[RESOLVE_CAMPAIGN]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESOLVE_CAMPAIGN](
	[ID] [int] NULL,
	[FMID] [varchar](4) NULL,
	[LANG] [varchar](10) NULL,
	[STARTDATE] [varchar](10) NULL,
	[ENDDATE] [varchar](10) NULL,
	[BILLTOACCOUNTID] [int] NULL,
	[SHIPTOACCOUNTID] [int] NULL,
	[ESTIMATEDGROSS] [numeric](10, 2) NULL,
	[NUMBEROFPARTICIPANTS] [int] NULL,
	[NUMBEROFCLASSROOMS] [int] NULL,
	[NUMBEROFSTAFF] [int] NULL,
	[ISSTAFFORDER] [int] NULL,
	[CONTACTFIRSTNAME] [varchar](20) NULL,
	[CONTACTLASTNAME] [varchar](30) NULL,
	[CONTACTEMAIL] [varchar](60) NULL,
	[CONTACTPHONE] [varchar](50) NULL,
	[CONTACTFAX] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
