USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[JLCCounter]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JLCCounter](
	[jcType] [int] NULL,
	[jcListId] [int] NULL,
	[jcCount] [int] NULL
) ON [PRIMARY]
GO
