USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[TaxMagRegistration]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaxMagRegistration](
	[TITLE_CODE] [varchar](10) NOT NULL,
	[TAX_ID] [int] NOT NULL,
	[TAX_REGISTRATION_NUMBER] [varchar](20) NULL,
 CONSTRAINT [PK_TaxMagRegistration] PRIMARY KEY CLUSTERED 
(
	[TITLE_CODE] ASC,
	[TAX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
