USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[postcard_data_2011]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[postcard_data_2011](
	[postcard_data_id] [int] IDENTITY(1,1) NOT NULL,
	[HEADER_KEY_FIELD]  AS ('S'),
	[HEADER_ACCT_NAME] [varchar](50) NULL,
	[HEADER_ACCT_#] [int] NOT NULL,
	[HEADER_FM_DISTRICT] [int] NULL,
	[HEADER_FMID] [varchar](4) NULL,
	[HEADER_FSM_ID]  AS (CONVERT([varchar],[HEADER_FM_DISTRICT],0)+[HEADER_FMID]),
	[HEADER_FSM_NAME_FIRST] [varchar](50) NULL,
	[HEADER_FSM_NAME_LAST] [varchar](50) NULL,
	[HEADER_FSM_NAME]  AS (case when len(([HEADER_FSM_NAME_FIRST]+' ')+[HEADER_FSM_NAME_LAST])>(25) AND len([HEADER_FSM_NAME_LAST])<(25) then (substring([HEADER_FSM_NAME_FIRST],(1),((25)-len([HEADER_FSM_NAME_LAST]))-(1))+' ')+[HEADER_FSM_NAME_LAST] when len([HEADER_FSM_NAME_LAST])=(25) then [HEADER_FSM_NAME_LAST] when len([HEADER_FSM_NAME_LAST])>(25) then substring([HEADER_FSM_NAME_LAST],(1),(25)) else ([HEADER_FSM_NAME_FIRST]+' ')+[HEADER_FSM_NAME_LAST] end),
	[HEADER_FSM_STREET_ADDRESS] [varchar](50) NULL,
	[HEADER_CITY] [varchar](50) NULL,
	[HEADER_STATE] [varchar](2) NULL,
	[HEADER_ZIP] [varchar](6) NULL,
	[HEADER_CITY_STATE_ZIP]  AS ((((case when len([HEADER_CITY])>(41) then substring([HEADER_CITY],(1),(41)) else [HEADER_CITY] end+' ')+[HEADER_STATE])+' ')+[HEADER_ZIP]),
	[STUDENT_DET_KEY_FIELD]  AS ('N'),
	[STUDENT_DET_STUDENT_NAME_FIRST] [varchar](50) NULL,
	[STUDENT_DET_STUDENT_NAME_LAST] [varchar](50) NULL,
	[CALCULATED_STUDENT_NAME]  AS (case when len(([STUDENT_DET_STUDENT_NAME_FIRST]+' ')+[STUDENT_DET_STUDENT_NAME_LAST])>(18) AND len([STUDENT_DET_STUDENT_NAME_LAST])<(18) then (substring([STUDENT_DET_STUDENT_NAME_FIRST],(1),((18)-len([STUDENT_DET_STUDENT_NAME_LAST]))-(1))+' ')+[STUDENT_DET_STUDENT_NAME_LAST] when len([STUDENT_DET_STUDENT_NAME_LAST])=(18) then [STUDENT_DET_STUDENT_NAME_LAST] when len([STUDENT_DET_STUDENT_NAME_LAST])>(18) then substring([STUDENT_DET_STUDENT_NAME_LAST],(1),(18)) else ([STUDENT_DET_STUDENT_NAME_FIRST]+' ')+[STUDENT_DET_STUDENT_NAME_LAST] end),
	[STUDENT_DET_STUDENT_NAME] [varchar](50) NULL,
	[STUDENT_DET_CUSTOMER_NAME_FIRST] [varchar](50) NULL,
	[STUDENT_DET_CUSTOMER_NAME_LAST] [varchar](50) NULL,
	[STUDENT_DET_CUSTOMER_NAME]  AS (case when len(([STUDENT_DET_CUSTOMER_NAME_FIRST]+' ')+[STUDENT_DET_CUSTOMER_NAME_LAST])>(20) AND len([STUDENT_DET_CUSTOMER_NAME_LAST])<(20) then (substring([STUDENT_DET_CUSTOMER_NAME_FIRST],(1),((20)-len([STUDENT_DET_CUSTOMER_NAME_LAST]))-(1))+' ')+[STUDENT_DET_CUSTOMER_NAME_LAST] when len([STUDENT_DET_CUSTOMER_NAME_LAST])=(20) then [STUDENT_DET_CUSTOMER_NAME_LAST] when len([STUDENT_DET_CUSTOMER_NAME_LAST])>(20) then substring([STUDENT_DET_CUSTOMER_NAME_LAST],(1),(20)) else ([STUDENT_DET_CUSTOMER_NAME_FIRST]+' ')+[STUDENT_DET_CUSTOMER_NAME_LAST] end),
	[STUDENT_DET_TITLE1] [varchar](30) NULL,
	[STUDENT_DET_PAGE_BREAK_INDICATOR] [varchar](1) NULL,
 CONSTRAINT [PK_postcard_data_2011_2] PRIMARY KEY CLUSTERED 
(
	[postcard_data_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
