USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[QSPProductLine]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QSPProductLine](
	[ID] [int] NOT NULL,
	[EntityID] [int] NOT NULL,
	[ProductLineNumber] [int] NULL,
	[Description] [varchar](50) NULL,
	[DistributionCenterID] [int] NULL,
	[ShipmentGroupID] [int] NULL,
 CONSTRAINT [PK_QSPProductLine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
