@*<div class="flipbook-viewport">
    <div class="container2">
        <div class="flipbook">
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/1.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/2.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/3.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/4.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/5.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/6.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/7.jpg'); height:100%; width:100%"></div>
            <div style="background-image:url('../../../Content/images/public/brochures/flowerpower/8.jpg'); height:100%; width:100%"></div>
       </div>
    </div>
</div>*@

