<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<style>

   .dollar {
      width: 70%;
      position: relative;
   }

      .dollar input {
         padding-left: 15px;
         
      }

      .dollar:before {
         position: absolute;
         content: "$";
         left: 5px;
         top: 8px;
      }

</style>

<div ng-controller="KitRequestController as kitRequestCtrl">
   <div class="row" style="font-family:karla">

      <div class="modal-body" id="kit1" style="padding-bottom:0px" ng-show="kitRequestCtrl.step1 == 1">
         <form name="kitRequestForm" id="kitRequestForm" role="form" ng-submit="kitRequestForm.$valid && kitRequestCtrl.SendNew();">
            <div class="form-group" style="margin:auto; display: block;text-align: center">
               <span style="font-size:34px; color:#626262; margin:auto; display: block;text-align: center">Request a Free Guide</span>
               <img class="responsive-img" style="height:60%; width:60%" src="~/Content/kit/img/fguide.jpg" alt="Request a Free Fundraising Guide"/>
               <br /><br />
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="kit.FirstName" class="control-label">Full Name</label>
                     <input type="text" class="form-control" placeholder="i.e. John Smith" id="kit.FirstName" name="kit.FirstName" required ng-required="true" ng-model="kitRequestCtrl.kit.FirstName" maxlength="50">
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="kit.Email" class="control-label">Email</label>
                     <input type="email" class="form-control" placeholder="i.e. john.smith@gmail.com" id="kit.Email" name="kit.Email" required ng-required="true" ng-model="kitRequestCtrl.kit.Email" maxlength="50">
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <label for="kit.Phone" class="control-label">Phone</label>
                     <input type="tel" ui-mask="{{kitRequestCtrl.phoneMask}}" class="form-control" id="kit.Phone" name="kit.Phone" required ng-required="true" ng-model="kitRequestCtrl.kit.Phone" maxlength="20">
                  </div>
               </div>
            </div>
            <div class="row modal-footer" style="margin-top:10px">
               <div class="row">
                  <div class="col-lg-4 col-xs-4" align="left" style="padding-top:10px">
                     <span class="text-info" ng-show="kitRequestCtrl.ActionState == 1">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                     </span>
                  </div>
                  <div class="col-lg-4 col-xs-4" align="center" style="padding-top:7px">
                     <span style="font-size:15px; color:#626262;">1 / 5</span>

                  </div>
                  <div class="col-lg-4 col-xs-4" align="right">
                     <button type="submit" style="background-color:#057890; border-color:#057890;" class="btn btn-success" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step1 Clicked');">Next</button>

                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12" align="left">
                     <div class="alert alert-danger" role="alert" ng-show="kitRequestCtrl.ActionState == 3">
                        <strong>"Opps! There was a problem submitting form! Please call us 1.800.443.5353"</strong>
                     </div>

                  </div>
               </div>
            </div>

         </form>
      </div>


      <div class="modal-body" style="padding-bottom:0px" id="kit2" ng-hide="kitRequestCtrl.step2 == 0" ng-cloak>
         <form name="kitRequestForm" id="kitRequestForm" role="form" ng-submit="kitRequestForm.$valid && kitRequestCtrl.Step2();">
            <div class="form-group" style="margin:auto; display: block;text-align: center">
               <span style="font-size:34px; color:#077a91">Step 2</span><br /><br />

            </div>
            <div class="form-group">
               <div class="row">
                  <div class="col-md-6">
                     <span style="font-size:24px; color:#626262;">How much do you want to raise?</span><br />
                     <div class="dollar">
                        <input type="text" style="border-color:#057990" required ng-required="true" maxlength="10" pattern="\d{1,5}" class="form-control" name="AmountToRaise" placeholder=" i.e. 500" id="AmountToRaise" ng-model="kitRequestCtrl.kit.Raise">
                     </div>
                     <br />
                  </div>
                  <div class="col-md-6">
                     <span style="font-size:24px; color:#626262;">Group Name</span><br />
                     <div >
                        <input type="text" style="border-color:#057990; width:70%" required ng-required="true" maxlength="100"  class="form-control" name="GroupName" id="GroupName" ng-model="kitRequestCtrl.kit.GroupName">
                     </div>
                     <br />
                  </div>
               </div>
               </div>

               <span style="font-size:24px; color:#626262">What are you raising funds for?</span>
               <div class="row">
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="uni"><img alt="Kit Request" src="~/Content/external/kitRequestimages/uniforms.png" /></label><br />
                        <input type="checkbox" class='myCheckBox' name="FundFor" id="uni" ng-model="kitRequestCtrl.kit.HasUniforms"
                               ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)"
                               style="margin:0">
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="eq">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/EQUIPMENT.png" />
                        </label><br />
                        <input type="checkbox" class='myCheckBox' name="FundFor" id="eq" ng-model="kitRequestCtrl.kit.HasEquipment" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="sup">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/supplies.png" />
                        </label><br />
                        <input type="checkbox" class='myCheckBox' name="FundFor" id="sup" ng-model="kitRequestCtrl.kit.HasSupplies" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)" />

                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="pg">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/PLAYGROUND.png" />
                        </label><br />
                        <input type="checkbox" class='myCheckBox' name="FundFor" id="pg" ng-model="kitRequestCtrl.kit.HasPlayground" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
               </div>
               <div class="row">

                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="fee">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/fees.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="fee" ng-model="kitRequestCtrl.kit.HasFees" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="kp">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/upkeep.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="kp" ng-model="kitRequestCtrl.kit.HasUpkeep" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="tra">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/travel.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="tra" ng-model="kitRequestCtrl.kit.HasTravel" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="day">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/rainydays.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="day" ng-model="kitRequestCtrl.kit.HasRainydays" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">

                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="col">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/college.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="col" ng-model="kitRequestCtrl.kit.HasCollege" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">



                     </div>
                  </div>
                  <div class="col-md-3 col-sm-2 col-xs-6" style="text-align:center; vertical-align:middle;">
                     <div class="checkbox">
                        <label for="ot">
                           <img alt="Kit Request" src="~/Content/external/kitRequestimages/other.png" />
                        </label><br />
                        <input type="checkbox" name="FundFor" id="ot" ng-model="kitRequestCtrl.kit.HasOther" style="margin:0" ng-required="!(kitRequestCtrl.kit.HasUniforms || kitRequestCtrl.kit.HasEquipment || kitRequestCtrl.kit.HasSupplies || kitRequestCtrl.kit.HasPlayground || kitRequestCtrl.kit.HasFees || kitRequestCtrl.kit.HasUpkeep || kitRequestCtrl.kit.HasTravel || kitRequestCtrl.kit.HasRainydays || kitRequestCtrl.kit.HasCollege || kitRequestCtrl.kit.HasOther)">



                     </div>

                  </div>
               </div>
               <div class="row modal-footer" style="margin-top:10px">
                  <div class="row">
                     <div class="col-lg-4 col-xs-4" align="left">
                        @*<button type="button" style="background-color:#828384; border-color:#828384;" class="btn btn-warning" ng-click="kitRequestCtrl.BackToStep1();">Back</button>&nbsp;*@
                        <span class="text-info" ng-show="kitRequestCtrl.ActionState == 1" style="padding-top:10px">
                           <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                        </span>
                     </div>
                     <div class="col-lg-4 col-xs-4" align="center" style="padding-top:7px">
                        <span style="font-size:15px; color:#626262;">2 / 5</span>

                     </div>
                     <div class="col-lg-4 col-xs-4" align="right">
                        <button type="submit" style="background-color:#057890; border-color:#057890;" class="btn btn-success" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step2 Clicked');">Next</button>


                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12" align="left">
                        <div class="alert alert-danger" role="alert" ng-show="kitRequestCtrl.ActionState == 3">
                           <strong>"Opps! There was a problem submitting form! Please call us 1.800.443.5353"</strong>
                        </div>

                     </div>
                  </div>
               </div>

</form>
      </div>

      <div class="modal-body" style="padding-bottom:0px" id="kit3" ng-hide="kitRequestCtrl.step3 == 0">
         <form name="kitRequestForm" id="kitRequestForm" role="form" ng-submit="kitRequestForm.$valid && kitRequestCtrl.Step3();">
            <div class="form-group" style="margin:auto; display: block;text-align: center">
               <span style="font-size:34px; color:#077a91">Step 3</span><br /><br />

            </div>

            <div class="form-group">
               <span style="font-size:24px; color:#626262">How many people are in your group?</span>
               <input type="text" style="border-color:#057990; width:40%" required ng-required="true" class="form-control" name="Members" maxlength="10" pattern="\d*" placeholder="i.e. 20" id="Members" ng-model="kitRequestCtrl.kit.Members">
               <br />
            </div>


            <span style="font-size:24px; color:#626262">What type of group are you?</span>
            <div class="row">
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="sch">
                     <img src="~/Content/kit/img/school.png" alt="school" />
                  </label><br />
                  <input type="radio" id="sch" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="10" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="spr">
                     <img src="~/Content/kit/img/sports.png" alt="sports" />
                  </label><br />
                  <input type="radio" id="spr" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="67" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="chr">
                     <img src="~/Content/kit/img/cheer.png" alt="cheer"  />
                  </label><br />
                  <input type="radio" id="chr" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="4" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="cho">
                     <img src="~/Content/kit/img/choir.png" alt="choir" />
                  </label><br />
                  <input type="radio" id="cho" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="1" required>
               </div>
            </div>
            <div class="row">
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="chu">
                     <img src="~/Content/kit/img/church.png" alt="church"  />
                  </label><br />
                  <input type="radio" id="chu" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="5" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="dac">
                     <img src="~/Content/kit/img/daycare.png" alt="daycare"  />
                  </label><br />
                  <input type="radio" id="dac" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="45" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="ani">
                     <img src="~/Content/kit/img/animal.png" alt="animal" />
                  </label><br />
                  <input type="radio" id="ani" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="54" required>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <label for="oth">
                     <img src="~/Content/kit/img/other1.png" alt="others" />
                  </label><br />
                  <input type="radio" id="oth" name="OrgType" ng-model="kitRequestCtrl.kit.GroupType" value="99" required>
               </div>

            </div>

            <div class="row modal-footer" style="margin-top:10px;">
               <div class="row">
                  <div class="col-lg-4 col-xs-4" align="left">
                     <button type="button" style="background-color:#828384; border-color:#828384;" class="btn btn-warning" ng-click="kitRequestCtrl.BackToStep2();">Back</button>&nbsp;

                     <span class="text-info" ng-show="kitRequestCtrl.ActionState == 1" style="padding-top:10px">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                     </span>

                  </div>

                  <div class="col-lg-4 col-xs-4" align="center" style="padding-top:7px">
                     <span style="font-size:15px; color:#626262;">3 / 5</span>

                  </div>
                  <div class="col-lg-4 col-xs-4" align="right">
                     <button type="submit" style="background-color:#057890; border-color:#057890;" class="btn btn-success" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step3 Clicked');">Next</button>


                  </div>
               </div>

               <div class="row">
                  <div class="col-md-12" align="left">
                     <div class="alert alert-danger" role="alert" ng-show="kitRequestCtrl.ActionState == 3">
                        <strong style="text-align:left">"Opps! There was a problem submitting form! Please call us 1.800.443.5353"</strong>
                     </div>

                  </div>
               </div>
            </div>



         </form>
      </div>




      <div class="modal-body" style="padding-bottom:0px" id="kit4" ng-hide="kitRequestCtrl.step4 == 0">
         <form name="kitRequestForm" id="kitRequestForm" role="form" ng-submit="kitRequestForm.$valid && kitRequestCtrl.Step4();">
            <div class="form-group" style="margin:auto; display: block;text-align: center">
               <span style="font-size:34px; color:#077a91">One last thing</span>

            </div>
            <br /><br />
            <div class="row" style="margin:auto; display: block;text-align:center;">
               <div class="col-md-12">
                  <span style="font-size:20px; color:#626262">Help us personalize your experience</span>
               </div>
            </div>

            <br /><br />
            <div class="row" style="margin:auto; display: block;text-align:center; padding-bottom:10px">
               <div class="col-md-12">
                  <span style="font-size:24px; color:#626262">How soon are you planning to get started?</span>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4"></div>
               <div class="col-md-4" style="align-content:center">
                  <select class="form-control" ng-model="kitRequestCtrl.kit.SelectedDate" name="FundStarting" id="FundStarting" style="align-items:center;">
                     <option value="None" ng-selected="true">--- Please select ---</option>
                     <option value="ASAP">ASAP</option>
                     <option value="Next 30 Days">Next 30 Days</option>
                     <option value="Within 3 Months">Within 3 Months</option>
                     <option value="Within 6 Months">Within 6 Months</option>
                     <option value="Undetermined">Undetermined</option>
                  </select>
               </div>
               <div class="col-md-4"></div>

            </div>
            <br /><br />
            <div class="row" style="margin:auto; display: block;text-align:center; padding-bottom:10px">
               <span style="font-size:24px; color:#626262">Select the fundraisers you're interested in</span>
            </div>
            <div class="row hidden-xs" style="text-align:center; margin:auto;">
               <div class="col-md-4 col-sm-3 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="bef">
                        <img src="~/Content/kit/img/beefjerky.png" alt="beefjerky" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="bef" name="Interest" ng-model="kitRequestCtrl.kit.IntBeefJerky" style="margin:0">


                  </div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="lol">
                        <img src="~/Content/kit/img/lollipops.png" alt="lollipops" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="lol" name="Interest" ng-model="kitRequestCtrl.kit.IntLollipops" style="margin:0">


                  </div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="coo">
                        <img src="~/Content/kit/img/cookies.png" alt="cookies" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="coo" name="Interest" ng-model="kitRequestCtrl.kit.IntCookies" style="margin:0">


                  </div>
               </div>

            </div>
            <div class="row hidden-xs" style="text-align:center; margin:auto;">
               <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="pre">
                        <img src="~/Content/kit/img/pretzel.png" alt="pretzel" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="pre" name="Interest" ng-model="kitRequestCtrl.kit.IntPretzels" style="margin:0">


                  </div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="sme">
                        <img src="~/Content/kit/img/smencils.png" alt="smencils" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="sme" name="Interest" ng-model="kitRequestCtrl.kit.IntSmencils" style="margin:0">


                  </div>
               </div>
               <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="din">
                        <img src="~/Content/kit/img/dinnercard.jpg" alt="dinnercard" class="responsive-img" />
                     </label><br />

                     <input type="checkbox" id="din" name="Interest" ng-model="kitRequestCtrl.kit.IntDinner" style="margin:0">



                  </div>
               </div>
            </div>

            <div class="row visible-xs" style="text-align:center; margin:auto;">
               <div class="col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="bef">
                        <img src="~/Content/kit/img/beefjerky.png" alt="beefjerky" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="bef" name="Interest" ng-model="kitRequestCtrl.kit.IntBeefJerky" style="margin:0">


                  </div>
               </div>
               <div class="col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="lol">
                        <img src="~/Content/kit/img/lollipops.png" alt="lollipops" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="lol" name="Interest" ng-model="kitRequestCtrl.kit.IntLollipops" style="margin:0">


                  </div>
               </div>
            </div>
            <div class="row visible-xs" style="text-align:center; margin:auto;">
               <div class="col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="coo">
                        <img src="~/Content/kit/img/cookies.png" alt="cookies" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="coo" name="Interest" ng-model="kitRequestCtrl.kit.IntCookies" style="margin:0">


                  </div>
               </div>
               <div class="col-xs-6 " style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="din">
                        <img src="~/Content/kit/img/dinnercard.jpg" class="responsive-img" />
                     </label><br />

                     <input type="checkbox" id="din" name="Interest" ng-model="kitRequestCtrl.kit.IntDinner" style="margin:0">



                  </div>
               </div>
            </div>
            <div class="row visible-xs" style="text-align:center; margin:auto;">
               <div class="col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="pre">
                        <img src="~/Content/kit/img/pretzel.png" alt="pretzel" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="pre" name="Interest" ng-model="kitRequestCtrl.kit.IntPretzels" style="margin:0">


                  </div>
               </div>
               <div class="col-xs-6" style="text-align:center; vertical-align:middle;">
                  <div class="checkbox">
                     <label for="sme">
                        <img src="~/Content/kit/img/smencils.png" alt="smencils" class="responsive-img" />
                     </label><br />
                     <input type="checkbox" id="sme" name="Interest" ng-model="kitRequestCtrl.kit.IntSmencils" style="margin:0">

                  </div>
               </div>
            </div>



            <div class="row modal-footer" style="margin-top:10px;">
               <div class="row">
                  <div class="col-lg-4 col-xs-4" align="left">
                     <button type="button" style="background-color:#828384; border-color:#828384;" class="btn btn-warning" ng-click="kitRequestCtrl.BackToStep3();">Back</button>&nbsp;
                    
                     <span class="text-info" ng-show="kitRequestCtrl.ActionState == 1" style="padding-top:10px">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span>
                     </span>

                  </div>

                  <div class="col-lg-4 col-xs-4" align="center" style="padding-top:7px">
                     <span style="font-size:15px; color:#626262;">4 / 5</span>

                  </div>
                  <div class="col-lg-4 col-xs-4" align="right">
                     <a href="" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step5 Skip Interest Clicked');" ng-click="kitRequestCtrl.SkipInterest();" style="padding-right:5px; color:#057890">SKIP</a>
                     <button type="submit" style="background-color:#057890; border-color:#057890;" class="btn btn-success" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step5 Clicked');">Next</button>


                  </div>
               </div>

               <div class="row">
                  <div class="col-md-12" align="left">
                     <div class="alert alert-danger" role="alert" ng-show="kitRequestCtrl.ActionState == 3">
                        <strong style="text-align:left">"Opps! There was a problem submitting form! Please call us 1.800.443.5353"</strong>
                     </div>

                  </div>
               </div>
            </div>



         </form>
      </div>



      <div class="modal-body" style="padding-bottom:0px" id="kit6" ng-hide="kitRequestCtrl.step5 == 0">
         <form name="kitRequestForm" id="kitRequestForm" role="form" >
            <div class="row">
               <div class="col-xs-12 col-sm-12" style="text-align:center">
                  <img src="~/Content/kit/img/step6_banner.jpg" style="height:80%; width:80%" class="responsive-img" alt="fundraising guide" />
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-12" style="text-align:center;">
                  <br /><br />
                  <a href="~/Content/external/partners/pdf/partnerkit/686.pdf" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step5 (Download pdf) Clicked');" class="btn btn-success btn-lg" style="background-color:#057890; border-color:#057890" target="_blank" ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 0}}">Download Your Digital Guide Here</a>
                  <a href="~/Content/external/partners/pdf/partnerkit/kitCan.pdf" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step5 (Download pdf Canada) Clicked');" class="btn btn-success btn-lg" style="background-color:#057890; border-color:#057890" target="_blank" ng-controller="DetectCountryController as detectCountryCtrl" ng-show="{{detectCountryCtrl.country == 1}}">Download Your Digital Guide Here</a>
                  <br />

               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-12" style="text-align:center; padding-top:10px">
                   <span style="font-size:14px; color:#626262;">Our Fundraising Experts are there for you if you need more information. Call us with your questions or to request samples. 1.800.443.5353
                   </span><br /> <br />
               </div>
            </div>

            <div class="row modal-footer" style="margin-top:10px;">
               <div class="row">
                  <div class="col-lg-4 col-xs-4" align="left">

                  </div>

                  <div class="col-lg-4 col-xs-4" align="center" style="padding-top:7px">
                     <span style="font-size:15px; color:#626262;">5 / 5</span>

                  </div>
                  <div class="col-lg-4 col-xs-4" align="right">
                     <button type="submit" style="background-color:#057890; border-color:#057890;" class="btn btn-success" onclick="ga('send', 'event', 'New Kit Request', 'PopUp Step5 (completed) Clicked');" ng-click="kitRequestForm.$valid && kitRequestCtrl.Step5();">Done</button>


                  </div>
               </div>

            </div>


         </form>

      </div>

   </div>
</div>
