@{
    ViewBag.Title = "Fundraising Promotions - Fundraising.com";
    ViewBag.Description = "Fundraising Promotion to help raise more funds";
    ViewBag.Keywords = "promotion fundraising, Promotion fundraisers, fundraising promotion";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("fundraisingpromotion", "Promotion");

}

<h1>Fundraising.com Promotions</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <a href="/promotion/fundraising-promotions" title="T-shirt & Scratchcard Promotions">T-shirt & Scratchcard Promotions</a>
            <br /><br />
            <a href="/promotion/Movember-Promotions" title="Movember Promotions">Movember Promotions</a>
        </div>
    </div>
</div>

