@{
    ViewBag.Title = "Movember Fundraising - Fundraising.com";
    ViewBag.Description = " fundraisers to help raise money for Movember.";
    ViewBag.Keywords = "Movember fundraising, Movember fundraisers, Movember page fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Movember", "Promotion");
}

<!-- //undone: jason links to add-->
<h1>Movember Promotion</h1>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10 ">
        <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-01.jpg" width="748" height="258" style="border:none" />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-02.jpg" width="374" height="65" style="border:none" />
    </div>
    <div class="col-sm-4">
        <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-03.jpg" width="374" height="65" style="border:none" />
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <a href="/online-fundraising/how-it-works" title="online fundraise">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-04.jpg" width="374" height="101" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="~/Content/pdf/public/movember_pickamo.pdf" target="_blank">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-05.jpg" width="185" height="101" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="~/Content/pdf/public/movember_pinthestache.pdf" target="_blank">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-06.jpg" width="189" height="101" style="border:none" />
        </a>
    </div>

</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <a href="/products/scratchcards" title="fundraise with scratchcards">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-07.jpg" width="374" height="102" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="~/Content/pdf/public/movember_booklet.pdf" target="_blank">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-08.jpg" width="185" height="102" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="https://www.pinterest.com/frdotcom/movember/" title="fundraising.com pinterest" target="_blank">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-09.jpg" width="189" height="105" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <a href="/products/t-shirts/all-t-shirts/Custom-Tshirts" title="fundraise with custom tee shirts">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-10.jpg" width="374" height="107" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/Content/pdf/public/movember_lollipopstaches.pdf" target="_blank">
            <img alt=" movember fundraising promotion" src="~/Content/images/public/movember-page-11.jpg" width="185" height="107" style="border:none" />
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/ideas/fundraising-idea#movember">
            <img alt="movember fundraising promotion" src="~/Content/images/public/movember-page-12.jpg" width="189" height="104" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="/canada" title="fundraise with canada products">
            <img alt="movember fundraising promotion" src="~/Content/images/public/canada_blackbar.jpg" width="751" height="52" style="border:none" />
        </a>
    </div>
</div>
