@{
    ViewBag.Title = "Fundraising.com Promotions";
    ViewBag.Description = "New Fundraising Promotion - Fundraising";
    ViewBag.Keywords = "Promotion fundraising, Promotion fundraisers, fundraising promotion";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("promotions", "Promotion");
}


<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<h1>Fundraising Promotion</h1>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-12 ">
            <img alt="facebook fundraiser promotion" class="img-responsive center-block" src="~/Content/images/public/facebook_likeus_freefundraiser_01.jpg" width="800" height="505" />
            <br />
            <img alt="facebook fundraiser promotion" class="img-responsive center-block" src="~/Content/images/public/facebook-likeus-freefundraiser-03.jpg" width="442" height="79" />
            <br />
            <div class="fb-like center-block" data-href="https://www.facebook.com/Fundraisingdotcom" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            <br /><br />
            <img alt="facebook fundraiser promotion" class="img-responsive center-block" src="~/Content/images/public/facebook-likeus-freefundraiser-06.jpg" width="442" height="69" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <a href="/products/scratchcards" title="scratchcards fundraiser">
                <img alt="facebook fundraiser promotion" class="img-responsive" src="~/Content/images/public/facebook-likeus-freefundraiser-07.jpg" width="279" height="108" style="border:none" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/products/t-shirts" title="custom fundraiser">
                <img alt="facebook fundraiser promotion" class="img-responsive" src="~/Content/images/public/facebook-likeus-freefundraiser-08.jpg" width="238" height="108" style="border:none" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/request-a-kit" title="fundraise guide">
                <img alt="facebook fundraiser promotion" class="img-responsive" src="~/Content/images/public/facebook-likeus-freefundraiser-09.jpg" width="283" height="108" style="border:none" />
            </a>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

