@{
    ViewBag.Title = "Best Selling Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need fund here are some great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas schools teams, help fundraising, school Fundraising, best sellers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Best Sellers", "Resources");

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12" style="text-align:center;margin-bottom:2%">
            <h2 style="font-weight:bold">BEST SELLERS</h2>
            These are the best of the best and work everytime!
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/chocolate/kathryn-beich/katydids-by-the-tin" style="text-decoration:none;color:black;margin:4px" title="Katydids" class="img-thumbnail">
                    <img src="/Content/external/products/cover/1028.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Katydids</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Mrs-Field-Cookies-Pretzels" style="text-decoration:none;color:black;margin:4px" title="Mrs. Field's Cookies &amp; Pretzels" class="img-thumbnail">
                    <img src="/Content/external/productcategory/96000.jpg" alt="Mrs. Field's Cookies &Amp; Pretzels" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mrs. Field's Cookies &amp; Pretzels</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-Prep-16-Flavors" style="text-decoration:none;color:black;margin:4px" title="Perfectly Pre-Portioned" class="img-thumbnail">
                    <img src="/Content/external/productcategory/303.jpg" alt="Perfectly Pre-Portioned" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Perfectly Pre-Portioned</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/pretzel-rods/all-pretzel-rods/Sweet-and-Salty-Pretzel-Rods" style="text-decoration:none;color:black;margin:4px" title="pretzel rods" class="img-thumbnail">
                    <img src="/Content/external/productcategory/88.jpg" alt="pretzel rods" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Sweet & Salty Pretzel Rods (60 pack Variety)</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/1-original-smencils" style="text-decoration:none;color:black;margin:4px" title="$1 Original Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/79.jpg" alt="$1 Original Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Original Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/sports-smencils" style="text-decoration:none;color:black;margin:4px" title="Sports Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/122.jpg" alt="Sports Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sports Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lix" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/54.jpg" alt="Yummy Lix Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Lix Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/color-xploder" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/50.jpg" alt="Color Xploder Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Color Xploder Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-5oz-Original-Beef-Stick" style="text-decoration:none;color:black;margin:4px" title="Jack Links - 0.5 oz Original Beef Stick" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40024.jpg" alt="Jack Links - 0.5 oz Original Beef Stick" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.5 oz Original Beef Stick</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>

    </div>
</div>


