@{
    ViewBag.Title = "Buy Online - Fundraising.com";
    ViewBag.Description = "If you need funds for your organization these are some great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, chocolate Fundraising, buy online";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Buy Online", "Home");

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12" style="float: none;text-align: center">
            <h2>BUY ONLINE</h2>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%; margin-top:5px; font-weight:500; ">
            Choose your products, add it to your cart, pay and that's it! easy like 1.2.3
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/chocolate/kathryn-beich/katydids-by-the-tin" style="text-decoration:none;color:black;margin:4px" title="Katydids" class="img-thumbnail">
                    <img src="/Content/external/products/cover/1028.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Katydids</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lix" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/54.jpg" alt="Yummy Lix Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Lix Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/color-xploder" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/50.jpg" alt="Color Xploder Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Color Xploder Lollipops</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-star-pops" style="text-decoration:none;color:black;margin:4px;" title="Yummy Star Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/62.jpg" alt="Yummy Star Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Star Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-hearts" style="text-decoration:none;color:black;margin:4px;" title="Yummy Hearts Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/52.jpg" alt="Yummy Hearts Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Hearts Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliball-football" style="text-decoration:none;color:black;margin:4px;" title="Lolliball Football Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/55.jpg" alt="Lolliball Football Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lolliball Football Lollipops</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Sour Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/48.jpg" alt="Sour Yummy Lips Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sour Yummy Lips Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-mania" style="text-decoration:none;color:black;margin:4px;" title="Sour Mania Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/49.jpg" alt="Sour Mania Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sour Mania Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/51.jpg" alt="Yummy Lips Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Lips Lollipops</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliween-halloween" style="text-decoration:none;color:black;;margin:4px;" title="Lolliween Halloween Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/58.jpg" alt="Lolliween Halloween Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lolliween Halloween Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/merry-pops-christmas" style="text-decoration:none;color:black;margin:4px;" title="Merry Christmas Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/57.jpg" alt="Merry Christmas Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Merry Christmas Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/lollipops/all-lollipops/hot-pops" style="text-decoration:none;color:black;margin:4px;" title="Hot Pops Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/53.jpg" alt="Hot Pops Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Hot Pops Lollipops</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-5oz-Original-Beef-Stick" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40024.jpg" alt="Jack Links - 0.5 oz Original Beef Stick" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.5 oz Original Beef Stick</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links–Stick-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40025.jpg" alt="Jack Links – 1.5oz Stick - Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Original</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40026.jpg" alt="Jack Links – 1.5oz Stick - Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Teriyaki</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Pepperoni" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40027.jpg" alt="Jack Links – 1.5oz Stick - Pepperoni" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Pepperoni</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Hot-Spicy" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40028.jpg" alt="Jack Links – 1.5oz Stick – Hot & Spicy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick – Hot & Spicy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/75.jpg" alt="Jack Links - 0.85 oz Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/76.jpg" alt="Jack Links - 0.85 oz Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/77.jpg" alt="Jack Links - 0.85 oz Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Peppered</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links--8oz-Beef-Steaks-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40029.jpg" alt="Jack Links - 0.8 oz Beef Steaks Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8oz-Beef-Steaks-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40030.jpg" alt="Jack Links - 0.8 oz Beef Steaks Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8-oz-Beef-Steaks-Peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40031.jpg" alt="Jack Links - 0.8 oz Beef Steaks Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Peppered</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/pretzel-rods/all-pretzel-rods/Sweet-and-Salty-Pretzel-Rods" style="text-decoration:none;color:black;margin:4px" title="pretzel rods" class="img-thumbnail">
                    <img src="/Content/external/productcategory/88.jpg" alt="pretzel rods" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Sweet & Salty Pretzel Rods (60 pack Variety)</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-20oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="$1 Original Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/79.jpg" alt="$1 Original Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Original Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-30oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="Sports Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/122.jpg" alt="Sports Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sports Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/scratchcards" style="text-decoration:none;color:black;margin:4px" title="Crayola Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82002.jpg" alt="Crayola Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Crayola Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Sketch-Sniff-Gel-Crayons" style="text-decoration:none;color:black;margin:4px" title="Sketch &amp; Sniff Gel Crayons" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82004.jpg" alt="Sketch &amp; Sniff Gel Crayons" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sketch &amp; Sniff Gel Crayons</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/smart-smencils" style="text-decoration:none;color:black;margin:4px" title="Smart Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/119.jpg" alt="Smart Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Smart Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/mechanical-smencils" style="text-decoration:none;color:black;margin:4px" title="Mechanical Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91008.jpg" alt="Mechanical Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mechanical Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/GLITTER-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Glitter Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/45000.jpg" alt="Glitter Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Glitter Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/TRI-COLOR-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Tri-Color Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/46000.jpg" alt="Tri-Color Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Tri-Color Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/NEON-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title=">Neon Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/44000.jpg" alt=">Neon Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Neon Gel Grip Smens</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/gummies/all-gummies/Main-Street-Gummies" style="text-decoration:none;color:black;margin:4px" title="Gummies" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82003.jpg" alt="Gummies" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Gummies</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/fruit-snacks/all-fruit-snacks/van-wyk-welchs-fruit-snacks" style="text-decoration:none;color:black;margin:4px" title="Van Wyk Welch's Fruit Snacks" class="img-thumbnail">
                    <img src="/Content/external/productcategory/6170.jpg" alt="Van Wyk Welch's Fruit Snacks" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Van Wyk Welch's Fruit Snacks</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/fruit-snacks/all-fruit-snacks/Welchs-Fruit-Rolls" style="text-decoration:none;color:black;margin:4px" title="Welch's Fruit Rolls" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91002.jpg" alt="Welch's Fruit Rolls" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Welch's Fruit Rolls</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/chocolate/one-dollar-bar-variety-packs/Chocolatiers-Variety-Pack" style="text-decoration:none;color:black;margin:4px" title="Chocolatiers $2 Variety Packs" class="img-thumbnail">
                    <img src="/Content/external/productcategory/41.jpg" alt="Chocolatiers $2 Variety Packs" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Chocolatiers $2 Variety Packs</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/chocolate/one-dollar-bar-variety-packs/americas-variety-dollar-bars" style="text-decoration:none;color:black;margin:4px" title="$1 America's Variety Dollars Bars" class="img-thumbnail">
                    <img src="/Content/external/productcategory/809.jpg" alt="$1 America's Variety Dollars Bars" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 America's Variety Dollars Bars</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/chocolate/one-dollar-bar-variety-packs/Chocolatiers" style="text-decoration:none;color:black;margin:4px" title="$1 Chocolatiers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/7700.jpg" alt="$1 Chocolatiers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Chocolatiers</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>


    </div>
</div>


