@{
    ViewBag.Title = "3-19 Coffee Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your organization 3-19 Coffee are a great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, Coffee Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = "coffee-fundraising-ideas";

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/external/resources/banner_landingpage_3-19.jpg" alt="coffee lovers ideas" class="responsive-img" style="margin: auto; width: 100%; display: block;" />
          
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%; margin-top:2%; font-weight:500; ">
            3-19 Coffee is a socially-driven organization with a foundation based on ethical sourcing art and community.<br /><br />
            A portion of every sale goes to projects and organizations that are making an impact in communities near and far
        </div>


        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/bycase_3-19.jpg" alt="3-19 coffee case" style="margin: auto;max-width:100%; height:auto">
            </div>

            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                <span  style="font-weight:bold;">Get Coffee by cases</span><br />
                <span  style="font-size:16px;">Purchase directly online through our store</span><br /><br />
                <a href="/products/319-coffee-case/all-319-coffee-case/319-coffee-case" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>

        </div>
        <!--BOOTSTRAP mobile hot fix col adjustment for mobile doesnt seem to be working properly-->
        <div class="row hidden-xs" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Take Orders</span><br />
                 <span  style="font-size:16px;">Run a Coffee fundraiser, no-upfront cost. Just get your brochure and take orders from family and friends</span><br /><br />
                <a href="/products/order-takers/all-order-takers/3-19-Coffee" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/ordertaker_3-19.jpg" alt="3-19 coffee order taker" style="margin: auto;max-width:100%; height:auto">
            </div>
        </div>
        <div class="row visible-xs" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/ordertaker_3-19.jpg" alt="3-19 coffee order taker" style="margin: auto;max-width:100%; height:auto">
            </div>
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Take Orders</span><br />
                 <span  style="font-size:16px;">Run a Coffee fundraiser, no-upfront cost. Just get your brochure and take orders from family and friends</span><br /><br />
                <a href="/products/order-takers/all-order-takers/3-19-Coffee" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>
        </div>
        <!--BOOTSTRAP mobile hot fix col adjustment for mobile doesnt seem to be working properly-->
        
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/foryourself_3-19.jpg" alt="coffee for yourself" style="margin: auto;max-width:100%; height:auto">
            </div>

            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Buy for yourself</span><br />
                 <span  style="font-size:16px;">Take advantage of our Home Delivery option and receive them at right at your doorstep.</span><br /><br />
                 <a href="/products/319-coffee" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>

        </div>

    </div>
</div>


