@{
    ViewBag.Title = "katydids Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your organization katydids are a great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, chocolate Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = "/katydids-fundraising-ideas";

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/external/resources/KD_landingpage_banner.jpg" alt="katydids ideas" class="responsive-img hidden-xs" style="margin: auto; width: 100%; display: block;" />
            <img src="~/Content/external/resources/KD_landingpage_banner_mobile.jpg" alt="katydids ideas" class="visible-xs" style="margin: auto;width: 100%; display: block;" />

        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%; margin-top:2%; font-weight:500; ">
            Soft, buttery caramel, whole fancy pecans and melt-in-your mouth chocolate; an all-time favourite hard to resist.
        </div>


        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/image_bythecase.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto">
            </div>

            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                <span  style="font-weight:bold;">Get them by cases</span><br />
                <span  style="font-size:16px;">Buy online with no hassle, your supporters will love them.</span><br /><br />
                <a href="/products/chocolate/kathryn-beich/kathryn-Beich-katydids-Tin" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>

        </div>
        <!--BOOTSTRAP mobile hot fix col adjustment for mobile doesnt seem to be working properly-->
        <div class="row hidden-xs" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Take Orders</span><br />
                 <span  style="font-size:16px;">Run a Katydids fundraiser, No-upfront cost. Just get your brochure and take orders from family friends.</span><br /><br />
                <a href="/products/order-takers/all-order-takers/katydids-brochures" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/image_ordertaker.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto">
            </div>
        </div>
        <div class="row visible-xs" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/image_ordertaker.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto">
            </div>
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Take Orders</span><br />
                 <span  style="font-size:16px;">Run a Katydids fundraiser, No-upfront cost. Just get your brochure and take orders from family friends.</span><br /><br />
                <a href="/products/order-takers/all-order-takers/katydids-brochures" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>
        </div>
        <!--BOOTSTRAP mobile hot fix col adjustment for mobile doesnt seem to be working properly-->
        
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none; text-align: left; text-align: center;margin-bottom:15px">
                <img src="~/Content/external/resources/image_bythetin.jpg" alt="katydids" style="margin: auto;max-width:100%; height:auto">
            </div>

            <div class="col-md-3 col-sm-4" style="display: inline-block; float: none;text-align: center;vertical-align: middle;">
                 <span  style="font-weight:bold;">Shop by the tin</span><br />
                 <span  style="font-size:16px;">Take advantage of our Home Delivery option and receive them at right at your doorstep.</span><br />
                <i  style="font-size:15px;">(we won't tell anyone you bought some for yourself)</i><br /><br />
                <a href="/products/chocolate/kathryn-beich-tin/katydids-by-the-tin" style="text-decoration:none;color:black;font-weight:bold;">SHOP NOW</a><br />
                <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:60px;margin-top:10px" />
            </div>

        </div>

    </div>
</div>


