@using System.Configuration
@{
    ViewBag.Title = "Kit Request Confirmation - Fundraising.com";
    ViewBag.Description = "Your good cause deserves a great fundraiser! Traditional and online fundraising ideas for schools, sports teams, churches and non-profits.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
}

<div class="row"  style="margin-top:150px">
    <div class="hidden-xs col-sm-12">
        <img src="/Content/external/kitrequestimages/confirmation_banner.jpg" alt="Kit Requested" style="width: 100%;" />
    </div>
    <div class="visible-xs col-sm-12">
        <img src="/Content/external/kitrequestimages/confirmation_banner_mobile.jpg" alt="Kit Requested" style="width: 100%;" />
    </div>
    <div class="col-xs-12 col-sm-12" style="text-align:center">
        <span class="text-muted">
            <span style="font-size:25px">Download your digital copy <a ng-href="@ViewBag.partnerkit" target="_blank">here</a></span>
            <br />
            <span class="text-muted" style="font-size:12px">Mailed copies will arrive within 10 days</span>
        </span>
    </div>
</div>

@section Scripts {
    <script>
        ga('send', 'event', 'Kit Request', 'Confirmation');
    </script>

    <!-- Google Code for Lead completed Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 929174995;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "NXI4CP7BiWQQ06uIuwM";
    var google_conversion_value = 12.50;
    var google_conversion_currency = "USD";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/929174995/?value=12.50&amp;currency_code=USD&amp;label=NXI4CP7BiWQQ06uIuwM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>



}