@{
    ViewBag.Title = "Non-Profit Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your school here are some great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas for non profit, help fundraising, non-profit Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("non-profit", "Resources");

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:25px">
            <img src="~/Content/external/resources/banner_nonprofitpage.jpg" alt="non profit ideas" class="responsive-img hidden-xs"  style="margin: auto;max-width:100%; height:auto;display: block;" />
            <img src="~/Content/external/resources/banner_nonprofitpage_mobile.jpg" alt="non profit ideas" class="visible-xs"  style="margin: auto;max-width:100%; height:auto;display: block;" />

        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%">
            No money upfront! Whether you’re raising funds for your school; your team; your church;
            or your favorite cause, these fundraising programs will make sure you reach your goals!
        </div>


       
            <div class="col-md-12" style=" background-color:#f6f6f6; padding-top:10px; padding-bottom:10px;margin-left:0;margin-right:0px;margin-bottom:15px">
                <div class="col-md-12" style="text-align:center;margin-bottom:2%;">
                    <h2 style="font-weight:bold">How do brochures fundraisers work?</h2>
                    No money up-front, that's the beauty of an order taker style fundraiser!
                </div>
                <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px;font-size:16px">
                    <div class="col-md-2 col-xs-12" style="display: inline-block; float: none; text-align: left; text-align: center;vertical-align: top;margin-bottom:5px">
                        <b>1.</b> We send you your brochures and order takers
                    </div>
                    <div class="col-md-2 col-xs-12" style="display: inline-block; float: none; text-align: left; text-align: center;vertical-align: top;;margin-bottom:5px">
                        <b>2.</b> Your group sells items and collects the funds
                    </div>
                    <div class="col-md-2 col-xs-12" style="display: inline-block; float: none; text-align: left; text-align: center;vertical-align: top;;margin-bottom:5px">
                        <b>3.</b> You keep your profit and send us a final tally with the orders
                    </div>
                    <div class="col-md-2 col-xs-12" style="display: inline-block; float: none; text-align: left; text-align: center;vertical-align: top;">
                        <b>4.</b> We ship out the items directly to you!
                    </div>
                </div>
            </div>
       

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:25px">
            <h1 style="font-weight:bold">BROCHURE FUNDRAISERS</h1>
            No money up-front, that's the beauty of an order taker style fundraiser!
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/chocolate/kathryn-beich/katydids-brochures" style="text-decoration:none;color:black;margin:4px" title="Katydids"  class="img-thumbnail">
                    <img src="/Content/external/productcategory/1300.jpg" alt="Katydids" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Katydids</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-Prep-16-Flavors" style="text-decoration:none;color:black;margin:4px" title="Perfectly Pre-Portioned" class="img-thumbnail">
                    <img src="/Content/external/productcategory/303.jpg" alt="Perfectly Pre-Portioned" style="margin: auto;max-width:100%; height:auto" ><br />
                    <span class="categoryFontSize">Perfectly Pre-Portioned</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-Tub-14-Flavors" style="text-decoration:none;color:black;margin:4px" title="Scoop and Bake Favorites" class="img-thumbnail">
                    <img src="/Content/external/productcategory/306.jpg" alt="Scoop and Bake Favorites" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scoop and Bake Favorites</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-12-Doughs" style="text-decoration:none;color:black;margin:4px" title="$12 Doughs" class="img-thumbnail">
                    <img src="/Content/external/productcategory/302.jpg" alt="$12 Doughs" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$12 Doughs</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Mrs-Field-Cookies-Pretzels" style="text-decoration:none;color:black;margin:4px" title="Mrs. Field's Cookies &amp; Pretzels" class="img-thumbnail">
                    <img src="/Content/external/productcategory/96000.jpg" alt="Mrs. Field's Cookies &Amp; Pretzels" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mrs. Field's Cookies &amp; Pretzels</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Mini-Cookies" style="text-decoration:none;color:black;margin:4px" title="Baked, Ready to Eat Mini Cookies" class="img-thumbnail">
                    <img src="/Content/external/productcategory/100000.jpg" alt="Baked, Ready to Eat Mini Cookies" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Baked, Ready to Eat Mini Cookies</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/scoop_bake_katydids" style="text-decoration:none;color:black;margin:4px" title="Scoop and Bake Favorites &amp; Katydids" class="img-thumbnail">
                    <img src="/Content/external/productcategory/100030.jpg" alt="Scoop and Bake Favorites &amp; Katydids" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scoop and Bake Favorites &amp; Katydids (since 1854)</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/earth-candle-brochures" style="text-decoration:none;color:black;margin:4px" title="Earth Candles" class="img-thumbnail">
                    <img src="/Content/external/productcategory/1350.jpg" alt="Earth Candles" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Earth Candles</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-30oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/76000.jpg" alt="Fusion Drinkware 30oz Stainless Steel CUSTOM Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Fusion Drinkware 30oz Stainless Steel CUSTOM Tumblers</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-20oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/75000.jpg" alt="Fusion Drinkware 20oz Stainless Steel CUSTOM Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Fusion Drinkware 20oz Stainless Steel CUSTOM Tumblers</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-24oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/77000.jpg" alt="Licensed Stainless Steel Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Licensed Stainless Steel Tumblers</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/popcorn-brochures" style="text-decoration:none;color:black;margin:4px" title="Popcorn" class="img-thumbnail">
                    <img src="/Content/external/productcategory/1340.jpg" alt="Popcorn" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Popcorn</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Snacking-Made-Simple" style="text-decoration:none;color:black;margin:4px" title="Snacking Made Simple" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82001.jpg" alt="Snacking Made Simple" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Snacking Made Simple</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Smoke-Haus-Slow-Cooked-Snacks" style="text-decoration:none;color:black;margin:4px" title="Smoke Haus Slow Cooked Snacks" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40033.jpg" alt="Smoke Haus Slow Cooked Snacks" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Smoke Haus Slow Cooked Snacks</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Ultimate-Coffee-Collection" style="text-decoration:none;color:black;margin:4px" title="Ultimate Coffee Collection" class="img-thumbnail">
                    <img src="/Content/external/productcategory/84000.jpg" alt="Ultimate Coffee Collection" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Ultimate Coffee Collection</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Custom-Sports-Apparel-ordertaker" style="text-decoration:none;color:black;margin:4px" title="Apparel" class="img-thumbnail">
                    <img src="/Content/external/productcategory/204.jpg" alt="Apparel" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Apparel</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/order-takers/all-order-takers/Crazy-about-Cookies-Edible-Dough" style="text-decoration:none;color:black;margin:4px" title="Crazy about Cookies Edible Dough" class="img-thumbnail">
                    <img src="/Content/external/productcategory/86000.jpg" alt="Crazy about Cookies Edible Dough" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Crazy about Cookies Edible Dough</span>
                </a>
            </div>

        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <h1 style="font-weight:bold">DISCOUNTS FUNDRAISERS</h1>
            Shop and save? It is possible and so much, your supporters will love these
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/discount-fundraisers/all-discount-fundraisers/Restaurant-25-Card" style="text-decoration:none;color:black;margin:4px" title="Restaurant $25 Card" class="img-thumbnail">
                    <img src="/Content/external/productcategory/63000.jpg" alt="Restaurant $25 Card" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Restaurant $25 Card</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/discount-fundraisers/all-discount-fundraisers/Restaurant-50-Card" style="text-decoration:none;color:black;margin:4px" title="Restaurant $50 Card" class="img-thumbnail">
                    <img src="/Content/external/productcategory/64000.jpg" alt="Restaurant $50 Card" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Restaurant $50 Card</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/discount-fundraisers/all-discount-fundraisers/restaurant-gift-card" style="text-decoration:none;color:black;margin:4px" title="Restaurant Gift Card" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40.jpg" alt="Restaurant Gift Card" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Restaurant Gift Card</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/discount-fundraisers/all-discount-fundraisers/Dinner-Movie-Card" style="text-decoration:none;color:black;margin:4px" title="Dinner and Movie Card" class="img-thumbnail">
                    <img src="/Content/external/productcategory/85000.jpg" alt="Dinner and Movie Card" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Dinner and Movie Card</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/discount-fundraisers/all-discount-fundraisers/city-saver" style="text-decoration:none;color:black;margin:4px" title="City Saver Coupon Book" class="img-thumbnail">
                    <img src="/Content/external/productcategory/90000.jpg" alt="City Saver Coupon Book" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">City Saver Coupon Book</span>
                </a>
            </div>

        </div>

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>

    </div>
</div>


