@using System.Configuration
@{
    ViewBag.Title = "Order taker - Fundraising.com";
    ViewBag.Description = "Your good cause deserves a great fundraiser! Traditional and online fundraising ideas for schools, sports teams, churches and non-profits.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="margin: auto;display: block;font-size:18px;">
            <span style="color:#127e93; font-weight:bold">WHAT'S NEXT?</span><br /><br />
            Shortly, one of our Fundraising Consultants will call you to confirm your address and delivery time.<br /><br />
            <strong>For immediate assistance, don't hesitate to call us at 1.800.443.5353</strong><br /><br />
            We're happy to help you have an amazing fundraiser!
            <img src="/Content/external/kitrequestimages/banner_thankyoupage_ordetaker.jpg" alt="order taker Requested" class="img-responsive" style="margin: auto;max-width:100%; height:auto;display: block;"/>
        </div>

    </div>
</div> 
    
    
   
    @section Scripts {
        <script>
            ga('send', 'event', 'order taker', 'Confirmation');
        </script>

        <!-- Google Code for Lead completed Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 929174995;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "NXI4CP7BiWQQ06uIuwM";
            var google_conversion_value = 12.50;
            var google_conversion_currency = "USD";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/929174995/?value=12.50&amp;currency_code=USD&amp;label=NXI4CP7BiWQQ06uIuwM&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>



    }
