@{
    ViewBag.Title = "School Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your school here are some great Fundraising Products and Ideas";
    ViewBag.Keywords = "Ideas schools teams, help fundraising, school Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("school", "Resources");

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:25px">
            <img src="~/Content/external/resources/schoolpage_topbanner.jpg" alt="school ideas" class="hidden-xs" style="margin: auto;max-width:100%; height:auto;display: block;" />
            <img src="~/Content/external/resources/schoolpage_banner_mobile.jpg" alt="school ideas" class="visible-xs"  style="margin: auto;max-width:100%; height:auto;display: block;" />

        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%">
            We’ve been working with schools for more than 20 years, we know what works! Take a look at what school groups like the most when it comes to raising funds
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%">
            <h2 style="font-weight:bold">COOKIE DOUGH FUNDRAISERS</h2>
            There are few greater pleasures in the world than putting a batch of cookie dough in the oven
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-Prep-16-Flavors" style="text-decoration:none;color:black;margin:4px" title="Perfectly Pre-Portioned" class="img-thumbnail">
                    <img src="/Content/external/productcategory/303.jpg" alt="Perfectly Pre-Portioned" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Perfectly Pre-Portioned</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-Tub-14-Flavors" style="text-decoration:none;color:black;margin:4px" title="Scoop and Bake Favorites" class="img-thumbnail">
                    <img src="/Content/external/productcategory/306.jpg" alt="Scoop and Bake Favorites" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scoop and Bake Favorites</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Crazy-about-Cookies-12-Doughs" style="text-decoration:none;color:black;margin:4px" title="$12 Doughs" class="img-thumbnail">
                    <img src="/Content/external/productcategory/302.jpg" alt="$12 Doughs" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$12 Doughs</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Mrs-Field-Cookies-Pretzels" style="text-decoration:none;color:black;margin:4px" title="Mrs. Field's Cookies &amp; Pretzels" class="img-thumbnail">
                    <img src="/Content/external/productcategory/96000.jpg" alt="Mrs. Field's Cookies &Amp; Pretzels" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mrs. Field's Cookies &amp; Pretzels</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/Scoop-Bake-6-flavors" style="text-decoration:none;color:black;margin:4px" title="Scoop and Bake top 6 Flavors" class="img-thumbnail">
                    <img src="/Content/external/productcategory/92000.jpg" alt="Scoop and Bake top 6 Flavors" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scoop and Bake top 6 Flavors</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/cookie-dough/all-cookie-dough/scoop_bake_katydids" style="text-decoration:none;color:black;margin:4px" title="Scoop and Bake Favorites &amp; Katydids" class="img-thumbnail">
                    <img src="/Content/external/productcategory/100030.jpg" alt="Scoop and Bake Favorites &amp; Katydids" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scoop and Bake Favorites &amp; Katydids (since 1854)</span>
                </a>
            </div>
        </div>


        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <h2 style="font-weight:bold">SMENCILS FUNDRAISER</h2>
            They smell amazing, they're eco-friendly, useful, and kids love them
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-20oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="$1 Original Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/79.jpg" alt="$1 Original Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Original Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-30oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="Sports Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/122.jpg" alt="Sports Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sports Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/scratchcards" style="text-decoration:none;color:black;margin:4px" title="Crayola Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82002.jpg" alt="Crayola Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Crayola Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Sketch-Sniff-Gel-Crayons" style="text-decoration:none;color:black;margin:4px" title="Sketch &amp; Sniff Gel Crayons" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82004.jpg" alt="Sketch &amp; Sniff Gel Crayons" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sketch &amp; Sniff Gel Crayons</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/smart-smencils" style="text-decoration:none;color:black;margin:4px" title="Smart Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/119.jpg" alt="Smart Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Smart Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/mechanical-smencils" style="text-decoration:none;color:black;margin:4px" title="Mechanical Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91008.jpg" alt="Mechanical Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mechanical Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/GLITTER-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Glitter Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/45000.jpg" alt="Glitter Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Glitter Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/TRI-COLOR-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Tri-Color Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/46000.jpg" alt="Tri-Color Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Tri-Color Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/NEON-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title=">Neon Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/44000.jpg" alt=">Neon Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Neon Gel Grip Smens</span>
                </a>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <h2 style="font-weight:bold">LOLLIPOPS FUNDRAISERS</h2>
            Who says no to a lollipop? These high quality lollipops come in a wide variety of flavors and shapes to suit any fundraiser.
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lix" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/54.jpg" alt="Yummy Lix Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Lix Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/color-xploder" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/50.jpg" alt="Color Xploder Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Color Xploder Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliball-football" style="text-decoration:none;color:black;margin:4px;" title="Lolliball Football Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/55.jpg" alt="Lolliball Football Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lolliball Football Lollipops</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-star-pops" style="text-decoration:none;color:black;margin:4px;" title="Yummy Star Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/62.jpg" alt="Yummy Star Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Star Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-hearts" style="text-decoration:none;color:black;margin:4px;" title="Yummy Hearts Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/52.jpg" alt="Yummy Hearts Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Hearts Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/51.jpg" alt="Yummy Lips Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Yummy Lips Lollipops</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-yummy-lips" style="text-decoration:none;color:black;margin:4px;" title="Sour Yummy Lips Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/48.jpg" alt="Sour Yummy Lips Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sour Yummy Lips Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/sour-mania" style="text-decoration:none;color:black;margin:4px;" title="Sour Mania Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/49.jpg" alt="Sour Mania Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sour Mania Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/hot-pops" style="text-decoration:none;color:black;margin:4px;" title="Hot Pops Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/53.jpg" alt="Hot Pops Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Hot Pops Lollipops</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliween-halloween" style="text-decoration:none;color:black;;margin:4px;" title="Lolliween Halloween Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/58.jpg" alt="Lolliween Halloween Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lolliween Halloween Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */ text-align: center;">
                <a href="/products/lollipops/all-lollipops/merry-pops-christmas" style="text-decoration:none;color:black;margin:4px;" title="Merry Christmas Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/57.jpg" alt="Merry Christmas Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Merry Christmas Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */ text-align: center;">
                <a href="/products/lollipops/all-lollipops/lollipop-tree-stand" style="text-decoration:none;color:black;margin:4px;" title="Lollipop Tree Stand" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91.jpg" alt="Lollipop Tree Stand" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lollipop Tree Stand</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>

    </div>
</div>


