@{
    ViewBag.Title = "Sports Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your sports team here are some great Fundraising Products and Ideas for baseball, Football, Cheerleading, and other sports groups";
    ViewBag.Keywords = "Ideas sport teams, help fundraising, sports team Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("sports", "Resources");

}


<div class="container-fluid NewSiteFontSize">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:25px">
            <img src="~/Content/external/resources/sportpage_topbanner.jpg" alt="sports ideas" class="responsive-img hidden-xs"  style="margin: auto;max-width:100%; height:auto;display: block;" />
            <img src="~/Content/external/resources/sportspage_banner_mobile.jpg" alt="sports ideas" class="visible-xs"  style="margin: auto;max-width:100%; height:auto;display: block;" />

        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:5%">
            Take a look at these products specially curated for sports groups.
            These tested and proven quality products are what your team needs.
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%">
            <h2 style="font-weight:bold">JACK LINKS FUNDRAISER</h2>
            Snacks packed with protein from everyone's favorite jerky brand
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-5oz-Original-Beef-Stick" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40024.jpg" alt="Jack Links - 0.5 oz Original Beef Stick" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.5 oz Original Beef Stick</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links–Stick-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40025.jpg" alt="Jack Links – 1.5oz Stick - Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Original</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40026.jpg" alt="Jack Links – 1.5oz Stick - Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Teriyaki</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Pepperoni" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40027.jpg" alt="Jack Links – 1.5oz Stick - Pepperoni" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick - Pepperoni</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-Stick-Hot-Spicy" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40028.jpg" alt="Jack Links – 1.5oz Stick – Hot & Spicy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links – 1.5oz Stick – Hot & Spicy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/75.jpg" alt="Jack Links - 0.85 oz Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/76.jpg" alt="Jack Links - 0.85 oz Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/jack-links-smart-choice-beef-jerky-085oz-peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/77.jpg" alt="Jack Links - 0.85 oz Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.85 oz Peppered</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links--8oz-Beef-Steaks-Original" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40029.jpg" alt="Jack Links - 0.8 oz Beef Steaks Original" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Original</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8oz-Beef-Steaks-Teriyaki" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40030.jpg" alt="Jack Links - 0.8 oz Beef Steaks Teriyaki" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Teriyaki</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/beef-jerky/jack-links/Jack-Links-8-oz-Beef-Steaks-Peppered" style="text-decoration:none;color:black;margin:4px" title="beef jerky" class="img-thumbnail">
                    <img src="/Content/external/productcategory/40031.jpg" alt="Jack Links - 0.8 oz Beef Steaks Peppered" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jack Links - 0.8 oz Beef Steaks Peppered</span>
                </a>
            </div>

        </div>

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;;margin-top:4%">
            <h2 style="font-weight:bold">CUSTOM FUNDRAISER</h2>
            Have a logo or team name? Brand that merchandise and spread the word
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-20oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/75000.jpg" alt="Fusion Drinkware 20oz Stainless Steel CUSTOM Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Fusion Drinkware 20oz Stainless Steel CUSTOM Tumblers</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-30oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/76000.jpg" alt="Fusion Drinkware 30oz Stainless Steel CUSTOM Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Fusion Drinkware 30oz Stainless Steel CUSTOM Tumblers</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/scratchcards" style="text-decoration:none;color:black;margin:4px" title="Scratcards" class="img-thumbnail">
                    <img src="/Content/external/products/cover/787.jpg" alt="Scratcards" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scratchcards</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/scratch-and-help/all-scratch-and-help/scratch-help-fundraising" style="text-decoration:none;color:black;margin:4px" title="Scratch &amp; Help" class="img-thumbnail">
                    <img src="/Content/external/products/cover/1042.jpg" alt="Scratch &amp; Help" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scratch &amp; Help</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/custom-eye-black/custom-fundraiser/Custom-Eye-Black" style="text-decoration:none;color:black;margin:4px" title="Custom Eye Black" class="img-thumbnail">
                    <img src="/Content/external/products/cover/933.jpg" alt="Custom Eye Black" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Custom Eye Black</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/safe-and-healthy/all-safe-healthy/face-mask" style="text-decoration:none;color:black;margin:4px" title="Face Masks Fundraiser" class="img-thumbnail">
                    <img src="/Content/external/productcategory/10040.jpg" alt="Face Masks Fundraiser" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Face Masks Fundraiser</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/safe-and-healthy/all-safe-healthy/Face-Shields" style="text-decoration:none;color:black;margin:4px" title="Face Shields" class="img-thumbnail">
                    <img src="/Content/external/productcategory/100040.jpg" alt="Face Shields" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Face Shields</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/custom-sports-apparel/all-custom-sports-apparels/custom-sports-hoodie" style="text-decoration:none;color:black;margin:4px" title="Hoodie" class="img-thumbnail">
                    <img src="/Content/external/productcategory/1210.jpg" alt="Hoodie" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Hoodie</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/t-shirts/all-t-shirts/Custom-Tshirts" style="text-decoration:none;color:black;margin:4px" title="Shirts" class="img-thumbnail">
                    <img src="/Content/external/productcategory/205.jpg" alt="Shirts" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Shirts</span>
                </a>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;;margin-top:4%">
            <h2 style="font-weight:bold">SPORTS THEMED FUNDRAISERS</h2>
            Baseball, Football, Hockey, Soccer, you name it, we have it
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-24oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="custom tumblers" class="img-thumbnail">
                    <img src="/Content/external/productcategory/77000.jpg" alt="Licensed Stainless Steel Tumblers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Licensed Stainless Steel Tumblers</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/lollipops/all-lollipops/lolliball-football" style="text-decoration:none;color:black;margin:4px" title="Lolliball Football Lollipops" class="img-thumbnail">
                    <img src="/Content/external/productcategory/55.jpg" alt="Lolliball Football Lollipops" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Lolliball Football Lollipops</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/sports-smencils" style="text-decoration:none;color:black;margin:4px" title="Sports Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/122.jpg" alt="Sports Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sports Smencils</span>
                </a>
            </div>
        </div>
        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>

    </div>
</div>


