@using GA.BDC.Shared.Entities
@model IList<Product>
@{
    ViewBag.Title = "Fundraising.com - Fundraising ideas and products to raise money";
    ViewBag.Description = "Your good cause deserves a great fundraiser! Traditional and online fundraising ideas for schools, sports teams, churches and non-profits.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Index", "Home");
}
<link href="~/Content/styles/slider/slider.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="slider">
                    <ul>
                        <li> <a href="#"><img src="~/Content/external/NewHP/NEWHP2021/KD_banner-top.jpg"  style="margin: auto;max-width:100%; height:auto;display: block;"/> </a> </li>
                        <li> <a href="#"> <img src="~/Content/external/NewHP/NEWHP2021/STH_banner-top.jpg" style="margin: auto;max-width:100%; height:auto;display: block;" /> </a> </li>
                        <li> <a href="#"> <img src="~/Content/external/NewHP/NEWHP2021/Guide_banner-top.jpg" style="margin: auto;max-width:100%; height:auto;display: block;" /> </a> </li>

                    </ul>
                    <div class="dots"> <a href="javascript:void(0);" rel="0" class="cur"></a> <a href="javascript:void(0);" rel="1"></a> <a href="javascript:void(0);" rel="2"></a> <a href="javascript:void(0);" rel="3"></a> </div>
                    <div class="arrow"> <a href="javascript:void(0);" class="btn-left">&lt;</a> <a href="javascript:void(0);" class="btn-right">&gt;</a> </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/styles/slider/slider.js"></script>

    <script type="text/javascript">
        $(document).omSlider({
            slider: $('.slider'),
            dots: $('.dots'),
            next: $('.btn-right'),
            pre: $('.btn-left'),
            timer: 5000,
            showtime: 1000
        });
    </script>
