<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <swCorporate.systemEx.messaging xdt:Transform="Replace">
    <instrumentation applicationName="GA.BDC.WebApi.Reports"
                     messageQueueHost="SQLP08"
                     messageQueueAceTrusteeList="Trusted Corporate PROD Messaging Principals" />
  </swCorporate.systemEx.messaging>
  <connectionStrings>
    <add name="EFundStore" providerName="System.Data.SqlClient" connectionString="Data Source=GASQLP02;Initial Catalog=efundstore;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EFundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EFRCommon" connectionString="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="FastFundraising" connectionString="data source=GASQLP02;initial catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.Fundraising.Reports;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  <appSettings>
    <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>