body {margin: 0; padding: 0}
#Form2 {margin: 0; padding: 0}

/* Form Layout */
.col2 {width: 100%}
.col2 .c1 {width: 50%; padding-right: 10px}
.col2 .c2 {width: 50%; padding-left: 10px}

/* Form Tables */
.formtbl {width: 100%}
.formtbl td {padding: 3px 0; vertical-align: top}
.formtbl td.name {white-space: nowrap}
.formtbl td.input {white-space: nowrap; width: 100%}
.formtbl td.input input, .formtbl td.input select, .formtbl td.input textarea {margin: 0 5px}

/* Form Styles */
#Form2 input, #Form2 select {line-height: normal}
#Form2 select#Country, #Form2 select#State {width: 160px}

/* Instructions */
table#Instruction1_Table2 {margin-bottom: 15px}

/* Errors & Messages */
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color: #c00; width: 100%; text-align: center}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font-size: 14px; font-weight: bold}
table.optionsbox td {padding: 0 5px 15px 5px}
table.optionsbox tr#ProductDetail11_trQty td {padding: 15px 5px}
table.optionsbox tr#ProductDetail11_trOptions td {padding: 3px 5px}

/* Content Type Styles */
.Content, .Instructions, #BreadCrumbs1_BreadCrumbs1 {text-align: left}

/* Buttons */
td.button {padding-top: 20px; text-align: right}

/* Common Styles */
a {outline:none}
a img {border:none;}
.center {text-align:center;}
.clear {clear:both;}
.float-left {float:left}
.float-right {float:right}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.bold {font-weight:bold}
.italic {font-style:italic}
.img-left {float:left;margin:0 10px 4px 0}
.img-right {float:right;margin:0 0 4px 10px}
.hide {display: none}

/* Reset Styles */
#TopBannerCell, #TopSubBannerCell,
#LeftColumnCell, #RightColumnCell,
#FooterCell, .search, .cart, #ContentCell,
#TopBannerCell ul, #TopBannerCell p,
#TopSubBannerCell ul, #TopSubBannerCell p,
#LeftColumnCell ul, #LeftColumnCell p,
#RightColumnCell ul, #RightColumnCell p,
#FooterCell ul, #FooterCell p,
.search ul, .search p, .cart ul, .cart p
#ContentCell, #ContentCell p,
#ContentCell h1, #ContentCell h2,
#ContentCell h3, #ContentCell h4,
.Headings, .subHeadings,
#ContentCell ul .Content, .Content p,
table td {margin: 0; padding: 0; list-style: none; vertical-align: top; text-align: left}

/* Search Result Page Styles
--------------------------------------------------------*/

/* Search Template 1 - Grid */
table#SearchTemplate11_DataGrid1__ctl3_DataList1 td table {margin: 0 10px 20px 10px}
table#SearchTemplate11_DataGrid1__ctl3_DataList1 td table td {text-align: center}

/* Product Detail Page Styles
-------------------------------------------------------*/

/* Detail Template 1 */
#ProductDetail11_Table1 td.col-1, #ProductDetail11_Table1 td.col-2 {padding-right: 10px}
tr#ProductDetail11_trDescription td {padding-top: 15px}
tr#ProductDetail11_trDescription td h1 {margin-bottom: 0; padding: 0; border: none}
tr#ProductDetail11_trCategory td {padding-bottom: 10px}
tr#ProductDetail11_trEMailFriend td.button {text-align: left}

/* Detail Template 2 */
.detail2 .options {margin-bottom: 10px}
.detail2 .options td span {display: block; padding-bottom: 10px; width: auto; float: left}
.detail2 .options td.button {text-align: left; padding-top: 10px; line-height: normal}
tr#ProductDetail21_trProductName td {line-height: normal}
.detail2 .options tr#ProductDetail21_trProductName td span {float: none; padding-bottom: 0; display: inline}
tr#ProductDetail21_trManufacturer td {padding-bottom: 10px}
tr#ProductDetail21_trQty td {padding: 10px 0}
tr#ProductDetail21_trDescription td {padding-top: 15px}
tr#ProductDetail21_trDescription td h1 {margin-bottom: 0; padding: 0; border: none}
tr#ProductDetail21_trDescription td h2 span#ProductDetail21_lblDescription {display: block}
#ProductDetail21_ImageCell {padding-right: 10px}