.gradient-line {
  position: relative;
}

.gradient-line:after {
  width:100%;
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0px;
}
.gradient-line:after {
  right:-2px;
  height: 2px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgb(70,161,206)), to(rgb(200,200,200)));
  background-image: -webkit-linear-gradient(left, rgb(70,161,206), rgb(200,200,200));
  background-image: -moz-linear-gradient(left, rgb(70,161,206), rgb(200,200,200));
  background-image: -o-linear-gradient(left, rgb(70,161,206), rgb(200,200,200));
}

footer ul {
  list-style-type: none;
  
  padding-left:0;
}
ul li span.col-title {
  display:block;  
  width:70%;
  padding-bottom:15px;
  color:white;
  font-weight:bold;
  font-size: small;
}

.collapsed-col-title {
  display:block;  
  width:100%;
  padding-bottom:15px;
  color:white;
  font-weight:bold;
  font-size: small;
}

.collapsed-footer-newletter {
    padding: 5px 0px 15px 0px;
}

footer li{
   font-size: small;
}

footer a {
   color:rgb(136,136,136);
}

footer a:hover {
   color:white;
}

footer li form{
   padding-top:5px;
}

.footerContainer {
    background: rgb(44,44,44);
    padding-top:20px;
    color:rgb(235,235,235);
}
.footerBottom {
    background: rgb(26,26,26);
    padding: 10px 0px 10px 0px;
    font-size: small;
}
