/*.nav-section,
.nav-section .breadcrumb {
    background-color:#ECECEC;
}

.nav-section .breadcrumb {
    font-size: small;
    margin: auto 0px;
}
.request-form {
    color:#757575;
}

.request-form .right-border {
        border:none;
}

@media screen and (min-width: 767px) {
    .request-form .right-border {
        border-right: 1px solid #ccc;
    }
}

.request-form input[type="text"],
.request-form input[type="email"],
.request-form input[type="tel"],
.request-form input[type="number"]{
    width: 100%;
    padding: 20px 20px;
    margin: 9px auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #D3D3D3;
    background-color:#F3F3F3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#757575;
}
.request-form textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #D3D3D3;
    background-color:#F3F3F3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#757575;
}

.request-form input[type="text"]:focus,
.request-form input[type="text"].focus, 
.request-form input[type="email"]:focus,
.request-form input[type="email"].focus,
.request-form input[type="tel"]:focus,
.request-form input[type="tel"].focus,
.request-form input[type="number"]:focus,
.request-form input[type="number"].focus,
.request-form textarea.focus,
.request-form textarea:focus{
    border-bottom: solid 2px #969696;
}

.request-form select {
    width:100% !important;
    height:auto !important;
    margin:2px auto;
    padding: 10px 10px !important;
    box-sizing: border-box !important;
    border: 2px solid #D3D3D3 !important;
    background-color:#F3F3F3 !important; 
    color:#757575 !important; 
    border-radius:8px !important;
}

.request-form hr {
    height:1px;
    border:none;
    color:#E5E5E5;
    background-color:#E5E5E5;
}
.request-form hr.bold-line {
    height:3px;
}
.request-form h4 {
    color:#DF1F2C; 
    font-weight:800;
}
.request-form h5 {
    color:#1365A1; 
    font-weight:700;
}

.request-form .btn-request{
    padding: 20px 65px !important;
    font-weight:700 !important;
    font-size:x-large;
    letter-spacing: 2px;
}

.request-form .btn-padding {
    padding-bottom:20px;
}

.request-form .form-inline .label-style {
    margin:10px auto; 
    padding-top: 10px !important;
}

.request-confirmation{
    padding: 5px 0px 20px 0px;
    color:#2A2A2A;
}
.request-confirmation h3 {
    color:#626262;
     font-weight:500;
}
.request-confirmation h4 {
    font-weight:600;
    line-height: 1.3em;
}
.request-confirmation .btn-primary {
    padding: 10px 25px !important;
    font-weight:bold;
    margin:10px auto;
}*/