[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
#top-bar-line {
    background-color: rgb(23,72,112);
    padding:5px;
    text-align: center;
    color:white;
}

.navbar-fixed-top {
    top: 50px;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
}
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}
 
.search-query:focus + button {
    z-index: 3;   
}
.top-header-small {
   font-size: small;
}
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.top-menu-style{
     padding-top:10px;  
 }
.top-menu-style a { font-size:small; float:right;}
.top-menu-style a:link { color:rgb(62,62,62);}
.top-menu-style a:visited {  font-weight:700; }
.top-menu-style a:hover { color:rgb(92,92,92); font-weight:bold; }
.top-menu-style a:active { font-weight:800;}

.top-menu-style .glyphicon {
    font-size: 20px;
    padding:0px 10px 0px 8px;
}


.top-collapsed-menu-style a { font-size:small;}
.top-collapsed-menu-style a:link { color:rgb(62,62,62);}
.top-collapsed-menu-style a:visited {  font-weight:800; }
.top-collapsed-menu-style a:hover { color:rgb(92,92,92); font-weight:bold; }
.top-collapsed-menu-style a:active { font-weight:800;}

.top-collapsed-menu-style .glyphicon {
    float:right;
    font-size: 25px;
    padding:10px 30px 0px 0px;
}



.more_info_container{
    margin: 15px 0px 15px 0px;
    padding: 10px 0px 10px 0px;
    background: rgb(231,231,231);
}
.more_info_line_1 {
    color: rgb(222,86,26);
    font-size: x-large;
    font-weight:bold;
    letter-spacing:3px;
}
.more_info_line_2 {
    color: #000000;
    font-size: small;
}

.btn-get-guide { 
  color: #ffffff; 
  background-color: #E67401; 
  border-radius:5px;
  /*width: 100%;*/
  font-weight:bold;
  /*margin: 10px 0px 0px 0px;
  padding: 7px 2px 7px 2px;*/
  border: 0 none;
  white-space: normal !important;
  word-wrap: break-word;
  text-align:center !important;
  text-decoration: none !important;
} 
 
.btn-get-guide:hover, 
.btn-get-guide:focus, 
.btn-get-guide:active, 
.btn-get-guide.active, 
.open .dropdown-toggle.btn-get-guide { 
  color: #ffffff; 
  background-color: #FC9700; 
  border: 0 none;
  outline: 0 none;
} 
 
.btn-get-guide:active, 
.btn-get-guide.active, 
.open .dropdown-toggle.btn-get-guide { 
  background-image: none; 
} 
 
.btn-get-guide.disabled, 
.btn-get-guide[disabled], 
fieldset[disabled] .btn-get-guide, 
.btn-get-guide.disabled:hover, 
.btn-get-guide[disabled]:hover, 
fieldset[disabled] .btn-get-guide:hover, 
.btn-get-guide.disabled:focus, 
.btn-get-guide[disabled]:focus, 
fieldset[disabled] .btn-get-guide:focus, 
.btn-get-guide.disabled:active, 
.btn-get-guide[disabled]:active, 
fieldset[disabled] .btn-get-guide:active, 
.btn-get-guide.disabled.active, 
.btn-get-guide[disabled].active, 
fieldset[disabled] .btn-get-guide.active { 
  background-color: #E67401; 
  border: 0 none;
} 
 
.btn-get-guide .badge { 
  color: #E67401; 
  background-color: #ffffff; 
}

.visit-blog-section {
    background-image:url(/Content/images/public/test-banner.png);
    color:#ffffff; 
    font-weight:bold;
    font-size:small;
    padding: 10px 0px 25px 0px;
}
.visit-blog-section h4 {
    font-weight:bold;
}
button.visit-blog {
    color:rgb(8,60,100);
    font-size:large;
    font-weight:700;
    padding:12px 0 12px 0px;
    margin:0px 10px 0px 10px;
    border-radius:10px;
}

.testimonial-container {
    background:rgb(242,242,242);
    padding: 10px 0px 20px 0px;
}

.middle-line-bg {
    width:100%; 
    text-align:left; 
    border-bottom: 1px solid #E2E2E2; 
    line-height:0.1em; 
    margin:10px 0 5px 0px; 
}
.middle-line-bg span{
    padding:0px 15px 0px 0px;
}

h3.testimonial-format {
    color:#F0543D;
    font-weight:900; 
}
.testimonial-format span{
    background:rgb(242,242,242); 
}

img.testimonial-center-img {
    margin:auto;
    width:30%;
    display:block;
    padding:0px 0px 10px 0px;
}
h4.testimonial-format {
    color:rgb(106,106,106);
    font-weight:800;
    padding-top:30px;
}
.col-sm-4 p.reduced {
    width:100%;
}

span.white-space-pre-line {
    white-space: pre-line;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background-color:#F2F2F2;
}

.banner-rotator-container {
    padding:10px 0px 15px 0px;
}




.banner-style {
    margin-bottom:25px; 
    background-color:#ffffff; 
    box-shadow: 1px 1px 2px #9D9D9D; 
    border-radius: 5px;
}
.banner-style-md {
    width: 65%;
}
.banner-style-lg {
    width: 95%;
}
.banner-style img {
    max-width:100%;
    height:auto;
    padding:20px 20px 10px 20px;
}
.banner-style h4{
    color:#11354D; 
    font-weight:800;
}
.banner-style p {
    color:#A8A8A8;
}
.banner-style .btn {
    position:relative; 
    top:15px;
    margin:0 auto; 
    display:inline-block; 
    white-space: normal;
}
.testimonial-message {
    font-style:italic;
}
.testimonial-creator {
    font-size:small;
    float:right;
    font-weight:700;
}
.testimonial-author {
    font-size:x-small;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.nav-section,
.nav-section .breadcrumb {
    background-color:#ECECEC;
  overflow: hidden;
height: 45px;
}

.nav-section .breadcrumb {
    font-size: small;
    /*margin: auto;*/
}
.request-form {
    color:#757575;
}

.request-form .right-border {
        border:none;
}

@media screen and (max-width: 767px) {
    /*.request-form .right-border {
        border-right: 1px solid #ccc;
    }*/
    .col-element-margin-sm {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.col-element-margin-sm {
        margin-top: 4px;
        margin-bottom: 4px;
    }

.row-padding-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-padding-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.row-padding-xs {
    margin-top: 4px;
    margin-bottom: 4px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"]{
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #D3D3D3;
    background-color:#F3F3F3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#757575;
}
textarea {
    box-sizing: border-box;
    border: 2px solid #D3D3D3;
    background-color:#F3F3F3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:#757575;
}

input[type="text"]:focus,
input[type="text"].focus, 
input[type="email"]:focus,
input[type="email"].focus,
input[type="tel"]:focus,
input[type="tel"].focus,
input[type="number"]:focus,
input[type="number"].focus,
textarea.focus,
textarea:focus{
    border-bottom: solid 2px #969696;
}

select {
    margin:2px auto !important;
    box-sizing: border-box !important;
    border: 2px solid #D3D3D3 !important;
    background-color:#F3F3F3 !important; 
    color:#757575 !important; 
    border-radius:8px !important;
}

/*.request-form select {
    margin:2px auto;
    box-sizing: border-box;
    border: 2px solid #D3D3D3;
    background-color:#F3F3F3; 
    color:#757575; 
    border-radius:8px;
}*/

.request-form hr {
    height:1px;
    border:none;
    color:#E5E5E5;
    background-color:#E5E5E5;
}
.request-form hr.bold-line {
    height:3px;
}
.request-form h3 {
    color:#DF1F2C; 
    font-weight:800;
}
.request-form h4,
.product-description-container h4 {
    color:#494949; 
    font-weight:700;
}

.btn-request{
    padding: 20px 10px;
}

.label-style {
    margin:10px auto; 
    font-size:large;
    color:#757575;
}

.request-confirmation{
    padding: 5px 0px 20px 0px;
    color:#2A2A2A;
}

.request-confirmation h3
.product-description-container h3 {
    /*color:#626262;*/
    font-weight:700;
}
.request-confirmation h4 {
    font-weight:600;
    line-height: 1.3em;
}
.request-confirmation .btn-primary {
    padding: 10px 25px !important;
    font-weight:bold;
    margin:10px auto;
}
.product-description-container {
    background-color:#F3F3F3; 
    color:#2D2D2D;
}
.product-container-padding {
    background-color:#DDDEE0; 
    padding:15px 5px; 
    border-radius:4px;
}
.product-name-color {
    color:#626262;
}
.product-description-color,
.product-price-color,
.product-profit-color
 {
    color:#17476D;
}
.product-price-color,
.product-profit-color {
    color:#083556;
}

.product-order-info-color {
    color:#4A4A4A;
}

.link-font-sm {
    font-size:small;
    color:#3C3C3E;
}
h5.product-related-format {
    color:#8A8A8A;
    font-weight:700; 
}
.product-related-format span{
    background:#F4F4F4; 
}
button {
    border-radius:5px;
}
.button-grey {
   background-color:#676566 !important;
}
.button-width-lg {
   width:90%;
}
.grey {
    color:#494949 !important;
}
button.form-control, a.form-control {
    height: 100%;
}

.modal-product {
    background-color:#5D5D5D;
    color:#FFFFFF;
}
.modal-product-header {
    background-color:#E97E36;
}

.product-thumbnail {
       box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.gsc-tabsArea > .gsc-tabHeader {
   height: 30px !important;
}

.gsc-tabsArea {
   height: 31px !important;
}

.circled-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 1.5em;
  border-radius: 50%;
  vertical-align: middle;
}
.circled-text:before {
  content:'';
  float: left;
  width: auto;
  padding-bottom: 100%;
}

.vertical-text {
	transform: rotate(-90deg);
	transform-origin: left top 0;
    float: left;
    background-color:#174870;
    color: white;
}


.position-me {
  position: relative;
  top: 0px;
  left: 100px;
  transform: translateX(-100%);
  background-color:black;
}

.rotate-me {
  transform: rotate(-90deg);
  transform-origin: right, top;
  text-align: center;
  background-color:tomato;
  float: left;
}

#header { 
    position: relative; 
}

.vertical-text {
    padding: 0px;
    padding-top: 7px;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    position: absolute;
    color: #FFFFFF;
    background-color: #174870;
    white-space: nowrap;
    top: 344px;
    height: 36px;
    width: 345px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: large;
    z-index: 10;
}

.vertical-text2 {
    padding: 0px;
    padding-top: 7px;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 0% 0%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
    position: absolute;
    color: #FFFFFF;
    background-color: #174870;
    white-space: nowrap;
    top: 170px;
    height: 36px;
    width: 180px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size: large;
    z-index: 10;
}



.thumbnail-index {
    /*height: 345px !important;*/
    text-align: center;
    vertical-align: middle;
}

.thumbnail-index-mobile {
    /*height: 345px !important;*/
    text-align: center;
    vertical-align: middle;
}


.div-center {
    /*height: inherit;
    display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.center-padding {
    padding-top:10px;
}

.col-no-padding {
    padding: 0 !important;
}

#mainBanner .carousel-control {
   display: none;
}

#mainBanner .carousel-indicators li { 
    visibility:hidden;
   
}

#middleCarousel{
    padding-left:10px;
    padding-right:10px;
}
#middleCarousel .carousel-control {
    display: none;
  
}

.thumbnail-index{
    position:relative;
    overflow:hidden;
    color:#103454;
}
.thumbnail-index h3 {
     color:#103552;
     font-weight:700;
}
.thumbnail-index h4 {
     color:#777777;
     font-weight:600;
}
.thumbnail-index-text-reg {
    color:#3E3E3E;
    font-size:medium;
    margin-right: 20px;
}
.index-info h3{
    color:#F0543D;
    font-weight:900; 
    text-align: left;
}
.index-info [class^="col-"], .index-info [class*=" col-"]{
    text-align: center;
    color:#8D8D8D;
}
.index-info h5{
    color:#413E49;
    font-weight:600;
}
.index-info h6{
    color:#6A6A6A;
    font-weight:600;
}
.index-testimonial h3{
    color:#354A5F;
    font-weight:900; 
}

/*Ribbon*/
.cr {
    background-color: #174870;
    margin: 0px;
    width: 100%;
    top: 0px;
    left: -50%;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 3px;
    text-align: center;
    color: #f0f0f0;
    transform-origin: 50% 0%;
    height: auto;
    overflow: hidden;
    transform: rotate(-45deg);
}
.cr span {
    font-weight:500;
}
.cr-sticky {
  position: absolute;
  z-index:10;
}

.pop-fund-color {
    color:#104870;
}

.make-itez-color {
    color:#050505;
}