/* CSS definition file containing sitestyle stylesheets */
BODY { color: rgb(0,0,0); background-image: url("../../../Background.jpg");}
 A:link { color: rgb(206,34,38);}
 A:visited { color: rgb(110,110,110);}
 