USE [eFundstore]
GO
/****** Object:  Table [dbo].[product_price_info]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product_price_info](
	[product_id] [int] NOT NULL,
	[country_code] [varchar](10) NOT NULL,
	[effective_date] [datetime] NOT NULL,
	[product_class_id] [int] NOT NULL,
	[unit_price] [decimal](15, 4) NULL,
 CONSTRAINT [PK_product_price_info] PRIMARY KEY NONCLUSTERED 
(
	[country_code] ASC,
	[product_id] ASC,
	[effective_date] ASC,
	[product_class_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[product_price_info] ADD  CONSTRAINT [DF_product_price_info_product_id]  DEFAULT (0) FOR [product_id]
GO
