USE [eFundstore]
GO
/****** Object:  Table [dbo].[Temp_Newsletter_Unsub]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Temp_Newsletter_Unsub](
	[email] [varchar](100) NULL,
	[name] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
