USE [eFundstore]
GO
/****** Object:  Table [dbo].[partner_web_form]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[partner_web_form](
	[partner_id] [int] NOT NULL,
	[web_form_id] [int] NOT NULL,
	[recipient] [varchar](600) NULL,
	[web_from_type_id] [int] NULL,
 CONSTRAINT [PK_partner_web_forms] PRIMARY KEY CLUSTERED 
(
	[partner_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
