USE [eFundstore]
GO
/****** Object:  Table [dbo].[choice]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[choice](
	[choice_id] [int] IDENTITY(1,1) NOT NULL,
	[choice_desc] [varchar](100) NOT NULL,
	[location] [varchar](50) NULL,
	[image] [varchar](100) NULL,
 CONSTRAINT [PK_choice_id] PRIMARY KEY CLUSTERED 
(
	[choice_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
