USE [eFundstore]
GO
/****** Object:  Table [dbo].[salutation]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salutation](
	[salutation_id] [tinyint] NOT NULL,
	[description] [varchar](10) NULL,
 CONSTRAINT [PK_salutation] PRIMARY KEY CLUSTERED 
(
	[salutation_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
