USE [eFundstore]
GO
/****** Object:  Table [dbo].[brochure_image]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brochure_image](
	[brochure_image_id] [tinyint] NOT NULL,
	[product_id] [int] NOT NULL,
	[base_filename] [varchar](100) NOT NULL,
	[file_ext] [varchar](5) NOT NULL,
	[number_page] [tinyint] NOT NULL,
 CONSTRAINT [PK_brochures_images] PRIMARY KEY CLUSTERED 
(
	[brochure_image_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
