USE [eFundstore]
GO
/****** Object:  Table [dbo].[shopping_cart_code]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shopping_cart_code](
	[shopping_cart_code] [char](1) NOT NULL,
	[description] [varchar](100) NOT NULL,
 CONSTRAINT [PK_shopping_cart_code] PRIMARY KEY CLUSTERED 
(
	[shopping_cart_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
