USE [eFundstore]
GO
/****** Object:  Table [dbo].[country]    Script Date: 02/14/2014 16:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[country_code] [nvarchar](2) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[descriptive_information] [nvarchar](4000) NOT NULL,
	[display] [bit] NOT NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[country_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[country] ADD  CONSTRAINT [DF_country_display]  DEFAULT (1) FOR [display]
GO
