@{
    ViewBag.Title = "Amateur Softball Association - Fundraising.com Partner";
    ViewBag.Description = "Learn more about Fundraising.com’s partner in softball fundraising, the Amateur Softball Association (ASA).";
    ViewBag.Keywords = "Partner Amateur Softball Association, fundraising.com partners, football fundraiser, sports fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("usafootball", "Partners");
}
<h1>Amateur Softball Association (ASA)</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <img alt="asa fundraising ideas" class="img-responsive" src="~/Content/external/partners/FR_ASA_landing_page_01.jpg" />
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4" >
            As a proud fundraising partner of Fundraising.com, the Amateur Softball Association (ASA) and USA Softball serves as the National Governing Body of Softball in the United States of America as recognized by the United States Olympic Committee. Softball is the "The Game America Plays" and ASA/USA Softball is responsible for registering over 210,000 teams every year that includes ages 8 to 80 in the disciplines of fast pitch, slow pitch and modified pitch.
            <br /><br />
            The ASA is comprised of 76 member associations across the U.S. that administer softball in their respective regions of the country. The ASA hosts over 100 National championships each year where over 2,400 teams compete annually in over 60 cities. The ASA is also responsible for registering approximately 30,000 umpires every year who administer and implement the rules of the game. USA Softball is the brand created, operated and owned by the ASA that links the USA Men's, Women's, Junior Boys' and Junior Girls' National Team programs together. USA Softball is responsible for training, equipping and promoting these four National Teams to compete in international and domestic competitions. The USA Softball Women's National Team is one of only two women's sports involved in the Olympic movement to capture three consecutive gold medals at the Olympic Games since 1996. The U.S. women have also won 9 World Championship titles including the last seven consecutive as well as claimed five World Cup of Softball titles.
            <br /><br />
            Together with Fundraising.com, the ASA brings unique and proven fundraising programs to its members.
            <br /><br />
            Please visit <a href="http://www.asasoftball.com" target="_blank" title="asa fundraising">www.asasoftball.com</a>
        </div>
        <div class="col-sm-4">
            <img alt="asa fundraising ideas" class="img-responsive" src="~/Content/external/partners/ASA_partnerpage_sidebanner.jpg" />
        </div>

    </div>
   </div>