@{
    ViewBag.Title = "Our Partner Up Affiliate Program - Fundraising.com";
    ViewBag.Description = "Contact us with your questions.  Our Customer Service and Fundraising consultants are available to help you.";
    ViewBag.Keywords = "fundraising, fundraisers, efundraising, fundraising tips, fundraising ideas, cookie dough fundraiser, candy fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("AffiliateProgram", "Partners");
}
<div style="margin-top:125px">
   <h1>Our Partner Up Affiliate Program</h1>
   <div class="row">
      <div class="col-sm-6">
         <span>
            If your website traffic attracts potential fundraisers like students, parents, teachers, schools; sports teams and coaches; churches, youth groups or any kind of non-profit group, then you’d make an amazing affiliate partner of Fundraising.com!
            <br /><br />
            Launched in 1999 and a proud, new addition to the Great American family, Fundraising.com is the leading online fundraising company that helps thousands of non-profit groups raise millions for their good causes!
         </span>
         <br /><br />
         <ul>
            <li><strong>$3 for each Free <a href="#" data-toggle="modal" data-target="#kit-request-modal">Fundraising Guide request</a></strong></li>
            <li><strong>10% commission on sales generated through @Html.ActionLink("Online Fundraising campaigns", "HowItWorks", "OnlineFundraising").</strong></li>
            <li><strong>10% commission on sales generated on the Partner Store</strong></li>
         </ul>
         <br />
         <div class="row">
            <div class="col-sm-6">
               <a href="http://fundraising.postaffiliatepro.com/affiliates/" target="_blank" class="btn btn-warning form-control">Sign Up</a>
            </div>
            <div class="col-sm-6">
               <a target="_blank" href="/Content/pdf/public/FundraisingPartnerUpStarterGuide.pdf" class="btn btn-warning form-control">Download the Starter Guide</a>
            </div>
         </div>
      </div>
      <div class="col-sm-6 text-center hidden-xs">
         <img class="" src="/Content/images/public/affiliateProgram.jpg" alt="Affiliate Program" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <h3>Here's how it works: </h3>
         <ol>
            <li>Complete the registration form.</li>
            <li>Choose text links and/or banner ad to suit all areas of traditional product and online fundraising.* All links are encoded with your unique referral info so you can track the visitors you send.</li>
            <li>We submit any commissions earned on leads and sales for payment on the first day of each month and mail checks within 15 business days.</li>
            <li>We provide an intelligent, intuitive and real-time affiliate interface that tracks everything for you. The interface displays all clicks from your site(s) to Fundraising.com and all clicks from your site(s) to Fundraising.com that result in a Fundraising Guide request.</li>
            <li>All clicks info will include the IP address and a time stamp.</li>
         </ol>
      </div>
   </div>
</div>