@{
    ViewBag.Title = "Cheerdeals - Fundraising.com Partner";
    ViewBag.Description = "About Cheerdeals";
    ViewBag.Keywords = "Partner Cheerdeals, fundraising.com partners, fundraising ideas";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Cheerdeals", "Partners");
}
<h1>Cheerdeals</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <img alt="cheerdeals ideas" class="img-responsive" src="~/Content/external/partners/cheerbanner.jpg" />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <h3>Quality, Variety & Style All in One Place!</h3>
            Cheerdeals prides itself in offering quality USA-made custom cheerleading uniforms. CheerDeals brings you top quality, discount cheerleading uniforms for all ages and skill levels. Pee-wees to All-Stars! Cheer shoes, poms, stock uniforms & camp wear - all at great prices! We propose quick ship stock uniforms, poms, cheer shoes, bags, T-shirts and everything else a cheerleader needs to soar high! And - we also carry a Breast Cancer Awareness selection!
            <br /><br />
            Please visit <a href="http://www.cheerdeals.com" target="_blank" title="cheerdeals.com">www.cheerdeals.com</a> to learn more.
        </div>
        <div class="col-sm-4">
            <img alt="cheerdeals fundraising ideas" class="img-responsive" src="~/Content/external/partners/cheerbanner2.jpg" />
        </div>


    </div>
</div>


