@{
    ViewBag.Title = "Cheerleading.com Fundraising - Fundraising.com";
    ViewBag.Description = "Great fundraisers to help raise money for your cheerleading team.";
    ViewBag.Keywords = "cheerleading team, Cheerleading Page, cheer fundraising, cheer fundraisers, cheer teem, cheerleading squad";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Cheerleading", "Partners");
}

<!-- //undone: jason links to add-->

<h1>Cheerleading.com Fundraising</h1>
<div class="row">
    <div class="col-sm-offset-1 col-sm-9 text-center">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-01.jpg" />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-02.jpg" />
    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-03.jpg" />
    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-04.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-05.jpg" />
        <br />
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-08.jpg" />
        <br />
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-11.jpg" />

    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-06.jpg" />
        <br />
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-09.jpg" />
        <br />
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-12.jpg" />

    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/cheerleading-company-banner.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-14.jpg" />
    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-15.jpg" />
    </div>
    <div class="col-sm-4">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/CHEER-PAGE-16.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img alt="cheerleading fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/canada_blackbar.jpg" />
    </div>
    
</div>
