@{
    ViewBag.Title = "Online Donation Fundraiser - Fundraising.com";
    ViewBag.Description = "A robust, fully-customizable online donation platform for non-profits organizations of all sizes. Securely collect donations while tracking group and donor participation from a user-friendly campaign dashboard";
    ViewBag.Keywords = "non-profit; non-profit organizations; online donations for non-profits; raise funds for your cause; online Donation Fundraising platform; donations-dedicated website; secure donations page; donation page";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("DonationFundraising", "Partners");
}
<div style="margin-top:125px">
   <h1>Donation Fundraising</h1>
   <div class="row">
      <div class="col-sm-12">
         To aid in the good work that non-profits do, we're pleased to introduce our brand new online Donation Fundraising platform. It's flexible, fully customizable and absolutely affordable for non-profit organizations of all sizes.
         <br /><br />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <h3>WHAT DO YOU GET?</h3>
         <ul><li>A donations-dedicated website designed with your colors, images & logo.</li></ul>
         <ul><li>A secure donation page.</li></ul>
         <ul><li>The ability for your groups/chapters to register for their own donation page.</li></ul>
         <ul><li>A secure portal where visitors search for groups raising funds for your cause.</li></ul>
         <ul><li>Integrated Facebook, Twitter and email sharing.</li></ul>
         <ul><li>A tax deductible receipt issued to your donors.</li></ul>
         <br /><br />
         <div class="well well-sm">
            Simply call <strong>Xavier &#64;1.888.875.1245</strong><br />
            to learm more about the many features of this versatile donation platform
         </div>
      </div>
      <div class="col-sm-6">
         <img class="img-responsive" src="/Content/images/public/donationsidepanel_01.jpg" alt="Donation Donate" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <h3>YOUR PORTAL PAGE</h3>
         Your portal page is where you'll provide an overview of your organization and cause solicit participation and involvement. Expertly designed to generate excitement and encourage friendly competition, participating members of your groups can compare their efforts to other groups raising funds throughtout your organization.
         <br /><br />
         <img class="img-responsive" src="/Content/images/public/donation_06.jpg" alt="Donation Portal" />
      </div>
      <div class="col-sm-6">
         <img class="img-responsive" src="/Content/images/public/donationsidepanel_03.jpg" alt="Donation Track Total Raised" />
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <h3>YOUR DONATION PAGE</h3>
         It's proven! Personalization is the key to fundraising success. When you customize your Donations Fundraiser page with photos, a personal message and your group's fundraising goal, your visitors will feel immediately compelled to show their support. Need help composing your pitch? We're happy to offer advice on how to best develop and deliver your message. Your Donation Page is robust and reliable, and your text and images can be quickly updated at any time.
         <br /><br />
         <img class="img-responsive" src="/Content/images/public/donation_08.jpg" alt="Donation Page" />
         <br /><br />
         <div class="well well-sm">
            It's easy to get started with a Donation Fundraiser.
            Call <strong>Steve or Xavier</strong> &#64;1.888.875.1245 and ask them
            how this platform can be tailored to your organization.
         </div>
      </div>
      <div class="col-sm-6">
         <img class="img-responsive" src="/Content/images/public/donationsidepanel_05.jpg" alt="Donation Customization" />
      </div>
   </div>
</div>
