@{
    ViewBag.Title = "Envision Experience Fundraising Ideas - Fundraising.com";
    ViewBag.Description = "Recommended fundraising ideas, tips and tricks and other resources for students embarking on an Envision experience.";
    ViewBag.Keywords = "Envision fundraising, Envision fundraising Ideas";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("EnvisionFundraising", "Partners");
}

<!-- //undone: jason links to add-->

<h1>Envision Fundraising</h1>
<div class="row">
    <div class="col-sm-offset-1 col-sm-9 text-center">
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/ENVISION-page-01.jpg" />
        <br />
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/envision-testimonial.jpg" />
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/ENVISION-page-02.jpg" />
    </div>
    <div class="col-sm-offset-1 col-sm- col-sm-5">
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/ENVISION-page-03.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <a href="~/Content/external/partners/pdf/envision_onlinetips.pdf" target="_blank">
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/ENVISION-page-04.jpg" />
            </a>
</div>
    <div class="col-sm-offset-1 col-sm- col-sm-5">
        <a href="~/Content/external/partners/pdf/envision_onlinetips.pdf" target="_blank">
            <img alt="envision fundraising ideas" style="height:100%; width: 100%;border:none" src="~/Content/images/public/ENVISION-page-05.jpg" />
        </a>
</div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <a href="~/Content/external/partners/pdf/the$475profitfundraiserguide.pdf" target="_blank">
            <img alt="envision fundraising ideas" style="height:100%; width: 100%; border:none" src="~/Content/images/public/ENVISION-page-06.jpg" />
            </a>
</div>
    <div class="col-sm-offset-1 col-sm- col-sm-5">
        <a href="~/Content/external/partners/pdf/the$475profitfundraiserguide.pdf" target="_blank">
            <img alt="envision fundraising ideas" style="height:100%; width: 100%; border:none" src="~/Content/images/public/ENVISION-page-07.jpg" />
        </a>
</div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5">
        <img alt="envision fundraising ideas" style="height:100%; width: 100%" src="~/Content/images/public/ENVISION-page-08.jpg" />
    </div>
    <div class="col-sm-offset-1 col-sm- col-sm-5">
        <a href="~/Content/external/partners/pdf/envision_checklist.pdf" target="_blank">
            <img alt="envision fundraising ideas" style="height:100%; width: 100%; border:none" src="~/Content/images/public/ENVISION-page-09.jpg" />
        </a>
    </div>
</div>


