@{
    ViewBag.Title = "Girls Got Game - Fundraising.com Partner";
    ViewBag.Description = "Learn more about Fundraising.com’s partner in girls got game fundraising, girls got game fundraising";
    ViewBag.Keywords = "Partner girls got game, fundraising.com partners, sports fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("girlsgotgame", "Partners");
}

<h1>Girls Got Game</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <img alt="girls got game fundraising ideas" class="img-responsive" src="~/Content/external/partners/FR_GGG_landing_page_01.jpg" />
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <h3>Great styles, unbeatable performance</h3>

            You always play your best game. You have an energy that keeps you fired up, an attitude that gets it done, whatever it takes. You're dedicated to your team. You know excellence is no accident.
            <br /><br />
            We feel the same way here at Girls Got Game. Our innovative styles; quality, branded products, and uncompromising performance, fit, and function all make us the winning choice for women's softball, volleyball and basketball teams across the nation. Once you see the difference, you'll want to make Girls Got Game your choice too.
            <br /><br />
            Please visit our sites to learn more:<br />
            <a href="http://www.girlsgotgamesoftball.com" target="_blank" title="girls got game fundraising">www.girlsgotgamesoftball.com</a><br />
            <a href="http://www.girlsgotgamebasketball.com" target="_blank" title="girls got game fundraising">www.girlsgotgamebasketball.com</a><br />
            <a href="http://www.girlsgotgamevolleyball.com" target="_blank" title="girls got game fundraising">www.girlsgotgamevolleyball.com</a>
        </div>
        <div class="col-sm-4">
            <img alt="girls got game fundraising ideas" class="img-responsive" src="~/Content/external/partners/FR_GGG_landing_page_03.jpg" />
        </div>

    </div>
</div>

