
@{
    ViewBag.Title = "Partners with Fundraising - Fundraising.com";
    ViewBag.Description = "We’ve formed partnerships with fundraising leaders, sports organizations and educational institutions to ensure the best fundraising solutions are available to everyone";
    ViewBag.Keywords = "fundraising partners; success in fundraising; fundraising partnerships; active.com; eteamz; all about dance; ASA; USA fundraising; fund raising ideas center; YBOA; discount cheerleading.com; leaguelineup, MADD, the humane society";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("OurPartners", "Partners");
}
<div  style="margin-top:125px">
   <h1>Fundraising Partners</h1>
<div class="row">
    <div class="col-sm-12">
        At Fundraising.com, our goal is to help all types of non-profit groups achieve success through fundraising. To do that, we’ve formed partnerships with some of the leaders in the industry – from sports organizations, to educational institutions. We’re making sure fundraising is available to everyone.
        <br /><br />
        Interested in becoming a partner? <a href="/partnerup.aspx">Visit our Partner Up Program page >></a> 
        <br /><br />
     </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/fundIP.png" alt="Fundraising IP" width="70%" height="70%" />
        <br /><br />
        We’re a small group of fundraising professionals and volunteers who like to help where we can: at schools, animal shelters, food banks and other local groups, fundraisers for individuals, charity runs, you name it! FundraisingIP.com gives us the opportunity and a place to share with you all that we’ve learned.
        <br /><br />
        <a href="http://www.FundraisingIP.com" target="_blank">Visit FundraisingIP.com</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/grantsalert.gif" alt="Grants Alert" />
        <br /><br />
        Looking for teacher grants? Classroom grants? School grants? Look no further. Since 1996, GrantsAlert.com has been the go-to website for easy-to-use, relevant and reliable data. Grant seekers return again and again to uncover the funding opportunities that are available to them. At GrantsAlert, the number one goal is to help teachers, principals, counselors, coaches, parents and school district staff find and secure the local, state, federal, corporate and private resources that are available to help them educate our children.
        <br /><br />
        <a href="http://grantsalert.com/" target="_blank">Visit GrantsAlert</a>
        <br /><br />
    </div>
</div>
 </div>




<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/Active.jpg" alt="Active Team (eteamz)" />
        <br /><br />
        Part of The Active Network, is the leading online center for amateur sports. It is the world's first Internet site dedicated to serving the needs of the sports family and the entire amateur sports community - players, parents, coaches, fans and league administrators. Fundraising invites you to visit Active.com to set up your team or league with it's own web site that you can use to easily communicate with the rest of your team.
        <br /><br />
        <a href="http://www.active.com/" target="_blank">Visit Active.com</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/allaboutdance.jpg" alt="All About Dance" />
        <br /><br />
        Leading discount dancewear distributor offering products to dancers across the United States and abroad. The AllAboutDance.com internet store and mail order catalog allow convenient shopping at affordable prices, with fast shipping and superior customer service. Dance studios are encouraged to take advantage of rewards programs that help students find everything they need for class.
        <br /><br />
        <a href="http://www.allaboutdance.com/" target="_blank">Visit AllAboutDance.com</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/asa.jpg" alt="ASA" />
        <br /><br />
        The Amateur Softball Association, founded in 1933, is the National Governing Body of softball in the United States and a member of the United States Olympic Committee. The ASA has become one of the nation’s largest sports organizations and now sanctions competition in every state through a network of 83 local associations. The ASA has grown from a few hundred teams in the early days to over 240,000 teams today, representing a membership of more than three million.
        <br /><br />
        <a href="/partners/about-asa">Visit the ASA partner page</a> | <a href="http://www.asasoftball.com/" target="_blank">Visit Asaoftball.com </a>
        <br /><br />
     </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/envision.jpg" alt="Envision" />
        <br /><br />
        Envision is a leading experiential education organization dedicated to enabling students of all ages to explore their interests and gain learning experiences beyond the classroom. Envision programs allow students to explore career interests and to plan and achieve their goals. Since 1985, more than 800,000 young people in more than 145 countries have participated in Envision programs, including the Global Young Leaders Conference, the Junior National Young Leaders Conference, the Congressional Youth Leadership Council, the National Youth Leadership Forum and more.
        <br /><br />
        <a href="/envision.aspx">Visit Envision Partner page</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/cheerdancecombo.jpg"  style="width:80%; height:80%" alt="Cheerleading Company" />
        <br /><br />
        We are #SpiritDefined! Quality, Value and Service are three things that we take very seriously! Our friendly staff has over 50 years of experience in providing your apparel and accessory needs. We are centrally located in Dallas, Texas, offering personalized service and rapid fulfillment and delivery throughout all of the United States, Canada and most International locations. We are proud of our Made in USA uniforms and we stock poms, shoes, bodywear, accessories and more!  We are confident that you will look great on the field, stage, track or competition mat in Cheerleading.com and CC Dancewear products!
        <br /><br />
        <a href="http://www.cheerleading.com/" target="_blank">Visit Cheerleading.com website</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/logo-with-website.png" alt="Football Camps" />
        <br /><br />
        Founded in 1983, Football Camps is the best teaching football camp in the nation having graduated over 96,000 athletes, with many of those currently playing at the college level. Whether an experienced football player or just starting out, our football camps offer an experience you will never forget!
        <br /><br />
        Campers learn from outstanding veteran college and high school coaches selected for their ability to coach and teach the game of football. Wherever possible, these coaches are joined by current and former professional players and coaches who have a passion for sharing their knowledge with young athletes. We guarantee that you will return home to your team a better football player!
        <br /><br />
        <a href="https://www.footballcamps.com/default.asp?page=00" target="_blank">Visit Football Camps</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/fundraisingideas.jpg" alt="Fundraising Ideas Center" />
        <br /><br />
        Fundraising Ideas Center explores new and unique fundraising ideas for schools and other groups that outperform traditional fundraisers. A number of free fundraisers are discussed also, which can easily be combined with other ideas or utilized by groups with a limited budget.
        <br /><br />
        <a href="http://www.fund-raising-ideas-center.com/" target="_blank">Visit Fundraising Ideas Center</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/ggg.gif" alt="Girls Got Game" />
        <br /><br />
        You believe in women… So do we! Shop online for Innovative styles; top-quality, branded products, uncompromising performance, fit and function, and design your team uniforms using our configurators. Dedicated to supporting women, 5% of every <a href="http://www.girlsgotgame.com/Play-For-A-Cure" target="_blank">Play for a Cure</a> purchase is donated to support breast cancer research.
        <br /><br />
        <a href="/partners/girlsgotgame">Visit the Girls Got Game partner page</a>
     <br /><br />
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/MADD1.PNG" alt="M.A.D.D." />
        <br /><br />
        MADD Canada (Mothers Against Drunk Driving) is a national, charitable organization that is committed to stopping impaired driving and supporting the victims of this violent crime. With volunteer-driven groups in more than 100 communities across Canada, MADD Canada aims to offer support services to victims, heighten awareness of the dangers of impaired driving and save lives and prevent injuries on our roads.
        <br /><br />
        <a href="http://www.madd.ca/" target="_blank">Visit MADD</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/sportdecals.gif" alt="Sport Decals" />
        <br /><br />
        No matter what your sport — baseball, softball, football, basketball, soccer, volleyball, you name it — Sportdecals.comgot you covered! Family owned and operated for over 40 years, Sportdecals produces quality custom decals, performance wear, custom tees, uniforms, jerseys , spirit items, sports equipment and everything your team needs to look good and play great!
        <br /><br />
        <a href="/partners/sportdecals">Visit the SportDecals partner page</a> | <a href="http://sportdecals.com/" target="_blank">Visit Sportdecals</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/teamcheer.gif" alt="Teamcheer" />
        <br /><br />
        Passion in every step! Founded in 1991 to meet the needs of dedicated coaches and athletes nationwide, Team Cheer offers a broad portfolio of high quality, cheer products, priding themselves on personalized service, from purchasing guidance to ease of ordering and unparalleled delivery. Their core values are what set them apart from the competition!
        <br /><br />
        <a href="/partners/teamcheer">Visit the TeamCheer partner page</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/usafundraisng_01.jpg" alt="USAFundraising" />
        <br /><br />
        USA Fundraising, helps turn fundraising needs into fundraising successes by providing ideas, tips, tools and product information for every kind of group, be they cheer, church, sport or school! Their A-Z guides cover everything from choosing a fundraising program, to formulating a plan, to approaching supporters and reaching your fundraising goal!
        <br /><br />
        <a href="/partners/usafundraising">Visit the USAFundraising.com partner page</a> | <a href="http://www.usafundraising.com/" target="_blank">Visit USAfundraising</a>
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/yboa.jpg" alt="Y.B.O.A." />
        <br /><br />
        MADD Canada (Mothers Against Drunk Driving) is a national, charitable organization that is committed to stopping impaired driving and supporting the victims of this violent crime. With volunteer-driven groups in more than 100 communities across Canada, MADD Canada aims to offer support services to victims, heighten awareness of the dangers of impaired driving and save lives and prevent injuries on our roads.
        <br /><br />
        <a href="http://www.madd.ca/" target="_blank">Visit MADD</a>
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img class="" src="/Content/images/public/teamsnap_logo.png" alt="Team Snap" />
        <br /><br />
        TeamSnap is the <a href="https://www.teamsnap.com/" target="_blank">most effective way to manage your sports team!</a> Our mobile and web based team management software is used in 195 countries by more than 7 million players, coaches, and managers. TeamSnap is the smartest and easiest way to manage your team because we provide a platform of easy-to-use features that enable managers to carry out their duties from home or on the field. Manage your schedule and roster, send messages, get maps and directions to games and practices. Get organized and spend more time playing.
        <br /><br />
        <a href="https://www.teamsnap.com/teams/sports/soccer" target="_blank">Visit TeamSnap</a>
        <br /><br />
    </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <img class="" src="/Content/images/public/cheerdeals.gif" alt="Cheerdeals" />
      <br /><br />
      CheerDeals prides itself in offering top quality, discount custom cheerleading uniforms for all ages and skill levels - from Pee-Wees to All-Stars! Get quick-ship stock uniforms, cheerleading poms, cheer shoes, bows, bags, T-shirts and everything else a cheerleader needs to soar high! They also carry a Breast Cancer Awareness selection! Get great deals at CheerDeals!
      <br /><br />
      <a href="/partners/cheerdeals">Visit CheerDeals partner page</a>
      <br /><br />
   </div>
   <div class="col-sm-6">
      <img class="" src="/Content/images/public/llu.jpg" alt="League Lineup" />
      <br /><br />
      LeagueLineup.com is a leading provider of web sites and online services to youth and amateur sports organizations in the United States and Canada, hosting web sites for more than 80,000 sports organizations and their players, parents, coaches and administrators.
      <br /><br />
      <a href="http://www.leaguelineup.com/" target="_blank">Visit LeagueLineup.com</a>
      <br /><br />

   </div>
</div>


