
@using System.Configuration
@{
    ViewBag.Title = "Southwestern Real Estate";
    ViewBag.Description = "Southwestern Real Estate";
    ViewBag.Keywords = "Southwestern Real Estate";
    Layout = "";
    ViewBag.CanonicalUrl = Url.Action("partners", "sw-real-estate");
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title</title>
<meta name="google-site-verification" content="pZuC0NGOilIKA5R0AjJl8CTQUv7EptJVCiremoMxa6E" />
<meta name="description" content="@ViewBag.Description" />
<meta name="keywords" content="@ViewBag.Keywords" />

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css" />
<link href="https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic" rel="stylesheet" type="text/css">





<div class="container-fluid" style="font-family:'Karla'; padding:1px">


    <div class="row" style="margin-bottom:30px">
        <div class="col-md-12 hidden-xs">
            <img src="/Content/external/sw/top_image.jpg" class="img-responsive" alt="SW Real Estate" />
        </div>
        <div class="col-md-12 visible-xs">
            <img src="/Content/external/sw/banner_mobile_top.jpg" class="img-responsive" alt="SW Real Estate" style="display:block; margin:auto;" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <img src="/Content/external/sw/picture.jpg" alt="PATRICK ROACH image" style="display:block; margin:auto;" />
        </div>
        <div class="col-md-8 hidden-xs hidden-sm" style="color:#404040; padding-top:10px">
            <h2 style="text-transform:uppercase; font-weight:bold">Top Performing Agent Patrick Roach</h2>
            <span style="font-size:18px"><i>Southwestern Real Estate</i> makes a donation to your group at the end of the transaction</span>
        </div>
        <div class="col-md-8 visible-xs visible-sm" style="color:#404040; padding-top:10px; text-align:center">
            <h2 style="text-transform:uppercase; font-weight:bold">Top Performing Agent Patrick Roach</h2>
            <span style="font-size:18px"><i>Southwestern Real Estate</i> makes a donation to your group at the end of the transaction</span>
        </div>
    </div>

    <div class="row" style="margin-top:30px">
        <div class="col-md-12 hidden-xs">
            <img src="/Content/external/sw/bottom_image.jpg" class="img-responsive" alt="SW Real Estate" />
        </div>
        <div class="col-md-12 visible-xs">
            <img src="/Content/external/sw/banner_mobile_hands.jpg" class="img-responsive" alt="SW Real Estate" style="display:block; margin:auto;" />
        </div>
    </div>

    <div class="row" style="margin-top:30px">
        <div class="col-md-10 col-md-offset-2" style="color:#404040; line-height:25px;">
            <h3>Why Patrick Roach will make your Real Estate transaction better?</h3>
            Top Agent Patrick Roach has sold over $100 million of real estate; he knows the right questions to ask to find an awesome agent.<br />
            <ul>
                <li>You need to buy or sell a property</li>
                <li>Patrick interviews and selects the best agent to help you</li>
                <li>You get access to Patrick throughout the transaction in case you have questions you’d rather not ask your agent</li>
                <li>The agent provides top notch service</li>
                <li>Southwestern Real Estate makes a donation to your school when the transaction is complete</li>
            </ul>
        </div>
    </div>

    <div class="row hidden-xs hidden-sm" style="margin-top:20px; background-color:#6eaa42; color:#fff; padding-top:20px; padding-bottom:20px;">
        <div class="col-md-3 col-md-offset-3">
            <h3>CONTACT ME TODAY</h3>
        </div>
        <div class="col-md-3" style="font-size:18px">
            Patrick Roach<br />
            President, Managing Broker<br />
            <a href="tel:+1-630-973-8601" style="text-decoration:none; color:#fff">630.973.8601</a>
        </div>
    </div>

    <div class="row visible-xs visible-sm" style="margin-top:20px; background-color:#6eaa42; color:#fff; padding-top:20px; padding-bottom:20px; text-align:center">
        <div class="col-md-12">
            <h3>CONTACT ME TODAY</h3>
            Patrick Roach<br />
            President, Managing Broker<br />
            <a href="tel:+1-630-973-8601" style="text-decoration:none; color:#fff">630.973.8601</a>
        </div>

    </div>

</div>





