@{
    ViewBag.Title = "Teamcheer - Fundraising.com Partner";
    ViewBag.Description = "About Teamcheer fundraising";
    ViewBag.Keywords = "Partner Teamcheer, fundraising.com partners, sports fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Teamcheer", "Partners");
}

<h1>Team Cheer</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <img alt="teamcheer fundraising ideas" class="img-responsive" src="~/Content/external/partners/FR_TEAMCHEER_landing_page_01.jpg" />
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <h2>You want it simple, Team Cheer makes it perfect</h2>

            Founded in 1991 to meet the needs of coaches and athletes nationwide, Team Cheer is a reputed provider of a broad portfolio of high quality, cheer products. Team Cheer prides itself on its personalized service and knows that our core values and sense of pride is what sets us apart from the competition.
            <br /><br />
            Team Cheer shares your dedication to performance. We’re the super-achiever in the cheer industry because we go the extra mile to ensure your satisfaction with our products, our people, and our delivery. From quality apparel to friendly customer service reps to student scholarships, Team Cheer embodies "passion in every step".
            <br /><br />
            Please visit <a href="http://www.teamcheer.com" target="_blank" title="teamcheer fundraising">www.teamcheer.com</a> to learn more.<br /><br />
        </div>
        <div class="col-sm-4">
            <img alt="teamcheer fundraising ideas" class="img-responsive" src="~/Content/external/partners/FR_TEAMCHEER_landing_page_03.jpg" />
            </div>

    </div>
</div>





