@{
    ViewBag.Title = "usafootball - Fundraising.com Partner";
    ViewBag.Description = "Indianapolis-based USA Football is the sport’s national governing body, leading the game’s development for youth, high school and other amateur players.";
    ViewBag.Keywords = "Partner USAFooball, fundraising.com partners, football fundraiser, sports fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("usafootball", "Partners");
}

<h1>USAfootball</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
            <img alt="usafootball fundraising ideas" width="461" height="182" class="img-responsive" src="~/Content/images/public/usa-football-logo.jpg" />
            <br />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
            Indianapolis-based USA Football (<a href="http://www.usafootball.com" title="usafootball fundraiser" target="_blank">www.usafootball.com)</a> is the sport’s national governing body, leading the game’s development for youth, high school and other amateur players. The independent nonprofit partners with leaders in medicine, child advocacy and sport to establish important standards rooted in education. USA Football advances coaching education and player skill development for safer play and positive experiences through athletics.
            <br /><br />
            Follow USA Football at <a href="http://www.facebook.com/usafootball" title="usafootball fundraiser" target="_blank">www.facebook.com/usafootball</a> or on Twitter &#64;USAFootball.
        </div>
        <div class="col-sm-4">
            <img alt="usafootball fundraising ideas" class="img-responsive" src="~/Content/images/public/usa-football-10.jpg" width="336" height="450" />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-3">
            <a href="~/request-a-kit" title="fundraise guide">
                <img alt="usafootball fundraising ideas" width="236" height="251" class="img-responsive" src="~/Content/images/public/usa-football-04.jpg" style="border:none" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/online-fundraising/how-it-works" title="online fundraise">
                <img alt="usafootball fundraising ideas" width="236" height="251" class="img-responsive" src="~/Content/images/public/usa-football-05.jpg" style="border:none" />
            </a>
        </div>
        <div>
            <a href="/products" title="all products fundraise">
                <img alt="usafootball fundraising ideas" width="257" height="251" class="img-responsive" src="~/Content/images/public/usa-football_06.jpg" style="border:none" />
            </a>
        </div>

    </div>
</div>


