@{
    ViewBag.Title = "USAFundraising - Fundraising.com Partner";
    ViewBag.Description = "About USAFundraising";
    ViewBag.Keywords = "Partner USAFundraising, fundraising.com partners, fundraising ideas";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("USAFundraising", "Partners");
}

<h1>USAfundraising</h1>


<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <img alt="usafundraising ideas" class="img-responsive" src="~/Content/external/partners/usafundraising_logo20151.png" />
           
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-11">
            <h3>USA Fundraising is a fundraising resource website.</h3>

            Since 2006, the USA Fundraising team has been offering schools, sports teams, and other organizations find the information they need to plan and conduct fundraisers with confidence.
            <br /><br />
            Follow USA Fundraising on  <a href="https://twitter.com/usafundraising" title="usafundraising twitter">Twitter</a> to stay up to date on new fundraising tools, exciting fundraising product giveaways, and special offers from fundraising companies. You can also sign up for their newsletter and as a special bonus, you will receive their free ebook, "9 Strategies to Increase Your Fundraising Confidence."
            <br /><br />
            <strong>USA Fundraising is there to give you a guiding hand with fundraising questions about:</strong>
            <br /><br />
            <strong>School Fundraisers</strong>
            <ul>
                <li>Which fundraising products and events work well for schools</li>
                <li>How to organize your school fundraiser</li>
                <li>Real examples from readers about successful school fundraisers, such as a food fundraising auction and a school Fun Run</li>
            </ul>
            <strong>Sports Fundraisers</strong>
            <ul>
                <li>Spirit fundraisers that showcase your team pride</li>
                <li>Fundraising for your sport type</li>
                <li>Seasonal and registration fundraisers</li>
            </ul>
            <strong>
                Fundraising Events
            </strong>
            <ul>
                <li>Planning tips for silent auctions, outdoor fundraisers, barbecues, rummage sales, car washes, carnivals, galas, walk-a-thons and more</li>
                <li>Examples of fundraising event invitations</li>
                <li>Tips on marketing your fundraising event in your community and online</li>
            </ul>
            <strong>Online Fundraising</strong>
            <ul>
                <li>Highlights of the best free online fundraisers</li>
                <li>Tips on planning and promoting your online campaign</li>
                <li>Examples of real success stories, such as Special Olympics Delaware, who raised $85,000 online</li>
            </ul>
            Plus many more great fundraising resources and tools, like tips on how to write fundraising letters, along with fundraising letter samples and templates, ebooks to help you plan your fundraising strategy, tips on how to get support and sponsorship from local businesses, fundraising thermometers to show your group’s progress on your website, and answers to fundraising questions from readers.
            <br /><br />
            Please visit <a href="http://www.USAFundraising.com" target="_blank" title="usafundraising">USA Fundraising</a> to learn more.
            </div>


    </div>
</div>



