<?xml version="1.0"?>
<configuration>
	<configSections>
        <section name="applicationSettings" type="GA.BDC.Core.Configuration.MultiNameValueSectionHandler, GA.BDC.Core.Configuration"/>
	</configSections>
    
    <applicationSettings>
		<!-- ############### -->
		<!-- COMMON SETTINGS -->
		<!-- ############### -->
		<!-- 
			 ERROR LOGGING. 
			 Specify where to log errors. You may specify more than one location.
			 Valid logType is "email", "eventlog" or "file".
			 Valid logSource is either the email address for "email" type, source name
			 for "eventlog" type or file name for "file" type.
			 For "eventlog" type, you may need to create a new Key with the source name 
			 in the registry under HKLM\SYSTEM\CurrentControlSet\Services\Eventlog\Application
		-->
		<add key="Common.Log.Error" logType="email" logSource="bdcdevelopers@fundraising.com"/>
		<add key="Common.Log.Error" logType="file" logSource="c:\Log\EsubsGlobalWeb_%yyyy%%MM%%dd%_Log.xml"/>
      <add key="Common.Log.Warn" logType="email" logSource="bdcdevelopers@fundraising.com"/>
      <add key="Common.Log.Warn" logType="file" logSource="c:\Log\EsubsGlobalWeb_%yyyy%%MM%%dd%_Log.xml"/>
      <add key="Common.Log.Info" logType="email" logSource="bdcdevelopers@fundraising.com"/>
      <add key="Common.Log.Info" logType="file" logSource="c:\Log\EsubsGlobalWeb_%yyyy%%MM%%dd%_Log.xml"/>
      <add key="Common.Log.Debug" logType="file" logSource="c:\Log\EsubsGlobalWeb_%yyyy%%MM%%dd%_Log.xml"/>
		<add key="Common.Email.SmtpServer" host="SMTP"/>

		<!-- #################### -->
		<!-- ReportingCenter SETTINGS -->
		<!-- #################### -->
		<add key="ReportingCenter.Version" version="0" subversion="9"/>
		<add key="ReportingCenter.TrapLog" value="True"/>
		<add key="ReportingCenter.Production" isProduction="False"/>
		<add key="ReportingCenter.SqlConnection.Release" provider="mssql" connectionString="Data Source=161.230.16.122;Initial Catalog=report_center;connection timeout=100;user id=artefact;password=..."/> 
		<add key="ReportingCenter.SqlConnection.Debug" provider="mssql" connectionString="Data Source=AZOTE;Initial Catalog=report_center;connection timeout=100;user id=artefact;password=!@artefact!@"/>
		
	</applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
