<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="applicationSettings" type="efundraising.Configuration.MultiNameValueSectionHandler, efundraising.Configuration"/>
	</configSections>
	<applicationSettings>
		<!-- ############### -->
		<!-- COMMON SETTINGS -->
		<!-- ############### -->
		<!--
			 ERROR LOGGING. 
			 Specify where to log errors. You may specify more than one location.
			 Valid logType is "email", "eventlog" or "file".
			 Valid logSource is either the email address for "email" type, source name
			 for "eventlog" type or file name for "file" type.
			 For "eventlog" type, you may need to create a new Key with the source name 
			 in the registry under HKLM\SYSTEM\CurrentControlSet\Services\Eventlog\Application
		-->
	


		<add key="Common.Log.Warn" logType="email" logSource="jean-francois_lavigne@qsp.com"/>
		<add key="Common.Log.Error" logType="email" logSource="jean-francois_lavigne@qsp.com"/>
		<add key="Common.Log.Info" logType="file" logSource="c:\Log\EFundCRMWebInfo_%yyyy%%MM%%dd%_Log.xml"/>
		<add key="Common.Log.Warn" logType="file" logSource="c:\Log\EFundCRMWebWarn_%yyyy%%MM%%dd%_Log.xml"/>
		<add key="Common.Log.Error" logType="file" logSource="c:\Log\EFundCRMWebError_%yyyy%%MM%%dd%_Log.xml"/>
		<add key="Common.Email.SmtpServer" host="mail.efr.rdigest.com"/>
		
		<!-- EFUNDRAISINGPROD SETTINGS -->
		<!-- ##################### -->
		<add key="EFundraisingStore.Version" version="1" subversion="2"/>
		<add key="EFundraisingStore.Production" isProduction="true"/>
		<add key="EFundraisingStore.SqlConnection.Release" provider="mssql" connectionString="Data Source=gasqlp02;Initial Catalog=efundstore;connection timeout=100;user id=efundstore_user;password=$exy84ck"/>
		<add key="EFundraisingStore.SqlConnection.Debug" provider="mssql" connectionString="Data Source=CAEFR3K01-DEV;Initial Catalog=efundstore;connection timeout=100;user id=efundstore_user;password=$exy84ck"/>
		
	
		
		<!-- #################### -->
		<!-- EFUNDRAISINGPROD SETTINGS -->
		<!-- #################### -->
		<add key="EFundraisingProd.Production" isProduction="true"/>
		<add key="EFundraisingProd.Version" version="1" subversion="0"/>
		<add key="EFundraisingProd.SqlConnection.Release" provider="mssql" connectionString="Data Source=monqspmva2;Initial Catalog=efundraisingprod;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1"/>
		<!--<add key="EFundraisingProd.SqlConnection.Debug" provider="mssql" connectionString="Data Source=CAEFR3K01-DEV;Initial Catalog=EfundraisingProd;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1" />-->
		<add key="EFundraisingProd.SqlConnection.Debug" provider="mssql" connectionString="Data Source=CAEFR3K01-DEV;Initial Catalog=efundraisingprod;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1"/>--&gt;
		
		<!-- #################### -->
		<!-- ESUBS GLOBAL SETTINGS -->
		<!-- #################### -->
		<add key="ESubsGlobal.Production" isProduction="true"/>
		<add key="ESubsGlobal.SqlConnection.Release" provider="mssql" connectionString="Data Source=gasqlp02;Initial Catalog=esubs_global_v2;connection timeout=150000;user id=esubs_global_v2;password=5oasis4lt"/>
		<!--<add key="ESubsGlobal.SqlConnection.Release" provider="mssql" connectionString="Data Source=caefr3k01.efr.rdigest.com;Initial Catalog=esubs_global_v2;connection timeout=30000;user id=esubs_global_v2;password=5oasis4lt" />-->
		<add key="ESubsGlobal.SqlConnection.Debug" provider="mssql" connectionString="Data Source=caefr3k01-dev.efr.rdigest.com;Initial Catalog=esubs_global_v2;connection timeout=100;user id=esubs_global_v2;password=5oasis4lt"/>
		<!-- TALLY SALE PRODUCT CLASS IDS -->
		<add key="EFundraisingProd.TallySale.ProductClassIds" ProductClassIds="21,23,24,29"/>
		<!-- GROUPS ARE ALLOWED TO EDIT EVEN WHEN ACTUAL SHIP DATE IS DETERMINED-->
		<add key="EFUNDRAISINGPROD.ACTUALSHIPDATE.GROUPS" roles="gCAEFR_d-Accounting|gCAEFR_d-AccountsReceivable|gCAEFR_d-BusinessDevelopment|gCAEFR_d-ClientAccountTeam|gCAEFR_d-DataEntry|gCAEFR_d-EsubOnlineSupport|gCAEFR_d-FieldSupportonsultants|gCAEFR_d-GiftReplacement|gCAEFR_d-HumanResources|gCAEFR_d-IT|gCAEFR_d-Marketing|gCAEFR_d-OutboundConsultants|gCAEFR_d-Production|gCAEFR_d-QSPHelpDesk|gCAEFR_d-QSPOnlineSupport"/>
		<!-- #################### -->
		<!-- CREDIT CHECK SETTINGS -->
		<!-- #################### -->
		<add key="EFundraisingCRM.CreditCheck.IsProduction" value="true"/>
		<add key="EFundraisingCRM.CreditCheck.Confirmation.Debug" from="EFR-AR@qsp.com" reply="EFR-AR@qsp.com" to="jlavign@qsp.com"/>
		<add key="EFundraisingCRM.CreditCheck.Confirmation.Release" from="EFR-AR@qsp.com" reply="EFR-AR@qsp.com" cc="jlavign@qsp.com"/>
		<!-- #################### -->
		<!-- #################### -->
		<!-- Reporting Service -->
		<!-- #################### -->
 	<!-- #################### -->
		<!-- Reporting Service -->
		<!-- #################### -->
		<add key="ReportingServiceReport" reportpath="/CRM Reports"/>
		<!--
		<add key="ReportingServiceServer" domainname="rdigest" password="r3portME" username="sCAEFR_ReportUser" servername="http://caefr3k01-Dev/ReportServer/ReportService.asmx" />
		-->
		<add key="ReportingServiceServer" domainname="rdigest" password="r3portME" username="sCAEFR_ReportUser" servername="http://caefr3k01.efr.rdigest.com/ReportServer/ReportService.asmx"/>
		<!-- #################### -->
		<!-- #################### -->
		<!-- AuthenticateUser using LDAP -->
		<add key="AUTHENTICATEUSER" domaincontroller="CAEFR3K05.rdigest.com" domain="rdigest"/>
		<add key="AUTHENTICATEUSER" domaincontroller="CAEFR3K11.efr.rdigest.com" domain="efundraising"/>
		
<add key="CHECKSYSTEM.VALIDATEPAYMENTPERIOD" bValidatePaymentPeriod="False"/>				
<add key="DOUBLEPOSTCARDCHECK" password="r3portME" username="sCAEFR_ReportUser" domain="rdigest" domaincontroller="CAEFR3K05.rdigest.com" WriteToDB="true" FileFormat="EFR730628DPC{0}{1}" FileName="c:\test\" CheckNumber="-1" MICR_DDA="730628" TemplateId="efrref" MICR_ROUTINGTRANSIT="091905295" CUSTOMER_NUM="" MEMBER_NUM=""/>
<add key="UV_BB_DOUBLEPOSTCARDCHECK" UV1_CHECKLOGO="" UV2_SIGNATURE="" UV3_BOUNCE_BACK="" UV4_BOUNCE_BACK_NAME="EFundraising" UV5_BOUNCE_BACK_ADD2="205 West Service Road Champlain, NY 12919" UV6_BOUNCE_BACK_ADD1="205 West Service Road Champlain, NY 12919" UV7_BOUNCE_BACK_CSZ=""/> 
<add key="UV_RETURN_DOUBLEPOSTCARDCHECK" UV8_RETURN_MAIL_NAME="EFundraising" UV9_RETURN_MAIL_ADD2="205 West Service Road Champlain, NY 12919" UV10_RETURN_MAIL_ADD1="205 West Service Road Champlain, NY 12919" UV11_RETURN_MAIL_CSZ=""/>
<add key="UV_TM_DOUBLEPOSTCARDCHECK" UV12_TEXT_MESSAGE_1="To view your sales report, simply visit " UV13_TEXT_MESSAGE_2="www.magfundraising.com and login to your account." UV14_TEXT_MESSAGE_3="" UV15_TEXT_MESSAGE_4="" UV16_TEXT_MESSAGE_5="" UV17_TEXT_MESSAGE_6="" UV18_TEXT_MESSAGE_7=""/>


	    <!-- #################### -->
		<!-- SALE SCREEN VALUES-->
		<!-- #################### -->
		<add key="PaymentMethodID" default="1"/>
		<add key="PaymentTermID" default="1"/>
		<add key="ClientSequenceCode" default="UI"/>
		<add key="NewClientActivityIDAfterSale" default="5"/>  
		<add key="UserGroup" impersonate="true" value="gCAEFR_Intranet_SaleSuppport"/>  <!-- gCAEFR_Intranet_IT gCAEFR_Intranet_Consultant  Production gCAEFR_Intranet_SaleSuppport-->
		<add key="SaleScreen.RootPackageID" dev="375" prod="375"/>  
		<add key="MasterCase" minOrder="1" productCode="108720"/>  
		<add key="OrderExpress" enabled="true" programType="WFC Chocolate" form="EFR Order" orderTypeID="1" prodCustomerID="1843565" prodFmID="0120" devCustomerID="1548771" devFmID="0120" accountID="383045" campaignID="493614" WFC="true" stockWFC="true" peWFC="false" caWFC="false"/>  
		
		
	</applicationSettings>
	<appSettings>
			
		<add key="AddressHygieneUsername" value="AddressHygiene"/>
        <add key="AddressHygienePassword" value="sesahpwd"/>   
        <add key="AddressHygieneURL" value="http://ws.qsp.com/SES.AddressHygiene.20071031/" />
		<!-- Page Size -->
		<add key="PageSize" value="500"/>
		<!-- CheckSystem Page Size -->
		<add key="CheckSystemPageSize" value="20"/>
		<!-- Page Button Count -->
		<add key="PageButtonCount" value="20"/>
		<!-- Page Style Number TopAndBottomt -->
		<add key="TopAndBottom" value="true"/>
		<!-- Redirect Page -->
		<add key="CheckActualShipDate" value="false"/>
		<!-- notify using momentum (tibo) -->
		<add key="Tibo" value="True"/>
		<!-- Product List with Recalculate Button -->
		<add key="RecalculateButton" value="true"/>
		<!-- Profit default Increment -->
		<add key="IncrementProfit" value="0.05"/>
		<!-- Shipping Address Countries -->
		<add key="ShippingCountryCode" value="US,CA"/>
		<!-- Password for intranetweb user must be the same setting at authentication mode="Forms" -->
		<add key="IntranetwebUserPassword" value="1"/>
		<!-- Turn On/Off ViewStateCompression -->
		<add key="ApplyViewStateCompressed" value="false"/>
		<add key="IsDebugOn" value="false"/>
		<!-- Authentication -->
		<add key="IntegratedLogin" value="true"/>
		<add key="ForceLogin" value="false"/>
		<!-- #################### -->
		<!-- Reporting Service -->
		<!-- #################### -->
		<add key="Report.SaveDocumentPath" value="~/Resources/dump/"/>
		<add key="RSDefaultPath" value="/CRM Reports/"/>
		<add key="Alternative" value="false"/>
	<add key="efundraising.EFundraisingCRMWeb.Business.com.ses.ws.AddressHygiene.AddressHygieneContract" value="http://wstest.qsp.com/SES.AddressHygiene.20071031/AddressHygieneContract.asmx"/><add key="efundraising.EFundraisingCRMWeb.Business.com.ses.wstest.AddressHygiene.AddressHygieneContract" value="http://wstest.qsp.com/SES.AddressHygiene.20071031/AddressHygieneContract.asmx"/></appSettings>
	<system.web>


    <pages validateRequest="false" />
    
    <httpRuntime executionTimeout="150000"/>

		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="c#" debug="true"/>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="RemoteOnly"/>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
       
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" protection="All" timeout="30" path="/" name="AuthEFundraisingWeb">
				<credentials passwordFormat="Clear">
					<user name="intranetweb" password="1"/>
				</credentials>
			</forms>
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
   	 <!-- <identity impersonate="true"  /> -->
    <authorization>
	<!--	<deny users="?" />-->
         <!-- Allow all users allow users="*"  -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="800"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
	<location path="FromIntranetweb.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AR/CreditCheck/TestService.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
