@{
   ViewBag.Title = "Program";
   ViewBag.Description = "Sports Apparel";
   ViewBag.Keywords = "Sports Apparel";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("program", "HowItWorks");

}



<div class="row">
   <div class="col-sm-12">
      <div class="card text-white text-center" style="border-radius:0;">
         <img class="card-img" src="/Content/home/banner_howitworks.jpg" alt="Card image">
         <div class="card-img-overlay">
            <span class="card-title font-weight-bold" style="color:#fff; font-size:2.5vw">HOW IT WORKS</span><br />
            <span class="card-text" style="color:#fff; font-size:2vw">THE ONE STOP SHOP YOU NEED TO RAISE FUNDS</span>
         </div>
      </div>
   </div>

</div>

<div class="row">
   <div class="col-lg-5 col-lg-offset-1 text-center">
      <img class="img-fluid" src="/Content/home/mainimage_howitworks.jpg" alt="easy sports apparel" title="easy sports appare" />
   </div>
   <div class="col-lg-5" style="margin-left:20px; margin-top:30px">
      <h3 style="color:#51d9d8">THE PROGRAM IN 5 EASY STEPS</h3>
      STEP 1. Pick your brochure<br style="line-height:30px" />
      STEP 2. Send us your logo<br style="line-height:30px" />
      STEP 3. We send you a personalized brochure for your approval<br style="line-height:30px" />
      STEP 4. You distribute the brochures to your group and members take orders<br style="line-height:30px" />
      STEP 5. You send back your tally, keep your profit and send us the difference
      <h4 style="color:#51d9d8; font-style:italic">We send your apparel withing 15 business days or less!</h4>
      <br /><br />
      <h4 style="color:#51d9d8">WHY US?</h4>
      <div class="row">
         <div class="col-md-4" style="text-align:center; padding-top:15px">
            <img class="img-responsive" src="/Content/home/group_icon.jpg" alt="adidas logo" title="adidas logo" style="display:block; margin:auto" /><br />
            Personalized for groups
         </div>
         <div class="col-md-4" style="text-align:center; padding-top:15px">
            <img class="img-responsive" src="/Content/home/cost_icon.jpg" alt="adidas logo" title="adidas logo" style="display:block; margin:auto" /><br />
            No up front costs
         </div>
         <div class="col-md-4" style="text-align:center; padding-top:15px; margin-bottom:15px">
            <img class="img-responsive" src="/Content/home/adidas_logo.jpg" alt="adidas logo" title="adidas logo" style="display:block; margin:auto;" /><br />
            We carry only high quality brands like <strong>Adidas</strong> and <strong>Gildan</strong>
         </div>
      </div>
     
   </div>

</div>

<div class="row justify-content-around" style="margin-bottom:15px; margin-top:15px">

   <p class="col-sm-12 col-md-5 text-center" style="background-color:#333333; text-align:center; color:white; font-size:20px; padding-bottom:20px; padding-top:20px; height:65px">
      <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
   </p>

   <p class="col-sm-12 col-md-5 text-center" style="background-color:#545454; text-align:center; padding-bottom:10px; padding-top:5px; color:white; font-size:20px; height:65px">
      LOOKING FOR WHOLESALE PRICES <br /><a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>
   </p>
</div>




