@{
   ViewBag.Title = "Testimonials";
   ViewBag.Description = "Testimonials";
   ViewBag.Keywords = "Testimonials";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Index", "Home");

}

<div class="container-fluid" style="padding-left:0px; padding-right:0px">
   <div class="row">
      <div class="col-lg-12" style="width:auto;overflow:hidden;">
         <img class="img-responsive" src="/Content/home/test_image_top.jpg" style="position:relative;display: inline-block; width:100%" alt="easy sports apparel testimonials" title="easy sports apparel testimonials" />
         <div style="position:absolute; top:40%; left:20%; font-size:2.5vw; color:#fff; text-align:center">TESTIMONIALS<br />WHAT DO PEOPLE HAVE TO SAY ABOUT US?</div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-11" style="margin:30px">
         <h4 style="color:#51d9d8">FULL NAME</h4>
         California<br />
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         <br /><br />
         <h4 style="color:#51d9d8">FULL NAME</h4>
         California<br />
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         <br /><br />
         <h4 style="color:#51d9d8">FULL NAME</h4>
         California<br />
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         <br /><br />
         <h4 style="color:#51d9d8">FULL NAME</h4>
         California<br />
         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         
      </div>
   </div>
   <div class="row">
      <div class="col-lg-5 hidden-xs hidden-sm hidden-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;margin-left:40px;  margin-right:10px;">
         <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
      </div>
      <div class="col-lg-5 visible-xs visible-sm visible-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;  margin-right:10px;">
         <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
      </div>

      <div class="col-lg-6" style="background-color:#3363a1; text-align:center; padding-bottom:20px; padding-top:20px; color:white; font-size:15px; margin-bottom:20px; ">
         IF YOU ARE LOOKING FOR WHOLESALE PRICES <a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>


      </div>

   </div>

</div>
