body{Font-Family:Arial,Helvetica}
body{Font-Size: 12}
a{Text-Decoration:None;font-family:Verdana, Arial;font-size:9pt; font-weight:bold; color:white;}
a:Hover{font-family:Verdana, Arial;font-size:9pt; font-weight:bold;  }
a:Visited{font-family:Verdana, Arial;font-size:9pt; font-weight:bold;  }
h3{font-family: Verdana, Arial; font-size:12pt; color:#2f4f88; font-weight:bold; }

/* Blue=#336699, Silver=#CCCCCC */
/* Red=#FF3300 NiceBlue=#2f4f88 MediumBlue=#0033CC */
/* Lightgrey=#E7E7D6 Navy=#000066 Darkgrey=#878787  Darkblue=#092556 Grey=#bfbfbf */

.TopMenuItem 
{
	font-family: Verdana,Arial;
	font-size: 8pt;
	font-weight: bold;
	border-color: #CECECE;
	border-width: 1px;
	border-style: solid;
	padding: 1px 15px 1px 15px;
	cursor: hand;
	background: #CECECE;
	behavior:url(hover.htc)
}

.boxlook
{
	font-family:Verdana,Arial; 
	font-size:8pt; 
	color:black; 
	background-color:#CECECE; 
	border:1px groove black; 
	    height: 19px;
}

.boxlookW
{
	font-family:Verdana,Arial; 
	font-size:8pt; 
	color:black; 
	background-color:#FFFFFF; 
	border:black; 
	border-style: groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.Font7V 
{
	font-family: Verdana, Arial; 
	font-size:7pt; 					
	color:black
}


.Font7BoldV 
{
	font-family: Verdana, Arial; 
	font-size:7pt; 					
	color:black;
	font-weight:bold; 
}

.Font7BoldVBlue
{
	font-family: Verdana, Arial; 
	font-size:7pt; 					
	color:#2f4f88;
	font-weight:bold; 
}

.Font7BoldVRed
{
	font-family: Verdana, Arial; 
	font-size:7pt; 					
	color:red;
	font-weight:bold; 
}

.Font7BoldVWhite
{
	font-family:Verdana, Arial;   
	font-size:7pt;  
	font-weight:bold; 
	color:white;
}

.Font8V 
{
	font-family: Verdana, Arial; 
	font-size:8pt; 					
	color:black
}


.Font8BoldV 
{
	font-family: Verdana, Arial; 
	font-size:8pt; 					
	color:black;
	font-weight:bold; 
}

.Font8BoldVBlue
{
	font-family: Verdana, Arial; 
	font-size:8pt; 					
	color:#2f4f88;
	font-weight:bold; 
}

.Font8BoldVRed
{
	font-family: Verdana, Arial; 
	font-size:8pt; 					
	color:red;
	font-weight:bold; 
}

.Font8BoldVWhite
{
	font-family: Verdana, Arial; 
	font-size:8pt; 					
	color:white;
	font-weight:bold; 
}

.Font9BoldWhiteV		
{
	font-family:Verdana, Arial;   
	font-size:9pt;  
	font-weight:bold; 
	color:white;
}

.Font10BoldV		
{
	font-family:Verdana, Arial;   
	font-size:10pt;  
	font-weight:bold; 
	color:black;
}

.Font12BoldV 
{
	font-family: Verdana, Arial; 
	font-size:12pt; 					
	color:black;
	font-weight:bold; 
}

.CheckBox
{
	border:black;
	border-style:groove;
	border-top-width:1px;
	border-bottom-width:1px;
	border-right-width:1px;
	border-left-width:1px;
}
	
.TextBox		
{
	font-family:verdana,arial; 
	font-size:8pt; 
	color:black; 
	background-color:white; 
	border:black; 
	border-style:groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.TextBox2		
{
	font-family:Verdana,arial; 
	font-size:10pt; 
	color:black; 
	background-color:#CECECE; 
	border:black; 
	border-style:groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.TextBox3		
{
	font-family:verdana,arial; 
	font-size:7pt; 
	color:black; 
	background-color:white; 
	border:black; 
	border-style:solid; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.ClearTextBox		
{
	font-family:Verdana,arial; 
	font-size:9pt; 
	font-weight:bold;
	color:#2f4f88;
	background-color:Transparent; 
	border-top-width:0px; 
	border-bottom-width:0px; 
	border-right-width:0px; 
	border-left-width:0px;
}

.ClearTextBoxR		
{
	font-family:Verdana,arial; 
	font-size:9pt; 
	font-weight:bold;
	color:red;
	background-color:Transparent; 
	border-top-width:0px; 
	border-bottom-width:0px; 
	border-right-width:0px; 
	border-left-width:0px;
}

.ClearTextBoxB		
{
	font-family:Verdana,arial; 
	font-size:9pt; 
	font-weight:bold;
	color:#2f4f88;
	background-color:Transparent; 
	border-top-width:0px; 
	border-bottom-width:0px; 
	border-right-width:0px; 
	border-left-width:0px;
}

.ClearTextBoxG		
{
	font-family:Verdana,arial; 
	font-size:10pt; 
	font-weight:bold;
	color:#878787;
	background-color:Transparent; 
	border-top-width:0px; 
	border-bottom-width:0px; 
	border-right-width:0px; 
	border-left-width:0px;
}

.Button1		
{
	font-family:Verdana,arial;  
	font-size:9pt; 
	color:white; 
	background-color:#336699; 
	border:black; 
	border-style:groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}
.Button2		
{
	font-family:Verdana,arial; 
	font-size:9pt; 
	color:#336699; 
	background-color:#CECECE; 
	border:black; 
	border-style:groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.Button3		
{
	font-family:Verdana,arial; 
	font-size:9pt; 
	font-weight:bold;
	color:white; 
	background-color:#2f4f88; 
	border:black; 
	border-style:groove; 
	border-top-width:1px; 
	border-bottom-width:1px; 
	border-right-width:1px; 
	border-left-width:1px;
}

.Subheader
{
	border-top: 3px groove;
	font-size: 8pt;
	color: White;
	font-family: Tahoma, Verdana, 'Times New Roman';
	background-color: #4f82b5;
	text-align: right;
}