<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="1.2.0" targetFramework="net35" />
  <package id="Castle.DynamicProxy" version="2.2.0" targetFramework="net35" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net35" requireReinstallation="True" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net40" />
  <package id="NHibernate.Mapping.Attributes" version="3.2.0.0" targetFramework="net40" />
  <package id="NLog" version="1.0.0.505" targetFramework="net35" />
  <package id="Npgsql" version="2.2.4.3" targetFramework="net35" requireReinstallation="True" />
</packages>