USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[movie_code]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_code](
	[movie_code] [nvarchar](255) NULL,
	[prize_id] [int] NULL
) ON [PRIMARY]
GO
