USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[event_participation_translation]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_participation_translation](
	[before] [int] NULL,
	[after] [int] NULL
) ON [PRIMARY]
GO
