USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[AOII_missing_chapter]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AOII_missing_chapter](
	[Event ID] [nvarchar](50) NULL,
	[Account Name ] [nvarchar](50) NULL,
	[Missing Account] [nvarchar](50) NULL
) ON [PRIMARY]
GO
