USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[unused_account_number]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unused_account_number](
	[account_number] [int] NOT NULL
) ON [PRIMARY]
GO
