USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[custcare_comments]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[custcare_comments](
	[event_id] [int] NOT NULL,
	[comments] [varchar](8000) NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_custcare_comments] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[custcare_comments] ADD  CONSTRAINT [DF_custcare_comments_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
