USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[exported_movie_code]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[exported_movie_code](
	[Col001] [varchar](50) NULL,
	[Col002] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
