USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[aoii_chapters_2006]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[aoii_chapters_2006](
	[chapter] [varchar](255) NULL,
	[done] [tinyint] NOT NULL,
	[id] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
