USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[efr_movie_codes_20080814]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[efr_movie_codes_20080814](
	[Column 0] [nvarchar](50) NULL
) ON [PRIMARY]
GO
