USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[efundraingtransaction_suppID_tranlation]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[efundraingtransaction_suppID_tranlation](
	[before] [int] NULL,
	[after] [int] NOT NULL
) ON [PRIMARY]
GO
