USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[july_711_2008]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[july_711_2008](
	[email] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL
) ON [PRIMARY]
GO
