USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[llu_unsubs_dec2008]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[llu_unsubs_dec2008](
	[email] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL
) ON [PRIMARY]
GO
