USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[kd_Chapter_schoolname]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kd_Chapter_schoolname](
	[Chapter Name] [nvarchar](255) NULL,
	[Email ID] [nvarchar](255) NULL,
	[PW] [nvarchar](255) NULL,
	[SchoolName] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL
) ON [PRIMARY]
GO
