USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[payment_info_corr_20080908]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_info_corr_20080908](
	[event_id] [int] NOT NULL,
	[payment_info_id] [int] NOT NULL
) ON [PRIMARY]
GO
