USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[featured_event2]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[featured_event2](
	[event_id] [int] NOT NULL,
	[display_order] [int] NULL
) ON [PRIMARY]
GO
