USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[aoii_hotmail]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aoii_hotmail](
	[Group Name] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL,
	[Email/ID] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[New Email/ID] [nvarchar](255) NULL,
	[F6] [nvarchar](255) NULL
) ON [PRIMARY]
GO
