USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[movie_code_20061020]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_code_20061020](
	[movie_code] [nvarchar](255) NULL
) ON [PRIMARY]
GO
