USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[efrtrans2]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[efrtrans2](
	[EDS Order_id] [float] NULL,
	[Order ID] [float] NULL,
	[Account ID] [float] NULL,
	[Email] [nvarchar](255) NULL,
	[Supp ID] [float] NULL,
	[F6] [nvarchar](255) NULL,
	[F7] [nvarchar](255) NULL
) ON [PRIMARY]
GO
