USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[email_template_tag]    Script Date: 02/14/2014 16:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_template_tag](
	[email_template_id] [int] NOT NULL,
	[product_offer_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_email_template_tag] PRIMARY KEY CLUSTERED 
(
	[email_template_id] ASC,
	[product_offer_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[email_template_tag]  WITH CHECK ADD  CONSTRAINT [FK_email_template_tag_email_template] FOREIGN KEY([email_template_id])
REFERENCES [dbo].[email_template] ([email_template_id])
GO
ALTER TABLE [dbo].[email_template_tag] CHECK CONSTRAINT [FK_email_template_tag_email_template]
GO
ALTER TABLE [dbo].[email_template_tag]  WITH CHECK ADD  CONSTRAINT [FK_email_template_tag_product_offer] FOREIGN KEY([product_offer_id])
REFERENCES [dbo].[product_offer] ([product_offer_id])
GO
ALTER TABLE [dbo].[email_template_tag] CHECK CONSTRAINT [FK_email_template_tag_product_offer]
GO
ALTER TABLE [dbo].[email_template_tag]  WITH CHECK ADD  CONSTRAINT [FK_email_template_tag_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tag] ([tag_id])
GO
ALTER TABLE [dbo].[email_template_tag] CHECK CONSTRAINT [FK_email_template_tag_tag]
GO
ALTER TABLE [dbo].[email_template_tag] ADD  DEFAULT (getdate()) FOR [create_date]
GO
