USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[temp_event_participation]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp_event_participation](
	[event_participation_id] [int] NULL,
	[event_id] [int] NULL,
	[member_hierarchy_id] [int] NULL
) ON [PRIMARY]
GO
