USE [esubs_global_v2]
GO
/****** Object:  Table [dbo].[participation_channel]    Script Date: 02/14/2014 16:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[participation_channel](
	[participation_channel_id] [int] NOT NULL,
	[participation_channel_name] [varchar](50) NOT NULL,
	[create_date] [datetime] NOT NULL,
 CONSTRAINT [PK_participation_channel] PRIMARY KEY CLUSTERED 
(
	[participation_channel_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[participation_channel] ADD  CONSTRAINT [DF_participation_channel_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
