USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[GROUP_REFUND_ERRORLOG]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GROUP_REFUND_ERRORLOG](
	[REFUND_ERROR_ID] [int] IDENTITY(1,1) NOT NULL,
	[RUN_DATE] [datetime] NOT NULL,
	[REFUND_ACCOUNT_ID] [int] NOT NULL,
	[CAMPAIGN_ID] [int] NOT NULL,
	[REFUND_AMOUNT] [numeric](12, 2) NOT NULL,
	[ERROR_MESSAGE] [varchar](200) NOT NULL,
	[COMMENT] [varchar](200) NULL,
 CONSTRAINT [REFUND_ERROR_ID_PK] PRIMARY KEY CLUSTERED 
(
	[REFUND_ERROR_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
