USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[ALLOCATION]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLOCATION](
	[ALLOCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ALLOCATION_STATUS_ID] [int] NULL,
	[ALLOCATION_EFFECTIVE_DATE] [datetime] NULL,
 CONSTRAINT [PK_ALLOCATION] PRIMARY KEY CLUSTERED 
(
	[ALLOCATION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
