USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[MISC_CHARGE_TYPE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISC_CHARGE_TYPE](
	[MISC_CHARGE_TYPE_ID] [int] NOT NULL,
	[IS_TAXABLE] [bit] NULL,
	[TRANSACTION_TYPE_ID] [int] NULL,
 CONSTRAINT [PK_MISC_CHARGE_TYPE] PRIMARY KEY CLUSTERED 
(
	[MISC_CHARGE_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
