USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[Refund_Type]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Refund_Type](
	[Refund_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Adjustment_Type_ID] [int] NULL,
 CONSTRAINT [PK_Refund_Type] PRIMARY KEY CLUSTERED 
(
	[Refund_Type_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Refund_Type]  WITH CHECK ADD  CONSTRAINT [FK_Refund_Type_ADJUSTMENT_TYPE] FOREIGN KEY([Adjustment_Type_ID])
REFERENCES [dbo].[ADJUSTMENT_TYPE] ([ADJUSTMENT_TYPE_ID])
GO
ALTER TABLE [dbo].[Refund_Type] CHECK CONSTRAINT [FK_Refund_Type_ADJUSTMENT_TYPE]
GO
