USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[TAX_PROVINCE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAX_PROVINCE](
	[COUNTRY_CODE] [varchar](10) NULL,
	[PROVINCE_CODE] [varchar](10) NULL,
	[TAX_ID] [int] NULL,
	[AP_INTF_DIST_ACCTSEG_1] [varchar](3) NULL,
	[AP_INTF_DIST_ACCTSEG_2] [varchar](4) NULL,
	[AP_INTF_DIST_ACCTSEG_3] [varchar](4) NULL,
	[AP_INTF_DIST_ACCTSEG_4] [varchar](4) NULL,
	[AP_INTF_DIST_ACCTSEG_5] [varchar](2) NULL,
	[AP_INTF_DIST_ACCTSEG_6] [varchar](2) NULL,
	[AP_INTF_DIST_ACCTSEG_7] [varchar](3) NULL,
	[AP_INTF_PREPAY_ACCTSEG_1] [varchar](3) NULL,
	[AP_INTF_PREPAY_ACCTSEG_2] [varchar](4) NULL,
	[AP_INTF_PREPAY_ACCTSEG_3] [varchar](4) NULL,
	[AP_INTF_PREPAY_ACCTSEG_4] [varchar](4) NULL,
	[AP_INTF_PREPAY_ACCTSEG_5] [varchar](2) NULL,
	[AP_INTF_PREPAY_ACCTSEG_6] [varchar](2) NULL,
	[AP_INTF_PREPAY_ACCTSEG_7] [varchar](3) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
