USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[CANCELLED_INVOICE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANCELLED_INVOICE](
	[INVOICE_ID] [int] NOT NULL,
	[DATETIME_CREATED] [datetime] NOT NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[CANCEL_REASON] [varchar](200) NULL,
 CONSTRAINT [PK_CANCELLED_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[DATETIME_CREATED] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
