USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[AUDIT_FM_REASSIGNMENT]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDIT_FM_REASSIGNMENT](
	[AUDIT_FM_REASSIGN_ID] [int] IDENTITY(1,1) NOT NULL,
	[OLD_FM_ID] [int] NULL,
	[NEW_FM_ID] [int] NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[DATETIME_MODIFIED] [datetime] NULL,
	[MAJOR_PRODUCT_GROUP_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
	[CAMPAIGN_ID] [int] NULL,
 CONSTRAINT [PK_AUDIT_FM_REASSIGNMENT] PRIMARY KEY CLUSTERED 
(
	[AUDIT_FM_REASSIGN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
