USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[ADJUSTMENT_TYPE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADJUSTMENT_TYPE](
	[ADJUSTMENT_TYPE_ID] [int] NOT NULL,
	[NAME] [varchar](50) NULL,
	[FRENCH_NAME] [varchar](50) NULL,
	[DEBIT_CREDIT] [char](1) NULL,
	[IS_CHEQUE_REQUIRED] [varchar](1) NULL,
	[NOT_PRINT_ON_STATEMENT] [varchar](1) NULL,
	[IS_MAGNET_ADJUSTMENT] [varchar](1) NULL,
	[Adjustment_Type_Recipient_ID] [int] NULL,
	[Refund_Type_ID] [int] NULL,
	[User_Creatable] [bit] NOT NULL,
	[Disabled] [bit] NOT NULL,
 CONSTRAINT [PK_ADJUSTMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[ADJUSTMENT_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_ADJUSTMENT_TYPE_Adjustment_Type_Recipient] FOREIGN KEY([Adjustment_Type_Recipient_ID])
REFERENCES [dbo].[Adjustment_Type_Recipient] ([Adjustment_Type_Recipient_ID])
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE] CHECK CONSTRAINT [FK_ADJUSTMENT_TYPE_Adjustment_Type_Recipient]
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_ADJUSTMENT_TYPE_Refund_Type] FOREIGN KEY([Refund_Type_ID])
REFERENCES [dbo].[Refund_Type] ([Refund_Type_ID])
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE] CHECK CONSTRAINT [FK_ADJUSTMENT_TYPE_Refund_Type]
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE] ADD  CONSTRAINT [DF_ADJUSTMENT_TYPE_User_Creatable]  DEFAULT ((1)) FOR [User_Creatable]
GO
ALTER TABLE [dbo].[ADJUSTMENT_TYPE] ADD  CONSTRAINT [DF_ADJUSTMENT_TYPE_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
