USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[AR_ACTIVITY_TYPE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AR_ACTIVITY_TYPE](
	[AR_ACTIVITY_TYPE_ID] [int] NULL,
	[AR_ACTIVITY_TYPE_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
