USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_ALLOCATION]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_ALLOCATION](
	[INVOICE_ALLOCATION_ID] [int] IDENTITY(300000,1) NOT NULL,
	[INVOICE_ID] [int] NULL,
	[ALLOCATION_ID] [int] NULL,
	[SOURCE_ID] [int] NULL,
	[SOURCE_TYPE] [varchar](20) NULL,
	[ALLOCATED_AMOUNT] [numeric](10, 2) NULL,
 CONSTRAINT [PK_INVOICE_ALLOCATION] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ALLOCATION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
