USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_SECTION_TAX]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_SECTION_TAX](
	[INVOICE_SECTION_TAX_ID] [int] IDENTITY(50000,1) NOT NULL,
	[INVOICE_SECTION_ID] [int] NULL,
	[TAX_ID] [int] NULL,
	[TAXABLE_AMOUNT] [numeric](10, 2) NULL,
	[TAX_RATE] [numeric](10, 3) NULL,
	[TAX_AMOUNT] [numeric](10, 2) NULL,
	[DateCreated] [datetime] NULL,
	[CreatedBy] [varchar](30) NULL,
 CONSTRAINT [PK_INVOICE_SECTION_TAX] PRIMARY KEY CLUSTERED 
(
	[INVOICE_SECTION_TAX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
