USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[AUDIT_ORDER_CA_PAY]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDIT_ORDER_CA_PAY](
	[ORDER_CA_PAY_HIST_ID] [int] NOT NULL,
	[SOURCE_TYPE] [varchar](10) NULL,
	[SOURCE_ID] [int] NULL,
	[OLD_NUM_VALUE1] [int] NULL,
	[NEW_NUM_VALUE1] [int] NULL,
	[OLD_NUM_VALUE2] [int] NULL,
	[NEW_NUM_VALUE2] [int] NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[CREATED_BY] [varchar](30) NULL,
 CONSTRAINT [PK_AUDIT_ORDER_CA_PAY] PRIMARY KEY CLUSTERED 
(
	[ORDER_CA_PAY_HIST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
