USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[APPLICABLE_TAX]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPLICABLE_TAX](
	[TAX_ID] [int] NULL,
	[SECTION_TYPE_ID] [int] NULL,
	[COUNTRY_CODE] [varchar](10) NULL,
	[PROVINCE_CODE] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
