USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[PaymentIssue]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentIssue](
	[d] [datetime] NULL,
	[v] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
