USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[COMMISSION]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMISSION](
	[COMMISSION_ID] [int] NOT NULL,
	[SECTION_TYPE_ID] [int] NULL,
	[COMMISSION_TYPE_CODE] [varchar](20) NULL,
	[TARGET_TYPE_CODE] [varchar](20) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[COUNTRY_CODE] [varchar](10) NULL,
	[COMM_EFFECTIVE_DATE] [datetime] NULL,
	[COMM_END_DATE] [datetime] NULL,
	[MIN_TARGET_NUMBER] [varchar](50) NULL,
	[MAX_TARGET_NUMBER] [varchar](50) NULL,
	[PERCENT_COMM] [int] NULL,
	[BONUS] [int] NULL,
	[IS_USED_FOR_EXCEED_TARGET] [varchar](1) NULL,
	[FM_ID] [int] NULL,
	[DATETIME_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_COMMISSION] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
