USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[TAX_REGION_PROVINCE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAX_REGION_PROVINCE](
	[COUNTRY_CODE] [varchar](10) NULL,
	[PROVINCE_CODE] [varchar](10) NULL,
	[TAX_ID] [int] NULL,
	[TAX_REGION_ID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
