USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(300000,1) NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[ACCOUNT_TYPE_ID] [int] NULL,
	[PAYMENT_METHOD_ID] [int] NULL,
	[PAYMENT_EFFECTIVE_DATE] [datetime] NULL,
	[CHEQUE_NUMBER] [varchar](50) NULL,
	[CHEQUE_DATE] [datetime] NULL,
	[CHEQUE_PAYER] [varchar](50) NULL,
	[CREDIT_CARD_OWNER] [varchar](80) NULL,
	[CREDIT_CARD_AUTHORIZATION] [varchar](20) NULL,
	[PAYMENT_AMOUNT] [numeric](10, 2) NULL,
	[NOTE_TO_PRINT] [varchar](100) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[DATETIME_MODIFIED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[ORDER_ID] [int] NULL,
	[COUNTRY_CODE] [varchar](10) NULL,
	[CAMPAIGN_ID] [int] NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
