USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_BY_QSP_PRODUCT]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_BY_QSP_PRODUCT](
	[INVOICE_ID] [int] NOT NULL,
	[QSP_PRODUCT_LINE_ID] [int] NOT NULL,
	[PRODUCT_AMOUNT] [numeric](10, 2) NULL,
	[ProductLine_GP] [numeric](10, 2) NULL,
	[ProductLine_Tax1] [numeric](10, 2) NULL,
	[ProductLine_Tax2] [numeric](10, 2) NULL,
	[US_Postage_Amount] [numeric](10, 2) NULL,
 CONSTRAINT [PK_INVOICE_BY_QSP_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC,
	[QSP_PRODUCT_LINE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
