USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [int] NOT NULL,
	[ACCOUNT_TYPE_ID] [int] NOT NULL,
	[EMPLOYEE_NAME] [varchar](50) NULL,
	[LAST_STATEMENT_DATE] [datetime] NULL,
	[LAST_AGING_DATE] [datetime] NULL,
	[AGING_CURRENT] [numeric](10, 2) NOT NULL,
	[AGING_30] [numeric](10, 2) NOT NULL,
	[AGING_60] [numeric](10, 2) NOT NULL,
	[AGING_90] [numeric](10, 2) NOT NULL,
	[AGING_120_OVER] [numeric](10, 2) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NOT NULL,
	[COUNTRY_CODE] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC,
	[ACCOUNT_TYPE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (0) FOR [AGING_CURRENT]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (0) FOR [AGING_30]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (0) FOR [AGING_60]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (0) FOR [AGING_90]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (0) FOR [AGING_120_OVER]
GO
