USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[TAX]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAX](
	[TAX_ID] [int] NOT NULL,
	[NAME_RESOURCE_ID] [int] NULL,
	[TAX_FUNCTION] [varchar](50) NULL,
	[TAX_REGISTRATION] [varchar](50) NULL,
 CONSTRAINT [PK_TAX] PRIMARY KEY CLUSTERED 
(
	[TAX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
