USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[COMMISSION_TARGET_TYPE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMMISSION_TARGET_TYPE](
	[TARGET_TYPE_CODE] [varchar](20) NOT NULL,
	[NAME_RESOURCE_ID] [int] NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[DATETIME_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_COMMISSION_TARGET_TYPE] PRIMARY KEY CLUSTERED 
(
	[TARGET_TYPE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
