USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[MISC_INVOICE_ITEM]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MISC_INVOICE_ITEM](
	[INVOICE_ITEM_ID] [int] IDENTITY(3000,1) NOT NULL,
	[INVOICE_SECTION_ID] [int] NULL,
	[MISC_CHARGE_TYPE_ID] [int] NULL,
	[QUANTITY] [int] NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[UNIT_PRICE] [numeric](10, 2) NULL,
	[DATETIME_CREATED] [datetime] NULL,
	[LAST_UPDATED_BY] [varchar](30) NULL,
	[DATETIME_MODIFIED] [datetime] NULL,
 CONSTRAINT [PK_MISC_INVOICE_ITEM] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
