USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[ACCOUNTING_PERIOD]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTING_PERIOD](
	[ACCOUNTING_YEAR] [int] NOT NULL,
	[ACCOUNTING_PERIOD] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[COUNTRY_CODE] [varchar](10) NOT NULL,
	[IS_CLOSED] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
