USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[GL_ENTRY]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_ENTRY](
	[GL_ENTRY_ID] [int] IDENTITY(300000,1) NOT NULL,
	[INVOICE_ID] [int] NULL,
	[PAYMENT_ID] [int] NULL,
	[ADJUSTMENT_ID] [int] NULL,
	[ACCOUNTING_YEAR] [int] NULL,
	[ACCOUNTING_PERIOD] [int] NULL,
	[GL_ENTRY_DATE] [datetime] NULL,
	[GL_POSTING_DATE] [datetime] NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[IS_POSTED] [varchar](1) NULL,
	[COUNTRY_CODE] [varchar](10) NULL,
	[Refund_ID] [int] NULL,
	[AP_Cheque_Remit_ID] [int] NULL,
	[BusinessUnitID] [int] NULL,
 CONSTRAINT [PK_GL_ENTRY] PRIMARY KEY CLUSTERED 
(
	[GL_ENTRY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_ENTRY]  WITH CHECK ADD  CONSTRAINT [FK_GL_ENTRY_AP_Cheque_Remit] FOREIGN KEY([AP_Cheque_Remit_ID])
REFERENCES [dbo].[AP_Cheque_Remit] ([AP_Cheque_Remit_ID])
GO
ALTER TABLE [dbo].[GL_ENTRY] CHECK CONSTRAINT [FK_GL_ENTRY_AP_Cheque_Remit]
GO
ALTER TABLE [dbo].[GL_ENTRY]  WITH CHECK ADD  CONSTRAINT [FK_GL_ENTRY_Refund] FOREIGN KEY([Refund_ID])
REFERENCES [dbo].[Refund] ([Refund_ID])
GO
ALTER TABLE [dbo].[GL_ENTRY] CHECK CONSTRAINT [FK_GL_ENTRY_Refund]
GO
