USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[DEPOSIT_ITEM]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPOSIT_ITEM](
	[DEPOSIT_ITEM_ID] [int] IDENTITY(30000,1) NOT NULL,
	[BANK_DEPOSIT_ID] [int] NULL,
	[PAYMENT_ID] [int] NULL,
 CONSTRAINT [PK_DEPOSIT_ITEM] PRIMARY KEY CLUSTERED 
(
	[DEPOSIT_ITEM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
