USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_STATUS]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_STATUS](
	[INVOICE_STATUS_ID] [decimal](38, 0) NOT NULL,
	[NAME_RESOURCE_ID] [decimal](38, 0) NULL
) ON [PRIMARY]
GO
