USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[BANK_DEPOSIT]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK_DEPOSIT](
	[BANK_DEPOSIT_ID] [int] IDENTITY(700,1) NOT NULL,
	[DEPOSIT_DATE] [datetime] NULL,
	[ITEM_COUNT] [int] NULL,
	[DEPOSIT_AMOUNT] [numeric](10, 2) NULL,
	[BANK_DEPOSIT_STATUS_ID] [int] NULL,
	[BANK_ACCOUNT_ID] [int] NULL,
 CONSTRAINT [PK_BANK_DEPOSIT] PRIMARY KEY CLUSTERED 
(
	[BANK_DEPOSIT_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
