USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[GL_TRANSACTION]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GL_TRANSACTION](
	[GL_TRANSACTION_ID] [int] IDENTITY(700000,1) NOT NULL,
	[GL_ENTRY_ID] [int] NULL,
	[DEBIT_CREDIT] [varchar](1) NULL,
	[AMOUNT] [decimal](10, 2) NULL,
	[GL_TRANSACTION_STATUS_ID] [int] NULL,
	[GLAccountID] [int] NULL,
 CONSTRAINT [PK_GL_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[GL_TRANSACTION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GL_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [FK_GL_TRANSACTION_GLAccount] FOREIGN KEY([GLAccountID])
REFERENCES [dbo].[GLAccount] ([GLAccountID])
GO
ALTER TABLE [dbo].[GL_TRANSACTION] CHECK CONSTRAINT [FK_GL_TRANSACTION_GLAccount]
GO
