USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_SECTION]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_SECTION](
	[INVOICE_SECTION_ID] [int] IDENTITY(50000,1) NOT NULL,
	[INVOICE_ID] [int] NULL,
	[SECTION_TYPE_ID] [int] NULL,
	[TOTAL_TAX_INCLUDED] [numeric](10, 2) NULL,
	[TOTAL_TAX_EXCLUDED] [numeric](10, 2) NULL,
	[GROUP_PROFIT_RATE] [numeric](10, 6) NULL,
	[GROUP_PROFIT_AMOUNT] [numeric](10, 2) NULL,
	[TOTAL_TAXABLE_AMOUNT] [numeric](10, 2) NULL,
	[NET_BEFORE_TAX] [numeric](10, 2) NULL,
	[TOTAL_TAX_AMOUNT] [numeric](10, 2) NULL,
	[DUE_AMOUNT] [numeric](10, 2) NULL,
	[DateCreated] [datetime] NULL,
	[CreatedBy] [varchar](4) NULL,
	[ITEM_COUNT] [int] NOT NULL,
	[US_Postage_Amount] [numeric](10, 2) NULL,
	[ProgramType] [int] NULL,
 CONSTRAINT [PK_INVOICE_SECTION] PRIMARY KEY CLUSTERED 
(
	[INVOICE_SECTION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__TOTAL__6477ECF3]  DEFAULT (0) FOR [TOTAL_TAX_INCLUDED]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__TOTAL__656C112C]  DEFAULT (0) FOR [TOTAL_TAX_EXCLUDED]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__GROUP__66603565]  DEFAULT ((0.00)) FOR [GROUP_PROFIT_RATE]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__GROUP__6754599E]  DEFAULT (0) FOR [GROUP_PROFIT_AMOUNT]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__TOTAL__68487DD7]  DEFAULT (0) FOR [TOTAL_TAXABLE_AMOUNT]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__NET_B__693CA210]  DEFAULT (0) FOR [NET_BEFORE_TAX]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__TOTAL__6A30C649]  DEFAULT (0) FOR [TOTAL_TAX_AMOUNT]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF__INVOICE_S__DUE_A__6B24EA82]  DEFAULT (0) FOR [DUE_AMOUNT]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF_INVOICE_SECTION_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[INVOICE_SECTION] ADD  CONSTRAINT [DF_INVOICE_SECTION_ITEM_COUNT]  DEFAULT (0) FOR [ITEM_COUNT]
GO
