USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[AR_ACTIVITY]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AR_ACTIVITY](
	[AR_ACTIVITY_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[ACCOUNT_TYPE_ID] [int] NULL,
	[AR_ACTIVITY_TYPE_ID] [int] NULL,
	[PLANNED_DATE] [datetime] NULL,
	[COMPLETED_DATE] [datetime] NULL,
	[COMMENTS] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
