USE [QSPCanadaFinance]
GO
/****** Object:  Table [dbo].[INVOICE_NOTE]    Script Date: 06/07/2017 09:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_NOTE](
	[INVOICE_NOTE_ID] [int] NOT NULL,
	[NAME_RESOURCE_ID] [int] NULL,
	[NOTE_TYPE] [varchar](20) NULL,
 CONSTRAINT [PK_INVOICE_NOTE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_NOTE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
