<div layout="column" layout-align="center center">
   <div class="md-display-2">Welcome to L.I.S.A.....</div>
   <div class="md-caption">Use the top menu links to navigate to the different applications</div>   
</div>
<br/>
<br />
<br />
<br />
<div layout="column" layout-align="center center" ng-controller="PhrasesController as phrasesCtrl" ng-init="phrasesCtrl.GetRandomPhrase()">
   <div class="md-headline md-accent" ng-cloak>"{{phrasesCtrl.phrase.Text}}"</div>
   <div class="md-body-1" layout-align="center end" ng-cloak>{{phrasesCtrl.phrase.Author}}</div>
</div>