

<div class="container">
    <h1>Search</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="row" ng-controller="SearchController as searchCtrl">
                <form name="searchForm" ng-submit="searchForm.$submitted && searchForm.$valid && searchCtrl.Search()">
                    <div class="col-sm-9">
                        <input type="text" class="form-control input-lg" placeholder="Find anything here..." ng-model="searchCtrl.q" ng-required="true" />
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    @*<div class="row row-padding-lg">
        <div class="col-sm-9">
            <script>
                (function () {
                    var cx = '015876626506399994583:px83_yylxj4';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
    </div>*@
</div>




