<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StoreFrontConfiguration" type="StoreFront.SystemBase.StoreFrontConfiguration, SystemBase" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<!-- 
  sfbig;storefrontnet
  -->
	<StoreFrontConfiguration>
		<add key="StoreFront.DataAccess.ConnectionString" value="Provider=SQLOLEDB;server=stan;uid=SF_User;pwd=SF_EZuser;database=StoreFront;Connection Reset=FALSE" />
		<add key="StoreFrontLogging" value="true" />
		<add key="CleanUp" value="1440" />
		<add key="NewOrderHandlers" value="StoreFront.Integration,StoreFront.Integration.NewOrderHandler" />
	</StoreFrontConfiguration>
	<!-- <appSettings>
	- LogXML determines whether XML files are generated during updates or not. "True" is enabled, any other value is disabled.
	- PathTo tells the application whether the site is using shared SSL or not. "Shared" is shared, any other value is dedicated.
	- When activated, the modifications will create a sub-folder of ssl named "XMLLogs" and will write a file named "Update[CurrentDate].xml" to the directory on each update. 
  -->
	<appSettings>
		<add key="LogXML" value="True">
		</add>
		<add key="PathTo" value="NonShared">
		</add>
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="False" />
		</settings>
	</system.net>
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpSoap" />
				<add name="HttpPost" />
				<add name="HttpGet" />
			</protocols>
			<soapExtensionTypes>
				<add type="com.paypal.sdk.logging.DefaultSOAPHandler, paypal_base" priority="1" group="0"></add>
			</soapExtensionTypes>
		</webServices>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax" />
		</httpModules>
		<pages smartNavigation="false" />
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="vb" debug="true" />
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    <customErrors mode="RemoteOnly" />
    -->
		<customErrors mode="Off" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
		<authentication mode="Forms">
			<forms loginUrl="ssl/CSR/LoginPage.aspx" defaultUrl="ssl/CSR/OrderForm.aspx" />
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*" />
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" sqlConnectionString="data source=localhost;user id=;password=" cookieless="false" timeout="20" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
		<!-- Begin RMS Integrator Code
		 This is needed for .Net framework 1.1. By default the HTTP GET and POST protocols are turned off.
		 This section enables them	 
	-->

		<!-- End RMS Integrator Code -->
		<xhtmlConformance mode="Legacy" />
	</system.web>
	<log4net>
		<appender name="PAYPALLOGFILE" type="log4net.Appender.RollingFileAppender">
			<file value="log\\paypal.web.log"></file>

			<appendToFile value="true"></appendToFile>

			<encoding value="UTF-8"></encoding>

			<rollingStyle value="5"></rollingStyle>

			<maxSizeRollBackups value="10"></maxSizeRollBackups>

			<maximumFileSize value="10MB"></maximumFileSize>

			<staticLogFileName value="true"></staticLogFileName>

			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd MMM yyyy HH:mm:ss} %-5p [%C{1}] %m%n"></conversionPattern>
			</layout>
		</appender>

		<logger name="com.paypal.sdk">
			<level value="OFF"></level>

			<appender-ref ref="PAYPALLOGFILE"></appender-ref>
		</logger>
	</log4net>

</configuration>