<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="fundraising.webapi.host" value="https://test-api.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="core.webapi.host" value="https://test-core.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="security.webapi.host" value="https://test-security.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="reports.webapi.host" value="https://test-reports.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ezfund.webapi.host" value="https://test-api.ezfund.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
  </system.web>
</configuration>