<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="fundraising.webapi.host" value="https://api.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="core.webapi.host" value="https://core.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="security.webapi.host" value="https://security.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="reports.webapi.host" value="https://reports.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <add key="ezfund.webapi.host" value="https://api.ezfund.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />    
  </system.web>
</configuration>