USE [eFundweb]
GO
/****** Object:  StoredProcedure [dbo].[sc_get_successstory_by_group_type_id]    Script Date: 02/14/2014 13:04:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sc_get_successstory_by_group_type_id]
    @group_type_id int = 0
    ,@culture_code nvarchar(5) = 'en-US'
AS
BEGIN
    DECLARE @count_story int
    DECLARE @story_type_id int
    DECLARE @selected int
    
    -- success story
    SET @story_type_id = 1    

    IF @group_type_id <> 0
    BEGIN
        SELECT TOP 1 story_text
        FROM story
        WHERE group_type_id = @group_type_id
          AND story_type_id = @story_type_id
        ORDER BY NEWID()
    END
    ELSE
    BEGIN
        SELECT TOP 1 story_text
        FROM story
        WHERE story_type_id = @story_type_id
        ORDER BY NEWID()
    END
END
GO
