<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="GAPay.BindingName" value="NetTcpBinding_PaymentProcessingService"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_PaymentProcessingService" address="net.tcp://test.gacore.int/Server/PaymentProcessingService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
      </endpoint>
      <endpoint address="net.pipe://test.gacore.int/Server/PaymentProcessingService.svc/local" name="NetNamedPipeBinding_PaymentProcessingService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
      </endpoint>
      <endpoint name="DispatchClient" address="net.tcp://test.appservices.int/server/DispatchService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"></endpoint>
    </client>
  </system.serviceModel>
</configuration>