<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EFundStore" providerName="System.Data.SqlClient" connectionString="Data Source=GASQLP02;Initial Catalog=efundstore;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EFundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EFRCommon" connectionString="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="FastFundraising" connectionString="data source=GASQLP02;initial catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.Fundraising.Reports;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="EZMain" connectionString="Data Source=10.64.0.5;Initial Catalog=EZMain; Persist Security Info=True;User ID=ez_user;Password=texans02" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  </connectionStrings>
  <appSettings>
    <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="GAPay.BindingName" value="NetNamedPipeBinding_PaymentProcessingService"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="IsMonerisPaymentServiceUsed" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MonerisUSStoreID" value="gwca036693" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MonerisUSAPIToken" value="tlqJ7BGIYd0mEwBAbw4b" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MonerisCAStoreID" value="gwca035733" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MonerisCAAPIToken" value="Lngbl5m5vxADH7Uw5B0P" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="MonerisHostURL" value="https://www3.moneris.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="IsMonerisTestMode" value="false" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="NetTcpBinding_PaymentProcessingService" address="net.tcp://prod.gacore.int/Server/PaymentProcessingService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
      </endpoint>
      <endpoint address="net.pipe://prod.gacore.int/Server/PaymentProcessingService.svc/local" name="NetNamedPipeBinding_PaymentProcessingService" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)">
      </endpoint>
      <endpoint name="DispatchClient" address="net.tcp://prod.appservices.int/server/DispatchService.svc/intranet" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(address)"></endpoint>
    </client>
  </system.serviceModel>
</configuration>