<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   
   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>




  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AVhRmnorFDjZAenYYbb_KR0DSODoECpRfyz9_DXjnuQfND31tZqIRrE696-52SjbZ9yTADcWr-GVbruy" />
      <add name="clientSecret" value="EJgE_vXGEwavjANmkma9jjuaButtBGZHZ5w8LKLel7p0We0y6OPfXS5XU4ByBhCSrK5JGFxKvIPcMoAe" />
      <!--LIVE CREDS-->
      <!--
      <add name="clientId" value="AXRELV4i_hLoR5xec4oaaXXgw9gbHOkpso2XyDTkAgCckkPkUyX3yJtZMRm_jx9U7QLg6HIuefFsCQ_0" />
      <add name="clientSecret" value="EJQQaHWFx788G8hqIRorzZicWIAQ4rfHBKPv8EvIp6kYZHxlhjVCmPyFT0UAXEo6DxtIcW_XTXaGckVn" />
      -->
    </settings>
  </paypal>
  
  
  
  <appSettings>
    <add key="allowHttpsOnly" value="false" />
    <add key="ezfund.host" value="https://local.ezfund.com" />
    <add key="GAPay.BindingName" value="NetTcpBinding_PaymentProcessingService" />
    <add key="OrderConfirmationCopyEmailsCC" value="jfarrell@fundraising.com" />
    <add key="OrderConfirmationCopyEmailsBCC" value="jrellano@fundraising.com" />
    <add key="GALeadCopyEmailsBCC" value="jfarrell@fundraising.com" />
    <add key="SaleCreatedEmails" value="jason.farrell@fundraising.com" />
    <add key="SaleFailedEmail" value="jason.farrell@fundraising.com" />
    <add key="SalePaidEmail" value="Xavier.Desaunettes@fundraising.com,customerservice.efr@fundraising.com" />
    <add key="IsMonerisPaymentServiceUsed" value="true" />
    <add key="MonerisUSStoreID" value="gwca036693" />
    <add key="MonerisUSAPIToken" value="tlqJ7BGIYd0mEwBAbw4b" />
    <add key="MonerisCAStoreID" value="store5" />
    <add key="MonerisCAAPIToken" value="yesguy" />
    <add key="MonerisHostURL" value="www3.moneris.com" />
    <add key="IsMonerisTestMode" value="false" />
    <add key="SentryDSN" value="https://3bb66de311c845cb9488264b8df0b28d@o463955.ingest.sentry.io/5469642" />
   <add key="StripePublishableKey" value="pk_test_51HvjyYCQty26Gr5iitS89jXh5883xgeNO00IG1exVd667TKuaLqC7AIT2z1G0oH1y3391uitFxyNqwhVejGldDWG008G8XCJ9n" />
    <add key="StripePrivateKey" value="sk_test_51HvjyYCQty26Gr5iYyEsJ3GHgwYRPUSfUZDsn8IsNlmInbl5nm9NM59xrXQioFWM3x8p8IFv5PbfccJGqDvApDzr007Y4B0fdL" />
  </appSettings>
  <connectionStrings>
    <add name="EFundStore" providerName="System.Data.SqlClient" connectionString="Data Source=GASQLT02;Initial Catalog=efundstore;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" />
    <add name="EFundraisingProd" connectionString="Data Source=GASQLT02;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports" providerName="System.Data.SqlClient" />
    <add name="EFRCommon" connectionString="data source=GASQLT02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" providerName="System.Data.SqlClient" />
    <add name="FastFundraising" connectionString="data source=GASQLT02;initial catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.WebApi.Reports;" providerName="System.Data.SqlClient" />
    <!--<add name="EZMain" connectionString="data source=GASQLT02;initial catalog=EZMain;Integrated Security=True;Application Name=GA.BDC.WebApi.EzFund" providerName="System.Data.SqlClient" /> GASQLT02-->
    <add name="EZMain" connectionString="Data Source=40.87.63.134;Initial Catalog=EZMain_Test; Persist Security Info=True;User ID=ez_user;Password=texans02" providerName="System.Data.SqlClient" />
    <!-- Azure Test -->
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, Authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, PATCH, HEAD" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.5.0" newVersion="3.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.Factory" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_PaymentProcessingService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_PaymentProcessingService">
          <reliableSession inactivityTimeout="00:06:01" enabled="true" />
          <!--<security>
            <transport sslProtocols="Tls, Tls11, Tls12" />
          </security>-->
        </binding>
        <binding name="DispatchClient" transactionFlow="true">
          <reliableSession enabled="true" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://dev.appservices.int/server/DispatchService.svc/intranet" binding="netTcpBinding" bindingConfiguration="DispatchClient" contract="SWCorporate.AppServices.Shared.Contracts.IDispatchService" name="DispatchClient" />
      <endpoint address="net.tcp://local.gacore.int/Server/PaymentProcessingService.svc/intranet" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PaymentProcessingService" contract="GAPayNETTCP.PaymentProcessingService" name="NetTcpBinding_PaymentProcessingService" />
      <endpoint address="net.pipe://local.gacore.int/Server/PaymentProcessingService.svc/local" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_PaymentProcessingService" contract="GAPayNETTCP.PaymentProcessingService" name="NetNamedPipeBinding_PaymentProcessingService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>