USE [esubs_global_v2]
GO
/****** Object:  StoredProcedure [dbo].[es_get_payment_statuss]    Script Date: 02/14/2014 13:06:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Generate get stored proc for Payment_status
CREATE PROCEDURE [dbo].[es_get_payment_statuss] AS
begin

select Payment_status_id, Description from Payment_status

end
GO
