USE [esubs_global_v2]
GO
/****** Object:  StoredProcedure [dbo].[es_get_param_email_453]    Script Date: 10/17/2014 13:08:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** 
Create By : Melissa Cote 
Script Date: 08/29/2010 20:53:40 
Individual Sponsor Flow
 
KICKS-OFF; INVITES SUPPORTERS
EMAIL C / 453 / Subject: Here’s an update on [++campaign name++} 
	Sponsor - Invites Supporter Individual- Email C
	Email template 453, es_get_param_email_453
	Business Rule 170 , esubs_global_v2.es_touch_business170

******/

ALTER PROCEDURE [dbo].[es_get_param_email_453]
@identification int
,@source_id bigint
as
select 
@source_id as source_id
, (case when ep.salutation is null then ltrim(rtrim(m.first_name + ' ' + m.last_name)) collate SQL_Latin1_General_CP1_CI_AI else ltrim(rtrim(ep.salutation)) collate SQL_Latin1_General_CP1_CI_AI end ) as participant
, (case when ep.salutation is null then ltrim(rtrim(m.first_name + ' ' + m.last_name)) collate SQL_Latin1_General_CP1_CI_AI else ltrim(rtrim(ep.salutation)) collate SQL_Latin1_General_CP1_CI_AI end ) as supporter
, 453 as email_template_id
, a.sponsor_name 
, a.sponsor_email
, @identification as identification
, e.event_name as campaign
, sp_redirect  as redirect
, case when ISNULL(b.aid,'')='' then 'frdotcom' ELSE b.aid end as [aid]
, e.event_id
from
	member m (nolock)
	join member_hierarchy mh (nolock)
	on mh.member_id = m.member_id
	join event_participation ep (nolock)
	on ep.member_hierarchy_id = mh.member_hierarchy_id
	join event e (nolock)
	on ep.event_id = e.event_id
	join (
		select
			mh.member_hierarchy_id
			, event_id
			, case when u.email_address is null then m.email_address else u.email_address COLLATE SQL_Latin1_General_CP1_CI_AS end as sponsor_email
			, case when u.first_name is null then m.first_name + ' ' + m.last_name COLLATE SQL_Latin1_General_CP1_CI_AS else u.first_name + ' ' + u.last_name COLLATE SQL_Latin1_General_CP1_CI_AS end as sponsor_name
			, (CASE WHEN pers.redirect IS NULL  THEN 'grouppage.aspx?e=' + CONVERT(VARCHAR(10), ep.event_id)  ELSE   pers.redirect END) as sp_redirect
		from 
			member_hierarchy mh (nolock)
			join member m (nolock)
			on m.member_id = mh.member_id
			left join users u (nolock)
			on u.[user_id] = m.[user_id]
			join event_participation ep (nolock)
			on ep.member_hierarchy_id = mh.member_hierarchy_id
			left join personalization pers (nolock)
			on ep.event_participation_id = pers.event_participation_id
	) a	on a.member_hierarchy_id = mh.parent_member_hierarchy_id and a.event_id = e.event_id
	left join (
			select p.partner_id, pav.value as [aid]
		    from
				EFRCommon.dbo.partner p (nolock)
				join EFRCommon.dbo.partner_attribute_value pav (nolock)
				on p.partner_id = pav.partner_id
				join EFRCommon.dbo.partner_attribute pa (nolock)
				on pav.partner_attribute_id = pa.partner_attribute_id 
			where pa.partner_attribute_id = 12 and p.is_active=1
		) b 
		on b.partner_id = m.partner_id
	where 
	ep.event_participation_id = @identification
