
@{
    ViewBag.Title = "SellingKitConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row nav-section">
    <div class="container">
        <div class="row">
            <ul class="breadcrumb">
                <li><a ng-href="/">Home</a></li>
                <li class="active">Selling Kit Confirmation</li>
            </ul>
            @*{{section}}*@
        </div>
    </div>
</div>


<div class="container request-confirmation">
    <div class="row row-padding-sm">
        <div class="col-xs-12">
            <h1>Selling Kit Request Form Confirmation</h1>
        </div>
    </div>
    <div class="row row-padding-sm">
        <div class="col-xs-12">
            <h3>THANK YOU!<br />YOUR REQUEST HAS BEEN SUBMITTED!</h3>
        </div>
    </div>
    @*<div class="row" ng-cloak>
        <div class="col-xs-12">
            <img alt="ezfundlogo" ng-src="~/content/images/public/kit-confirmation-img.png" style="width:100%;" />
        </div>
    </div>*@
    <div class="row row-padding-sm">
        <div class="col-xs-12">
            <h4>
                YOUR REQUEST HAS BEEN SUBMITTED! <br>
               
            </h4>
          
        </div>
    </div>
    <div class="row row-padding-sm">
        <div class="col-xs-12">
            <h4>
                If you have any questions about the status of your request,<br />
                please call us toll free at 1-800-991-8779, and our<br />
                Fundraising Consultants will be happy to help!

            </h4>
        </div>
    </div>
</div>