<settings>
  <catalogs>
    <catalog id="92" name="QSP.com - Mag" type="1" />
    <catalog id="74" name="QSP.com - Music" type="2" />
    <catalog id="75" name="QSP.com - Books" type="2" />
    <catalog id="96" name="QSP.com - Gift" type="2" />
	<catalog id="101" name="Faculty - Mag" type="1" />
	<catalog id="78" name="Faculty - Gift" type="2" />
    <catalog id="97" name="QSP.ca - Mag GST" type="1" />
    <catalog id="98" name="QSP.ca - Mag HST" type="1" />
	<catalog id="99" name="Faculty Canada - Mag GST" type="1" />
	<catalog id="100" name="Faculty Canada - Mag HST" type="1" />
  </catalogs>
</settings>