
@{
    ViewBag.Title = "Fundraisers for Schools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').append('<div id="toTop" class="btn btn-info"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Back to Top</div>');
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });
        $('#toTop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>

<script type="text/javascript">

    $('.back-to-top').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 400);
        return false;
    });

    $(window).scroll(function () {
        var height = $('body').height(),
        scrollTop = $(window).scrollTop();
        if (scrollTop > 100) {
            $('.back-to-top').css({ 'position': 'fixed', 'bottom': '50px', 'display': 'block' });
        }
        else {
            $('.back-to-top').css({ 'position': 'absolute', 'bottom': '-50px', 'display': 'none' });
        }
    });


</script>
<style>
    #toTop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        margin-right: 5px;
    }

    .anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color:#337ab7">
                <strong>Fundraisers for Schools <span class="fa fa-child" aria-hidden="true"></span></strong>
            </h2>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="~/Content/images/public/schoolfund.jpg" alt="fundraising ideas for kids">
            <br /><br />
        </div>

        <div class="col-sm-6">
            Getting kids involved with fundraising is a great way to teach them the value of getting involved with the community and making a difference. When it comes to <strong>fundraisers for kids</strong>, they need to be straightforward, safe, and fun. If you’re stumped for suitable ideas, we’ve got a few that you could consider.
            <br /><br />
            Every kid needs pens and pencils for school, so a smelly pencils fundraiser is a great <strong>fundraising idea for kids</strong> Choose from our selection of <a href="/products/in-hand-sellers/smencils-scented-pencils-and-pens" title="snifty fundraising idea">Snifty pens, pencils, and rulers</a> and simply have them sell them at school to their classmates.
            <br /><br />
            You can always take a more traditional approach by considering some of our candies and chocolate bars. Who doesn’t have a sweet tooth? Choose from <a href="/products/in-hand-sellers/lollipops" title="lollipop fundraising idea">lollipops</a>, <a href="/products/in-hand-sellers/chocolate-pops" title="chocolate fundraising idea">chocolate lollipops</a> and more. These items should be an easy sell for the kids at school.
        </div>
    </div>
   
    <div class="row">
        <div class="col-sm-12">
            <br />
            Kids will love a colouring wall and it’s really simple. All you have to do is choose a theme that a lot of kids will be interested in, or maybe something seasonal, and then find a lot of stencils on that theme. Charge a small fee, maybe just a dollar, to buy one of the stencils and supply them with the things they need to colour them in. Once they’re done they can post on the colouring wall for everyone to see. Make sure they sign their names so everyone can recognize their work.
            <br /><br />
            These are just a couple fundraising ideas for kids that can fit the bill. Whatever you choose to do remember to keep it simple and safe for the young ones involved!

        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color:#899800">
                <strong>Ideas for College Fundraising <span class="fa fa-university" aria-hidden="true"></span></strong>
            </h2>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive" src="~/Content/images/public/collegefund.jpg" alt="fundraising ideas for college">
            <br /><br />
        </div>
        <div class="col-sm-6">
            When it comes to <strong>fundraisers for college students</strong>, the possibilities are virtually endless. If you’re going to do this, you’ll first have to organize a committee and assign each member specific tasks suitable to their individual talents and experience. Remember that students are usually busy with their studies, and they probably don’t have a lot of money to spend, so you have to make sure your fundraiser is something that they would be interested in.
            <br /><br />
            An outdoor barbeque is always a popular choice. You’ll need to rent the necessary equipment such as a barbeque (of course) and maybe also a tent and some tables to set everything up. Look into buying hot dogs and drinks in bulk because you’re likely going to need a lot of them and anything you can do to keep costs down is going to help your fundraising profit margin. Get the word out that you’re having a BBQ fundraiser via email, social media and flyers posted on campus well before the day of the event to make sure every knows about it.

        </div>


    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <br />
            A dance party is another solid <strong>college fundraiser</strong>. See if you can host a dance in the school gym and look into hiring a DJ, or maybe some local bands, to provide entertainment. Of course you’ll also have to provide food and drinks for your guests, and that is another way to generate some revenue on top of ticket sales. Just like with the BBQ idea, get the word out well before the event to ensure that people know about it.
            <br /><br />
            A lot of college students love to play sports, so a tournament is another great idea. It should also be easy to organize because the school will already have its own sport facilities. You’ll have to reserve usage of the facility, and then organize the teams. Charge a modest fee to join the tournament and offer a prize to the winning team. Remind them that it is all for a good cause, and not necessarily about being the best athlete in school.
            <br /><br />
            Just remember to keep it fun, and focus on things that students are interested in!

        </div>
    </div>

   <br /><br />

</div>







