
@{
    ViewBag.Title = "Non-Profit Fundraising";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').append('<div id="toTop" class="btn btn-info"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Back to Top</div>');
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });
        $('#toTop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>

<script type="text/javascript">

    $('.back-to-top').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 400);
        return false;
    });

    $(window).scroll(function () {
        var height = $('body').height(),
        scrollTop = $(window).scrollTop();
        if (scrollTop > 100) {
            $('.back-to-top').css({ 'position': 'fixed', 'bottom': '50px', 'display': 'block' });
        }
        else {
            $('.back-to-top').css({ 'position': 'absolute', 'bottom': '-50px', 'display': 'none' });
        }
    });


</script>
<style>
    #toTop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        margin-right: 5px;
    }

    .anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color:#337ab7">
                <strong>Non-Profit Fundraising <span class="fa fa-hand-peace-o" aria-hidden="true"></span></strong>
            </h2>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-12 ">
            If you’re fundraising for a specific non-profit organization, either in your area or for a national cause, we’ve got some great non-profit fundraising ideas for you!
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <strong>Causes take off when you go online!</strong>
            <br />
            Online fundraising tools add a new dimension of reach and accessibility to your non-profit fundraising campaigns. Whether you use them to collect donations, sell popular products, or even hold an online auction, your pool of supporters is no longer limited to your local community.
            <br /><br />
            <strong>Online Magazine Fundraiser!</strong>
            <br />
            This fundraiser is completely free and perfect for non-profit because you can raise awareness – and funds – at the same time. <a href="http://www.efundraising.com/Home/Index?gid=A5CCBE69-DC5E-4321-94B5-99D2EEF51E4C#.WUg1f2jytpg" target="_blank" title="online fundraising">When you register</a>
            , you’ll get a customizable, online magazine store of over 650 popular titles (People, All You, TIME, Cooking Light and more) at up to 85% off the newsstand price.
            <br /><br />
            Invite supporters nationwide to your fundraising store. If you have an existing website or blog, you can even link it to your fundraising website.
            <br />
            <span style="font-weight:bold">Your group received 40% of every purchase.</span>
        </div>
        <div class="col-sm-4">
            <img alt="non profit fundraising" src="~/Content/images/public/non-profit-03.png" />
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <br /><br />
            Be sure to encourage any group members participating in your campaign to use the simple, helpful integrated email feature and to share your store’s URL across their social networks like Facebook and Twitter.
            <br /><br />
            <strong>Online Donation Fundraiser</strong> - Door-to-door is one way, but when you solicit for donations online you immediately increase your reach nationwide. Our online Donation platform is flexible, fully customizable and absolutely affordable for non-profit organizations of all sizes.
            <br /><br />
            You get a design with your colors, images & logo, a secure donation page and the ability for your groups/chapters to register for their own donation page. Visitors will access a secure portal where they can search for groups raising funds for your cause and you can easily monitor how various groups are performing and who exactly is participating.
            <br /><br />
            Integrated Facebook, Twitter and email sharing and a tax deductible receipt issued to your donors are other amazing touches that go along with this unique fundraising idea.
            <br /><br />
            <strong>Online Auctions</strong> - Virtually everyone is familiar with eBay and how it works even if they’ve never personally run an auction with them. Tap into that familiarity and put an online auction to work for your non-profit. It can be organized as either a standalone fundraising initiative or in tandem with another fundraising event. A simple Google search will produce a bevy of online auction solutions, including <a href="http://onlineauction.com" target="_blank" title="onlineauction.com">onlineauction.com</a>, and <a href="http://ubid.com" target="_blank" title="ubid.com">ubid.com</a> and more.
            <br /><br />
            <h3>Branding is power: Proven, customizable non-profit fundraising products</h3>
            <strong>Scratchcards</strong>
            <br />
            Our scratchcards come in over 30 predesigned themes
            </a> branding them with your organization’s name and logo will make the maximum impact. Scratchcards for non-profit fundraising are a fun way to attract support: supporters scratch one or more dots and donate the amount(s) uncovered. In exchange, you tear off a coupon sheet with coupons for popular national retailers like TCBY, Pizza Hut, AMC Theatres, eMusic.com and more. Their small size makes them ideal for stashing in your purse or coat pocket so that you always have them handy.
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <img alt="non profit fundraising" src="~/Content/images/public/non-profit-07.png" />
            <br /><br />
        </div>
        <a name="kidsideas"></a> <!--had to add anchor tag here for kid ideas -->
        <div class="col-md-7">
            <strong>T-shirts</strong>
            <br />
            T-shirts are a tried and true way to promote awareness of your cause and attract supporters. Wear your custom t-shirts branded with your logo and the name of your campaign at your fundraising events and offer them up for sale. Supporters are only too happy to ‘wear’ your cause when its one worth backing!
        </div>

    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a href="https://www.facebook.com/EZfund/" target="_blank" title="ezfund fundraising facebook page">
                <img alt="non profit fundraising facebook" src="~/Content/images/public/fundraising_tips-FB.jpg" style="border:none" />
            </a>
            <br />
        </div>

        <div class="col-md-5">
            <strong>Have some fundraising ideas, tips or tricks that have worked well for you? Help others by posting them on our  <a href="https://www.facebook.com/EZfund/" target="_blank" title="ezfund fundraising facebook page">Facebook page</a></strong>
        </div>
        <div class="col-md-4">
        </div>

    </div>
    <br /><br />
</div>









