
@{
    ViewBag.Title = "How To Raise Funds Online!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').append('<div id="toTop" class="btn btn-info"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Back to Top</div>');
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });
        $('#toTop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>

<script type="text/javascript">

    $('.back-to-top').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 400);
        return false;
    });

    $(window).scroll(function () {
        var height = $('body').height(),
        scrollTop = $(window).scrollTop();
        if (scrollTop > 100) {
            $('.back-to-top').css({ 'position': 'fixed', 'bottom': '50px', 'display': 'block' });
        }
        else {
            $('.back-to-top').css({ 'position': 'absolute', 'bottom': '-50px', 'display': 'none' });
        }
    });


</script>
<style>
    #toTop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        margin-right: 5px;
    }

    .anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color:#337ab7">
                <strong>How To Raise Funds Online!<span class="fa fa-child" aria-hidden="true"></span></strong>
            </h2>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="~/Content/images/public/onlinemag.GIF" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
           <h3>Online Magazine Program</h3>
            This <strong>Online Magazine</strong> fundraising program is a fast and easy way to raise money online, from the comfort of your own home! There is no product to deliver and no door-to door, so it is also a safe way to fundraise!
    <br /><br />
    The best part about this online fundraiser is that, since it’s free and so easy to run, you can combine it with other fundraising programs to help increase your profits... without any <strong>extra work, costs, or risk</strong>!
    <br /><br />
    With over <strong>650 magazines</strong> available to anyone in the USA, this is the <strong>EZ</strong> way to earn <span style="color:red">40% profit</span>!
</div>
    </div>
    <br />

    <div class="row">
        <div class="col-sm-12">
            <h3>Getting started with Online Magazine Program:</h3>
            <ul>
                <li>Personalize your online magazine store with your colors, message and image once youve signed up.</li>
                <li>Tell your network <strong>across the US</strong> (group members, friends and family) about your online magazine store by emailing them the link.</li>
                <li><strong>Watch friends and family order or renew their favorite magazine subscriptions online.</strong></li>
                <li>Over 650 magazines are priced up to 85% off newsstand price.</li>
                <li>Collect <span style="color:#ff0000">40%</span> of all subscription dollars generated on your store through monthly profit checks!</li>
                <li>No door-to-door sales and no inventory.</li>
                <li>Personal fundraising consultants to help and guide you every step of the way</li>
                <li>No door-to-door sales and no inventory.</li>
                <li>Call <a href="tel:+18009918779" style="text-decoration:none; font-weight:bold">1-800-991-8779</a> for information about running this program <strong>TODAY!</strong></li>
            </ul>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="~/Content/images/public/Magazine_Icons_01.jpg" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
            <br />
            <strong>Online Fundraising Store:</strong>
            <li>Customized with your logo/photos and text</li>
            <li>Magazines, cookie dough, flowers, and more</li>
            <li>Stays open 24 hours a day, 7 days a week</li>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="~/Content/images/public/Magazine_Icons_02.jpg" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
            <br />
            <strong>Email System:</strong>
            <li>Send emails to your group members inviting them to participate</li>
            <li>Send emails inviting supporters to your fundraising store</li>
            <li>Share the link to your store on social network sites, blogs, etc.</li>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="~/Content/images/public/Magazine_Icons_03.jpg" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
            <br />
            <strong>Direct Mail:</strong>
            <li>Send letters by mail to supporters inviting them to purchase</li>
            <li>Supporters can purchase by mail, phone or online</li>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="~/Content/images/public/Magazine_Icons_04.jpg" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
            <br />
            <strong>Prize Program:</strong>
            <li>Great prizes to motivate your members to participate</li>
            <li>Movie tickets, Restaurant.com e-certificates, cash prizes, etc.</li>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="~/Content/images/public/Magazine_Icons_05.jpg" alt="online fundraisers">
        </div>
        <div class="col-sm-6">
            <br />
            <strong>Profit Checks & Tracking:</strong>
            <li>Receive monthly profit checks for up to 40% of all sales</li>
            <li>Access all the reports you need to track your online sales</li>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
            <a href="http://www.efundraising.com/Home/Index?gid=A5CCBE69-DC5E-4321-94B5-99D2EEF51E4C#.WUg1f2jytpg" target="_blank" title="online fundraising">
                <img class="img-responsive" src="~/Content/images/public/TryItNow.jpg" alt="online fundraisers"  style="display: block;" border="0" />
            </a>
        </div>
        
    </div>
    <br />
  </div>







