
@{
    ViewBag.Title = "Summer Fundraisers Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('body').append('<div id="toTop" class="btn btn-info"><i class="glyphicon glyphicon-chevron-up"></i>&nbsp;Back to Top</div>');
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('#toTop').fadeIn();
            } else {
                $('#toTop').fadeOut();
            }
        });
        $('#toTop').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });
    });

</script>

<script type="text/javascript">

    $('.back-to-top').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 400);
        return false;
    });

    $(window).scroll(function () {
        var height = $('body').height(),
        scrollTop = $(window).scrollTop();
        if (scrollTop > 100) {
            $('.back-to-top').css({ 'position': 'fixed', 'bottom': '50px', 'display': 'block' });
        }
        else {
            $('.back-to-top').css({ 'position': 'absolute', 'bottom': '-50px', 'display': 'none' });
        }
    });


</script>
<style>
    #toTop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
        display: none;
        margin-right: 5px;
    }

    .anchor {
        display: block;
        height: 115px; /*same height as header*/
        margin-top: -115px; /*same height as header*/
        visibility: hidden;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="color:#337ab7">
                <strong>Summer Fundraising Ideas <span class="fa fa-calendar" aria-hidden="true"></span></strong>
            </h2>
        </div>
    </div>
    No matter the season we’ve got loads of great fundraising ideas that are sure to be fun and get people engaged in your charitable cause. Sometimes there are national monthly themes, while other times there are holidays that could inspire a particular fundraiser. All four seasons lend themselves to certain types of fundraising events as well, so no matter what month of the year it is there is always something to fit the occasion.  With that said, here are three seasonal fundraisers for every month of the year.

    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <h2 style="color: #087A92">
                April
            </h2>

            <strong>Spring Cleaning</strong> – In April spring has arrived at last, and that means it’s time for spring cleaning. Offer your expert cleaning services at a competitive price and you’ll have people beating down the door to have you make their place spotless. Go door to door, or launch a social media campaign telling people about your spring cleaning fundraiser.<br /><br />
            <strong>CFL Bulbs for Earth Day</strong> – April 22 is Earth Day, a time when we are all encouraged to think about our impact on the environment and what we can do to reduce pollution in our own way. An easy thing that we can all do is replace the incandescent light bulbs in our house with low-wattage CFL bulbs. Acquire a large number of the bulbs wholesale, and sell them at a good price. You’ll be raising money, and helping people reduce their carbon footprints as well as their electricity bills. <br /><br />
            <strong>Easter Egg Hunt</strong> – Of course Easter is also in April, and with Easter comes chocolate eggs and bunnies. Plants chocolate eggs around the neighbourhood and charge people a small fee for a document with clues on how to find them. Or, you could have an egg painting competition. All you need are eggs from the grocery store and some water colour paints to make it happen.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <h2 style="color: #b12704">
                May
            </h2>
            <strong>Cinco de Mayo</strong> – May 5 is Mexico’s well known holiday Cinco de Mayo. On this special day organize a Mexican themed event with piñatas, tacos, tequila, and Mariachi bands. There’s something irresistibly fun about Mexican culture so this is one fundraiser that is sure to be a good time for everyone.<br /><br />
            <strong>Mothers Day Gifts</strong> – Mother’s day also happens on the second Sunday of May, so this is another occasion where you can sell cards and gifts for people to give their moms. Check <a href="../products" title="fundraising products">our product listings</a> for things that could be easy to sell on this special day. <br /><br />
            <strong>Cut The Grass</strong> – Now that spring is here and the flowers are in bloom, it also means the grass is growing and people are bringing their lawnmowers out of the garage. Just like how you could go door to door shoveling driveways, you can go door to door offering to mow people’s lawns.
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <h2 style="color: #087A92">
                June
            </h2>
            <strong>Father’s Day Gifts</strong> – Father’s Day falls on the second Sunday in June, so just like with Mother’s Day you can see this as an opportunity to launch a fundraiser. Check <a href="../products" title="fundraising products">
                our product listings
            </a> for things that can make good gifts for dear ‘ol dad! <br /><br />
            <strong>Neighbourhood Cleanup</strong> – World Environment Day is UN-led event that happens in June. This occasion is all about spreading awareness about what we can do to save the environment, so it can be a good time to do an environmental cleanup as a fundraiser. Look for people who will sponsor you to clean up a local park or neighbourhood.<br /><br />
            <strong>Summer BBQ</strong> – Nothings says summer like a barbeque on a hot, sunny day! Stage a community BBQ in a park and charge people for drinks, hot dogs, sausages, salads, and whatever you might want to bring to a barbeque. Jazz it up with some music and games like Frisbee or soccer and you’ll be sure to get people interested in what you’re doing.
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <h2 style="color: #b12704">
                July
            </h2>
            <strong>Fireworks Display</strong> – Independence Day is always a cause for celebration and lots of people love a good fireworks display, so this is another occasion where you can launch a fundraiser. Hire professionals to set up a fireworks display and charge guests a modest admission fee to see the show. You can also sell snacks and refreshments for additional revenue streams.<br /><br />
            <strong>Massages</strong> – International Massage Week is in July as well, so if you’re good with your hands you can offer people massages for a reasonable price. Help people loosen up and relax, and they’ll be glad to donate to your fundraising cause. <br /><br />
            <strong>Ice Cream</strong> – July is also National Ice Cream Month, and what better time to indulge your sweet tooth than with some frosty treats in the summer sun? Look into finding large quantities of ice cream wholesale and sell them somewhere many people visit on foot. You might have the best results if you go to an area with a lot of tourists.
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <h2 style="color: #087A92">
                August
            </h2>
            <strong>Refreshing Smoothies</strong> – August is when a lot of delicious berries and fruits are in season, so you can take advantage of the fresh harvest by mixing delicious smoothies for people. Set up a booth somewhere with a lot of foot traffic just like with the ice cream fundraiser in July. <br /><br />
            <strong>Artwork Drive</strong> – August is also Artist Appreciation Month, and this lends itself to a fundraising idea too. Stage an artwork auction, or hire an artist to draw portraits of people on the spot in a place with a lot of foot traffic.<br /><br />
            <strong>Piece of Pie</strong> – There are also numerous pie-themed days in August because so many fruits are in season at this time. Look into buying bulk quantities of various pies, or bake your own and sell slices at a booth on the street, or take orders from people and deliver the pies straight to their door.
        </div>
    </div>

   <br /><br />

</div>







