@{
    ViewBag.Title = "Cotton Candy - Fundraising.com";
    ViewBag.Description = "Try Cotton Candy for your next fun fundraiser";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, chocolate Fundraising, buy online";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = "/Fundraising-Products/all-cotton-candy";

}

<div class="container-fluid NewSiteFontSize">
    <div class="allproducts">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <br />
                <h2>Cotton Candy</h2>
                Did you know that cotton candy was first introduced as a fair favorite in 1904? More than a century later, cotton candy is a classic at amusement parks and all kinds of family events but now we can enjoy more than just the classical blue or pink cotton candy. 
                How about War Heads sour flavors or a fun combination like strawberry-banana for your next fundraising event?
            </div>

        </div>
    </div>

    <div class="lp">
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/War-Heads-Watermelon-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Katydids" class="img-thumbnail">
                    <img src="/Content/external/products/warhead_watermelon.jpg" alt="War Heads Watermelon Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">War Heads Watermelon Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Pink-Blue-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/pinkandblue.jpg" alt="Pink & Blue Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Pink & Blue Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Grape-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/grape.jpg" alt="Grape Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Grape Cotton Candy</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Strawberry-Banana-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Katydids" class="img-thumbnail">
                    <img src="/Content/external/products/strawberrybanana.jpg" alt="Strawberry Banana Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Strawberry Banana Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Creamsicle-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/creamsicle.jpg" alt="Creamsicle Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Creamsicle Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/War-Heads-Blue-Raspberry-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/warhead_blueraspberry.jpg" alt="War Heads Blue Raspberry Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">War Heads Blue Raspberry Cotton Candy</span>
                </a>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>


    </div>
</div>


