@{
    ViewBag.Title = "Scented - Fundraising.com";
    ViewBag.Description = "Scented fundraising products for your organization";
    ViewBag.Keywords = "Ideas for non profit, school, help fundraising, chocolate Fundraising, buy online, scented";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Scented Fundraisers", "Fundraising Products");

}

<div class="container-fluid NewSiteFontSize">
    <div class="allproducts">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                <br />
                <h2>Scented Fundraisers</h2>
                Smencils are No. 2 scented pencils made completely from recycled newspapers. 
                They come in awesome scents lasts for up to two years. Children love to collect the various designs and scents. We also offer Smens and a variety of scented accessories.
            </div>

        </div>
    </div>

    <div class="lp">
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/War-Heads-Watermelon-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Katydids" class="img-thumbnail">
                    <img src="/Content/external/products/warhead_watermelon.jpg" alt="War Heads Watermelon Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">War Heads Watermelon Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Pink-Blue-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Yummy Lix Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/pinkandblue.jpg" alt="Pink & Blue Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Pink & Blue Cotton Candy</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; text-align: left;  text-align: center;">
                <a href="/products/cotton-candy/all-cotton-candy/Grape-Cotton-Candy" style="text-decoration:none;color:black;margin:4px" title="Color Xploder Lollipops" class="img-thumbnail">
                    <img src="/Content/external/products/grape.jpg" alt="Grape Cotton Candy" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Grape Cotton Candy</span>
                </a>
            </div>
        </div>



        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-20oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="$1 Original Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/79.jpg" alt="$1 Original Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">$1 Original Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/tumblers/all-tumblers/fusion-drinkware-30oz-tumbler" style="text-decoration:none;color:black;margin:4px" title="Sports Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/122.jpg" alt="Sports Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sports Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/scratchcards" style="text-decoration:none;color:black;margin:4px" title="Crayola Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82002.jpg" alt="Crayola Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Crayola Smencils</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Gamer-Smencils" style="text-decoration:none;color:black;margin:4px" title="Gamer Smencils" class="img-thumbnail">
                    <img src="/Content/external/products/40032.jpg" alt="Gamer Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Gamer Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/smart-smencils" style="text-decoration:none;color:black;margin:4px" title="Smart Smencils" class="img-thumbnail">
                    <img src="/Content/external/products/scented/smart.jpg" alt="Smart Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Smart Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Soda-Shop-Smencils" style="text-decoration:none;color:black;margin:4px" title="Soda Shop Smencils" class="img-thumbnail">
                    <img src="/Content/external/products/scented/soda_shop.jpg" alt="Soda Shop Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Soda Shop Smencils</span>
                </a>
            </div>
        </div>


        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Gamer-Smencils" style="text-decoration:none;color:black;margin:4px" title="Birthday Smencils" class="img-thumbnail">
                    <img src="/Content/external/products/scented/birthday.jpg" alt="Birthday Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Birthday Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/SPOOKY-SMENCILS" style="text-decoration:none;color:black;margin:4px" title="Spooky Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/815.jpg" alt="Spooky Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Spooky Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/HOLIDAY-SMENCILS" style="text-decoration:none;color:black;margin:4px" title="Holiday Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/816.jpg" alt="Holiday Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Holiday Smencils</span>
                </a>
            </div>
        </div>


        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/VALENTINES-SMENCILS" style="text-decoration:none;color:black;margin:4px" title="Sweet Heart Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/818.jpg" alt="Sweet Heart Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sweet Heart Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="products/smencils/all-smencils/SPRING-SMENCILS" style="text-decoration:none;color:black;margin:4px" title="Spring Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/817.jpg" alt="Spring Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Spring Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/mechanical-smencils" style="text-decoration:none;color:black;margin:4px" title="Mechanical Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91008.jpg" alt="Mechanical Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mechanical Smencils</span>
                </a>
            </div>
        </div>




        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Sketch-Sniff-Gel-Crayons" style="text-decoration:none;color:black;margin:4px" title="Sketch &amp; Sniff Gel Crayons" class="img-thumbnail">
                    <img src="/Content/external/productcategory/82004.jpg" alt="Sketch &amp; Sniff Gel Crayons" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sketch &amp; Sniff Gel Crayons</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/smart-smencils" style="text-decoration:none;color:black;margin:4px" title="Smart Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/119.jpg" alt="Smart Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Smart Smencils</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/mechanical-smencils" style="text-decoration:none;color:black;margin:4px" title="Mechanical Smencils" class="img-thumbnail">
                    <img src="/Content/external/productcategory/91008.jpg" alt="Mechanical Smencils" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Mechanical Smencils</span>
                </a>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/GLITTER-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Glitter Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/products/scented/glitter_smens.jpg" alt="Glitter Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Glitter Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/TRI-COLOR-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title="Tri-Color Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/46000.jpg" alt="Tri-Color Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Tri-Color Gel Grip Smens</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/NEON-GEL-GRIP-SMENS" style="text-decoration:none;color:black;margin:4px" title=">Neon Gel Grip Smens" class="img-thumbnail">
                    <img src="/Content/external/productcategory/44000.jpg" alt=">Neon Gel Grip Smens" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Neon Gel Grip Smens</span>
                </a>
            </div>
        </div>

        <div class="row" style="text-align: center;margin-top:25px;margin-left:0;margin-right:0px">

            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Sketch-Sniff-Gel-Crayons" style="text-decoration:none;color:black;margin:4px" title="Sketch &amp; Sniff Gell Crayons" class="img-thumbnail">
                    <img src="/Content/external/products/82004.jpg" alt="Sketch &amp; Sniff Gell Crayons" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Sketch &amp; Sniff Gell Crayons</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Key-Chains" style="text-decoration:none;color:black;margin:4px" title="Scented Keychains" class="img-thumbnail">
                    <img src="/Content/external/products/20000.jpg" alt="Scented Keychains" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Scented Keychains</span>
                </a>
            </div>
            <div class="col-md-3 col-sm-3" style="display: inline-block; float: none; /* reset the text-align */ text-align: left; /* inline-block space fix */  text-align: center;">
                <a href="/products/smencils/all-smencils/Key-Chains" style="text-decoration:none;color:black;margin:4px" title="Jumbo Smickers" class="img-thumbnail">
                    <img src="/Content/external/products/scented/smickers.jpg" alt="Jumbo Smickers" style="margin: auto;max-width:100%; height:auto"><br />
                    <span class="categoryFontSize">Jumbo Smickers</span>
                </a>
            </div>
        </div>










        <div class="col-md-12" style="text-align:center;margin-bottom:2%;margin-top:4%">
            <a href="/all-fundraising-products" style="text-decoration:none;color:black;">
                <h4 style="font-weight:bold">VIEW ALL FUNDRAISING PRODUCTS</h4>
            </a>
            <hr style="height: 2px;border-width: 0;color: black;background-color:black;width:15%" />
        </div>


    </div>
</div>


