USE [fastfundraising]
GO
/****** Object:  StoredProcedure [dbo].[efr_store_get_ffcart_ffitems_by_cookie_id]    Script Date: 02/14/2014 13:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[efr_store_get_ffcart_ffitems_by_cookie_id]
@cookieid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select i.categoryid, i.itemid from ffcart c inner join ffitems i on c.itemid=i.itemid where cookieid=@cookieid


END
GO
