<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="errorSettings" type="GA.BDC.Core.Configuration.MultiNameValueSectionHandler, GA.BDC.Core.Configuration"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GA.BDC.WindowsServices.TouchService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
   <connectionStrings>
      <add name="GA.BDC.WindowsServices.TouchService.Properties.Settings.MassMailerConnectionString"
         connectionString="Data Source=SQLT08;Initial Catalog=rd_mailer;connection timeout=100;user id=rd_mailer;password=xh1tqaeu" />
   </connectionStrings>
   <errorSettings>
    <!-- ############### -->
    <!-- COMMON SETTINGS -->
    <!-- ############### -->
    <!-- 
			 ERROR LOGGING. 
			 Specify where to log errors. You may specify more than one location.
			 Valid logType is "email", "eventlog" or "file".
			 Valid logSource is either the email address for "email" type, source name
			 for "eventlog" type or file name for "file" type.
			 For "eventlog" type, you may need to create a new Key with the source name 
			 in the registry under HKLM\SYSTEM\CurrentControlSet\Services\Eventlog\Application
		-->
    <add key="Common.Log.Settings.Bulk" maxLog="10" interval="600000"/>
    <add key="Common.Log.Error" logType="email" logSource="bdcdevelopers@fundraising.com" onBulk="discard"/>
    <add key="Common.Log.Error" logType="file" logSource="C:\Log\Touch_%yyyy%%MM%%dd%_Log.xml"/>
    <add key="Common.Log.Warn" logType="file" logSource="C:\Log\Touch_%yyyy%%MM%%dd%_Log.xml"/>
    <add key="Common.Log.Info" logType="file" logSource="C:\Log\Touch_%yyyy%%MM%%dd%_Log.xml"/>
    <add key="Common.Log.Debug" logType="file" logSource="C:\Log\Touch_%yyyy%%MM%%dd%_Log.xml"/>
    <add key="Common.Email.SmtpServer" host="SMTP"/>
    <!-- #################### -->
    <!-- ESUBSGLOBAL SETTINGS -->
    <!-- #################### -->
    <add key="ESubsGlobal.Version" version="0" subversion="9"/>
    <add key="ESubsGlobal.Production" isProduction="False"/>
    <add key="ESubsGlobal.SqlConnection.Release" provider="mssql" connectionString="Data Source=CAEFR3K01;Initial Catalog=esubs_global_v2;connection timeout=100;user id=esubs_global_v2;password=5oasis4lt"/>
    <add key="ESubsGlobal.SqlConnection.Debug" provider="mssql" connectionString="Data Source=10.176.187.7, 1435;Initial Catalog=esubs_global_v2;connection timeout=100;user id=esubs_global_v2;password=5oasis4lt"/>
    <add key="ESubsGlobal.TrapLog" value="True"/>
    <!-- #################### -->
    <!-- EFRCOMMON SETTINGS -->
    <!-- #################### -->
    <add key="EFRCommon.Version" version="0" subversion="9"/>
    <add key="EFRCommon.TrapLog" value="false"/>
    <add key="EFRCommon.Production" isProduction="True"/>
    <add key="EFRCommon.SqlConnection.Release" provider="mssql" connectionString="Data Source=10.176.187.7, 1435;Initial Catalog=efrcommon;connection timeout=300;user id=esubs_global_v2;password=5oasis4lt"/>
    <add key="EFRCommon.SqlConnection.Debug" provider="mssql" connectionString="Data Source=CAEFR3K01-DEV;Initial Catalog=efrcommon;connection timeout=100;user id=esubs_global_v2;password=5oasis4lt"/>
    <!-- ############## -->
    <!-- TOUCH SETTINGS -->
    <!-- ############## -->
    <!-- 
	     QueueInterval: (long)
	     Interval in milliseconds to check for email queue for new mails to send.
	     Default: 10000
		-->
    <add key="Touch.QueueInterval" value="10000"/>
    <!-- 
	     ThrottleObject: (string)
	     Optional throttle to apply to Touch requests (id).
	     Specify object="RuleID" factor="AmountToThrottle". 
	     The amount to throttle must be a positive integer.
	     The actual throttling amount depends on the Touch.QueueInterval setting.
	     Default: none
	     
	     Example: object="1" factor="10" slows down RuleId 1 by 10x.
		-->
    <add key="Touch.ThrottleObject" object="" factor=""/>
    <!-- Specify which mail service to use [MassMailer|Komunikator] -->
    <add key="Touch.MailService" value="MassMailer"/>
    <!-- Number of days after which the email to be considered an old and not being processed  -->
    <add key="Touch.DueDays" value="1"/>
    <!-- ################### -->
    <!-- MASSMAILER/KOMUNIKATOR SETTINGS -->
    <!-- ################### -->
    <add key="MassMailer.SqlConnection.Release" provider="mssql" connectionString="Data Source=monqspmva1\mailer;Initial Catalog=rd_mailer;connection timeout=100;user id=rd_mailer;password=xh1tqaeu"/>
    <add key="MassMailer.SqlConnection.Debug" provider="mssql" connectionString="Data Source=monqspmva1\mailer;Initial Catalog=rd_mailer;connection timeout=100;user id=rd_mailer;password=xh1tqaeu"/>
  </errorSettings>
   <applicationSettings>
      <GA.BDC.WindowsServices.TouchService.Properties.Settings>
         <setting name="AmazonProjectId" serializeAs="String">
            <value>8</value>
         </setting>
         <setting name="HaltOnError" serializeAs="String">
            <value>False</value>
         </setting>
      </GA.BDC.WindowsServices.TouchService.Properties.Settings>
   </applicationSettings>
</configuration>
