@{
    Layout = "~/Views/Shared/_representativePortal.cshtml";
}
@section header
{
   <title>Thank You - {{::representativeCtrl.Representative.Name}}</title>
   <meta name="description" content="Fundraisings {{::representativeCtrl.Representative.Name}} personal website for Fundraising.com" />
   <meta property="og:title" content="{{::representativeCtrl.Representative.Name}}" />
   <meta name="keywords" content="fundraising, fundraising ideas, representative fundraiser, {{::representativeCtrl.Representative.Name}}" />
}
   <div class="row hidden-xs" style="margin-top:125px">
       <div class="col-sm-12">
           <span itemscope itemtype="https://schema.org/Breadcrumb">
               <a itemprop="url" href="/">
                   <span itemprop="title">Home</span>
               </a> &gt;
           </span>

           <span itemscope itemtype="https://schema.org/Breadcrumb">
               <a itemprop="name">
                   <span itemprop="title"><strong>Request Fundraising Information</strong></span>
               </a>
           </span>
       </div>
   </div>
<h1>Thank You</h1>
<span>We received your information and will be in contact soon!</span>

