@{
    ViewBag.Title = "My Group Report";
    Layout = "~/Views/Shared/_campaignmanager.cshtml";
    var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
    var eventBranding = ViewBag.Event as GA.BDC.Web.MGP.Models.Branding.Event;
}
<div id="report" ng-controller="campaignManagerController">
    <div class="row" ng-init="participantId = @eventBranding.ParticipantId; searchType='all'; findGroupReport();">
        <div class="col-sm-12">
            <h1 id="title">My Group Report</h1>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-sm-6">
            <div class="jumbotron">
                <h1>{{totalAmount | currency}} <small>sold</small></h1>
            </div>
        </div>
        <div class="col-sm-6 @(partnerBranding.HideProfit ? "hidden" : string.Empty)">
            <div class="jumbotron">
                <h1>{{totalProfit | currency}} <small>profit</small></h1>
            </div>
        </div>
    </div>
    <div class="row" ng-show="executingAction" ng-cloak>
        <div class="col-md-12 text-center">
            <img src="/Content/images/public/content/loading.gif" alt="Loading" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active"><a href="#grid" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;Grid</a></li>
                <li><a href="#chart" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;&nbsp;Chart</a></li>
            </ul>
            <div class="tab-content" ng-cloak>
                <div class="tab-pane fade in active" id="grid">
                    <br />
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Emails Sent</th>
                                <th>Items Sold</th>
                                <th>Amount Sold</th>
                                <th class=" @(partnerBranding.HideProfit ? "hidden" : string.Empty)">Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in data">
                                <td>{{row.MemberName}}</td>
                                <td>{{row.EmailsSent}}</td>
                                <td>{{row.ItemsSold}}</td>
                                <td>{{row.AmountSold | currency}}</td>
                                <td class=" @(partnerBranding.HideProfit ? "hidden" : string.Empty)">{{row.Profit | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="chart">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <center>
                                <div id="chartContainer"></div>            
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="/Scripts/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="/Content/datepicker.css" type="text/css" />
    <script src="/Scripts/highcharts/highcharts.js"></script>
    <script type="text/javascript">
        var from = $('#dpd1').datepicker({
            format: 'yyyy-mm-dd',
        }).on('changeDate', function (ev) {
            angular.element("#dpd1").scope().from = ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1) + "-" + ev.date.getDate();
            if (ev.date.valueOf() > to.date.valueOf()) {
                var newDate = new Date(ev.date);
                newDate.setDate(newDate.getDate() + 1);
                to.setValue(newDate);
            }
            from.hide();
            $('#dpd2')[0].focus();
        }).data('datepicker');
        var to = $('#dpd2').datepicker({
            format: 'yyyy-mm-dd',
            onRender: function (date) {
                return date.valueOf() <= from.date.valueOf() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            angular.element("#dpd2").scope().to = ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1) + "-" + ev.date.getDate();
            to.hide();
        }).data('datepicker');
        $("#dpd1, #dpd2").click(function () {
            angular.element("#dateFilter").scope().searchType = 'custom';
        });
    </script>
}
