@using GA.BDC.Web.MGP.Models.Branding
@{
   ViewBag.Title = "Fundraising Online, Registration - Step 4";
   ViewBag.Description = "My.Fundraising.com : Register your Fundraising Online Campaign";
   ViewBag.Keywords = "online fundraising register, sign up EfundraisingOnline.com, start your online fundraising campaign, begin fundraising, register online fundraising campaign, start fundraising campaign online, register, EfundraisingOnline.com, My.Fundraising.com";
	ViewBag.HideTopMenu = true;
   Layout = "~/Views/Shared/_public2.cshtml";
   var eventBranding = ViewBag.Event as Event;
}
<div class="registration-steps" id="personal-link" ng-controller="campaignManagerController" ng-init="participantId = @eventBranding.ParticipantId; redirect = '@ViewBag.Redirect';">
   <div class="row">
      <div class="col-xs-12 text-center">
         <h1>Step 4</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center registration-subtitle">
         <span>your personal link</span>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center">
         <img src="/Content/images/public/content/separator.png" class="img-responsive" />
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center">
         <span class="small text-muted">Just copy and paste it to spread the word. It's that easy.</span>
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
         <div class="panel">
            <div class="panel-body text-center">
               <span id="title">your personal link is:</span>
               <br/>
               <br/>
               <div class="hidden-xs">
                  <span id="link" ng-cloak>@Request.Url.Host/<span id="redirect">{{::redirect}}</span></span>
               </div>
               <div class="visible-xs">
                  <span id="link" ng-cloak>@Request.Url.Host/<br /><span id="redirect">{{::redirect}}</span></span>
               </div>
               <br/>
               <br />
               <span id="description" class="text-muted">use it whenever you want to share your page</span>
            </div>
         </div>
      </div>
   </div>
   
   <br/>
   <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center" ng-hide="executingAction">
         <a href="/registration/step-5?participantId=@eventBranding.ParticipantId" class="btn btn-lg btn-facebook form-control">Next Step</a>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12" ng-hide="executingAction">
         <a href="/registration/step-3?participantId=@eventBranding.ParticipantId" class="small text-muted">Go Back</a>
      </div>
   </div>   
   <div class="modal fade" id="modify-link-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <div class="row">
                  <div class="col-xs-12">
                     <label for="new-link">What's the new Link?</label>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12">
                     <input type="text" ng-model="redirect" class="form-control input-lg"/>
                  </div>
               </div>
               <div class="row" ng-show="executingAction" ng-cloak>
                  <div class="col-sm-12 text-center">
                     <span class="text-info"><strong><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</strong></span>
                  </div>
               </div>
               <div class="row" ng-show="resultFailed" ng-cloak>
                  <div class="col-sm-12 text-center">
                     <span class="text-danger"><strong>{{responseText}}</strong></span>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" ng-hide="executingAction" ng-click="step4();">Save</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
<br />
<br />

