@using GA.BDC.Web.MGP.Models.Branding
@{
   ViewBag.Title = "Fundraising Online, Registration - Step 1";
   ViewBag.Description = "My.Fundraising.com : Register your Fundraising Online Campaign";
   ViewBag.Keywords = "online fundraising register, sign up EfundraisingOnline.com, start your online fundraising campaign, begin fundraising, register online fundraising campaign, start fundraising campaign online, register, EfundraisingOnline.com, My.Fundraising.com";
	ViewBag.HideTopMenu = true;
   Layout = "~/Views/Shared/_public2.cshtml";
   var eventBranding = ViewBag.Event as Event;
}
<div class="registration-steps" ng-controller="campaignManagerController" ng-init="participantId = @eventBranding.ParticipantId;">
	<form id="stepForm" name="stepForm">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Step 1</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center registration-subtitle">
			<span>hi @((ViewBag.User as User).FirstName), tell us more about your fundraiser</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<img src="/Content/images/public/content/separator.png" class="img-responsive"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<span class="small text-muted">Don't worry, you'll be able to update this information later on.</span>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-md-offset-2 col-md-8">
			<div class="panel">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<label for="goal">
								How Much Do You Want To Raise?
							</label>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="input-group">
								<div class="input-group-addon"><span class="glyphicon glyphicon-usd"></span>
								</div>
								<input name="goal" id="goal" type="number" class="form-control input-lg" placeholder="100.00" step="100" ng-model="view.goal" required min="100" ng-init="view.goal = @eventBranding.Goal"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<label for="title">
								My Campaign Title
							</label>
						</div>
						<div class="col-xs-12 col-sm-5">
							<input name="title" id="title" type="text" class="form-control input-lg" ng-model="view.title" required placeholder="i.e. Frisco Football League" maxlength="200"/>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-7">
							<label for="postalCode">
								Zip Code
							</label>
						</div>
						<div class="col-xs-12 col-sm-5">
							<input name="postalCode" id="postalCode" type="text" class="form-control input-lg" ng-model="view.postalCode" required placeholder="i.e. 90210" maxlength="5"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center" ng-hide="executingAction">
			<button type="button" class="btn btn-lg btn-facebook form-control" ng-click="step1();" ng-disabled="!stepForm.$valid">Next Step</button>
		</div>
	</div>
	<div class="row" ng-show="executingAction" ng-cloak>
		<div class="col-sm-12 text-center">
			<span class="text-info"><strong><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</strong></span>
		</div>
	</div>
	<div class="row" ng-show="resultFailed" ng-cloak>
		<div class="col-sm-12 text-center">
			<span class="text-danger"><strong>{{responseText}}</strong></span>
		</div>
	</div>
	</form>
</div>
<br />
<br />

