@using System.Web.Script.Serialization
@using GA.BDC.Web.MGP.Helpers.Extensions
@using GA.BDC.Web.MGP.Models.Branding
@model GA.BDC.Web.MGP.Models.Views.Personalization
@{
   ViewBag.Title = "Fundraising Online, Registration - Step 2";
   ViewBag.Description = "My.Fundraising.com : Register your Fundraising Online Campaign";
   ViewBag.Keywords = "online fundraising register, sign up EfundraisingOnline.com, start your online fundraising campaign, begin fundraising, register online fundraising campaign, start fundraising campaign online, register, EfundraisingOnline.com, My.Fundraising.com";
	ViewBag.HideTopMenu = true;
   Layout = "~/Views/Shared/_public2.cshtml";
   var eventBranding = ViewBag.Event as Event;
   var serializedModel = new JavaScriptSerializer().Serialize(Model);
}
<div class="registration-steps" ng-controller="campaignManagerController" ng-init="participantId = @eventBranding.ParticipantId; registerView = @serializedModel">
   <div class="row">
      <div class="col-xs-12 text-center">
         <h1>Step 2</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center registration-subtitle">
         <span>mind a little selfie?</span>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center">
         <img src="/Content/images/public/content/separator.png" class="img-responsive" />
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12 text-center">
         <span class="small text-muted">A good photo always helps you raise more funds and let your supporters know who are they helping.<br />You can also choose your organization's logo.</span>
      </div>
   </div>
   <br />
   <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
         <div class="panel">
            <div class="panel-body">
               <div class="row">
	               <div class="col-xs-7 text-center" ng-init="registerView.CroppedImage=''">
		               <img ng-src="{{registerView.Image ? registerView.CroppedImage : registerView.PersonalizationImages[0].ImageURL}}" class="img-rounded" />
	               </div>
	               <div class="col-xs-5 text-center">
		               <br />
		               <button type="button" class="btn btn-openid form-control text-uppercase" data-toggle="modal" data-target="#uploadPictureModal" ng-click="resultFailed = false; success = false;">Upload from computer</button>
                     <br/>
		               <button type="button" class="btn btn-openid form-control text-uppercase" ng-show="!registerView.PersonalizationImages[0].IsGalleryImage" ng-click="deletePersonalizationImage(registerView.PersonalizationImages[0].ImageId); resultFailed = false; success = false;">Remove Picture</button>
		               <br/>
                     <button type="button" class="btn btn-openid form-control text-uppercase" data-toggle="modal" data-target="#galleryModal" ng-click="getGalleryImages(); resultFailed = false; success = false;">Choose from our Gallery</button>
	               </div>
               </div>
               <div class="modal fade text-left" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-xs-12 text-center">
                                 <button class="btn btn-lg btn-default" ngf-select ng-model="registerView.Image" accept="image/*">
                                    <span class="glyphicon glyphicon glyphicon-picture"></span> Select Picture
                                 </button>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-12 text-center">
                                 <div ngf-drop ngf-capture="'camera'" ng-model="registerView.Image" ngf-pattern="image/*" class="cropArea" ng-show="registerView.Image">
                                    <img-crop image="registerView.Image  | ngfDataUrl" result-image="registerView.CroppedImage" area-type="square" area-min-size="320" result-image-size="320" result-image-format="image/png" result-image-quality="0.7"></img-crop>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xs-12 text-center" ng-show="registerView.Image">
                                 <small class="text-info"><strong>Final Picture</strong></small>
                                 <br />
                                 <img ng-src="{{registerView.CroppedImage}}" />
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="registerView.Image">Accept</button>
                           <button type="button" class="btn btn-default" ng-click="registerView.Image = undefined;" data-dismiss="modal">Cancel</button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal fade text-left" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                           <h4 class="modal-title" id="galleryModalLabel">Choose a picture</h4>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-sm-2 text-center image-item" ng-repeat="img in galleryImages|filter:{CategoryName:selectedCategory}">
                                 <a href="#" class="" ng-click="selectImageFromGallery(img)" onclick="$('#galleryModal').modal('hide')">
                                    <img ng-src="{{img.FullFilePath}}" class="img-responsive img-rounded img-thumbnail" /><br />
                                 </a>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">      
      <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center" ng-hide="executingAction">
         <button type="button" class="btn btn-lg btn-facebook form-control" ng-click="step2();">Next Step</button>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12" ng-hide="executingAction">
         <a href="/registration/step-1?participantId=@eventBranding.ParticipantId" class="small text-muted">Go Back</a>
      </div>
   </div>
   <div class="row" ng-show="executingAction" ng-cloak>
      <div class="col-sm-12 text-center">
         <span class="text-info"><strong><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</strong></span>
      </div>
   </div>
   <div class="row" ng-show="resultFailed" ng-cloak>
      <div class="col-sm-12 text-center">
         <span class="text-danger"><strong>{{responseText}}</strong></span>
      </div>
   </div>
</div>
<br />
<br />

@section scripts
{
   <style>
      @@media (min-width: 600px) {
         .cropArea {
            overflow: hidden;
            width: 500px;
            height: 500px;
         }
      }

      @@media (max-width: 599px) {
         .cropArea {
            overflow: hidden;
            width: 350px;
            height: 350px;
         }
      }
   </style>
}