@model String
@{
    ViewBag.Title = "Twitter Widget";
    Layout = "~/Views/Shared/_campaignmanager.cshtml";
    var eventBranding = ViewBag.Event as GA.BDC.Web.MGP.Models.Branding.Event;
}
<div id="information"  ng-controller="campaignManagerController" ng-init="widgetId = '@ViewBag.Code'">
    <div class="row" ng-init="participantId = @eventBranding.ParticipantId;">
        <div class="col-sm-12">
            <h1>Twitter Widget</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <small>Add the Twitter widget in your Page and tell them what are you doing! #KeepItSocial</small>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-body">                                        
                    <form role="form" ng-submit="saveTwitterWidget()" name="twitterForm" id="twitterForm">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="widgetId">Code:</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <textarea name="widgetId" class="form-control" required ng-model="widgetId"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row" ng-show="executingAction">
                            <div class="col-sm-12">
                                <span class="text-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</span>
                            </div>
                        </div>
                        <div class="row" ng-show="resultFailed">
                            <div class="col-sm-12">
                                <span class="text-danger">{{responseText}}</span>
                            </div>
                        </div>
                        <div class="row" ng-show="success">
                            <div class="col-sm-12">
                                <span class="text-success">{{responseText}}</span>
                            </div>
                        </div>
                        <div class="row" ng-hide="executingAction">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Save changes</button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteTwitterWidget()">Delete the Widget</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <span class="description_title"><strong>Instructions</strong></span>
            <br/>
            <span class="description_text">
                <ol>
                    <li>Go to your <a href="https://twitter.com/settings/widgets" target="_blank">Twitter Settings</a> page.</li>
                    <li>Click the <strong>Widgets</strong> button.</li>
                    <li>Click the <strong>Create new</strong> button.</li>
                    <li>Click the <strong>Search</strong> tab.</li>
                    <li>Specify the <strong>Search query</strong>.</li>
                    <li>Click the <strong>Save changes</strong> button.</li>
                    <li>Copy the <strong>code</strong> generated into the text area in your Campaign Manager page.</li>
                    <li>Click the <strong>Save changes</strong> button.</li>
                </ol>
            </span>
        </div>
    </div>    
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
}
