vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 May 2004 16:37:28 -0000
vti_extenderversion:SR|5.0.2.2623
vti_usagebymonth:UX|122
vti_usagebyweek:UX|120 2
vti_usagebyday:UX|11 12 24 13 18 28 14 2
vti_usagelastupdated:TX|29 Jun 2003 04:59:59 -0000
vti_usagetotalhits:IX|122
vti_lineageid:SR|{E15E0BDA-682A-494D-835C-615979E5000E}
vti_backlinkinfo:VX|Candles_Airlume/candles_airlume.htm
vti_cacheddtm:TX|05 May 2004 16:37:28 -0000
vti_filesize:IR|208
vti_cachedlinkinfo:VX|S|../Background.jpg
vti_cachedsvcrellinks:VX|FSUS|Background.jpg
