USE [eFundstore]
GO
/****** Object:  StoredProcedure [dbo].[efrstore_insert_partner_type]    Script Date: 02/14/2014 13:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Generate insert stored proc for Partner_type
CREATE PROCEDURE [dbo].[efrstore_insert_partner_type] @Partner_type_id int OUTPUT, @Name varchar(50), @Create_date datetime AS
begin

insert into Partner_type(Name, Create_date) values(@Name, @Create_date)

select @Partner_type_id = SCOPE_IDENTITY()

end
GO
