USE [QSPCanadaOrderManagement]
GO
/****** Object:  View [dbo].[CodeDetail]    Script Date: 06/07/2017 09:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CodeDetail] as

select * from qspcanadacommon..codedetail
GO
