USE [QSPCanadaOrderManagement]
GO
/****** Object:  View [dbo].[vw_GetSubAndProductsInfo]    Script Date: 06/07/2017 09:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_GetSubAndProductsInfo] as

select AccountID,
Address1,
Address2,
baseprice,
CampaignID,
CatalogPrice,
CurrencyID,
CustomerCity,
CustomerFirstName,
CustomerInstance,
CustomerLastName,
CustomerOrderHeaderInstance,
customerremithistoryinstance,
CustomerState,
CustomerZip,
DateSub,
IssuesSent,
ItemPriceTotal,
OrderBatchDate,
OrderBatchID,
OrderID,
OrderStatus,
OverrideProduct,
Price,
productstatus,
producttypeinstance,
ProductType,
QualifierName,
RecipientFirstName,
RecipientLastName,
RemitBatchDate,
RemitBatchID,
RunID,
RemitBatchCount,
remitbatchstatus,
Status,
StudentFirstName,
studentinstance,
StudentLastName,
SubscriptionDate,
SubStatusInstance,
Title,
TitleCode,
TransID,
ToteID,
CustomerOrderID,
InvoiceNumber from vw_getsubinfo
union all
select AccountID,
Address1,
Address2,
baseprice,
CampaignID,
CatalogPrice,
CurrencyID,
CustomerCity,
CustomerFirstName,
CustomerInstance,
CustomerLastName,
CustomerOrderHeaderInstance,
customerremithistoryinstance,
CustomerState,
CustomerZip,
DateSub,
IssuesSent,
ItemPriceTotal,
OrderBatchDate,
OrderBatchID,
OrderID,
OrderStatus,
OverrideProduct,
Price,
productstatus,
producttypeinstance,
ProductType,
QualifierName,
RecipientFirstName,
RecipientLastName,
RemitBatchDate,
RemitBatchID,
RunID,
RemitBatchCount,
remitbatchstatus,
Status,
StudentFirstName,
studentinstance,
StudentLastName,
SubscriptionDate,
SubStatusInstance,
Title,
TitleCode,
TransID,
ToteID,
CustomerOrderID,
InvoiceNumber from vw_getallproductsinfo
GO
