USE [QSPCanadaOrderManagement]
GO
/****** Object:  View [dbo].[v_couponset]    Script Date: 06/07/2017 09:18:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_couponset]
AS
SELECT     *
FROM         dbo.CouponSet
GO
