footer
{
    border-top: 1px solid #9ba8b8;
    padding-top: 15px;
    margin-top: 30px;
}

nav ul
{
    background-color: #067a91 !important;
}


nav a,
nav a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus
{
    color: white !important;
    font-weight: bold !important;
}

nav .nav-pills > li.active > a,
.nav > li > a:hover, .nav > li > a:focus,
nav .nav-pills > li.active > a:hover,
nav .nav-pills > li.active > a:focus,
nav .nav-pills > li > a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    background-color: #08626d !important;
}
#registration h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#createNewCampaign h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#kickoff h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#galleryModal .image-item
{
	padding: 0px;
	margin: 10px 0px 0px 0px;
}
#campaigns h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#information h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#report h1#title {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#report #profit {
	width: 40%;
	text-align: right;
}
#report #profit .caption {
	font-size: 16px;
	padding: 7px 0 0 0;
	margin-right: -11px;
}
#report #profit .check {
	background: url(/Content/images/common/pdficon_large.png) no-repeat right top;
	height: 32px;
    font-weight: bold;
	padding: 8px 38px 0 0;
	text-decoration: underline;
}
#information .password {
    display: none;
}
#image-uploader .center {
	text-align: center;
}
#image-uploader h2 {
	font-size: 25px;
    color: black;
    font-weight: bold;
}
#image-uploader .file-upload {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
}
#image-uploader .gallery {
	margin-top: 30px;
	padding: 0px;
}
#image-uploader .image-carousel {
	margin: 0px;
	padding: 0px;
	width:340px;
	height:210px;
}
#image-uploader .carousel-indicators {
	bottom: 0px !important;
}
#image-uploader .carousel-indicators li {
	border: 1px solid #414141;
}
#image-uploader .carousel-indicators .active {
	background-color: #414141;
}
#image-uploader .carousel-control {
}
#image-uploader .carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .3) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  cursor: pointer;
}
#image-uploader .carousel-control.right {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .3) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  cursor: pointer;
}
#image-uploader .image-action {
	margin: 5px 50px 5px 50px;
}
#createNewCampaign h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
#personalizePage h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
.gridStyle {
    height: 400px;
}
#oauth .blankCover
{
    background-color: White;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
.raisedAmountIndicator {
	/*display: block;*/
	background-color: #0C7C92;
	/*padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
	width: 30% !important;*/
}
.raisedAmountIndicator .goal {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 11px;
}
.raisedAmountIndicator .goal a {
	color: white;
	text-decoration: underline;
}
.raisedAmountIndicator .report {
	margin-top: 30px;
	font-weight: bold;
	font-size: 12px;
}
.raisedAmountIndicator .report a {
	color: white;
	text-decoration: none;
}
.raisedAmountIndicator .report a:hover {
	text-decoration: underline;
}
.raisedAmountIndicator .text-danger {
	color: sandybrown !important;
	font-weight: bold;
}
.raisedAmountIndicator .align-bottom {
	vertical-align: bottom;
}
.raisedAmountIndicator .inner-content {
	margin-top: 30px;
	text-align: left;
    color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height:normal;
}
.s28-strong {
	font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}
#relaunch h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}
.selectImportFileParagraph
{
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 15px;
}

.selectImportFileParagraph ul
{
    margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
}
.selectImportFileParagraph li
{
    padding-left: 10px;
    font-size: 18px;
    font-weight: 300;
}

#cmPrize .prize-list {
	/*padding: 10px 15px 0 15px;
	margin-left: 15px;*/
	background-color: #f5f5f5;
	border: solid 1px #e4ecf3;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#cmPrize .prize-list table {
	margin-bottom: 10px !important;
}
#pzPrize .prize-img {
	margin-top: -30px;
	padding-left: 45px;
}
#pzPrize .prize-qualify {
	border: 10px solid #eaeff5;
	padding: 15px 20px;
}
#pzPrize .prize-qualify .qualify2 {
	padding-top: 8px;
}
#pzPrize .prize-qualify .qualify3 {
	padding-top: 8px;
	padding-left: 30px;
}
#pzPrize .prize-qualify .greenBold {
	font-size: 16px;
	color: #76a959;
	font-weight: bold;
}
#pzPrize .prize-qualify .redeem {
	margin-left: 70px;
}
#pzPrize .prize-qualify .error {
	margin: 20px 20px 0 20px;
}

.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
	border-right-style:none;
	border-left-style:none;
}
.navbar-mgp {
    background-color: #067a91;   
}
.navbar-mgp .navbar-brand {
    color: white;
}
.navbar-mgp .navbar-brand:hover,
.navbar-mgp .navbar-brand:focus {
    color: white;
}
.navbar-mgp .navbar-nav > li > a {
    color: white;
}
.navbar-mgp .navbar-nav > li > a:hover,
.navbar-mgp .navbar-nav > li > a:focus {
    color: white;
    background-color: #08626d;
}
.navbar-mgp .navbar-nav > .active > a, 
.navbar-mgp .navbar-nav > .active > a:hover, 
.navbar-mgp .navbar-nav > .active > a:focus {
    color: white;
    background-color: #08626d;
}
.navbar-mgp .navbar-nav > .open > a, 
.navbar-mgp .navbar-nav > .open > a:hover, 
.navbar-mgp .navbar-nav > .open > a:focus {
    color: white;
    background-color:  #08626d;
}
.navbar-mgp .navbar-toggle {
    border-color: white;
}
.navbar-mgp .navbar-toggle:hover,
.navbar-mgp .navbar-toggle:focus {
    background-color: #08626d;
}
.navbar-mgp .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-mgp .dropdown-menu > li > a {
    color: white;    
}
.navbar-mgp .dropdown-menu > li > a:hover,
.navbar-mgp .dropdown-menu > li > a:focus {
    color: white;
    background-color: #08626d;
}
.navbar-mgp .dropdown-menu > li {
    background-color:  #067a91;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}
.alert {
   margin-bottom: 0 !important;
}
#shortcutsPanel .panel-body .glyphicon {
   font-size: xx-large
}
#shortcutsPanel .panel-body .shortcutDescription {
   font-size: smaller;
}
@media (min-width: 768px) {
   #statsPanel .stat {
      border-right: solid 1px lightgray;
   }
}
#campaignManagerBody #campaignTitle {
   color: #31708f;
}
#statsPanel #title {
   font-size: 12px;
   color: gray;
}
#statsPanel #value {
   font-size: xx-large;
   font-weight: bold;
}

img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}