#donation .form-header {
	background-color: #D3DDE7;
}
#donation .form-header2
{
	background-color: #5BC0DE;
	color: #fff;
}

#donation .marginPullLeft10 {
	margin-left: -10px !important;	
}
#donation .marginPullLeft20 {
	margin-left: -20px !important;
}
#donation .marginPullLeft30 {
	margin-left: -30px !important;
}
#donation .marginPullLeft40 {
	margin-left: -40px !important;
}
#donation .marginPullLeft50 {
	margin-left: -50px !important;
}

#donation strong {
    font-size: 15px;
}
#donation h1 {
    font-size: 16px;
    color: #76a959;
    font-weight: bold;
}

#donation .blue {
    font-size: 16px;
	line-height: 30px;
	vertical-align: middle;
    background-color: #5BC0DE;
	color: #fff;
    font-weight: bold;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}