h1 {
    color: #067a91;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    margin-top: 0;
}
#carousselContainer {
    border: solid 2px black;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
#topInformationContainer {
    border-bottom: solid 2px black;
}
.blackImage {
    background-color: black;
    font-family: "Tahoma";
}
.blackImage a {
    color: white;
}
.raisedAmountIndicator {
	display: block;
	background-color: #0C7C92;
	padding-top:10px;
	padding-bottom: 10px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}
.raisedAmountIndicator .align-bottom {
	vertical-align: bottom;
}
.raisedAmountIndicator .inner-content {
	text-align: left;
    color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height:normal;
}
h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.s28-strong {
	font-size: 28px;
    font-weight: bold;
    margin-top: 0;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

#participantsRotator .carousel-inner {
    background-color: #DB8F05;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
#participantsRotator .item a {
    color: white;
}

.gaSavingCardButton button {
    text-transform: uppercase;
}
a.popularItemsImage:hover {
    text-decoration: none;
}

.selected img {
    opacity: 0.5;
}

#sliders #displayImage  {
    text-align: center;
    margin: 0 auto;
}
#sliders #displayName {
	text-align: center;
    margin: 0 auto;
    margin-top: 1%;
}
#sliders .image-carousel {
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 2%;
}
#sliders img {
	width: 50px;
	height: 50px;
	display: inline;
}
#sliders .carousel-indicators {
	visibility: hidden;
	display: none;
}
#sliders .carousel-control {
}
#sliders .carousel-control.left {
	background-image: none;
	cursor: pointer;
}
#sliders .carousel-control.right {
	margin-right: -10px;
	margin-top: -2px;
	background-image: none;
	cursor: pointer;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
.amount-question, .amount-question:hover {
	font-size: small;
	color: #333;
}