@{
    ViewBag.Title = "Fundraising online";
    Layout = "~/Views/Shared/_public.cshtml";
    ViewBag.CanonicalUrl = Url.Action("CampaignClosed", "Home");
}
<div class="row">
    <div class="col-sm-12">
        &nbsp;
    </div>
    <div class="col-sm-12 text-center">
        <h3>Sorry, your campaign has been closed and this page is no longer accessible.</h3>
    </div>
    <div class="col-sm-12">
        &nbsp;
    </div>
</div>
