@{
    ViewBag.Title = "Fundraising Online, Contact Us !";
    ViewBag.Description = "My.Fundraising.com : Contact us for tips, support or suggestions !!";
    ViewBag.Keywords = "Online fundraising contact, Contact EfundraisingOnline.com, online fundraising campaign suggestions, online fundraising campaign, fundraiser suggestions,  fundraising comments, fundraising support, fundraising online, fundraising tips, online magazine fundraising comments, fundraising campaign online, magazine fundraisers online, Contact My.Fundraising.com";
    Layout = "~/Views/Shared/_public2.cshtml";
    ViewBag.CanonicalUrl = Url.Action("ContactUs", "Home");
}
<div id="contactUs">
   <div class="row">
      <div class="col-md-12 text-center">
         <h1>contact us</h1>
         <img src="/Content/images/public/content/separator.png" class="img-responsive" />
      </div>
   </div>
   <div class="row">
      <div class="col-md-12" style="border: none">
         For questions, comments, or suggestions, please feel free to contact us in any of the following ways:
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
         <div class="row">
            <div class="col-md-12 title">By Phone</div>
         </div>
         <div class="row">
            <div class="col-md-12 information">For customer service or on-line support, please call 1-866-825-2921, <strong>9AM to 6PM EST.</strong>
            </div>
         </div>
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
         <div class="row">
            <div class="col-md-12 title">By Fax</div>
         </div>
         <div class="row">
            <div class="col-md-12 information">1-877-275-8664</div>
         </div>
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
         <div class="row">
            <div class="col-md-12 title">By Email</div>
         </div>
         <div class="row">
            <div class="col-md-12 information"><a href="mailto:SalesSupport.EFR@fundraising.com">SalesSupport.EFR@fundraising.com</a>
            </div>
         </div>
      </div>
   </div>
   <br/>
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
         <div class="row">
            <div class="col-md-12 title">By Mail</div>
         </div>
         <div class="row">
            <div class="col-md-12 information">
               Fundraising<br/>
               C/O FedEx Trade Networks<br/>
               156 Lawrence Paquette Ind’l Drive<br/>
               PMW# 5<br/>
               Champlain, NY 12919
            </div>
         </div>
      </div>
   </div>
</div>
<br/>
<br/>