@{
    ViewBag.Title = "Event Not Found";
    Layout = "~/Views/Shared/_public.cshtml";
    ViewBag.CanonicalUrl = Url.Action("EventNotFound", "Home");
}
<div id="incentives">
     <div class="row">
        <div class="col-md-2 visible-md visible-lg">&nbsp;</div>
        <div class="col-md-8 text-center">
            <img src="/Content/images/public/content/EventNotFound.jpg" alt="Event not found" style="width: 100%;"/>
        </div>
        <div class="col-md-2 visible-md visible-lg">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>We can't find your group page :(</h1>
            <span class="description_title">We are having trouble finding your group page, please use our handy search engine <a href="@Url.Action("FindAGroup")">by clicking here</a>
            </span>
        </div>
    </div>
</div>
