@using GA.BDC.Web.MGP.Models.Branding
@{
   ViewBag.Title = "Fundraising Online, Free Prizes !";
   ViewBag.Description = "My.Fundraising.com : Start Online fundraising and get free prizes !!";
   ViewBag.Keywords = "online fundraising prizes, Win, online fundraising campaign, Free online fundraising campaign, free ga savings pass,  fundraising online, fundraise for group to win, Prizes, fundraising online, fundraising bonuses, online magazine fundraising prize, fundraising campaign online, magazine fundraisers online";
   Layout = "~/Views/Shared/_public2.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Incentives", "Home");
   var partnerBranding = ViewBag.Partner as Partner;
}

<div id="incentives">
    <div class="row">
        <div class="col-md-12 text-center">
           <h1>External Login Error</h1>
           <img src="/Content/images/public/content/separator.png" class="img-responsive" />
        </div>
    </div>
    <div class="row">
	    <div class="col-md-12">
		    <div class="alert alert-warning">
			    Due to Privacy Settings on your Provider, We can't create an account for you. Please try again with a different Provider or using your email clicking <a href="@Url.Action("Register")"><strong>here</strong></a>
		    </div>
	    </div>
    </div>
</div>
