@{
    ViewBag.Title = "Fundraising information online FAQ and tips!";
    ViewBag.Description = "online fundraising questions, start online campaign, Help online fundraising campaign, Get started fundraising online, fundraise for group, how to, fundraising online, fundraising ideas online, online magazine fundraising tips, fundraising campaign online, magazine fundraisers online";
    ViewBag.Keywords = "My.Fundraising.com : How to get started and FAQ !!";
    Layout = "~/Views/Shared/_public.cshtml";
    var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
    ViewBag.CanonicalUrl = Url.Action("FAQ", "Home");
}
<div class="faq">
    <div class="row">
        <div class="col-md-12">
            <h5>PROGRAM FAQ's</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: How does the program work?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: Simply register online to get your free fundraising web site and online magazine store, which you can personalize for your group. Then, use the Email Tool to send personalized emails to your group members announcing the launch of your group's fundraising campaign. Group members then use the Email Tool to invite their friends and family from coast to coast to support your group. Supporters visit your online magazine store to buy, renew or extend their favorite magazine subscriptions online from a selection of over 650 popular titles at up to 85% off newsstand prices. Your group keeps up to @partnerBranding.ProfitPercentage% profit of all purchase amounts.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: How can I start an online campaign?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: It's easy since it's all online! Simply go to Register! Then, follow the easy steps and you'll be earning money in no time! If you have any questions along the way, call 1-866-825-2921. We're more than happy to help.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Are there any hidden costs?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: No, this program is completely free!
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: When should I run the program and is there a specific time frame?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: You can start this program at any time. And because it is online, you can keep it running for as long as you need.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Are the email addresses that I enter safe?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: We maintain a strict “No-Spam” policy that means that we do not sell, rent, or otherwise give your e-mail address to a third party, without your consent.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Is the online store secure?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: All transactions are 100% online on a secure server.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Are their paper order forms I can distribute or can I call in my orders?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: Sorry, this fundraiser is 100% online. No paper or over-the phone orders allowed ;)
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Do you send out the magazines or fulfill any of the orders?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: Subscriptions are fulfilled directly by the publishers. Cookie dough orders are fulfilled its manufacturer, Pine Valley. All other items are shipped from our Nashville HQ.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: How long will it take for my supporters to receive their orders?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: New magazine subscriptions may take up to 12 weeks for the first issue to arrive. Weeklies start sooner than monthlies; quarterlies may take a little longer. For non-magazine items, expect a typical delivery time of 2-3 weeks. Digital purchases, like Restaurant.com codes arrive via email, typically within a couple of hours.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q: Can my supporters place orders if they reside outside of the United States?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A: Unfortunately, no. North American orders and orders to APO & FPO addresses can be fulfilled at this time.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>PROFIT FAQ's</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. Does my profit percentage vary from item to item?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. Every item purchased through your online fundraiser will yield a different percentage. Some items, like Personalized Gift Items, Collegiate Items or Holiday Décor are quite inexpensive so your profit will be lower. For more expensive items like annual magazine subscriptions, your profit will be as much as @partnerBranding.ProfitPercentage%.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. When and how do I receive my profit?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. You'll receive your first profit check 30 days after your first sale, provided you've made a minimum of $10 in sales. Checks will be sent to the address provided in the "Edit Info" section of your Campaign Manager. Please ensure this address is entered correctly and kept current. Note that if you are part of a larger organization, the profit check may be sent directly to that organization.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>ADMIN FAQ's</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. Can I create multiple campaigns?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. Yes. You can create multiples campaigns using the same login. Simply log into your account and click Create Campaign in the top right hand corner. You will then fill in the fields and create a new campaign. You can repeat the same process if you are looking to run several.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. How do I terminate my online fundraiser/my My.Fundraising account?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. Administrators can end a campaign by logging in and clicking the 'End Campaign' link at the top right of the screen. PLEASE NOTE: Ending a fundraiser immediately removes your access and you will no longer be able to login to our platform.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. How do I remove Members?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. If you wish to be removed, please call our Online Support at 1-866-825-2921 or email SalesSupport.EFR@fundraising.com.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>MEMBER  FAQ's</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <img src="/Content/images/public/content/faq_arrows.gif" alt="Program FAQ's" />
        </div>
        <div class="col-sm-11">
            <span class="question">Q. Why isn't my name appearing as a member on my Group's page?
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11">
            <span class="answer">A. First, ensure you've registered as a member via your Group's fundraising page. Registering on the My.Fundraising.com homepage will NOT tie you to your group's campaign. If that's been done and you still don't see your name, login to your Dashboard, click on the Personalize Page tab, and insert your name into the Web Address box there: Once completed, click your Save Changes button and voila - you'll appear!.
            </span>
        </div>
    </div>
</div>
