@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_public2.cshtml";
}
<br/><br/>
<div class="row">
    <div class="col-sm-12">
        <span class="description_title text-info"><strong>We can't authenticate you :(</strong></span>
    </div>
</div>
<div class="row">
	<div class="col-sm-12">
		<span class="description_text">We're sorry but you're not able to Register/Login because you have several accounts with different Partners. Please re-visit the Website coming from a Partner or contact Help Desk</span>
	</div>
</div>
<br/>
<br />