@{
    ViewBag.Title = "PublicGroup";
    Layout = "~/Views/Shared/_public.cshtml";
    var publicEventBranding = ViewBag.PublicEvent as GA.BDC.Web.MGP.Models.Branding.PublicEvent;
    var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>@publicEventBranding.Name : Support Our Team</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>SUPPORT US: SHOP FOR YOUR FAVORITE MAGAZINES & GIFT ITEMS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_01.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_02.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_03.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_04.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_05.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
        <div class="col-xs-2 text-center"><img src="/Content/images/public/content/public_group_06.jpg" class="img-thumbnail" style="width: 100%;" alt=""/></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="description_text">
                Choose from over 1,500 items like popular magazines, personalized products and the National Savings Card boasting discounts at over 150,000 retailers. The best part? Our team keeps up to 40% of each sale!
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success form-control" ng-controller="campaignManagerController" ng-click="defaultRedirectToStore(@publicEventBranding.Id,0,true);"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> SHOP NOW</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>WANT TO RUN A TRADITIONAL FUNDRAISER?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="description_text">
                We've got chocolate! We've got lollipops! We've got all the classics and bestsellers as well as all the latest and greatest. Not sure which one is right for you? Get a free guide packed with our fundraising products and tips or give us a call - we're nice! 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success form-control" ng-controller="groupPageController" ng-click="requestAKit('@partnerBranding.PAPAffiliateId');"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> GET YOUR FREE GUIDE</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Call us at 1.866.698.3267</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="small">For question your Fundraising Store you can contact our partner, Fundraising.com, directly via email at SalesSupport.EFR@fundraising.com or by phone at 1-800-561-8388.</span>
        </div>
    </div>
</div>