@model GA.BDC.Web.MGP.Models.Views.RegisterExternal
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Fundraising Online, Register your Campaign";
    ViewBag.Description = "My.Fundraising.com : Register your Fundraising Online Campaign";
    ViewBag.Keywords = "online fundraising register, sign up EfundraisingOnline.com, start your online fundraising campaign, begin fundraising, register online fundraising campaign, start fundraising campaign online, register, EfundraisingOnline.com, My.Fundraising.com";
    Layout = "~/Views/Shared/_public.cshtml";
    var serializedModel = new JavaScriptSerializer().Serialize(Model);
}

<div id="registration" ng-controller="loginController" ng-init="registerView = @serializedModel; providerName = '@Model.ProviderName'; providerUserId = '@Model.ProviderUserId'">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create a fundraising campaign</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                    <strong>Register</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span class="small">Register to create your online fundraising campaign now. <strong>It's fast, easy and FREE!</strong>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <strong>Account Information</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small>* Indicates required field.</small>
                        </div>
                    </div>
                    <form role="form" ng-submit="registerExternal()" name="registrationForm">
                        <input type="hidden" ng-model="providerName" />
                        <input type="hidden" ng-model="providerUserId" />
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="firstName">* First Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="firstName" class="form-control" required ng-model="registerView.FirstName" placeholder="i.e. John" />
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="lastName">* Last Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="lastName" class="form-control" required ng-model="registerView.LastName" placeholder="i.e. Smith" />
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="phone">&nbsp; Phone Number</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="tel" name="phone" class="form-control" ng-model="registerView.Phone" placeholder="i.e. 55589569871" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span class="tip text-info" data-toggle="tooltip" data-placement="left" title="Your phone number will allow a fundraising consultant to contact you in case you need any help setting up or managing your online fundraising campaign.">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="state">* State</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" required ng-model="registerView.State" name="state">
                                        <option value="US-AA">Armed Forces Americas (except Canada)</option>
                                        <option value="US-AE">Armed Forces (Africa, Canada, Europe, Middle East)</option>
                                        <option value="US-AK">Alaska</option>
                                        <option value="US-AL">Alabama</option>
                                        <option value="US-AP">Armed Forces Pacific</option>
                                        <option value="US-AR">Arkansas</option>
                                        <option value="US-AZ">Arizona</option>
                                        <option value="US-CA">California</option>
                                        <option value="US-CO">Colorado</option>
                                        <option value="US-CT">Connecticut</option>
                                        <option value="US-DC">District of Columbia</option>
                                        <option value="US-DE">Delaware</option>
                                        <option value="US-FL">Florida</option>
                                        <option value="US-GA">Georgia</option>
                                        <option value="US-HI">Hawaii</option>
                                        <option value="US-IA">Iowa</option>
                                        <option value="US-ID">Idaho</option>
                                        <option value="US-IL">Illinois</option>
                                        <option value="US-IN">Indiana</option>
                                        <option value="US-KS">Kansas</option>
                                        <option value="US-KY">Kentucky</option>
                                        <option value="US-LA">Louisiana</option>
                                        <option value="US-MA">Massachusetts</option>
                                        <option value="US-MD">Maryland</option>
                                        <option value="US-ME">Maine</option>
                                        <option value="US-MI">Michigan</option>
                                        <option value="US-MN">Minnesota</option>
                                        <option value="US-MO">Missouri</option>
                                        <option value="US-MS">Mississippi</option>
                                        <option value="US-MT">Montana</option>
                                        <option value="US-NC">North Carolina</option>
                                        <option value="US-ND">North Dakota</option>
                                        <option value="US-NE">Nebraska</option>
                                        <option value="US-NH">New Hampshire</option>
                                        <option value="US-NJ">New Jersey</option>
                                        <option value="US-NM">New Mexico</option>
                                        <option value="US-NV">Nevada</option>
                                        <option value="US-NY">New York</option>
                                        <option value="US-OH">Ohio</option>
                                        <option value="US-OK">Oklahoma</option>
                                        <option value="US-OR">Oregon</option>
                                        <option value="US-PA">Pennsylvania</option>
                                        <option value="US-PR">Puerto Rico</option>
                                        <option value="US-RI">Rhode Island</option>
                                        <option value="US-SC">South Carolina</option>
                                        <option value="US-SD">South Dakota</option>
                                        <option value="US-TN">Tennessee</option>
                                        <option value="US-TX">Texas</option>
                                        <option value="US-UT">Utah</option>
                                       <option value="US-VA">Virginia</option>
                                       <option value="US-VI">Virgin Islands</option>
                                        <option value="US-VT">Vermont</option>
                                        <option value="US-WA">Washington</option>
                                        <option value="US-WI">Wisconsin</option>
                                        <option value="US-WV">West Virginia</option>
                                        <option value="US-WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="email">* Email Address</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required ng-model="registerView.Email" placeholder="i.e. my.mail@provider.com" />
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="password1">* Password</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="password" name="password1" class="form-control" required ng-model="registerView.Password1" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span class="tip text-info" data-toggle="tooltip" data-placement="left" title="Your password will allow you to manage your online fundraising campaign, so choose one that you will be able to remember. It must be at least 5 characters in length.">
                                    <span class="glyphicon glyphicon-info-sign"></span>

                                </span>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="campaignName">* Campaign Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="campaignName" class="form-control" required ng-model="registerView.CampaignName" placeholder="i.e. My Fundraising Event!" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <span class="tip text-info" data-toggle="tooltip" data-placement="left" title="Your group name is the name of the group, event or cause for which you need to raise funds.">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Are you raising funds for a group or for an individual cause?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label style="font-weight: normal">
                                        <input type="radio" name="groupType" value="1" checked="checked" ng-model="registerView.GroupType" />

                                        Group
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <span class="tip text-info" data-toggle="tooltip" data-placement="left" title="Choose this option if you have group members helping with the fundraiser. Each member can create their own fundraising profile linked to your group fundraising page, adding their own picture and message so family and friends will be more likely to buy.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label style="font-weight: normal">
                                        <input type="radio" name="groupType" value="3" ng-model="registerView.GroupType" />
                                        Individual
                                    </label>
                                    &nbsp;&nbsp;&nbsp;
                                    <span class="tip text-info" data-toggle="tooltip" data-placement="left" title="Choose this option if you are an individual (no members will be participating in the fundraiser). You will be able to create your own fundraising page personalized with your pictures and special fundraising message.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label style="font-weight: normal">
                                        <input type="checkbox" name="terms" value="1" ng-model="registerView.Terms" required />
                                        I have read and agree the @Html.ActionLink("terms of service", "PrivacyPolicy", "Home", null, new { target = "_blank" })
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label style="font-weight: normal">
                                        <input type="checkbox" name="newsletter" value="1" ng-model="registerView.Newsletter" />
                                        I wish to receive periodic emails from Fundraising.com
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="executingAction">
                            <div class="col-sm-12">
                                <span class="text-info"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" aria-hidden="true"></span> Sending your information...</span>
                            </div>
                        </div>
                        <div class="row" ng-show="resultFailed">
                            <div class="col-sm-12">
                                <span class="text-danger">{{responseText}}</span>
                            </div>
                        </div>
                        <div class="row" ng-hide="executingAction">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("Random", "Home")" target="_blank">
                <img src="/Content/images/public/content/groupPagePreview.jpg" alt="Group Page" style="width: 100%;" />
            </a>
            <br />
            <span class="small text-info">
                <strong>This is an example of a fundraising page.</strong>
            </span>
            <br />
            <span class="small">You can upload photos, set your goal, write a custom message and connect to social networks like Facebook and Twitter.
            </span>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tip").tooltip({});
        });
    </script>
}
