@{
   ViewBag.Title = "Fundraising information online FAQ and tips!";
   ViewBag.Description = "online fundraising questions, start online campaign, Help online fundraising campaign, Get started fundraising online, fundraise for group, how to, fundraising online, fundraising ideas online, online magazine fundraising tips, fundraising campaign online, magazine fundraisers online";
   ViewBag.Keywords = "My.Fundraising.com : How to get started and FAQ !!";
   Layout = "~/Views/Shared/_public.cshtml";
   var partnerBranding = ViewBag.Partner as GA.BDC.Web.MGP.Models.Branding.Partner;
   ViewBag.CanonicalUrl = Url.Action("FAQ", "Home");
}

<h2>test</h2>


<a href="@Url.Action("googleButton", "Home" )" />test</a>



   <div id="dataDiv" runat="server"></div>
