USE [eFundweb]
GO
/****** Object:  Table [dbo].[Brochures_Images]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brochures_Images](
	[Brochures_Images_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Base_Filename] [varchar](100) NULL,
	[File_Ext] [varchar](5) NULL,
	[Number_Pages] [int] NULL,
 CONSTRAINT [PK_Brochures_Images] PRIMARY KEY CLUSTERED 
(
	[Brochures_Images_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
