USE [eFundweb]
GO
/****** Object:  Table [dbo].[efr_product_update]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[efr_product_update](
	[AS400Code] [nvarchar](50) NULL,
	[SKU] [nvarchar](50) NULL
) ON [PRIMARY]
GO
