USE [eFundweb]
GO
/****** Object:  Table [dbo].[EFR_July_09_All]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EFR_July_09_All](
	[email] [nvarchar](1000) NULL,
	[name] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
