USE [eFundweb]
GO
/****** Object:  Table [dbo].[tbd_allActive]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbd_allActive](
	[Col001] [varchar](8000) NULL,
	[Col002] [varchar](8000) NULL,
	[Col003] [varchar](8000) NULL,
	[Col004] [varchar](8000) NULL,
	[Col005] [varchar](8000) NULL,
	[Col006] [varchar](8000) NULL,
	[Col007] [varchar](8000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
