USE [eFundweb]
GO
/****** Object:  Table [dbo].[Accounting_Class]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounting_Class](
	[Accounting_Class_ID] [int] NOT NULL,
	[Description] [varchar](50) NULL,
	[Rank] [int] NULL,
 CONSTRAINT [PK_Accounting_Class] PRIMARY KEY CLUSTERED 
(
	[Accounting_Class_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
