USE [eFundweb]
GO
/****** Object:  Table [dbo].[Entry_Form]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entry_Form](
	[Entry_Form_ID] [int] NOT NULL,
	[Entry_Form_Desc] [varchar](600) NOT NULL,
 CONSTRAINT [PK_Entry_Form] PRIMARY KEY CLUSTERED 
(
	[Entry_Form_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
