USE [eFundweb]
GO
/****** Object:  Table [dbo].[unsubscribe_puffy]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unsubscribe_puffy](
	[unsubscribe_id] [int] NOT NULL
) ON [PRIMARY]
GO
