USE [eFundweb]
GO
/****** Object:  Table [dbo].[partners_site_list]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[partners_site_list](
	[promotion_id] [int] NOT NULL,
	[partner_name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
