USE [eFundweb]
GO
/****** Object:  Table [dbo].[Web_Site]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Site](
	[Web_Site_ID] [int] NOT NULL,
	[Web_Site_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Web_Site] PRIMARY KEY CLUSTERED 
(
	[Web_Site_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
