USE [eFundweb]
GO
/****** Object:  Table [dbo].[Agent_Domain]    Script Date: 02/14/2014 16:26:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agent_Domain](
	[Domain_ID] [int] IDENTITY(1,1) NOT NULL,
	[Domain_Name] [varchar](80) NULL,
	[Agent_ID] [int] NULL,
 CONSTRAINT [PK_body_part] PRIMARY KEY CLUSTERED 
(
	[Domain_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
