<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--PROD-->
    <add name="QSPFulfillment" connectionString="Data Source=10.176.187.9;Initial Catalog=QSPFulfillment;user id=EFRFormWebUser;password=sp3ctacular"
     providerName="System.Data.SqlClient" />
    <add name="EfundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=efundraisingprod;connection timeout=100;user id=crm_user;password=%J$VQg4#GRj1"
        providerName="System.Data.SqlClient" />
    
    
    
    
    <!--DEV-->
    <add name="QSPFulfillmentDev" connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;user id=QSPEcommerce;password=oneteam"
      providerName="System.Data.SqlClient" />
    <add name="EfundraisingProd_" connectionString="Data Source=qspdevdb1\qsp;Initial Catalog=efundraisingprod;user id=crm_user;password=%J$VQg4#GRj1"
            providerName="System.Data.SqlClient" />

  </connectionStrings>




<appSettings>
    <add key="version" value="1.4"/>
    <add key="errorEmail" value="jason_farrell@qsp.com"/>
    <add key="SleepTime" value="59"/> <!-- 1 mins-->
    <add key="StartTime" value="9"/>
    <add key="AdjustmentToBecomePayment" value="3,6,30"/>
    <add key="CollectionStatus" value="8"/>
    <add key="ReasonIdForReturn" value="16"/>
    <add key="createUserId" value="3674"/>
    <add key="NegativeInvoiceStatus" value="4"/> <!-- cancelled-->
    <add key="isProduction" value="true"/>
    <add key="Log.Info" value="c:\LOG\efrSyncInfo_%yyyy%%MM%%dd%-%syncId%_Log.xml"/>
  
</appSettings>


    
</configuration>