<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PostalAddressFix.WPF.Properties.Settings.ConnectionString"
            connectionString="data source=qspproddb1.qsp;initial catalog=QSPFulfillment;user id=QSPFormWebUser;password=somewhereakinghasnowife;Connect Timeout=240;Application Name=OEAddressFixer;" />
    </connectionStrings>
</configuration>