USE [QSPCanadaCommon]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 06/07/2017 09:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Province](
	[COUNTRY_CODE] [varchar](10) NOT NULL,
	[PROVINCE_CODE] [varchar](10) NOT NULL,
	[PROVINCE_NAME] [varchar](50) NULL,
	[LAPSE_DAYS_DELIVERY] [int] NOT NULL,
	[TAX_BACKOUT_FUNCTION] [varchar](50) NULL,
	[LAPSE_DAYS_FIELD_SUPPLY_PREP] [int] NOT NULL,
	[LAPSE_DAYS_CHOCOLATE_PREP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC,
	[PROVINCE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Province] ADD  CONSTRAINT [DF_Province_LAPSE_DAYS_CHOCOLATE_PREP]  DEFAULT ((0)) FOR [LAPSE_DAYS_CHOCOLATE_PREP]
GO
