<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fall_09_Deluxe_Data_Generation.Properties.Settings.QSPFulfillmentConnectionString"
            connectionString="Data Source=USPVL3K16;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser;Password=somewhereakinghasnowife"
            providerName="System.Data.SqlClient" />
        <add name="Fall_09_Deluxe_Data_Generation.Properties.Settings.QSPFulfillmentConnectionString1"
            connectionString="Data Source=USPVL3K16;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Fall_09_Deluxe_Data_Generation.Properties.Settings.QSPFulfillmentConnectionString2"
            connectionString="Data Source=uspvl3k09-dev;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser"
            providerName="System.Data.SqlClient" />
        <add name="OrderExpress.DataGeneration.Properties.Settings.QSPFulfillmentConnectionString"
            connectionString="Data Source=qspproddb1.qsp;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OrderExpress.DataGeneration.Properties.Settings.QSPFulfillmentConnectionString1"
            connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPFormWebUser;Password=QSPFormWebUser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>