USE [QSPCanadaProduct]
GO
/****** Object:  StoredProcedure [dbo].[pr_FulfillmentHouseInformation_Update]    Script Date: 06/07/2017 09:17:53 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_FulfillmentHouseInformation_Update]

	@iFulfillmentHouseID	int,
	@zUMC		varchar(4),
	@zSeason		varchar(1),
	@iYear			int

AS

	UPDATE	Product
	SET		Fulfill_House_Nbr = @iFulfillmentHouseID
	WHERE	Product_Code = @zUMC
	AND		Product_Season = @zSeason
	AND		Product_Year = @iYear
GO
