USE [QSPCanadaProduct]
GO
/****** Object:  StoredProcedure [dbo].[pr_InsertPricingDetails_Single]    Script Date: 06/07/2017 09:17:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pr_InsertPricingDetails_Single]

	@iProductInstance		int,
	@zProductCode			varchar(20),
	@iYear				int,
	@zSeason			varchar(1),
	@iCatalogSectionID		int,
	@iStatus			int,
	@dEffectiveDate		datetime,
	@dEndDate			datetime,
	@dDateSubmitted		datetime,
	@fRemitRate			numeric(10, 2),
	@fConversionRate		numeric(10, 2),
	@fNewsStandPrice		numeric(10, 2),
	@iListingLevelID		int,
	@zListingCopyText		varchar(500),
	@iAdInCatalog			int,
	@iAdPageSizeID		int,
	@iAdPaymentCurrency		int,
	@fAdCost			numeric(10,2),
	@zComment			varchar(200),
	@iEffortKeyRequired		int,
	@zEffortKey			varchar(40),
	@iNumberOfIssues		int,
	@fBasePrice			numeric(10, 2),
	@fQSPPrice			numeric(10, 2),
	@iInternetApproval		int,
	@zABCCode			varchar(20),
	@iQSPPremiumID		int,
	@zOracleCode			varchar(50),
	@iFSApplicabilityId		int,
	@iFSDistributionLevelID		int,
	@iFSExtraLimitRate		int,
	@bFSIsBrochure		bit,
	@zFSCatalogProductCode	varchar(50),
	@zFSContentCatalogCode	varchar(50),
	@iFSProgramID			int,
	@iTaxRegionID			int,
	@zPremiumInd			varchar(1),
	@zPremiumCode		varchar(50),
	@zPremiumCopy		varchar(500),
	@zFSProvinceCode		varchar(10),
	@zUserID			varchar(30),
	@zQspcaListingCopyText varchar(500),
	@fAddlHandlingFee money

AS

	INSERT INTO	Pricing_Details
			(Product_Instance,
			Pricing_Year,
			Pricing_Season,
			Product_Code,
			Program_ID,
			Program_Type,
			ProgramSectionID,
			Offer_Code,
			Status,
			Remit_Rate,
			Nbr_of_Issues,
			Duration,
			Duration_Measure,
			NewsStand_Price_Yr,
			Basic_Price_Yr,
			QSP_Price,
			EffortKeyRequired,
			Effort_Key,
			Logged_By,
			Log_Dt,
			EffectiveDate,
			EndDate,
			NewsStandPriceOriginalCurrency,
			ConversionRate,
			Comment,
			DateSubmitted,
			BasePriceOriginalCurrency,
			TaxRegionID,
			DefaultGrossValue,
			FSExtra_Limit_Rate,
			FSIsBrochure,
			FSApplicabilityId,
			FSDistributionLevelId,
			Language_Code,
			FSCatalog_Product_Code,
			FSContent_Catalog_Code,
			FSProgram_Id,
			OracleCode,
			InternetApproval,
			ABCCode,
			AdInCatalog,
			AdPageSizeID,
			AdCost,
			AdCostCurrency,
			ListingLevelID,
			ListingCopyText,
			QSPPremiumID,
			prdPremiumInd,
			prdPremiumCode,
			prdPremiumCopy,
			FSProvinceCode,
			QSPCAListingCopyText,
			AddlHandlingFee
			)
	SELECT	@iProductInstance,
			@iYear,
			@zSeason,
			@zProductCode,
			0,
			'',
			@iCatalogSectionID,
			0,
			@iStatus,
			NULL,
			@iNumberOfIssues,
			NULL,
			NULL,
			NULL,
			NULL,
			@fQSPPrice,
			NULL,
			NULL,
			@zUserID,
			getdate(),
			@dEffectiveDate,
			@dEndDate,
			NULL,
			NULL,
			@zComment,
			@dDateSubmitted,
			NULL,
			@iTaxRegionID,
			NULL,
			CASE p.Type WHEN 46004 THEN CONVERT(numeric(18, 0), @iFSExtraLimitRate) ELSE NULL END,
			CASE p.Type WHEN 46004 THEN @bFSIsBrochure ELSE NULL END,
			CASE p.Type WHEN 46004 THEN @iFSApplicabilityId ELSE NULL END,
			CASE p.Type WHEN 46004 THEN @iFSDistributionLevelID ELSE NULL END,
			p.Lang,
			@zFSCatalogProductCode,
			CASE p.Type WHEN 46004 THEN @zFSContentCatalogCode ELSE NULL END,
			CASE p.Type WHEN 46004 THEN @iFSProgramID ELSE NULL END,
			@zOracleCode,
			convert(bit, @iInternetApproval),
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			CASE p.Type WHEN 46001 THEN @zFSProvinceCode ELSE NULL END,
			@zQspcaListingCopyText,
			@fAddlHandlingFee
	FROM		Product p
	WHERE	p.Product_Instance = @iProductInstance
GO
