@import url("../../../../css/base.css");

/* Global Styles
--------------------------------------------------------*/
body {background:#FAEBD7 url(images/bg.gif) repeat-x; margin: 0; padding: 0}
#PageSubTable {width: 765px}
#ContentCell {height: 450px; padding: 30px 20px 8px 0}

/* Instructions Box */
#Instruction1_InstructCell {line-height: 17px; background:#D0CCA3; border: 1px solid #828067; padding: 7px}

/* Error Messages */
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color:#4F0B0C;}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font: 15px Georgia, "Times New Roman", Times, serif; font-weight: normal; color: #EFECCA; background: #4F0B0C}
table.optionsbox {border: 1px solid #4F0B0C}

/* Form Styles */
.col2 .c1 {border-right: 1px dashed #585347}
#Form2 input, #Form2 select {font: 12px Verdana, Arial, Helvetica, sans-serif; color: #585347; background: #fff; line-height: normal}

/* Type Styles
--------------------------------------------------------*/

/* Global Font Style */
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content,
#BreadCrumbs1_BreadCrumbs1, .Instructions {font-family: Verdana, Arial, Helvetica, sans-serif}

/* Instructions */
.Instructions {font-size: 11px; color: #585347}

/* Page Headlines */
.Headings, #ContentCell h1 {font: 18px Georgia, "Times New Roman", Times, serif; font-weight: normal; text-transform: uppercase; color: #4F0B0C; padding: 0; margin: 0 0 15px 0; border-bottom: 1px solid #585347}

/* Sub Headlines */
.subHeadings, #ContentCell h2, .Content h2 {font-size: 14px; font-weight: bold; color: #585347}
#ContentCell h2 {margin-bottom: 15px}
#ContentCell h2.divide {padding-top: 15px; border-top: 1px dashed #585347}

/* Sub Headlines 2 */
#ContentCell h3 {font-size: 12px; font-weight: bold; color: #585347}

/* Body Copy */
.Content, #BreadCrumbs1_BreadCrumbs1 {font-size: 11px; line-height: 17px; color: #585347;}
#ContentCell p {font-size:11px; margin: 0 0 15px 0}

/* Static Page List Styles */
.static #ContentCell li {margin: 0 0 15px 0}
.static #ContentCell li ul {margin: 15px 0 0 0; padding: 0; list-style: none}

/* Help Page Back To Top Link */
#ContentCell p.top {text-align: right}
#ContentCell p.top a {padding-left: 20px; background: url(images/design/c-top.gif) no-repeat 0 50%}

#ContentCell .formtbl td.input p {margin-top: 15px}

/* Body Link Styles */
.Content a, #Instruction1_InstructCell a  {color: #4F0B0C; text-decoration: underline}
.Content a:hover, #Instruction1_InstructCell a:hover  {color: #4F0B0C; text-decoration: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell {font-weight: bold; color: #fff; height: 76px; line-height: 18px}
#TopBannerCell a {color: #fff; text-decoration: none}
#TopBannerCell li {display: inline; background: url(images/bn-nav_slash.gif) no-repeat 100% 50%; padding-right: 15px; _padding-right: 10px; margin-left: 6px}
#TopBannerCell li.item04, #TopBannerCell li.checkout, #TopBannerCell li.total {padding-right: 0; background: none}
#TopBannerCell li a:hover {text-decoration: underline}
#TopBannerCell .logo {float: left; width: 30%}
#TopBannerCell .top-nav {float: right; width: auto; font-size: 11px}
#TopBannerCell .cart {float: right; width: auto; font-size: 10px; clear:right; text-align: right}
#TopSubBannerCell .sub-nav {display: none;}
#TopSubBannerCell ul li {float: left}

/* Cmenu Styles Added 12/17/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#TopSubBannerCell {margin:10px 0 0 0; padding:0;}
#TopSubBannerCell li {list-style:none; margin:0; padding:0; float:left;}
#TopSubBannerCell li a.TopSubBannerText {color:#000; font-size:11px; font-weight:bold; margin:0; padding:5px; text-decoration:none; white-space:nowrap;}
#TopSubBannerCell li a:hover.TopSubBannerText {color:#696e5f; text-decoration:none;}
/* Search */
#TopSubBannerCell .search {height:30px; width:700px; vertical-align:middle; float:left; margin:10px 0 0 0;}
#TopSubBannerCell .search ul {margin:0; padding:0;}
#TopSubBannerCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0 5px;}
#TopSubBannerCell .search li.head {font:normal 14px Georgia, "Times New Roman", Times, serif; color:#000;}
#TopSubBannerCell .search li.button {padding:5px 0 0 0;}
#TopSubBannerCell .search li.button a {background-image:none; padding:0; margin:0;}
#TopSubBannerCell .search li.textbox {}
#TopSubBannerCell .search li.textbox input {width:142px; height:21px; border:1px solid #4f0b0c; font-size:11px; color:#000; background:#cbc7a4;}
#TopSubBannerCell .search li.advsearch {display:none;}
/* Cart Links */
#TopSubBannerCell li ul.cartnav {float:left; width:770px; color:#000; font-size:11px; font-weight:bold; margin:0; padding:5px; white-space:nowrap;}
#TopSubBannerCell li ul.cartnav a {color:#000; text-decoration:none; padding:0 10px 0 0;}
#TopSubBannerCell li ul.cartnav a:hover {color:#696e5f; text-decoration:none;}
#TopSubBannerCell .cart {}
#TopSubBannerCell ul.cartnav li {padding:0; margin:0;}
/* Cart Control */
#TopSubBannerCell ul.shopcart {float:left; margin:10px 0 0 5px; padding:0; width:770px; color:#000; font-size:11px; font-weight:normal;}
#TopSubBannerCell ul.shopcart {color:#333;}
#TopSubBannerCell ul.shopcart li {margin:0 10px 0 0;}
#TopSubBannerCell ul.shopcart li.head {font-weight:bold;}
#TopSubBannerCell ul.shopcart li.items {color:#333;}
/*------------------------------------------
END Cmenu Styles Added 12/17/07 DS Design*/

/* RightColumnNav Styles
--------------------------------------------------------*/
#RightColumnCell {width: 24%; vertical-align: top; background: url(images/rc-bar.gif) no-repeat center left}
#RightColumnCell .rc-wrap {width: 190px; padding: 0; margin: 15px 0 0 0}
/*#RightColumnCell .rc-wrap .search {background: url(images/rc-divider.gif) no-repeat 50% 0; padding: 30px 0 0 20px}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 {background: url(images/rc-divider.gif) no-repeat 0 100%; padding-bottom: 30px}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li {text-align: left; line-height: 20px}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li a {color: #4F0B0C; text-decoration: none}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li a:hover {text-decoration: underline}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li.head {font: 17px Georgia, "Times New Roman", Times, serif; color: #4F0B0C}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li.textbox {margin-right: 3px; width: auto; float: left}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li.textbox input {margin: 0; background: #F5D9B1; width: 120px; border: 1px solid #4F0B0C; font: 11px Verdana, Arial, Helvetica, sans-serif; color: #4F0B0C}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li.button {float: left}
#RightColumnCell .rc-wrap .search #RightColumnNav1_SimpleSearch1_Panel1 li.advsearch {clear: both; font-size: 10px}
#RightColumnCell .rc-wrap h2 {font: 17px Georgia, "Times New Roman", Times, serif; color: #4F0B0C; margin: 20px 0 10px 20px; padding: 0}
#RightColumnCell .rc-wrap #RightColumnNav1_CMenubar1_dlMenu {margin-left: 20px}
#RightColumnCell .rc-wrap #RightColumnNav1_CMenubar1_dlMenu .RightColumnText a {font-size: 11px; color: #4F0B0C; text-decoration: none}
#RightColumnCell .rc-wrap #RightColumnNav1_CMenubar1_dlMenu .RightColumnText a:hover {text-decoration: underline}*/

/* Cmenu Styles Added 12/17/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#RightColumnCell {margin:10px 0 0 0; padding:0;}
#RightColumnCell li {list-style:none; margin:0; padding:0; float:none; font:normal 12px Georgia, "Times New Roman", Times, serif}
#RightColumnCell li a.RightColumnText {color:#000; margin:0; padding:5px 0 5px 20px; text-decoration:none; white-space:nowrap;}
#RightColumnCell li a:hover.RightColumnText {color:#696e5f; text-decoration:none;}
/* NavControl Styles */
.navigator {cursor:hand; cursor:pointer; font:normal 12px Georgia, "Times New Roman", Times, serif; margin:10px 0 10px 20px; padding:0;}

.categorybox {}
.overcategorybox {}
.selectedcategorybox {border-bottom:1px solid #000;}
.overselectedcategorybox {border-bottom:1px solid #000;}

.subcategorybox {}
.oversubcategorybox {}
.selectedsubcategorybox {}
.overselectedsubcategorybox {}

.categorybox a,
.overcategorybox a,
.selectedcategorybox a,
.overselectedcategorybox a {color:#000; text-decoration: none; line-height:20px; width:100%; display:block; }

.categorybox a:hover,
.overcategorybox a:hover, 
.selectedcategorybox a:hover,
.overselectedcategorybox a:hover {color:#696e5f; text-decoration:none;}

.subcategorybox a,
.oversubcategorybox a, 
.selectedsubcategorybox a,
.overselectedsubcategorybox a {color:#000; text-decoration:none; line-height:20px; width:100%; display:block;}

.subcategorybox a:hover,
.oversubcategorybox a:hover, 
.selectedsubcategorybox a:hover,
.overselectedsubcategorybox a:hover {color:#696e5f; text-decoration:none;}
/* Search */
#RightColumnCell .search {background: url(images/rc-divider.gif) no-repeat 50% 0; padding: 30px 0 0 20px; height:95px; vertical-align:middle; margin:10px 0 0 0;}
#RightColumnCell .search ul {margin:0; padding:0;}
#RightColumnCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0 5px;}
#RightColumnCell .search li.head {font:normal 14px Georgia, "Times New Roman", Times, serif; color:#000;}
#RightColumnCell .search li.button {padding:5px 0 0 0; float:left;}
#RightColumnCell .search li.button a {background-image:none; padding:0; margin:0;}
#RightColumnCell .search li.textbox {float:left;}
#RightColumnCell .search li.textbox input {width:120px; height:21px; border:1px solid #4f0b0c; font-size:11px; background:#cbc7a4; font: 11px Verdana, Arial, Helvetica, sans-serif; color: #002F2F}
#RightColumnCell .search li.advsearch {background: url(images/rc-divider.gif) no-repeat bottom; height:45px;  margin:0; padding:0 0 0 5px; width:100%;}
#RightColumnCell .search li.advsearch a {color:#000;}
/* Cart Links */
#RightColumnCell li ul.cartnav {float:left; width:770px; color:#000; font-size:11px; font-weight:bold; margin:0 0 0 20px; padding:5px; white-space:nowrap;}
#RightColumnCell li ul.cartnav a {color:#000; text-decoration:none; padding:0 10px 0 0;}
#RightColumnCell li ul.cartnav a:hover {color:#696e5f; text-decoration:none;}
#RightColumnCell .cart {}
#RightColumnCell ul.cartnav li {padding:0; margin:0;}
/* Cart Control */
#RightColumnCell ul.shopcart {float:left; margin:10px 0 15px 20px; padding:0; width:770px; color:#000; font-size:11px; font-weight:normal;}
#RightColumnCell ul.shopcart {color:#333;}
#RightColumnCell ul.shopcart li {margin:0 0 0 5px;}
#RightColumnCell ul.shopcart li.head {font-weight:bold;}
#RightColumnCell ul.shopcart li.items {color:#333;}
/*------------------------------------------
END Cmenu Styles Added 12/17/07 DS Design*/

/* Home Page Styles
--------------------------------------------------------*/
.default #ContentCell {padding: 30px 20px 0 0}

.default #ContentCell .df-welcome {float: left; width: 100%}
.default #ContentCell .df-welcome h1 {font: 18px Georgia, "Times New Roman", Times, serif; font-weight: normal; text-transform: uppercase; color: #4F0B0C; padding: 0; margin: 0 0 15px 0; border-bottom: 1px solid #585347}
.default #ContentCell .df-welcome img {float: left; margin: 0 10px 4px 0; border: 1px solid #585347}

.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%}
.default #ContentCell .df-cats h2 {font: 15px Georgia, "Times New Roman", Times, serif; font-weight: normal; color: #EFECCA; padding: 0; margin: 0 0 15px 0; padding: 5px; border-bottom: 1px solid #585347}
.default #ContentCell .df-cats ul {padding: 0; margin: 0 15px 30px 15px; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats li a {color: #4F0B0C}
.default #ContentCell .df-cats li a img {margin-bottom: 3px}
.default #ContentCell .df-cats img {border: 1px solid #585347}

/* Footer Styles
--------------------------------------------------------*/
#FooterCell {border-top: 1px solid #585347; padding: 20px 0; font-size: 10px; color: #4F0B0C}
#FooterCell a {color: #4F0B0C; text-decoration: none}
#FooterCell a:hover {text-decoration: underline}
#FooterCell .powered {float: left; width: auto}
#FooterCell ul {float: right; width: auto; margin-bottom: 5px}
#FooterCell li {display: inline; margin-left: 10px}
#FooterCell p {float: right; width: auto; clear:both; margin: 0; padding: 0}

/* Cmenu Styles Added 12/17/07 DS Design 
------------------------------------------*/
/* Page Links & Categories */
#FooterCell {margin:10px 0 0 0; padding:0;}
#FooterCell li {list-style:none; margin:0; padding:0;}
#FooterCell li a {padding:0 3px 0 0;}
/* Search */
#FooterCell .search {height:33px; width:250px; vertical-align:middle; float:right; margin:10px 0 0 0;}
#FooterCell .search ul {margin:0; padding:0;}
#FooterCell .search li {list-style:none; float:left; font-size:10px; font-weight: normal; margin:0; padding:0 0 0 5px;}
#FooterCell .search li.head {font:normal 14px Georgia, "Times New Roman", Times, serif; color:#000;}
#FooterCell .search li.button {}
#FooterCell .search li.button a {background-image:none; padding:0; margin:0;}
#FooterCell .search li.button img {padding:0; margin:8px 0 0 5px;}
#FooterCell .search li.textbox {}
#FooterCell .search li.textbox input {width:142px; height:21px; border:1px solid #4f0b0c; font-size:11px; color:#000; background:#cbc7a4;}
#FooterCell .search li.advsearch {display:none;}
/* Cart Links */
#FooterCell ul.cartnav {float:left; height:33px; line-height:30px; width:200px; float:left; margin:5px 0 0 0; padding:0;}
#FooterCell .cart {}
#FooterCell ul.cartnav li {padding:0; margin:0;}
#FooterCell ul.cartnav li.viewcart a {}
/* Cart Control */
#FooterCell ul.shopcart {float:left; height:33px; line-height:30px; margin:5px 0 0 0; padding:0; width:300px;}
#FooterCell ul.shopcart {font-size:10px; font-weight: normal; color:#000;}
#FooterCell ul.shopcart li.head {}
#FooterCell ul.shopcart li.items {}
/*------------------------------------------
END Cmenu Styles Added 12/17/07 DS Design*/

/* Detail Page Styles
-------------------------------------------------------*/

/* Detail Template 1 */
#ProductDetail11_Swatches_Table1 {padding-right: 10px}
#ProductDetail11_trPrice, #ProductDetail11_trCustomPrice, #ProductDetail11_trSavings {font-size: 12px; font-weight: bold}
tr#ProductDetail11_trDescription td {border-top: 1px dashed #585347}
tr#ProductDetail11_trDescription td h1 {font-size: 12px; color: ##4F0B0C; text-transform: uppercase}
tr#ProductDetail11_trCategory td {padding-bottom: 10px}
tr#ProductDetail11_trEMailFriend td.button {text-align: left}

/* Detail Template 2 */
tr#ProductDetail21_trDescription td {border-top: 1px dashed #585347}
tr#ProductDetail21_trDescription td h1 {font-size: 12px; font-weight: bold; color: ##4F0B0C; text-transform: uppercase; margin-bottom: 0; padding: 0; border: none}
#ProductDetail21_trPrice, #ProductDetail21_trCustomPrice, #ProductDetail21_trSavings {font-size: 12px; font-weight: bold}