/* GLOBAL STYLES
--------------------------------------------------------*/
body {background: #404040; font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0}
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content {font-family: Arial, Helvetica, sans-serif}
#LeftColumnCell, #RightColumnCell, #ContentCell {vertical-align: top}
#Form2 {margin: 0; padding: 0}
#Form2 input, #Form2 select {font: 11px Arial, Helvetica, sans-serif; color: #000; background: #fff; line-height: normal}
#PageTable {background: #404040 url(images/bn-tile.gif) repeat-x top}
#PageTable #PageCell {background: url(images/ft-tile.gif) repeat-x bottom}
#PageSubTable {width: 750px}
#ContentCell {height: 250px}
.Instructions {font-size: 11px; line-height: 17px; color: #fff}
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color: #FF9000}
.Headings {font-size: 16px; font-weight: bold; color: #fff; text-transform: uppercase}
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font-size: 14px; font-weight: bold; text-transform: uppercase; color: #fff; background: #000}
.Content {font-size: 11px; line-height: 17px; color: #fff}
.Content a {color: #FF9000; text-decoration: underline}
.Content a:hover {color: #FF9000; text-decoration: none}
.clear {clear:both}
.float-left {float:left}
.float-right {float:right}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.bold {font-weight:bold}
.italic {font-style:italic}
.img-left {float:left;margin:4px 10px 4px 0}
.img-right {float:right;margin:4px 0 4px 10px}
a {outline: none}
#TopBannerCell ul, #TopSubBannerCell ul, #LeftColumnNav1_custommenu ul, #RightColumnCell ul, #FooterCell ul {margin: 0; padding: 0; list-style: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell {height: 199px; vertical-align: top}
#TopBannerCell .logo {float: left; width: auto}
#TopBannerCell .search {margin-top: 11px; float: right; width: auto; width: 400px; font-size: 13px; text-transform: uppercase; color: #1761AA; font-weight: bold; text-align: right}
#TopBannerCell .search ul {float: right}
#TopBannerCell #TopBanner1_SimpleSearch1_Panel1 {text-align: right; font-size: 13px; color: #fff; font-weight: bold}
#TopBannerCell .search li.head {height: 21px; line-height: 21px; margin-right: 5px}
#TopBannerCell .search input {background: #FF9000; height: 21px; color: #000; border: 1px solid #000; border-right: none; font: 11px Arial, Helvetica, sans-serif}
#TopBannerCell .search li {float: left}
#TopBannerCell .search a {height: 21px; width: 34px; display: block; float: left; _margin: 1px 0 0 0}
#TopBannerCell .search li {display: inline}
#TopBannerCell .top-nav {display: none}

/* TopSubBanner Styles
--------------------------------------------------------*/
#TopSubBannerCell {font-size: 13px; height: 72px; vertical-align: top; text-transform: uppercase}
#TopSubBannerCell ul {margin: 10px 0 0 0}
#TopSubBannerCell li {display: inline; margin: 0 8px 0 0}
#TopSubBannerCell li a {color: #fff; font-weight: bold; text-decoration: none; background: transparent url(images/bn-nav_box.gif) no-repeat 0 50%; padding: 0 0 0 15px}
#TopSubBannerCell li a:hover {color: #fff}
#TopSubBannerCell .sub-nav {float: left; width: auto}
#TopSubBannerCell .cart {float: right; width: auto; text-align: right}
#TopSubBannerCell .cart li {margin: 0 0 0 8px}
#TopSubBannerCell .shopcart {font-weight: bold; color: #FF9000; margin-top: 22px}

/* LeftColumnNav Styles
--------------------------------------------------------*/
#LeftColumnCell {background: #292929; width: 24%; border-top: 8px solid #404040; border-bottom: 13px solid #404040}
#LeftColumnNav1_custommenu {width: 184px}
#LeftColumnNav1_custommenu h2 {margin: 0; padding: 0; float: left; width: 100%; text-indent: 7px; background: url(images/bkgd-head.gif) repeat-x top; height: 41px; line-height: 41px; color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase}
#LeftColumnNav1_custommenu .lc-nav {margin-left: 13px; clear: both; padding-top: 13px; width: auto; float: left; background: transparent url(images/lc-triang.gif) no-repeat top right}
#LeftColumnNav1_custommenu .LeftColumnText a {color: #fff; text-transform: uppercase; text-decoration: none; background: transparent url(images/lc-nav_box.gif) no-repeat 0 50%; padding: 15px; font-size: 11px}
#LeftColumnNav1_custommenu .LeftColumnText a:hover {text-decoration: underline}

/* RightColumnNav Styles
--------------------------------------------------------*/
#RightColumnCell {font-size: 11px}
#RightColumnCell #rc-wrap {width: 150px}
#RightColumnCell .search {margin: 0; padding: 0}
#RightColumnCell a {color: #000; text-decoration: none; text-decoration: underline}
#RightColumnCell .rc-head h2 {margin: 10px 0; padding: 0; font-size: 15px}
#RightColumnNav1_CMenubar1_dlMenu a {font-size: 11px; line-height: 20px}
#RightColumnCell .cart ul {margin: 0; padding: 0; list-style: none; line-height: 20px}

/* Footer Styles
--------------------------------------------------------*/
#FooterCell {height: 172px; vertical-align: top; font-size: 13px}

#FooterCell ul {margin: 22px 0 0 0; text-transform:uppercase; float: left}
#FooterCell li {display: inline; margin: 0 8px 0 0}
#FooterCell li a {color: #fff; font-weight: bold; text-decoration: none; background: transparent url(images/bn-nav_box.gif) no-repeat 0 50%; padding: 0 0 0 15px}
#FooterCell li a:hover {color: #fff}
#FooterCell p {margin: 20px 0 0 0; float: left; clear: both; padding: 0; font-size: 11px; color: #fff}
#FooterCell .powered {float: right; margin-top: 20px; _margin-top: 60px}

/* Default Page Styles
--------------------------------------------------------*/
.default #ContentCell {padding: 8px 0 20px 8px; margin: 0}

img#imgUpdateQty {margin-right: 10px}

.default #ContentCell h1 {margin: 0; padding: 0; float: left; width: 100%; text-indent: 7px; background: url(images/bkgd-head.gif) repeat-x top; height: 41px; line-height: 41px; color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase}
.default #ContentCell h1 span {color: #1661AD}

.default #ContentCell {font: 11px Arial, Helvetica, sans-serif; color: #fff; padding:8px}
.default #ContentCell .df-welcome {clear: both; float: left; width: 100%; height: auto; background: transparent url(images/c-triang.gif) no-repeat 100% 41px}
.default #ContentCell .df-welcome p {margin: 7px 0; padding: 0; line-height: 17px}
.default #ContentCell .df-welcome img {float: left; margin: 0 10px 4px 0}

.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%; background: transparent url(images/c-triang.gif) no-repeat 100% 41px}
.default #ContentCell .df-cats h2 {margin: 0; padding: 0; float: left; width: 100%; text-indent: 7px; background: url(images/bkgd-head.gif) repeat-x top; height: 41px; line-height: 41px; color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase}
.default #ContentCell .df-cats ul {padding: 0; margin: 20px 17px 10px 17px; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats li {background: #000}
.default #ContentCell .df-cats li a {color: #fff}
.default #ContentCell .df-cats img {border: 1px solid #ccc}
.default #ContentCell .df-cats li.name {padding: 3px 0 7px 0}

/* Static Page Styles
--------------------------------------------------------*/
.static #ContentCell {padding: 8px; background: url(images/c-triang.gif) no-repeat 543px 49px}
.static #ContentCell h1 {margin: 0 0 15px 0; padding: 0; float: left; width: 100%; text-indent: 7px; background: url(images/bkgd-head.gif) repeat-x top; height: 41px; line-height: 41px; color: #fff; font-size: 14px; font-weight: bold; text-transform: uppercase}
.static #ContentCell h2 {font-size: 14px; font-weight: bold; color: #1661AD}
.static #ContentCell h3 {font-size: 12px; font-weight: bold; color: #1661AD}
.static #ContentCell p {color: #fff; margin: 0 0 15px 0; padding: 0}