@{
   ViewBag.Title = "Bottoms";
   ViewBag.Description = "";
   ViewBag.Keywords = "";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Bottoms", "Apparel");

}

<div class="container-fluid" style="padding-left:0px; padding-right:0px">
   <div class="row">
      <div class="col-lg-12" style="width:auto;overflow:hidden;">
         <img class="img-responsive" src="/Content/products/bottoms/image_top.jpg" style="position:relative;display: inline-block;width:100%" alt="sports apparel bottoms" title="sports apparel bottoms" />
         <div style="position:absolute; top:40%; left:30%; font-size:2.5vw; color:#fff; text-align:center">BOTTOMS<br />SHORTS AND SWEATPANTS</div>
      </div>
   </div>
   <div style="margin-left:5px; margin-right:5px">
      <div class="row" style="margin-top:5px">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/bottoms/shorts.jpg" style="position:relative;display: inline-block" alt="Badger 7 and 9 Mesh Shorts" title="Badger 7 and 9 Mesh Shorts" />
               </div>
               <div class="col-lg-6 ">
                  Badger 7" and 9" Mesh Shorts<br />
                  <h3>$19</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">6.0 oz., 100% polyester mesh</li>
                  <li style="font-size:12px; margin-left:2px">100% polyester tricot liner</li>
                  <li style="font-size:12px; margin-left:2px">Athletic cut and superior fit</li>
                  <li style="font-size:12px; margin-left:2px">Covered elastic waistband and drawcord</li>
                  <br />
                  Sizes: Small - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/bottoms/colors_shorts.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/bottoms/sweat1.jpg" style="position:relative;display: inline-block" alt="Gildan Open Bottom Sweatpants" title="Gildan Open Bottom Sweatpants" />
               </div>
               <div class="col-lg-6">
                  Gildan Open Bottom Sweatpants<br />
                  <h3>$25</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">8.0 oz., 50/50 cotton/polyester</li>
                  <li style="font-size:12px">Slightly tapered leg with open bottom</li>
                  <li style="font-size:12px">Covered elastic waistband with drawcord</li>
                  <li style="font-size:12px">Differential rise for better fit</li>
                  <li style="font-size:12px">Satin label</li>
                  <li style="font-size:12px">Double needle bottom hems</li>
                  <br />
                  Sizes: XSmall - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/bottoms/colors_sweat1.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6  addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/bottoms/sweat2.jpg" style="position:relative;display: inline-block" alt="Gildan Elastic Sweatpants" title="Gildan Elastic Sweatpants" />
               </div>
               <div class="col-lg-6 ">
                  Gildan Elastic Sweatpants<br />
                  <h3>$19</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">8.0 oz., pre-shrunk 50/50 cotton/polyester</li>
                  <li style="font-size:12px; margin-left:2px">Reduced pilling and softer air-jet spun yarn</li>
                  <li style="font-size:12px; margin-left:2px">Covered elastic waistband with drawcord (adult style only)</li>
                  <li style="font-size:12px; margin-left:2px">Elastic cuffs</li>
                  <li style="font-size:12px; margin-left:2px">Satin label</li>
                  <li style="font-size:12px; margin-left:2px">No side seam</li>
                  <li style="font-size:12px; margin-left:2px">Double needle bottom hems</li>
                  <br />
                  Sizes: Small - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/bottoms/colors_sweat2.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12" style="margin-top:15px">
            <h4 style="font-weight:bold">Surchages</h4>
            Gildan - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Badger - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Adidas - 3XL, 4XL,4 XLT - $5
         </div>
      </div>

   </div>
   <br /><br />
         <div class="row">
            <div class="col-lg-5 hidden-xs hidden-sm hidden-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;margin-left:40px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>
            <div class="col-lg-5 visible-xs visible-sm visible-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>

            <div class="col-lg-6" style="background-color:#3363a1; text-align:center; padding-bottom:20px; padding-top:20px; color:white; font-size:15px; margin-bottom:20px; ">
               IF YOU ARE LOOKING FOR WHOLESALE PRICES <a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>


            </div>

         </div>
</div>

