@{
   ViewBag.Title = "Outerwear";
   ViewBag.Description = "";
   ViewBag.Keywords = "";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Outerwear", "Apparel");

}

<div class="container-fluid" style="padding-left:0px; padding-right:0px">
   @*<div class="row">
      <div class="col-lg-12">
         <img class="img-responsive" src="/Content/products/Outwear/top_image.jpg" style="position:relative;display: inline-block" alt="OUTWEAR AND ACCESSORIES" title="OUTWEAR AND ACCESSORIES" />
         <div style="position:absolute; top:40%; left:30%; font-size:2.5vw; color:#fff; text-align:center">OUTWEAR AND ACCESSORIES<br />JACKETS AND CAPS</div>
      </div>
   </div>*@
   <div class="row" style="width:auto;overflow:hidden;">
      <div class="col-lg-12">
         <img class="img-responsive" src="/Content/products/Outwear/top_image.jpg" style="position:relative;display: inline-block;width:100%" alt="OUTWEAR AND ACCESSORIES" title="OUTWEAR AND ACCESSORIES" />
         <div style="position:absolute; top:40%; left:30%; font-size:2.5vw; color:#fff; text-align:center">OUTWEAR AND ACCESSORIES<br />JACKETS AND CAPS</div>
      </div>
   </div>
   <div style="margin-left:5px; margin-right:5px">
      <div class="row" style="margin-top:5px">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/Outwear/adidas_jacket.jpg" style="position:relative;display: inline-block" alt="adidas jacket" title="adidas jacket" />
               </div>
               <div class="col-lg-6 ">
                  Adidas Climalite Utility Jacket<br />
                  <h3>$69</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">100% Polyester Tricot body and sleeves</li>
                  <li style="font-size:12px; margin-left:2px">Reverse side of Polyester Tricot fabric on front</li>
                  <li style="font-size:12px; margin-left:2px">White Polyester Interlock back insert at side panel</li>
                  <li style="font-size:12px; margin-left:2px">Reflective taping along zippered pockets</li>
                  <li style="font-size:12px; margin-left:2px">Cuffed sleeves waistband</li>
                  <li style="font-size:12px; margin-left:2px">White embroidered adidas logo</li>
                  <li style="font-size:12px; margin-left:2px">Heat transfer reflective climate logo at back bottom</li>
                  <br />
                  Sizes: Small- 4XL
                  <br />
                  <img class="img-responsive" src="/Content/products/Outwear/colors_jacket.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/Outwear/caps.jpg" style="position:relative;display: inline-block" alt="caps" title="caps" />
               </div>
               <div class="col-lg-6">
                  Adidas Structured Flex Cap<br />
                  <h3>$27</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">97% Cotton / 3% Spandex</li>
                  <li style="font-size:12px">Adidas pri\nted taping</li>
                  <li style="font-size:12px">Contrast embroidered adidas logo on the back</li>
                  <li style="font-size:12px">Contrast embroidered adidas logo</li>
                  <br />
                  Sizes: XS-S, S-M, L-XL, XL-XXL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_poloadidas.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>
      <div class="row">
         <div class="col-lg-12" style="margin-top:15px">
            <h4 style="font-weight:bold">Surchages</h4>
            Gildan - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Badger - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Adidas - 3XL, 4XL,4 XLT - $5
         </div>
      </div>

   </div>
   <br /><br />
         <div class="row">
            <div class="col-lg-5 hidden-xs hidden-sm hidden-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;margin-left:40px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>
            <div class="col-lg-5 visible-xs visible-sm visible-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>

            <div class="col-lg-6" style="background-color:#3363a1; text-align:center; padding-bottom:20px; padding-top:20px; color:white; font-size:15px; margin-bottom:20px; ">
               IF YOU ARE LOOKING FOR WHOLESALE PRICES <a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>


            </div>

         </div>
</div>

