@{
   ViewBag.Title = "Tops";
   ViewBag.Description = "";
   ViewBag.Keywords = "";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("Tops", "Apparel");

}

<div class="container-fluid" style="padding-left:0px; padding-right:0px;">
   <div class="row">
      <div class="col-lg-12" style="width:auto;overflow:hidden;">
         <img class="img-responsive" src="/Content/products/tops/image_top.jpg" style="position:relative;display: inline-block; width:100%" alt="TEES, POLOS, HOODIES" title="TEES, POLOS, HOODIES" />
         <div style="position:absolute; top:40%; left:30%; font-size:2.5vw; color:#fff; text-align:center">TOPS<br />TEES, POLOS, HOODIES &amp; MORE</div>
      </div>
   </div>
   <div style="margin-left:5px; margin-right:5px">
      <div class="row" style="margin-top:5px">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/tees.jpg" style="position:relative;display: inline-block" alt="Gildan 50/50 Short Sleeve" title="Gildan 50/50 Short Sleeve" />
               </div>
               <div class="col-lg-6 ">
                  Gildan 50/50 Short Sleeve<br />
                  <h3>$15</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">5.5 oz., pre-shrunk 50/50 cotton/polyester</li>
                  <li style="font-size:12px; margin-left:2px">DryBlend technology delivers moisture-wicking properties</li>
                  <li style="font-size:12px; margin-left:2px">Double-needle stitched neckline, bottom hem and sleeves</li>
                  <li style="font-size:12px; margin-left:2px">Quarter-turned</li>
                  <li style="font-size:12px; margin-left:2px">Seamless seven-eighths inch collar</li>
                  <li style="font-size:12px; margin-left:2px">Taped neck and shoulders</li>
                  <li style="font-size:12px; margin-left:2px">Heat transfer label</li>
                  <br />
                  Sizes: Small - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_tees.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile ">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/polo_adidas.jpg" style="position:relative;display: inline-block" alt="polo adidas" title="polo adidas" />
               </div>
               <div class="col-lg-6">
                  Adidas Climalite Polo<br />
                  <h3>$49</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">100% Polyester Jacquard</li>
                  <li style="font-size:12px">3-Stripe detail on body fabric</li>
                  <li style="font-size:12px">Dyed-to-match buttons</li>
                  <li style="font-size:12px">Contrast embroidered adidas logo</li>
                  <br />
                  Sizes: Small - 4XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_poloadidas.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>


      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6  addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/polo.jpg" style="position:relative;display: inline-block" alt="polo" title="polo" />
               </div>
               <div class="col-lg-6 ">
                  Gildan Jersey Sport Polo<br />
                  <h3>$17</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">6.0 oz., pre-shrunk 100% cotton jersey knit</li>
                  <li style="font-size:12px; margin-left:2px">Contoured welt collar and cuffs</li>
                  <li style="font-size:12px; margin-left:2px">Three woodtone buttons on a cleanfinished placket with a reinforced box</li>
                  <li style="font-size:12px; margin-left:2px">Satin label</li>
                  <li style="font-size:12px; margin-left:2px">Double needle bottom hem</li>
                  <li style="font-size:12px; margin-left:2px">Quarter-turned</li>
                  <li style="font-size:12px; margin-left:2px">Sport Grey is 90/10 cotton/polyester</li>
                  <br />
                  Sizes: Small - 2XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_polo.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/longsleeves.jpg" style="position:relative;display: inline-block" alt="long sleeves" title="long sleeves" />
               </div>
               <div class="col-lg-6">
                  Gildan 50/50 or 100% Long Sleeve Shirts<br />
                  <h3>$21</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">5.3 oz., pre-shrunk 100% cotton</li>
                  <li style="font-size:12px">Double-needle stitched neckline, bottom hem and sleeves</li>
                  <li style="font-size:12px">Seamless 7/8" collar</li>
                  <li style="font-size:12px">Quarter-turned</li>
                  <li style="font-size:12px">Taped neck and shoulders</li>
                  <li style="font-size:12px">Tearaway label</li>
                  <li style="font-size:12px">Rib cuffs</li>
                  <br />
                  Sizes: Small - 3XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_longsleeves.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6  addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/crewneck.jpg" style="position:relative;display: inline-block" alt="crewneck" title="crewneck" />
               </div>
               <div class="col-lg-6 ">
                  Gildan 50/50 8oz Crewneck Sweatshirts<br />
                  <h3>$25</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">8.0 oz., pre-shrunk 50/50 cotton/polyester</li>
                  <li style="font-size:12px; margin-left:2px">Reduced pilling and softer air-jet spun yarn</li>
                  <li style="font-size:12px; margin-left:2px">1x1 athletic rib knit collar, cuffs and waistband, with spandex</li>
                  <li style="font-size:12px; margin-left:2px">Double-needle stitched cuffs and waistband</li>
                  <li style="font-size:12px; margin-left:2px">Satin label</li>

                  <br />
                  Sizes: Small - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_crewneck.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/badger.jpg" style="position:relative;display: inline-block" alt="badger" title="badger" />
               </div>
               <div class="col-lg-6">
                  Badger Quarter Zip Pull over<br />
                  <h3>$35</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">100% polyester</li>
                  <li style="font-size:12px">Moisture management and antimicrobial fabric properties</li>
                  <li style="font-size:12px">Contrast self-fabric inner collar and 7" locking zipper</li>
                  <li style="font-size:12px">Badger sport paneled shoulder for maximum movement with cover stitching</li>
                  <li style="font-size:12px">Badger heat-seal logo on left sleeve</li>

                  <br />
                  Sizes: XSmall - 4XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_badger.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6  addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/hoodie.jpg" style="position:relative;display: inline-block" alt="hoodie" title="hoodie" />
               </div>
               <div class="col-lg-6 ">
                  Gildan 50/50 8oz Hooded Sweatshirts<br />
                  <h3>$29</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px; margin-left:2px">8.0 oz., 50/50 cotton/polyester</li>
                  <li style="font-size:12px; margin-left:2px">Reduced pilling and softer air-jet spun yarn</li>
                  <li style="font-size:12px; margin-left:2px">Double-lined hood with color-matched drawcord</li>
                  <li style="font-size:12px; margin-left:2px">1x1 athletic rib knit cuffs and waistband with spandex</li>
                  <li style="font-size:12px; margin-left:2px">Front pouch pocket</li>
                  <li style="font-size:12px; margin-left:2px">Double needle stitching at waistband and cuffs</li>
                  <li style="font-size:12px; margin-left:2px">Quarter-turned</li>
                  <br />
                  Sizes: Small - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_hoodie.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 addtoppaddingmobile addtoppadding">
            <div class="row">
               <div class="col-lg-6">
                  <img class="img-responsive" src="/Content/products/tops/ziphoodie.jpg" style="position:relative;display: inline-block" alt="zip hoodie" title="zip hoodie" />
               </div>
               <div class="col-lg-6">
                  Gildan 50/50 8oz Full Zip Hooded Sweatshirt<br />
                  <h3>$39</h3>
                  Availability: In stock<br />
                  <li style="font-size:12px">8.0 oz., 50/50 cotton/polyester</li>
                  <li style="font-size:12px">Reduced pilling and softer air-jet spun yarn</li>
                  <li style="font-size:12px">Unlined hood with matching drawstring (adult style only)</li>
                  <li style="font-size:12px">Split front pouch pocket</li>
                  <li style="font-size:12px">Metal kissing zipper</li>
                  <li style="font-size:12px">Taped neck and shoulders</li>
                  <li style="font-size:12px">Heat transfer label</li>
                  <br />
                  Sizes: XSmall - 5XL
                  <br />
                  <img class="img-responsive" src="/Content/products/tops/colors_zipehoodie.jpg" style="position:relative;display: inline-block" alt="color chart" />
               </div>
            </div>
         </div>

      </div>
      <div class="row">
         <div class="col-lg-12" style="margin-top:15px">
            <h4 style="font-weight:bold">Surchages</h4>
            Gildan - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Badger - 2XL - $2, 3XL - $3, 4XL - $4, 5XL - $5<br />
            Adidas - 3XL, 4XL,4 XLT - $5
         </div>
      </div>

   </div>

   <br /><br />
         <div class="row">
            <div class="col-lg-5 hidden-xs hidden-sm hidden-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;margin-left:40px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>
            <div class="col-lg-5 visible-xs visible-sm visible-md" style="background-color:#333333; text-align:center; color:white; font-size:15px; padding-bottom:20px; padding-top:20px; margin-bottom:20px;  margin-right:10px;">
               <a href="/catalog" onclick="ga('send', 'event', 'ALL BROCHURES', 'Click', 'ALL BROCHURES');" style="color:white">VIEW OUR CATALOG 2018</a>
            </div>

            <div class="col-lg-6" style="background-color:#3363a1; text-align:center; padding-bottom:20px; padding-top:20px; color:white; font-size:15px; margin-bottom:20px; ">
               IF YOU ARE LOOKING FOR WHOLESALE PRICES <a href="tel:+1-800-443-5353" style="text-decoration: none; font-weight:bold; color:white" onclick="ga('send', 'social', 'easyapparel call', 'Click'); ">CALL US 800.443.5353</a>


            </div>

         </div>


</div>
 
