@{
    ViewBag.Title = "Fun Fundraising Ideas For Groups - Fundraising.com";
    ViewBag.Description = "Fun Fundraising Ideas For Groups. Resources and products from America's number 1 Fundraising Source";
    ViewBag.Keywords = "Ideas For Groups, help fundraising, Fun Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("activities", "Resources");
}

<h1>Fundraising Activities – Raise More and Have Fun! </h1>
<div class="row">
    <div class="col-sm-12">
        There are all kinds of fundraising activities you can organize to boost your fundraising profits and make your next fundraising campaign more exciting for your supporters and group members! Here are a few ideas for fundraising activities that will help you raise more and have fun:
        <br /><br />
        <h2>Fundraising Raffle</h2>
        A raffle is a great fundraising activity! To give yours a twist, sell lollipops with numbers printed on the sticks instead of standard raffle tickets. The sticks themselves can be difficult to write on, so use sticky file labels folded around the sticks to make tags. It would be a good idea to have lots of volunteers and participants to print the numbers. Assign people numbers 1-99, 100-199, etc, or smaller amounts for young children. The person with the winning stick in this fundraising activity gets the prize!
        <br /><br />
        <i>Tip: If you don’t have the money to purchase a prize, ask a local business to donate an item or a gift certificate to raffle off. You’ll be surprised how willing people are to help with fundraising activities. You can even have group members bring baked goods to raffle off!</i>
        <br /><br />
        More about <a href="/products/lollipops" title="lollipops fundraiser">Lollipops Fundraisers </a>
       <br /><br />
        <h2>Concession Stand Car Wash</h2>
        Car washes have long been a favorite for fundraising activities, but you can get a leg up on the competition by selling snacks and refreshments at your car wash! Set up a few folding chairs, and your customers can relax and enjoy the day while their car is being cleaned! Some great refreshments to sell are drinks like soda, water, juice and coffee, and snacks like candy bars, lollipops, and beef snacks.
        <br /><br />
        More about <a href="/beef-jerky-fundraiser" title="beef jerky fundraiser">Beef Snacks Fundraisers</a><br />
    More about <a href="/products/lollipops" title="lollipops fundraiser">Lollipops Fundraisers</a>
    <br /><br />
    <h2>Cookie Party</h2>
    Fundraising activities can also be used as motivational treats for your group members. For your next cookie dough fundraiser, set a fundraising goal for your group members and host a special cookie party when the goal is reached! Purchase some delicious cookie dough for your party, or ask a member of the community to sponsor your group by purchasing the prize cookie dough. When your goal is reached, have group members over to help bake and eat delicious cookies! This fundraising activity works best with smaller groups, but you can do it with a large group too if you have a good cookie party location.
    <br /><br />
    More about <a href="/products/cookie-dough" title="cookie dough fundraiser">Cookie Dough</a>
</div>
</div>
