@{
    ViewBag.Title = "Ideas for Boy Scout Fundraisers - Fundraising.com";
    ViewBag.Description = "Fundraising ideas and tips for Boy Scout organizations.";
    ViewBag.Keywords = "Girl Scout organizations, Boy Scout Fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("boyscout", "Resources");
}


<h1>Boy Scout Fundraising</h1>
<div class="row">
    <div class="col-sm-8">
        Looking for some great new ideas for your next Boy Scout fundraiser? You can have your best and most exciting campaign ever with a little help from Fundraising.com.
        <br /><br />
        Here are some unique ideas for Boy Scout fundraising:
        <br /><br />
    </div>
    <div class="col-sm-4">
        <img alt="boy scout fundraising" src="~/Content/images/public/scout-fundraising.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br /><br />
        <strong>Beef Snacks</strong>
        <br />
        Watch how fast the profits pile up with these fundraising wonders! Jack Link’s Beef Snacks are high on protein, and even higher on taste. This unique fundraiser is sure to peak everyone’s interest, and you’ll have customers coming faster than you can count! It’s a great alternative to chocolate or candy, and the perfect any-time snack.
        <br /><br />
        More about <a href="/products/beef-jerky" title="beef-jerky fundraiser">Beef Snacks Fundraisers</a>
    <br /><br />
    <strong>Scratchcards</strong>
    <br />
    Unique Scouting themed Scratchcards, customized with your troupe name, number and logo, are perfect for Boy Scout fundraising! What’s so great about Scratchcards for Scouts? They’re incredibly low cost, with unbelievably high profit potential, and every card comes with cool coupon sheets to give to your supporters as thank you gifts for their generous donations. Pocket-sized Scratchcards are also easy to keep track of and organize, which can be a fundraiser blessing for Scout leaders!
    <br /><br />
    More about <a href="/products/scratchcards" title="scratchcards fundraiser">Scratchcards Fundraisers</a>
    <br /><br />
    <strong>Online Magazine Fundraiser</strong>
    <br />
    Need a little something extra to boost your fundraising profits? The online magazine fundraiser is the perfect solution because it’s completely free, so there’s no risk. And since the entire fundraiser is online, making it easy to reach supporters from coast to coast, there are no limits to how far you can go! Customize your online fundraiser with color, text and an image or photo, then invite friends and family by email. If your troupe has its own website, you can link to your fundraiser for a quick and easy fundraising boost!
    <br /><br />
    More about your @Html.ActionLink("FREE Online Magazine Fundraiser", "HowItWorks", "OnlineFundraising")
</div>
</div>