@{
    ViewBag.Title = "Candy and Chocolate fundraising FAQs - Fundraising.com";
    ViewBag.Description = "Frequently asked questions about chocolate and candy fundraisers for all group types.";
    ViewBag.Keywords = "chocolate how to, candy faqs, candy how to";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("CandyFaqs", "Resources");
}

<h1>Candy Bar FAQs</h1>
<div class="row">
    <div class="col-sm-12">
        <strong>How much do candy bars cost?</strong><br />
        The cost to you varies depending upon how many cases you order and which type you order. Generally speaking, profit ranges from 50% (at the minimum quantities) to 60%.
        <br /><br />
        <strong>What are the minimum quantities?</strong><br />
        The minimum order on Hershey’s has a minimum order of 9 master cases (each master case contains 4 carrier cases). If you are a small group, you may want to check out our great selection of lollipops. These products have a one case minimum order. One Dollar Bar and Chocolatiers also have a 1 case minimum.
        <br /><br />
        <strong>How many items are in a case?</strong><br />
        Case quantities vary greatly because there is no standard packaging. Candy bars are packaged in handy carrying cases for easy transport & selling. Most carrying cases contain between 30 and 52 candy bars.
        <br /><br />
        <strong>What if I order too many can I return them?</strong><br />
        Unfortunately, candy is a perishable product and we do not accept returns.
        <br /><br />
        <strong>How do we pay?</strong><br />
        We give approved groups 30 days to pay for orders of $500 or more. Approved groups are those associated with public or parochial schools or recognized non-profit organizations (who have gone through an online credit check). We also accept Master Card, Visa, American Express and Discover, as well as checks by phone (no personal Checks), money orders, certified checks or checks signed by schools. Groups needing extra time to pay can either run a brochure or catalog fundraiser or start an online campaign (both require no up-front costs).
        <br /><br />
        <strong>Are candy bars easy to sell?</strong><br />
        Yes, candy sells quickly, especially in a school setting or outside a grocery store. People of all ages love chocolate and sweets. Even the very health-conscious enjoy an occasional treat for themselves or purchase candy for gift-giving.
        <br /><br />
        <strong>Can I order candy in the summer?</strong><br />
        Yes, we do accept chocolate candy orders in the summer. One Dollar Bar amd Chocolatiers however, do not ship in intense heat.
        <br /><br />
        <strong>Do you have any other edible items available for sale?</strong><br />
        Yes, in addition to our large selection of lollipops, we have beef snacks and cookie dough.
        <br /><br />
        <strong>Why should I choose FundRaising.com for my next fundraiser?</strong><br />
        FundRaising.com offers high profits and best service possible! Our friendly fundraising consultants are very knowledgeable and are happy to work with you to help you reach your fundraising goals. They do their best to sell you the best product and the right quantity that works best for your group! We guarantee all of our products as well as your privacy.
        <br /><br />

    </div>
</div>

