@{
    ViewBag.Title = "Charity Fundraising Ideas and Tips - Fundraising.com";
    ViewBag.Description = "Fundraising for Charity Tips and Ideas. Charity fundraisers.";
    ViewBag.Keywords = "Charity organizations";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Charity", "Resources");
}

<h1>Charity Fundraising</h1>
<div class="row">
    <div class="col-sm-8">
        Whether you're planning for community, state or national charity fundraising, we can help you find the perfect fundraising program for your charity fundraising needs! Here are just a few fundraising products that are ideal for charities:
        <br /><br />
    </div>
    <div class="col-sm-4">
        <img alt="charity fundraising" src="~/Content/images/public/charity-fundraising.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br /><br />
        <strong>Scratchcards</strong>
        <br />
        Scratchcards are great for charity fundraising campaigns because there are over 30 themed cards to choose from including a variety of sports, church, band, dance, cheer and community themes. Your supporters simply scratch a spot on the card to reveal their donation amount. The cards feature low donation amounts that add up fast for your group, and every card comes with great, brand name coupon sheets as thank you gifts for your supporters.
        <br /><br />
        More about <a href="/products/scratchcards" title="scratchcards fundraiser">Scratchcards Fundraisers</a>
    <br /><br />
    <strong>Online Magazine Fundraiser!</strong>
    <br />
    This is one of the best programs for charity fundraising because it is 100% FREE, and because online fundraising gives you the opportunity to raise funds and awareness. Through your online magazine fundraiser, you can invite supporters to your online magazine store via email. They can shop for their favorite subscriptions at great prices, while 40% of the total sales goes back to you as your charity fundraising profit. If your group already has a website or blog, you can even link to your online magazine store!
    <br /><br />
    More about your @Html.ActionLink("FREE Online Magazine Fundraiser", "HowItWorks", "OnlineFundraising")
    <br /><br />
    <strong>Lollipops</strong>
    <br />
    Lollipops are great because they’re so low cost, but they’re so popular that your profits will add up fast! Here’s a great charity idea: Instead of just selling lollipops, ask people to donate to the charity. As a thank you gift, they get a lollipop! You can set your minimum donation at just $0.50 (the regular selling price for lollipops), and you’ll find that most people will donate much more than that!
    <br /><br />
    More about your <a href="/products/lollipops" title="lollipops fundraiser">Lollipops Fundraisers</a>

</div>
</div>


