@{
    ViewBag.Title = "Fundraising Checklist - Fundraising.com";
    ViewBag.Description = "Must have Fundraising Checklist for organizing your campaign.";
    ViewBag.Keywords = "Fundraising Checklist, Checklist for organizing Fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Checklist", "Resources");
}


<h1>Fundraising Checklist</h1>
<div class="row">
    <div class="col-sm-12">
        Make sure you have everything you need, and have taken all the necessary steps for a successful fundraising campaign with this simple fundraising checklist.
        <br /><br />
        Depending on the type of fundraising program you’re running, not all items in the checklist will necessarily apply to your fundraiser. If you aren’t sure, speak to your Fundraising Consultant.
        <br /><br />
        <ul>
            <li>Set your fundraising goal.</li>
            <li>Establish a spending budget for products, advertising and incentive prizes for your group.</li>
            <li>Call your Fundraising Consultant to choose a product or program and plan a winning course of action.</li>
            <li>Arrange a location for your fundraising sale or event.</li>
            <li>Set the date for your fundraiser.</li>
            <li>Notify group members and/or parents well in advance.
                <ul>
                    <li>Notify group members and/or parents well in advance.</li>
                    <li>For a group sale, give at least 2 weeks notice so people can arrange their schedules.</li>
                </ul>
            </li>
            <li>Advertise your fundraiser with posters, flyers, community announcements, mailings and emails to be sure your fundraiser gets the support you need.</li>
            <li>Organize your volunteer staff and designate responsibilities.</li>
            <li>Gather all necessary supplies. Depending on your fundraiser, you may need some or all of the following supplies:
                <ul>
                    <li>Selling tables</li>
                    <li>Chairs</li>
                    <li>Posters</li>
                    <li>Cash box and plenty of change</li>
                    <li>Order forms and brochures (for pre-sale fundraisers only)</li>
                    <li>Drinks and snacks (for events and activities to keep your group hydrated and energetic)</li>
                    <li>Tally sheets to calculate final sales</li>

                </ul>
            </li>
            <li>Motivate your group throughout your fundraiser with incentive prizes and fun activities.</li>
            <li>Collect your final funds raised, and calculate profit.</li>
            <li>Reward your top sellers.</li>
            <li>Celebrate your fundraising success!</li>
         </ul>
        <i>Note: For pre-sale fundraisers like cookie dough and gift brochures, you will also have to place your group’s final order and distribute orders upon delivery. Speak to your Fundraising Consultant for more details about easy ordering!</i>
        <br /><br />
        A little organizing goes a long way towards a successful fundraiser, which is why Fundraising.com is committed to giving you the tools and resources for easy organization and effortless fundraising!    


    </div>
</div>

