@{
    ViewBag.Title = "Easy Fundraisers for Cheer - Fundraising.com";
    ViewBag.Description = "Tips for keeping Cheer fundraisers fresh, simple and top of mind for parents while avoiding fundraising burnout.";
    ViewBag.Keywords = "Cheer fundraising, fundraising tips, Cheer fundraising ideas, tips for Cheer fundraising success";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Cheer", "Resources");
}


<h1>Exciting Ideas for Cheer Fundraising </h1>
<div class="row">
    <div class="col-sm-6">
        For successful cheer fundraising, you need a high-energy program that will kick your campaign into gear, and get everyone excited, motivated and in the fundraising spirit!
        <br /><br />
        Here are some awesome cheer fundraising ideas:
        <br /><br />
    </div>
    <div class="col-sm-6">
        <img alt="cheerleading fundraising idea" src="~/Content/images/public/cheerleaders-fundraising.jpg" />
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Online Magazine Fundraiser</strong>
        <br />
        Cheerleading takes a lot of energy, so it would be a nice change to give your squad a fundraiser that they can do from home while they’re relaxing and resting up for their next big event or tournament. Without leaving the comfort of their homes, your squad can fundraise by email any time of day, and easily reach their friends and family all over the country. Since you can customize your online fundraiser, it’s also a perfect opportunity to showcase your squad’s achievements! And of course, you can link your online fundraiser to an existing website or blog for a super fundraising boost with almost no effort!
        <br /><br />
        More about your @Html.ActionLink("FREE Online Magazine Fundraiser", "HowItWorks", "OnlineFundraising")
        <br /><br />
        <strong>Cookie Dough</strong>
        <br />
        Just put the idea of warm, gooey, melt-in-your-mouth, home-baked cookies into someone’s mind, and they’ll instantly be your best customer! A great idea is to buy a tub of cookie dough for your squad and bake them. Sell your mouthwatering cookies for just $0.50 each as a "teaser", and you’ll have everyone rushing to place their cookie dough order!
        <br /><br />
        More about <a href="/products/cookie-dough" title="Cookie Dough fundraiser">Cookie Dough Fundraisers</a>
</div>
</div>
