@{
    ViewBag.Title = "Church Fundraising Ideas - Fundraising.com";
    ViewBag.Description = "Fundraising ideas for churches and other faith-based fundraising groups";
    ViewBag.Keywords = "church fundraising, church fundraiser, church-friendly fundraisers, fundraising ideas for churches, church fundraising scratchcards";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("ChurchFundraising101", "Resources");
}

<h1>Church Fundraising Ideas</h1>
<div class="row">
    <div class="col-sm-12">
        Church fundraising can be a very rewarding task, but also a challenge as many churches need year-round fundraising for recurrent costs in addition to intermittent fundraising for large events and purchases.
        <br /><br />
        Below are some of our best tips and most successful fundraising products for both year-round and intermittent church fundraising:
        <br /><br />

    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <strong>Involve the entire community</strong>
        <br />
        Spread word of your church fundraiser throughout your entire community and don’t limit yourself to only Christian friends and family. You never know who might have a great idea or a helpful contact that might be a wonderful asset to your fundraising campaign. Local businesses, for example, routinely set aside an annual budget for philanthropic use, so be sure to reach out to all members of your community.
        <br /><br />
        <strong>Begin blogging</strong>
        <br />
        Several reputable blogging services like Wordpress, Tumblr, Blogger offer an impressive array of attractive templates which mean you don’t have to be at all technically inclined to produce an amazing blog. Post about your fundraising initiatives and use photos wherever possible to keep interest. Share the URL liberally and you’ll soon see what a useful tool this is to communicate your church fundraising initiatives and other happenings.
        <br /><br />
        <strong>Give and you'll receive:</strong>
        <br />
        Kick off contributions by making your own donation to the trip fund first. It doesn’t have to be a huge amount, but even chipping in the amount of money you might have spent on your morning coffee run or eating out for lunch is an excellent start. When others see the small sacrifices you’re willing to make, they’ll get in the spirit, too.
        <br /><br />
    </div>

    <div class="col-sm-6">
        <strong>Embrace snail mail</strong>
        <br />
        Well-written letters to family, friends and members of the community is a personal approach that gets results. Target 75-100 recipients and don’t be shy in recommending a minimum donation amount. People often want to contribute to causes but only hesitate when they’re not sure of an appropriate donation amount. Remember, there’s nothing impersonal about an electronically-produced letter provided it’s signed by hand.
        <br /><br />

        <strong>Plan an event</strong>
        <br />
        Church bazaars, community dinners and bake sale are all fun examples of fundraising events that churches should consider when raising funds. Naturally, people love to have fun, so an event is always an engaging approach. Be sure to have lots of snacks and treats at the ready for guests to purchase – it’s an easy way to earn extra profits! <a href="/products/chocolate" title="chocolate fundraiser">Candy bars</a>, <a href="/products/lollipops" title="lollipops fundraiser"> lollipops</a> and <a href="/products/beef-jerky" title="beef jerky fundraiser">beef jerky</a> are favorites
        <br /><br />
        <strong>Say thank you</strong>
        <br />
        No matter the size the contribution, send a thank-you note by email or by mail to let them know how much you appreciate their support. Thoughtfulness often begets future follow-up donations.
        <br /><br />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h1>Top Church Fundraising Ideas</h1>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <strong>T-Shirt Fundraising</strong>
        <br />
        With a great array of colors, models and sizes, there’s a perfect T-shirt for everyone in your congregation. Personalize them with your own design and message. Call us to get a free consultation with one of our Fundraising experts.
<br /><br />
        <img alt="t-shirt fundraising ideas" src="~/Content/images/public/montage_tees.jpg" class="center-block img-responsive" />
    </div>
    <div class="col-sm-6">
        <strong>Scratchcards Fundraising</strong>
        <br />
        <a href="/products/scratchcards" title="Scratchcards fundraiser">Church fundraising scratchcards</a> featuring a picture of your church or your church’s logo are a fun, proven way to engage supporters: they scratch off one or more dots and donate the amount uncovered, and you return the favor by tearing off a coupon sheet filled with valuable coupons for national retailers.<br /><br />
        <br /><br />
        <img alt="Scratchcards fundraising ideas" src="~/Content/images/public/motnage_scratchcard.jpg" class="center-block img-responsive" />
    </div>
</div>

<br /><br />

        <div class="row">
            <div class="col-sm-2">
                <img src="~/Content/images/public/fundraising_tips-FB.jpg" />
            </div>
            <div class="col-sm-10">
                <strong>Have some fundraising ideas, tips or tricks that have worked well for you? Help other fundraising groups by posting them on our <a href="https://www.facebook.com/Fundraisingdotcom">Facebook page</a></strong>
            </div>
        </div>



