@using GA.BDC.Web.Fundraising.MVC.Helpers
@using GA.BDC.Web.Fundraising.MVC.Models.Branding

@{
    ViewBag.Title = "Helpful Fundraising Consultants - Fundraising.com";
    ViewBag.Description = "fundraising Consultants to lead you every step of the way on your group fundraising campaigns";
    ViewBag.Keywords = "fundraising Consultants, help fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Consultants", "Resources");
}
<div>
    <h1>Fundraising Consultants at Your Service!</h1>
    <div class="row">
        <div class="col-sm-12" ng-cloak>
            In addition to quality fundraising products, you're guaranteed to find "bend over backwards" customer service at Fundraising.com! Our consultants are experienced, professional and friendly!
            <br /><br />
            Why are Fundraising.com's Consultants the very best in the industry? Here's why:
            <br /><br />
            <ul>
                <li><strong>They know fundraising!</strong> Every group is different and that's why our Fundraising Consultants are trained to work with you to help you find the perfect solution for your unique fundraising needs.</li>
                <br />
                <li><strong>They stick with you every step of the way!</strong>  Our Fundraising Consultants know their job isn't done until your goals are met. They'll be available to you not just to help choose your fundraising products, but also to work with you throughout your campaign giving you the support you need to have a fun and successful fundraiser.</li>
                <br />
                <li><strong>"Bend over backwards customer service"!</strong> This is our guarantee to you, and we accomplish it by providing you with a personal Fundraising Consultant, so that when you call us, you're speaking with someone who knows you and your group, and is dedicated to your success.</li>
                <br />
                <li><strong>They're the experts!</strong> We have a lot of fundraising products and programs, and it can be a challenge to choose the best one for your needs, especially if you want to combine more than one program. Our Consultants know the details of every product, so all you have to do is ask! Not sure about a profit chart? Call us! Working with a tight budget? Call us! Whatever your unique needs, your Fundraising Consultant will have the solution.</li>
                <br />
                <li><strong>It's FREE! Calling Fundraising.com is 100% free!</strong> It's a toll free call, and you will never pay for a fundraising consultation!</li>
            </ul>
            <br />
            Friendly, expert consultants are waiting to take your call. And the best part is, superior customer service is just the beginning of the excellent service we promise you! Call {{::partnersCtrl.Partner.Attributes.phone_number}} today to speak with your Fundraising Consultant. He or she is full of great fundraising ideas they can't wait to share with you!
        </div>
    </div>
</div>

