@{
    ViewBag.Title = "Common Questions about Cookie Dough Fundraising - Fundraising.com";
    ViewBag.Description = "How do you manage a cookie dough fundraiser?  What are the most commonly asked questions?  Find the answers in this FAQ";
    ViewBag.Keywords = "cookie dough how to, cookie dough faqs";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("CookieDoughFaq", "Resources");
}


<h1>Cookie Dough FAQs</h1>
<div class="row">
    <div class="col-sm-12">
        <strong>What are the most common mistakes?</strong><br />
        Actually the cookie dough program can be error free if all steps are followed on the chairperson guide we give you. One of the most common mistakes is an incorrect case count when the chairperson tallies up the orders to be sent in to us. It is so important to
        <br /><br />
        <strong>How can my group avoid mistakes and make the most profit possible?</strong><br />
        Again, if the chair of the group follows the instructions on the chairperson instruction sheet, there should be no mistakes and we give you ideas that will help your increase profits. One thing to keep in mind is to build in a little "pad" time for the few late orders that will come in (and there will be some), as we cannot accept any late orders. So, plan ahead and give yourself an extra day to accept late orders from your group members before you send us your order.
        <br /><br />
        <strong>How long does it take to get my cookie dough?</strong><br />
        For the most part, it should take 15 to 21 business days for you to receive your dough after your order has been turned into us. If you require your cookie dough before specific holidays (such as Thanksgiving, Christmas or Easter), please work with a Fundraising Consultant to plan your sale so that you have enough time to receive your cookie dough during these busy times.
        <br /><br />
        <strong>How do I refrigerate the cookie dough before I distribute it?</strong><br />
        While is it preferred that you keep your cookie dough frozen, it is not imperative. Refrigeration is fine. You need to plan ahead and find a suitable refrigerated or frozen storage facility that is in a convenient location so that your members can meet there to pick up their cookie dough. If possible, it's best to receive the cookie dough on one day, count it carefully, store it overnight and then distribute it the next day. That way, you will not make the common mistake of accidentally handing out the wrong flavors to the first member who shows up when the delivery truck arrives! If you carefully count the cookie dough cases/flavors as they come off the truck and store it in an organized way, you will have fewer problems later - trust us! The frozen cookie dough is pasteurized which allows it to be left in the refrigerator for 6 months. If the dough is put in the freezer, it will stay fresh for 1 year. And, by the way, the dough can be thawed and refrozen without losing any integrity to the product.
        <br /><br />
        <strong>Is cookie dough Kosher?</strong><br />
        Yes, our frozen cookie dough products are Kosher.
        <br /><br />
        <strong>How do I figure out what my profit will be?</strong><br />
        The profits for the cookie dough are calculated on a graduated scale. Essentially, the profits range from 30% to 50%. It all depends on how much cookie dough you order! Visit our cookie dough section to see a profit chart for your brochure sale.
        <br /><br />
        <strong>How many cookies does each tub or box make?</strong><br />
        Each 3lb. tub makes 96 (1/2 oz.) cookies or 48 (1 oz.) cookies and each box of pre-portioned cookie dough makes 48 (1 oz.) cookies.
        <br /><br />
        <strong>What's the best way to distribute the cookie dough so that everything goes smoothly?</strong><br />
        The easiest and most efficient way would be to have a group of volunteers "check in" the dough as it comes off the truck. The dough will come in full cases, so if you can slowly and carefully count the cases and check the flavors as you put the cookie dough in storage, you will ensure that your order is accurate and you can plan your distribution. Separate all the flavors and double-check everything you do before you start dividing up the cookie dough by individual seller. The best way to set up your "distribution" would be in the same order as the order forms - do one seller's complete order at a time. One person can fill the orders while another can double check the order. We know it sounds obvious, but if you double check everything before you hand out cookie dough to your sellers, your numbers will come out right and you will have a lot less stress!
        <br /><br />
        <strong>Why is it better for my group if I order in full cases?</strong><br />
        It is basically easier for everyone involved. When our cookie dough warehouse packs the cookie dough, it is packed and shipped in full case counts. We have found that ordering by full cases virtually eliminates counting errors, and counting errors are the #1 mistake we see!
        <br /><br />
        <strong>How is the cookie dough shipped to me?</strong><br />
        The frozen cookie dough is delivered on a truck, packed with dry ice.
        <br /><br />
        <strong>How do we keep the cookie dough refrigerated upon delivery?</strong><br />
        The frozen cookie dough can withstand thawing and can actually be refrozen if thawed. Plan ahead and find a suitable refrigerated or frozen storage facility so that you have zero problems upon delivery of your frozen cookie dough!
        <br /><br />
        <strong>What is the best way to communicate with families about the pickup?</strong><br />
        For the most part a postcard, email or phone call works the best to remind your sellers of the pick up day and time. Make it easy on yourself - develop a phone tree so that you call two people, and they call two people, and so on until everyone is called with the delivery time and date.
        <br /><br />
        <strong>Does it take a big group to be successful at selling cookie dough?</strong><br />
        Not necessarily. We have had many smaller groups be very successful selling our cookie dough. It just depends on how motivated the group is. The minimum order for frozen dough is 20 cases (6 items per case). Regardless of the size of your group, you should definitely set a "minimum goal" for each seller - and aim high! If your "real" goal is 10 items per seller, tell your sellers you want each of them to sell 12 items - many of your sellers will reach this goal, plus they'll receive a free tub of cookie dough if you choose the Baker's Dozen prize program!
        <br /><br />
        <strong>How do we make money fundraising without "bombarding" the same people every time?</strong><br />
        Unfortunately we all go to the same people to help us raise funds. However, we feel your customers will love this product so much that they will be glad you asked. Also, you can always try selling to new customers, such as people at businesses you frequent, or parents can take the order forms to work and take cookie dough orders from co-workers. Of course, the best way to keep from "bombarding" your customers is by planning ahead and scheduling your fundraisers a whole year ahead of time. Try to have a few big, well-planned, organized sales, rather than 10 small sales. Have your sellers help you decide what to sell each year and have them help set your group's fundraising goals - that way, they will be more motivated to sell during the few fundraisers you have. Motivating your sellers is key to your fundraising success!
        <br /><br />
        <strong>Can our delivery be scheduled for a specific date and time (like, 10am Wednesday?)</strong><br />
        You may certainly request a preferred date and time, and we will try our hardest to accommodate you. At this time however, we are unable to give you a guaranteed delivery date or time. Please be understanding - Mother Nature sometimes intervenes and changes trucking schedules on us. We always do our best to follow each truck as it moves towards your destination. Rest assured that we are always doing everything we can to make sure your cookie dough gets there as quickly as possible! If you plan ahead with your "phone tree" calling plan, you will be able to notify your sellers on a moment's notice of any changes in delivery time or date. Working together, we will make the delivery as smooth as possible.
        <br /><br />
        <strong>Should I combine a cookie dough fundraiser with a "tag" brochure that offers other items for sale?</strong><br />
        Studies have shown that combining a "tag" with your sale can increase your profits by 20% with very little effort. FundRaising.com offers a "Cheesecake" tag, which features frozen cheesecakes. You can also run an online magazine fundraiser as a “tag” to increase your profits with no extra work or costs!
        <br /><br />
        <strong>How easy is a cookie dough fundraiser compared with other fundraisers like selling candy bars?</strong><br />
        Candy bars are an easy direct selling product that sells quickly. You order a certain number of cases of candy, we ship them to you, you sell them and collect the money asap. Selling cookie dough is a longer process, usually about 4 weeks from beginning to end. However, cookie dough has a higher selling point than candy bars, which sell for $1 or $2. You need to sell more candy bars to make the same profit you will make on a cookie dough sale! Candy sales = fast money, but cookie dough sales = more money!
        <br /><br />
        <strong>Can I get frozen cookie dough sorted by student?</strong><br />
        The cookie dough comes in full case counts, not packed by seller. What seems to work best is if the volunteers at the delivery site pre-pack the orders so that when your sellers come to pick up their items they will be ready to go.
        <br /><br />
        <strong>What are the minimum ordering requirements for cookie dough?</strong><br />
        The minimum order for frozen cookie dough is 120 items (20 cases).
        <br /><br />
        <strong>Why should we use FundRaising.com vs. some other company that offers cookie dough?</strong><br />
        We offer exceptional customer service. All of our friendly Fundraising Consultants can answer your cookie dough questions. Our prices are low, your profits are high, and we 100% guarantee all of the products we sell. Our #1 goal is to make you a 100% satisfied customer, so that you tell all your fundraising friends about the great service you received from our company. With happy customers, our company will continue to grow and will be able to offer exciting new products at low prices.
        <br /><br />
        <strong>Do I have to order in full cases?</strong><br />
        Yes, all cookie dough needs to be ordered in full cases. This is for your benefit! We find that we have virtually no counting mistakes when we ship cookie dough in full cases of 6 items per case. The last thing you need on delivery day is a problem because cookie dough tubs are miscounted and a few sellers walked off with incorrect orders. That will mess up your whole distribution process. By ordering in full cases and following our instructions word-for-word, we can guarantee that you will have a smooth, successful delivery.
        <br /><br />

    </div>
</div>





