@{
    ViewBag.Title = "Coupon opportunities for your next fundraisers - Fundraising.com";
    ViewBag.Description = "Save money with these great coupon offers from fundraising.com";
    ViewBag.Keywords = "coupon for fundraising, fundraising coupon";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Coupon", "Resources");
}

<h1>Money Saving Fundraising Coupons</h1>
<div class="row">
    <div class="col-sm-12">
        Print this page and send your coupon in with your payment. Give your unused coupons to a friend!
        <br /><br />
        <img alt="fundraising coupon" src="~/Content/images/public/coupon.jpg" />
    </div>
   
</div>



