@using GA.BDC.Web.Fundraising.MVC.Helpers
@using GA.BDC.Web.Fundraising.MVC.Models.Branding

@{
    ViewBag.Title = "Fundraising 101 - How to organize a successful fundraising event - Fundraising.com";
    ViewBag.Description = "The Fundraising Basics explained to first time Organizers.  Information and product suggestion for all group types";
    ViewBag.Keywords = "organize a successful fundraising event, fundraising tips, fundraising tips";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("fundraising101", "Resources");
    var partnerBranding = ViewBag.Partner as Partner;

}

<div>
    <h1>Fundraising 101</h1>
    <div class="row">
        <div class="col-sm-12" ng-cloak>
            Whether you’re a first timer, or a seasoned pro, you can be your group’s best Fundraising Chairperson yet! It’s so simple to have a quick and easy fundraiser if you know the steps to take:
            <br /><br />
            <h2 class="resourcesFontStyle">1. First things first – Set your fundraising goal</h2>
            If you are purchasing new equipment or uniforms, covering travel costs, paying for administrative or maintenance services, or raising funds for a tournament or competition, the first step is to determine the total amount you need (your fundraising goal). When in doubt, always estimate high. It never hurts to end up with extra cash, but you definitely don’t want to fall short.
            <br /><br />
            If you’re having trouble determining your goal, just give us a call. We’ve helped thousands of groups find the fastest and easiest path to their goals, and we can help you too!
            <br /><br />
            <h4>2. Give yourself a deadline</h4>
            Are you continuously fundraising or do you need the money in exactly one month? When you call to order, or to start planning your fundraiser, let us know your deadline so that we can help you choose the best product. Some products, like <a href="/products/lollipops" title="lollipops fundraiser">
                lollipops
            </a>, <a href="/products/scratchcards" title="Scratchcards fundraiser">Scratchcards</a> can be shipped right away and you can start your sale as soon as the product arrives. If you choose to have your products personalized, delivery time will be a bit longer.
            <br /><br />
            Our Fundraising Consultants will help you structure your fundraising calendar and design a product mix that is right for you.
            <h4>3. Choose your fundraising product or program</h4>
            Think about the members of your group. What are their interests? What do they like to do? What would they feel comfortable selling? How motivated are they? The best fundraising product for you is the one that your members are excited to sell. Here, you can choose between our many direct sale fundraisers, pre-sale fundraisers, donation fundraisers and online fundraisers. In addition, you can choose to combine your favorites to help you reach your goal quickly and easily. Make an informed decision by getting your free fundraising kit. Your kit will be mailed right to your door, and will contain all the helpful information you could ask for. And of course, a Fundraising Consultant is always standing by with expert tips and advice to help you be the best you can be.
            <br /><br />
            <h4>4. Call Fundraising.com to start your fundraiser!</h4>
            Easy fundraising is right at your fingertips with Fundraising.com. We can help you effectively kick off your fundraiser, and keep it going at full steam until your goal is met. At any time throughout your fundraiser, you can call us for help and advice, and we’ll be there.
            <br /><br />
            Be a fundraising superstar! Call us toll-free at: {{::partnersCtrl.Partner.Attributes.phone_number}}
        </div>
    </div>
</div>

