@{
    ViewBag.Title = "Fundraising Formulas - Fundraising.com";
    ViewBag.Description = "Three killer fundraising formulas to quickly net $2K for your great cause.";
    ViewBag.Keywords = "fundraising, fundraising tips, fundraising formulas, scratch cards, online fundraising, jack links beef jerky";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("FundraisingFormulas", "Resources");
}


<h1>3 Fundraising Formulas</h1>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <img alt="3 Fundraising Formulas banner" class="img-responsive" src="~/Content/images/public/3fundraisingformulastonet2k-01.jpg" style="border:none" />
        <br /><br />
        While literally millions of people find themselves having to organize a fundraiser each year, very few of them actually enjoy fundraising. After all, it’s terribly daunting to know exactly where to start, where to find all the help and resources you’ll need, and how to reach your ultimate goal. It’s by no means a science…Or is it?
        <br /><br />
        Whether you need to raise substantially more or considerably less, we’re willing to bet 2K is going to impact your group positively. Here’s 3 quick and simple fundraising formulas (based on a team of 20 fundraising participants) that will quickly net you exactly 2K.
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-5">
        <h2>CUSTOM SCRATCHCARDS</h2>
        How can they refuse when a photo of your adorable face/team/child is delightfully smiling up at them from the <a href="/products/scratchcards" title="scratchcards fundraiser">Scratchcard</a>? They can’t! Supporters scratch dots and donate the amount(s) uncovered. Each <a href="/products/scratchcards" title="scratchcard fundraiser">scratchcard</a> earns a whopping $100 which means just 1 card per participant (20 total) earns $2K.
    </div>
    <div class="col-sm-5">
        <img alt="3 Fundraising Formulas movember" class="img-responsive" src="~/Content/images/public/3fundraisingformulastonet2k-04.jpg" style="border:none" />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-4">
        <img alt="3 Fundraising Formulas online fundraiser" class="img-responsive" src="~/Content/images/public/3fundraisingformulastonet2k-05.jpg" style="border:none" />
    </div>
    <div class="col-sm-6">
        <h2>MY.FUNDRAISING ONLINE FUNDRAISER</h2>
        An @Html.ActionLink("online fundraiser", "HowItWorks", "OnlineFundraising") online fundraiser is as simple to set up as a Facebook profile page so it takes minutes instead of hours to get going. With the average profit per subscription at $12, participants need to sell just 9 each — which should be easy-peasy considering you’re offering popular reads like Real Simple, Sports Illustrated, People, and All You.
    </div>

</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-5">
        <h2>JACK LINKS BEEF JERKY</h2>
        <a href="/beef-jerky-fundraiser" title="Beef Jerky fundraiser">"Beef Jerky?!"</a> you might be saying. "Yup, Beef Jerky," say we. This longtime bestseller is sold for $2 per snack, meaning participants need to sell just one case of beef jerky (48 pieces) each to get you to 2K. And when they're sold in the lunchroom at work or in the halls of your school, they'll be gone in no time!
    </div>
    <div class="col-sm-5">
        <a href="~/Content/pdf/public/3fundraisingformulas.pdf" title="3 Fundraising Formulas pdf" target="_blank">
            <img alt="3 Fundraising Formulas beef jerky" class="img-responsive" src="~/Content/images/public/3fundraisingformulastonet2kjb.jpg" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="/canada" title="canadian fundraising link">
            <img alt="canadian fundraising link"  src="~/Content/images/public/schoolfundraising101-4.jpg" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="" data-toggle="modal" data-target="#kit-request-modal" title="request a kit">
            <img alt="requst a guide link " src="~/Content/images/public/schoolfundraising101-5.jpg" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/" title="fundraising homepage">
            <img alt="fundraising homepage link"  src="~/Content/images/public/schoolfundraising101-6.jpg" width="245" height="111" style="border:none" />
        </a>
    </div>
</div>
</div>