@{
    ViewBag.Title = "Girl Scout Fundraising Tips and Ideas - Fundraising.com";
    ViewBag.Description = "Fundraising ideas and tips for Girl Scout organizations.";
    ViewBag.Keywords = "Girl Scout organizations";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("girlscout", "Resources");

}

<h1>Girl Scout Fundraising</h1>
<div class="row">
    <div class="col-sm-8">
        With so many fun and enriching activities, projects and camps, Girl Scout troupes are often in need of lots of fundraising! The good news is that with a little creativity, even your fundraisers can contribute to the education, development and pure fun of Girl Scouts!
        <br /><br />
        Here are some Girl Scout fundraising ideas that are sure to be a hit:
        <br /><br />
    </div>
    <div class="col-sm-4">
        <img alt="girl scout fundraising" src="~/Content/images/public/scout-fundraising.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br /><br />
        <strong>Lollipops</strong>
        <br />
        Make lollipop bouquets with your Girl Scout troupe by tying bunches of 3 lollipops together with colorful ribbon or string. You can even decorate your bouquets with cutout shapes, tissue paper, and glitter (just be sure not to glue anything to the actual candy part – only the sticks), or make Girl Scout "charms" out of construction paper, and glue them to the ends of the ribbons around your bouquets. Lollipops usually sell for just $0.50 each, but you can sell your bouquets for $2.00, giving your troupe and extra $0.50 profit on every sale. It’s extra profits, and a fun craft for your girls to enjoy!
        <br /><br />
        More about  <a href="/products/lollipops" title="lollipops fundraiser">Lollipops Fundraisers</a>
    <br /><br />
    <strong>Online Magazine Fundraiser!</strong>
    <br />
    Use this opportunity to teach your girls about the many ways we use the Internet, and how helpful it can do to our everyday lives. Talk about the different activities we do online, and how businesses, governments, schools and other organizations use the Internet. If you need to, ask a trusted member of your community with knowledge of the subject to come as a guest speaker, and be sure to also tell your girls about the important of online safety. Then announce the launch of your online fundraiser, and encourage the girls to take what they’ve learned and participate in your new fundraising campaign. Be sure to inform parents, and encourage them to get involved.
    <br /><br />
    More about your @Html.ActionLink("FREE Online Magazine Fundraiser ", "HowItWorks", "OnlineFundraising").
</div>
</div>


