@{
    ViewBag.Title = "Common Questions about Lollipop fundraisers - Fundraising.com";
    ViewBag.Description = "Not sure about what product to fundraise?  Check out out commonly asked questions for our great lollipop fundraisers";
    ViewBag.Keywords = "lollipop how to, lollipop faqs";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("LollipopFaqs", "Resources");
}


<h1>Lollipop FAQs</h1>
<div class="row">
    <div class="col-sm-12">
        <strong>What types of lollipops are there?</strong><br />
        We have a great selection of Gourmet Lollipops. Our most popular seller is the Yummy Lix, a giant one-ounce lollipop loaded with flavor. We also have gourmet lollipops available in a variety of different flavors and shapes including: Sour Mania, Milky Pops, football, hearts, lips and Color Blasters. Seasonal-shaped pops include: Easter Joys for Easter, Lolliween Pops for Halloween and Merry Pops for Christmas.
        <br /><br />
        <strong>How much do they cost?</strong><br />
        Your cost for all of the 50¢ Gourmet Lollipops is $144 per case (576 pops) or 25¢ each. Some shipping fees may apply - please call for details.
        <br /><br />
        <strong>How much do I sell them for? What is the profit for my group?</strong><br />
        You sell the pops for 50¢ each. At this price, they are an easy sell and you will be amazed at how quickly you will sell out. Your profit on the Gourmet Lollipops is 50% or $144 per case.
        <br /><br />
        <strong>What flavors do they come in?</strong><br />
        Our Gourmet Lollipops are available in 33 regular flavors. They are individually wrapped and last about 45 minutes. That’s a long time for only 100 calories! The shaped and seasonal pops are available in approximately eight flavors. Regular flavors currently include: banana split, blue raspberry, blueberry cheesecake, cherry cheesecake, cinnamon, cotton candy, green apple, pina colada, strawberry shake, watermelon slice, black cherry, blueberry, bubblegum, cherry limeade, Color Blaster, grape delight, lime sherbet, red raspberry, strawberry shortcake and wild cherry. Flavors do change, so please check with our fundraising consultants if you are special ordering flavors to determine availability of your favorite flavors. Color Blasters are available only in cherry snow flavor, but the colors change on each pop.
        <br /><br />
        <strong>Can I order special flavors?</strong><br />
        No, you cannot order special flavors.
        <br /><br />
        <strong>What is the minimum order?</strong><br />
        The minimum order for all Gourmet Lollipops is just one master case, which contains 576 lollipops. A master case has eight inner boxes with 72 assorted pops in each. Reorders are processed within 24 hours. Please plan ahead by allowing 6 to 7 business days for delivery.
        <br /><br />
        <strong>What if I order too many can I return them?</strong><br />
        We do not accept returns on lollipops.
        <br /><br />
        <strong>How do we pay?</strong><br />
        We give approved groups 30 days to pay for orders of $500 or more. Approved groups are those associated with public or parochial schools or recognized non-profit organizations (who have gone through an online credit check). We also accept Master Card, Visa, American Express and Discover, as well as checks by phone (no personal Checks), money orders, certified checks or checks signed by schools. Groups needing extra time to pay can either run a brochure or catalog fundraiser or start an online campaign (both require no up-front costs).
        <br /><br />
        <strong>Why should I purchase gourmet lollipops from FundRaising.Com?</strong><br />
        FundRaising.com offers the highest profits and best service possible! Our friendly trained consultants are very knowledgeable about fundraising and work with you to help you reach your goals. They will help you choose the right quantity of the fundraising product that will work best for your group. We guarantee all of our products as well as your privacy.
        <br /><br />

    </div>
</div>




