@{
    ViewBag.Title = "Power Products - Fundraising.com";
    ViewBag.Description = "Our most popular fundraising programs optimized for maximum profits, supporter appeal and ease";
    ViewBag.Keywords = "fundraising ideas, fundraising products, profitable fundraising ideas, scratch card fundraising, online fundraising, kathryn beich katydids";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("PowerProducts", "Resources");
}

<h1>Power Products</h1>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <img alt="Power Products Fundraising" class="img-responsive" src="~/Content/images/public/powerproducts-01.jpg" />
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <h2>SCRATCHCARDS & T-SHIRTS</h2>
        It's proven: Custom fundraisers earn higher profits.<a href="/products/scratchcards" title="Scratchcards fundraiser"> Customize cards with your logo</a>, group photo or mascot to start turning heads. Then, throw in some like-designed <a href="/products/t-shirts" title="custom tees fundraiser">custom tees</a> for your crew to wear and utterly up your visibility. Order extra, sell them to supporters, and you'll earn even more scratch!
        <br /><br />
        <h2>A MY.FUNDRAISING ONLINE FUNDRAISER</h2>
        The perfect partner for any program! Free, fully customizable and up and running in just minutes, you'll have a @Html.ActionLink("virtual fundraising store", "HowItWorks", "OnlineFundraising") working for you around the clock. Plus, there's no brochures or money collection to add to your list of To-Do's...Woot!
        <br /><br />
        <h2>KATYDIDS</h2>
        How can one <a href="/products/chocolate" title="chocolate fundraiser">little chocolatey treat</a> - named after an insect no less! - pack so much punch? It's simple: People love them, look high and low for them (check out Google), but only WE have them! Make no mistake, these exclusive and delish little mouthfuls are powerful profit earners!
        <br /><br />
        <h3><a href="/Content/pdf/public/powerproducts.pdf" style="text-decoration:none" target="_blank" title="download power products pdf">Download Power Products pdf</a></h3>

    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-2">
        <a href="/canada" title="canadian fundraising link">
            <img alt="canadian fundraising" src="~/Content/images/public/schoolfundraising101-4.jpg" width="251" height="111" />
        </a>

    </div>
    <div class="col-sm-4">
        <a href="" data-toggle="modal" data-target="#kit-request-modal" title="request a kit">
            <img alt="requst a guide" src="~/Content/images/public/schoolfundraising101-5.jpg" width="253" height="111" style="border:none" />
        </a>

    </div>
    <div class="col-sm-4">
        <a href="/" title="fundraising homepage">
            <img alt="fundraising homepage" src="~/Content/images/public/schoolfundraising101-6.jpg" width="245" height="111" style="border:none" />
        </a>
    </div>
</div>
