@{
    ViewBag.Title = "School Fundraising Ideas and Products - Fundraising.com";
    ViewBag.Description = "Elementary Middle and High School Fundraising sources and campaigns";
    ViewBag.Keywords = "Fundraising Elementary Middle, High School Fundraising, organizing Fundraisers";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("schools", "Resources");
}

<h1>School Fundraising Ideas</h1>
<div class="row">
    <div class="col-sm-8">
        Schools are sometimes the best places to launch a fundraiser and there is certainly no shortage of effective fundraising ideas. Whether you’re in grade school or college, we’ve got you covered.
        <br /><br />
    </div>
    <div class="col-sm-4">
        <img alt="school fundraising" src="~/Content/images/public/scout-fundraising.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br /><br />
        <strong>Lollipops</strong>
        <br />
        Lollipops are one of the first ideas that come to mind. It’s a really simple way to raise money for your school and we have so many awesome flavours in stock that you might be struggling to keep up with demand once word get around that you’ve got the good stuff. We have cherry, grape, watermelon and strawberry always available, and if you really want to jazz it up you can try the Funky Fruit or Shockwaves Sour lollipops too.
        <br /><br />
        More about <a href="/products/lollipops" title="Lollipops fundraiser">Lollipops</a>
        <br /><br />
        <strong>Scratchcards</strong>
        <br />
        Another possibility is scratchcards. Unlike the scratch and win lottery ticks you get at the corner store, the scratchcards we provide don’t tell you how much you’ve won, but they tell you how much you have to donate to the fundraiser. Donations range from $1 to $5. Our scratchcard packs also include a coupon booklet, so whatever people end up donating is easily reimbursed by the value of the coupons.
        <br /><br />
        More about <a href="/products/scratchcards" title="Scratchcards fundraiser">Scratchcards Fundraisers</a>
    <br /><br />
    <strong>Cookie Dough</strong>
    <br />
    Cookie dough is always a popular choice too, and we have many types of flavours. Few things are more decadent than chocolate chip cookies, and lots of people have made big money selling our cookie dough packs.  The fun and excitement of watching the dough rise as it cooks in the oven and the mouth-watering smell of a fresh batch of cookies is sure to pull in big bucks for your fundraising efforts.
    <br /><br />
    More about your <a href="/products/cookie-dough" title="Cookie Dough fundraiser">Cookie Dough Fundraisers</a>
    <br /><br />
    <strong>Smencils &amp; Snifty</strong>
    <br />
        Speaking of delicious smells, we also have a wide selection of scented pencils, pens, rulers, and markers. Every student needs something to write with, so you can definitely raise a few bucks selling these items in a fundraising campaign.  
    <br /><br />
     More about your <a href="/products/smencils" title="Smencils fundraiser">Smencils</a> Fundraisers
   
</div>
</div>

