@{
    ViewBag.Title = "School Fundraising 101 - Fundraising.com";
    ViewBag.Description = "Tips for keeping school fundraisers fresh, simple and top of mind for parents while avoiding fundraising burnout.";
    ViewBag.Keywords = "school fundraising, fundraising tips, school fundraising ideas, tips for school fundraising success";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("School-Fundraising-101", "Resources");
}

<h1>School Fundraising Ideas</h1>
<div class="row">
    <div class="col-sm-offset-1 col-sm-11">
        <img alt="school fundraising 101" class="img-responsive" src="~/Content/images/public/schoolfundraising101-1.jpg" />
        </div>
</div>
<div class="row">
    <div class="col-sm-12">
        
        <br /><br />
        Regardless of what program is ultimately chosen, school fundraising success comes down to student participation — and student participation is largely driven by what? The involvement and follow-through of parents, of course! Here’s how to get parents excited about and working hard on your fundraising initiatives:
        <br /><br />
        <h3>KEEP IT MANAGEABLE</h3>
        Ensure parents have ample time and energy by rolling out just one or two larger-scale, higher profit-generating fundraisers per year. Keep them short and sweet, too (think one week rather than one month). This will ward off "fundraising burnout."
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img alt="school fundraising 101" class="img-responsive" src="~/Content/images/public/schoolfundraising101-2.jpg" />
    </div>
    <div class="col-sm-8">
        <h3>KEEP IT FRESH</h3>
        Just because it worked once doesn’t mean it’ll work again. Keep interest high by switching up your offerings each time you fundraise. <a href="/products/cookie-dough" title="Cookie dough fundraiser">Cookie dough</a> and <a href="/products/chocolate" title="chocolate fundraiser">
            chocolate
        </a> works well around the holidays, but <a href="/products/scratchcards" title="Scratchcards fundraiser">
            Scratchcards
        </a> or <a href="/products/t-shirts" title="t-shirts fundraiser">t-shirts</a> might be more scintillating for Spring.
        <br /><br />
        <h3>KEEP IT USEFUL</h3>
        Look to offer items people can use or are in the habit of buying already as this makes a parent’s job of selling simple. <a href="/products/smencils" title="Smencils fundraiser">Smencils</a>, <a href="/products/heritage-candles" title="candles fundraiser">candles</a>, <a href="/products/recycled-trash-bags" title="trash bags fundraiser">trash bags</a> or <a href="/products/magazines" title="magazines fundraiser">magazines</a> are all good options here.
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>KEEP IT TOP OF MIND</h3>
        Nobody utterly adores the fundraising process — but absolutely everyone feels gratified by the extra funds once they’re raised! Provide accessible channels of support, regular updates on your progress, and communicate your thanks generously and creatively as you go. Parents will feel appreciated!
        <br /><br />
        <h3>KEEP IT SIMPLE</h3>
        Make things easy on yourself by getting one of our local, Great American Reps dispatched to your school. They’ll match you to your perfect program, kick things off with a WOW-infused assembly and introduce great prize incentives along the way!
        <br /><br />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>EXTRA-CREDIT PRO TIPS</h3>
        <ul>
            <li>Set a mandatory, minimum goal for each student</li>
            <li>Offer prizes to top sellers</li>
            <li>Have t-shirts made to up exposure and bolster spirit</li>
            <li>Supplement your program with an @Html.ActionLink("online fundraiser", "HowItWorks", "OnlineFundraising")</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <a href="/Content/pdf/public/schoolfundraising101.pdf" title="school fundraising 101 pdf" target="_blank">
            <img alt="school fundraising 101 pdf" class="img-responsive" src="/Content/images/public/schoolfundraising101-3.jpg" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <a href="/canada" title="fundraise with canada products">
            <img alt="canadian fundraising" class="img-responsive" src="~/Content/images/public/schoolfundraising101-4.jpg" />
        </a>
    </div>
    <div class="col-sm-4">
        <a href="" data-toggle="modal" data-target="#kit-request-modal" title="request a kit">
            <img alt="requst a guide" class="img-responsive" src="~/Content/images/public/schoolfundraising101-5.jpg" />
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/" title="fundraising homepage">
            <img alt="fundraising homepage" class="img-responsive" src="~/Content/images/public/schoolfundraising101-6.jpg" />
        </a>
    </div>
</div>




