@{
    ViewBag.Title = "Sports Fundraising Products and ideas - Fundraising.com";
    ViewBag.Description = "If you need funds for your sports team here are some great Fundraising Products and Ideas for baseball, Football, Cheerleading, and other sports groups";
    ViewBag.Keywords = "Ideas sport teams, help fundraising, sports team Fundraising";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("sports", "Resources");

}

<h1>Awesome Sports Fundraising Ideas</h1>
<div class="row">
    <div class="col-sm-12">
        <h4>Scratchcards</h4>
        This is not only a quick and easy way to raise money, scratch cards can also be personalized with your team name and logo, and they come in a variety of sports themes for you to choose from. Scratchcards are low cost, high profit, and so easy to handle! Best of all, they come with great, brand name coupon sheets as thank-you gifts for your supporters.
        <br /><br />
        More about <a href="/products/scratchcards" title="Scratchcards fundraiser">Scratchcards Fundraisers</a>
    <br /><br />
    <h4>Lollipops</h4>
    These fundraising champions come in a variety of themed shapes and are so fun and delicious, they almost sell themselves! Vibrant colors, wild flavors and cool shapes are something you just don’t find in stores. Sell lollipops at your next game, and the profits will pile up!
    <br /><br />
    More about <a href="/products/lollipops" title="lollipops fundraiser">Lollipops Fundraisers</a>
    <br /><br />
    <h4>Online Magazine Fundraiser</h4>
    This FREE fundraiser is great for sports fundraising because you can customize your fundraising website and online magazine store with color, text and an image or photo! The fundraiser is entirely online and makes a great add-on to your regular fundraising campaigns.
    <br /><br />
    More about your <a href="/products/magazines" title="lollipops fundraiser">FREE Online Magazine Fundraiser</a>
</div>
</div>



