@{
    ViewBag.Title = "Spring Fundraising - Fundraising.com";
    ViewBag.Description = "Fresh and lively fundraising ideas for Spring including our best-selling, recommended programs and Easter-themed fundraisers.";
    ViewBag.Keywords = "spring fundraising, spring fundraising ideas, chocolate eater bunnies, easter lollipops, smanimals, easter fundraising themes";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Spring", "Resources");
}



<h1>Spring Fundraising</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <img alt="spring fundraising" class="img-responsive" src="~/Content/images/public/SPRING-page-01.jpg" width="741" height="315" style="border:none" />

        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
            <a href="/products/chocolate" title="chocolate fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-02.jpg" width="179" height="106" style="border:none" />
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/products/smencils" title="smencils fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-03.jpg" width="190" height="106" style="border:none" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Content/pdf/public/SPRINGISSCENTSATIONAL.pdf" target="_blank">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-04.jpg" width="100%" height="106" style="border:none" />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
            <a href="/products/lollipops/all-lollipops/easter-joy" title="easter-joy fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-05.jpg" width="179" height="108" style="border:none" />
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/products/smanimals/all-smanimals/smanimal" title="smanimals fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-06.jpg" width="190" height="108" style="border:none" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Content/pdf/public/SWEETITSSPRING.pdf" target="_blank">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-07.jpg" width="100%" height="108" style="border:none" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
            <a href="/products/t-shirts/all-t-shirts/Custom-Tshirts" title="Custom-Tshirts fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-08.jpg" width="179" height="107" style="border:none" />
            </a>
        </div>
        <div class="col-sm-2">
            <a href="/products/recycled-trash-bags" title="Trash-Bags fundraiser">
                <img alt="spring fundraising" src="~/Content/images/public/SPRING-page-09.jpg" width="190" height="107" style="border:none" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Content/pdf/public/SPRINGCLEAN.pdf" target="_blank">
                <img alt=" spring fundraising" src="~/Content/images/public/SPRING-page-10.jpg" width="100%" height="107" style="border:none" />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="/canada" title="fundraise with canada products">
                <img alt="fundraising in cananda" class="img-responsive" src="~/Content/images/public/canada_blackbar.jpg" width="751" height="52" style="border:none" />
                </a>
</div>
    </div>
</div>
