@{
    ViewBag.Title = "Valentines Day Fundraising - Fundraising.com";
    ViewBag.Description = "Fall in love with Valentine's fundraising! Valentines-friendly frundraisers, special offers and fun, free printables for Valentine's Day fundraising!";
    ViewBag.Keywords = "valentines day, valentines day fundraisers, valentines day fundraising, valentines lollipops";
    Layout = "~/Views/Shared/_layout3.cshtml";
    ViewBag.CanonicalUrl = Url.Action("Valentines", "Resources");
}

<h1>Valentines Day Fundraisers</h1>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10 text-center">
        <img alt="valentine fundraising banner" class="img-responsive" src="~/Content/images/public/FR-valentinepage-01.jpg" width="751" height="272" style="border:none" />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <img alt="valentine fundraising banner" class="img-responsive" src="~/Content/images/public/FR-valentinepage-02.jpg" width="751" height="66" style="border:none" />
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="/products/lollipops/all-lollipops/yummy-lips" title="yummy lips lollipops fundraise">
            <img alt="fundraising yummy lips lollipops link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-03.jpg" width="285" height="103" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/products/lollipops/all-lollipops/sour-yummy-lips" title="sour lips lollipops fundraise">
            <img alt="fundraising sour lips lollipops link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-04.jpg" width="279" height="103" style="border: none"/></a>
    </div>
    <div class="col-sm-4">
        <a href="~/Content/pdf/public/lollipopcutouts.pdf" title="lollipops fundraise cutouts">
            <img alt="lollipops cut outs pdf" src="~/Content/images/public/FR-valentinepage-05.jpg" width="187" height="103" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="/products/lollipops/all-lollipops/yummy-hearts" title="yummy hearts lollipops fundraise">
            <img alt="fundraising yummy hearts lollipops link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-06.jpg" width="285" height="103" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/products/lollipops/all-lollipops/hot-pops" title="hot pops lollipops fundraise">
            <img alt="fundraising hot pops lollipops link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-07.jpg" width="279" height="103" style="border:none" />
        </a>
    </div>
    <div class="col-sm-4">
        <a href="~/Content/pdf/public/candygrams.pdf" title="candy gram fundraise print outs">
            <img alt="candy gram print outs pdf" src="~/Content/images/public/FR-valentinepage-08.jpg" width="187" height="103" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="/products/pretzel-rods" title="pretzel rods fundraise">
            <img alt="fundraising pretzel rods link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-09.jpg" width="285" height="108" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/products/chocolate" title="katydids fundraise">
            <img alt="fundraising katydids link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-10.jpg" width="279" height="108" style="border:none" />
        </a>
    </div>
    <div class="col-sm-4">
        <a href="~/Content/pdf/public/pretzelrodcutouts.pdf" title="pretzel rods fundraise print outs">
            <img alt="pretzel rods cut outs pdf" src="~/Content/images/public/FR-valentinepage-11.jpg" width="187" height="108" style="border:none" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="/products/t-shirts/all-t-shirts/Custom-Tshirts" title="custom tees fundraise">
            <img alt="fundraising custom tees link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-12.jpg" width="285" height="101" style="border:none" />
        </a>
    </div>
    <div class="col-sm-3">
        <a href="/products/smanimals/all-smanimals/smanimal" title="smanimals fundraise">
            <img alt="fundraising smanimals link" class="img-responsive" src="~/Content/images/public/FR-valentinepage-13.jpg" width="279" height="101" style="border:none" />
        </a>
    </div>
    <div class="col-sm-4">
        <a href="https://www.pinterest.com/frdotcom/" title="fundraising.com pinterest" target="_blank">
            <img alt="fundraising.com pinterest link"  src="~/Content/images/public/FR-valentinepage-14.jpg" width="187" height="101" style="border:none" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="/canada" title="fundraise with canada products">
            <img alt="movember fundraising promotion" class="img-responsive" src="~/Content/images/public/canada_blackbar.jpg" width="751" height="52" style="border:none" />
        </a>
    </div>
</div>
