<?xml version="1.0" encoding="utf-8"?>
<eFundraisingCrmWebMenu>
  <Sections>
    <Section>
      <ID>IT</ID>
      <Name>IT/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
        <Role>
          <ID>gCAEFR_d-Managers</ID>
          <Read>True</Read>
          <Write>False</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../IT/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Partners</ID>
          <Name>../../IT/Partners/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Email Templates</ID>
          <Name>../../IT/EmailTemplates/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Actions Feed</ID>
          <Name>../../IT/ActionFeed/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
            <Role>
              <ID>gCAEFR_d-Managers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Sales</ID>
      <Name>Sales/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
        <Role>
          <ID>gCAEFR_d-FundraisingConsultants</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
        <Role>
          <ID>gCAEFR_d-Production</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
        <Role>
          <ID>gCAEFR_Staff</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Sales/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Sale Form</ID>
          <Name>../../Sales/SalesScreen/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Accounts</ID>
      <Name>Accounts/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Accounts/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Opportunities</ID>
      <Name>Opportunities/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Opportunities/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Production</ID>
      <Name>Production/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
        <Role>
          <ID>gCAEFR_d-Production</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Production/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Promotional Kit Print</ID>
          <Name>../../Production/PromoKitConfirmation/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Send Through Fedex</ID>
          <Name>../../Production/Carrier/Fedex.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Leads</ID>
      <Name>Leads/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Leads/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Reports</ID>
      <Name>Reports/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Reports/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Contacts</ID>
      <Name>Contacts/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Contacts/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Online</ID>
      <Name>Online/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers4</ID>
          <Read>True</Read>
          <Write>True</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Online/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Configure Partner</ID>
          <Name>../../Online/ConfigurePartner/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
            <Role>
              <ID>gCAEFR_EFundraisingCRM_CheckSystem</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Process Checks</ID>
          <Name>../../Online/ProcessChecks/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Payment Exceptions</ID>
          <Name>../../Online/PaymentExceptions/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
            <Role>
              <ID>gCAEFR_EFundraisingCRM_CheckSystem</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
        <Menu>
          <ID>Payment to Process</ID>
          <Name>../../Online/ProcessChecks/ValidatePayments.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
            <Role>
              <ID>gCAEFR_EFundraisingCRM_CheckSystem</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
    <Section>
      <ID>Others</ID>
      <Name>Others/Home/Default.aspx</Name>
      <Roles>
        <Role>
          <ID>gCAEFR_MIS-developers</ID>
          <Read>False</Read>
          <Write>False</Write>
        </Role>
      </Roles>
      <Menus>
        <Menu>
          <ID>Home</ID>
          <Name>../../Others/Home/Default.aspx</Name>
          <Roles>
            <Role>
              <ID>gCAEFR_MIS-developers</ID>
              <Read>True</Read>
              <Write>True</Write>
            </Role>
          </Roles>
        </Menu>
      </Menus>
    </Section>
  </Sections>
</eFundraisingCrmWebMenu>