USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[PaidCash]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaidCash](
	[campaignid] [int] NULL,
	[productcode] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
