USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[SwitchLetterBatchCustomerOrderDetail]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwitchLetterBatchCustomerOrderDetail](
	[SwitchLetterBatchInstance] [int] NOT NULL,
	[CustomerOrderHeaderInstance] [int] NOT NULL,
	[TransID] [int] NOT NULL
) ON [PRIMARY]
GO
