USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[BatchToPrepare]    Script Date: 06/07/2017 09:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatchToPrepare](
	[OrderID] [int] NULL
) ON [PRIMARY]
GO
