USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[TimeGeoone]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeGeoone](
	[Col001] [char](2) NULL,
	[Col002] [char](2) NULL,
	[Col003] [char](8) NULL,
	[Col004] [char](5) NULL,
	[Col005] [char](3) NULL,
	[Col006] [char](4) NULL,
	[Col007] [char](5) NULL,
	[Col008] [char](5) NULL,
	[Col009] [char](2) NULL,
	[Col010] [char](4) NULL,
	[Col011] [char](2) NULL,
	[Col012] [char](2) NULL,
	[Col013] [char](4) NULL,
	[Col014] [char](8) NULL,
	[Col015] [char](3) NULL,
	[Col016] [char](1) NULL,
	[Col017] [char](2) NULL,
	[Col018] [char](30) NULL,
	[Col019] [char](30) NULL,
	[Col020] [char](30) NULL,
	[Col021] [char](1) NULL,
	[Col022] [char](15) NULL,
	[Col023] [char](2) NULL,
	[Col024] [char](7) NULL,
	[Col025] [char](11) NULL,
	[Col026] [char](312) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
