USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[envelopetest]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[envelopetest](
	[Instance] [int] NOT NULL,
	[OrderBatchDate] [datetime] NULL,
	[OrderBatchID] [int] NULL,
	[TeacherInstance] [int] NULL,
	[ReportedEnvelopeAmount] [decimal](10, 2) NULL,
	[DateCreated] [datetime] NULL,
	[UserIDCreated] [varchar](50) NULL,
	[DateChanged] [datetime] NULL,
	[UserIDChanged] [varchar](50) NULL,
	[ReportedNumberOfOrderForms] [int] NULL,
	[IsIncentive] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
