USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](20) NOT NULL,
	[UserInitials] [varchar](4) NULL,
	[Password] [varchar](20) NULL,
	[UserFullName] [varchar](50) NULL,
	[Security] [int] NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
