USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[CouponSet]    Script Date: 06/07/2017 09:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CouponSet](
	[ID] [int] NOT NULL,
	[ProductCode] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
