USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[ToteRNext]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ToteRNext](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
