USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[TimeOne]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TimeOne](
	[Col001] [char](2) NULL,
	[Col002] [char](2) NULL,
	[Col003] [char](8) NULL,
	[Col004] [char](5) NULL,
	[Col005] [char](3) NULL,
	[Col006] [char](4) NULL,
	[Col007] [char](5) NULL,
	[Col008] [char](8) NULL,
	[Col009] [char](4) NULL,
	[Col010] [char](3) NULL,
	[Col011] [char](4) NULL,
	[Col012] [char](8) NULL,
	[Col013] [char](3) NULL,
	[Col014] [char](3) NULL,
	[Col015] [char](30) NULL,
	[Col016] [char](30) NULL,
	[Col017] [char](31) NULL,
	[Col018] [char](15) NULL,
	[Col019] [char](2) NULL,
	[Col020] [char](7) NULL,
	[Col021] [char](11) NULL,
	[Col022] [char](312) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
