USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[customer_update_status]    Script Date: 06/07/2017 09:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_update_status](
	[customerinstance] [int] NULL
) ON [PRIMARY]
GO
