USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[NationalGeoGotSent]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NationalGeoGotSent](
	[Col001] [char](4) NULL,
	[Col002] [char](16) NULL,
	[Col003] [char](4) NULL,
	[Col004] [char](13) NULL,
	[Col005] [char](7) NULL,
	[Col006] [char](12) NULL,
	[Col007] [char](6) NULL,
	[Col008] [char](30) NULL,
	[Col009] [char](30) NULL,
	[Col010] [char](31) NULL,
	[Col011] [char](15) NULL,
	[Col012] [char](2) NULL,
	[Col013] [char](7) NULL,
	[Col014] [char](11) NULL,
	[Col015] [char](312) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
