USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[RowNumber]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RowNumber](
	[NextRowId] [int] NOT NULL
) ON [PRIMARY]
GO
