USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[Batch20fromPing]    Script Date: 06/07/2017 09:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Batch20fromPing](
	[Date] [datetime] NOT NULL,
	[ID] [int] NOT NULL,
	[AccountID] [int] NULL,
	[EnterredCount] [int] NULL,
	[EnterredAmount] [decimal](10, 2) NULL,
	[CalculatedAmount] [decimal](10, 2) NULL,
	[StatusInstance] [int] NULL,
	[KE3FileName] [varchar](200) NULL,
	[ChangeUserID] [varchar](4) NULL,
	[ChangeDate] [datetime] NULL,
	[TeacherCount] [int] NULL,
	[StudentCount] [int] NULL,
	[CustomerCount] [int] NULL,
	[OrderCount] [int] NULL,
	[OrderCountAccept] [int] NULL,
	[OrderDetailCount] [int] NULL,
	[OrderDetailCountError] [int] NULL,
	[StartImportTime] [datetime] NULL,
	[EndImportTime] [datetime] NULL,
	[ImportTimeSeconds] [int] NULL,
	[Clerk] [varchar](4) NULL,
	[DateCreated] [datetime] NULL,
	[UserIDCreated] [varchar](4) NULL,
	[DateKeyed] [datetime] NULL,
	[DateBatchCompleted] [datetime] NULL,
	[OverridePctState] [bit] NULL,
	[PctState] [decimal](10, 2) NULL,
	[OriginalStatusInstance] [int] NULL,
	[OrderTypeCode] [int] NULL,
	[CampaignID] [int] NULL,
	[BillToAddressID] [int] NULL,
	[ShipToAddressID] [int] NULL,
	[ShipToAccountID] [int] NULL,
	[BillToFMID] [varchar](4) NULL,
	[ShipToFMID] [varchar](4) NULL,
	[ReportedEnvelopes] [int] NULL,
	[PaymentSend] [decimal](10, 2) NULL,
	[SalesBeforeTax] [decimal](10, 2) NULL,
	[DateSent] [datetime] NULL,
	[DateReceived] [datetime] NULL,
	[ContactFirstName] [varchar](50) NULL,
	[ContactLastName] [varchar](50) NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactPhone] [varchar](50) NULL,
	[Comment] [varchar](300) NULL,
	[IncentiveCalculationStatus] [int] NULL,
	[MagnetBookletCount] [int] NULL,
	[MagnetCardCount] [int] NULL,
	[MagnetGoodCardCount] [int] NULL,
	[MagnetCardsMailed] [int] NULL,
	[MagnetMailDate] [datetime] NULL,
	[PickDate] [datetime] NULL,
	[IsDMApproved] [bit] NULL,
	[CountryCode] [varchar](10) NULL,
	[PickLine] [int] NULL,
	[OrderQualifierID] [int] NULL,
	[CheckPayableToQSPAmount] [decimal](10, 2) NULL,
	[IsIncentive] [bit] NULL,
	[OrderDeliveryDate] [datetime] NULL,
	[RefNumber] [int] NULL,
	[PaymentBatchDate] [datetime] NULL,
	[PaymentBatchID] [int] NULL,
	[IsStaffOrder] [bit] NULL,
	[InquireUponComplete] [bit] NULL,
	[GroupProfit] [decimal](10, 2) NULL,
	[OrderID] [int] NOT NULL,
	[OrderAmntDue] [decimal](10, 2) NULL,
	[MagnetPostage] [decimal](10, 2) NULL,
	[OrderIDIncentive] [int] NULL,
	[IsInvoiced] [bit] NULL,
	[CampaignNetTotal] [decimal](10, 2) NULL,
	[DistributionCenterID] [int] NULL,
	[IsMagQueueDone] [int] NULL,
	[ProblemID] [int] NULL,
	[CheckDate] [datetime] NULL,
	[CheckNumber] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
