USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[AccountComplete]    Script Date: 06/07/2017 09:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountComplete](
	[ID] [int] NOT NULL,
	[Name] [varchar](30) NULL,
	[Address1] [varchar](25) NULL,
	[Address2] [varchar](25) NULL,
	[City] [varchar](15) NULL,
	[State] [varchar](2) NULL,
	[Zip] [varchar](6) NULL,
	[ZipPlusFour] [varchar](4) NULL,
	[AttnLine] [varchar](25) NULL,
	[AttnLinePrefix] [char](1) NULL,
	[FieldManagerNo] [varchar](4) NULL,
	[FieldManagerRegion] [varchar](2) NULL,
	[County] [varchar](15) NULL,
	[CountyCode] [varchar](3) NULL,
	[SchoolType] [varchar](2) NULL,
	[IsNational] [bit] NOT NULL,
	[PublicCatholic] [varchar](2) NULL,
	[TaxExemptNumber] [varchar](10) NULL,
	[CampaignStart] [datetime] NOT NULL,
	[CampaignEnd] [datetime] NOT NULL,
	[UnitType] [varchar](1) NULL,
	[Commission] [float] NOT NULL,
	[NationalDistrict] [varchar](2) NULL,
	[NationalFieldManager] [varchar](4) NULL,
	[SchoolDistrictName] [varchar](30) NULL,
	[NumberOfClassrooms] [int] NOT NULL,
	[NumberOfStudents] [int] NOT NULL,
	[ShipToAcctOrFM] [varchar](1) NULL,
	[NationalAccountOrg] [varchar](2) NULL,
	[UnitsComm] [money] NOT NULL,
	[UnitsCommUNL] [money] NOT NULL,
	[UABReceiptDate] [datetime] NOT NULL,
	[OrderRecvd] [bit] NOT NULL,
	[NumCommSplits] [int] NOT NULL,
	[FMSplit1] [varchar](4) NULL,
	[FMSplitPercent1] [money] NOT NULL,
	[FMSplit2] [varchar](4) NULL,
	[FMSplitPercent2] [money] NOT NULL,
	[FMSplit3] [varchar](4) NULL,
	[FMSplitPercent3] [money] NOT NULL,
	[FMSplit4] [varchar](4) NULL,
	[FMSplitPercent4] [money] NOT NULL,
	[UnitPhoneNum] [varchar](10) NULL,
	[BothParsToFM] [varchar](1) NULL,
	[OddComm] [varchar](1) NULL,
	[PurchOrdNum] [varchar](10) NULL,
	[BearAccount] [varchar](1) NULL,
	[RoyaltyPer] [money] NOT NULL,
	[GNTaxInd] [varchar](1) NULL,
	[UMMAGCOMM] [money] NOT NULL,
	[UMBMAGCOMM] [money] NOT NULL,
	[UMMUSCOMM] [money] NOT NULL,
	[UMBMUSCOMM] [money] NOT NULL,
	[UMBOACOMM] [money] NOT NULL,
	[UMBOOKCOMM] [money] NOT NULL,
	[UMNMAGCOMM] [money] NOT NULL,
	[UMNBMAGCOMM] [money] NOT NULL,
	[UMNMUSCOMM] [money] NOT NULL,
	[UMNBMUSCOMM] [money] NOT NULL,
	[UMNBOACOMM] [money] NOT NULL,
	[UMNBOOKCOMM] [money] NOT NULL,
	[OvrFMNumber] [varchar](4) NULL,
	[UMOMAGCOMM] [money] NOT NULL,
	[UMOBMAGCOMM] [money] NOT NULL,
	[UMOMUSCOMM] [money] NOT NULL,
	[UMOBMUSCOMM] [money] NOT NULL,
	[UMOBOACOMM] [money] NOT NULL,
	[UMOBOOKCOMM] [money] NOT NULL,
	[UMONMAGCOMM] [money] NOT NULL,
	[UMONBMAGCOMM] [money] NOT NULL,
	[UMONMUSCOMM] [money] NOT NULL,
	[UMONBMUSCOMM] [money] NOT NULL,
	[UMONBOACOMM] [money] NOT NULL,
	[UMONBOOKCOMM] [money] NOT NULL,
	[BillToName] [varchar](30) NULL,
	[BillTo4thAddrLine] [varchar](25) NULL,
	[BillToStreetAddr] [varchar](25) NULL,
	[BillToAttn] [varchar](25) NULL,
	[BillToCity] [varchar](15) NULL,
	[BillToState] [varchar](2) NULL,
	[BillToZip] [varchar](6) NULL,
	[BillToZip4] [varchar](4) NULL,
	[BillToPhone] [varchar](10) NULL,
	[SendLatePostcards] [varchar](1) NULL,
	[AutoRefund] [varchar](1) NULL,
	[ProduceStmts] [varchar](1) NULL,
	[ProduceColl] [varchar](1) NULL,
	[AutoAdjustOdd] [varchar](1) NULL,
	[BookletItem] [varchar](4) NULL,
	[POCode] [varchar](1) NULL,
	[ConformationsPrinted] [varchar](1) NULL,
	[PostageCharges] [varchar](1) NULL,
	[Sweeps] [varchar](1) NULL,
	[ShipInd] [varchar](1) NULL,
	[UMPARENT1] [int] NOT NULL,
	[UMFAMBOOK1] [int] NOT NULL,
	[UMNONFAM1] [int] NOT NULL,
	[UMCOUPONS1] [int] NOT NULL,
	[UMMAILDT1] [datetime] NOT NULL,
	[UMRECVDT1] [datetime] NOT NULL,
	[UMOPENIND1] [varchar](1) NULL,
	[UMPARENT2] [int] NOT NULL,
	[UMFAMBOOK2] [int] NOT NULL,
	[UMNONFAM2] [int] NOT NULL,
	[UMCOUPONS2] [int] NOT NULL,
	[UMMAILDT2] [datetime] NOT NULL,
	[UMRECVDT2] [datetime] NOT NULL,
	[UMOPENIND2] [varchar](1) NULL,
	[UMPARENT3] [int] NOT NULL,
	[UMFAMBOOK3] [int] NOT NULL,
	[UMNONFAM3] [int] NOT NULL,
	[UMCOUPONS3] [int] NOT NULL,
	[UMMAILDT3] [datetime] NOT NULL,
	[UMRECVDT3] [datetime] NOT NULL,
	[UMOPENIND3] [varchar](1) NULL,
	[UMPARENT4] [int] NOT NULL,
	[UMFAMBOOK4] [int] NOT NULL,
	[UMNONFAM4] [int] NOT NULL,
	[UMCOUPONS4] [int] NOT NULL,
	[UMMAILDT4] [datetime] NOT NULL,
	[UMRECVDT4] [datetime] NOT NULL,
	[UMOPENIND4] [varchar](1) NULL,
	[UMPARENT5] [int] NOT NULL,
	[UMFAMBOOK5] [int] NOT NULL,
	[UMNONFAM5] [int] NOT NULL,
	[UMCOUPONS5] [int] NOT NULL,
	[UMMAILDT5] [datetime] NOT NULL,
	[UMRECVDT5] [datetime] NOT NULL,
	[UMOPENIND5] [varchar](1) NULL,
	[UMPARENT6] [int] NOT NULL,
	[UMFAMBOOK6] [int] NOT NULL,
	[UMNONFAM6] [int] NOT NULL,
	[UMCOUPONS6] [int] NOT NULL,
	[UMMAILDT6] [datetime] NOT NULL,
	[UMRECVDT6] [datetime] NOT NULL,
	[UMOPENIND6] [varchar](1) NULL,
	[UMPARENT7] [int] NOT NULL,
	[UMFAMBOOK7] [int] NOT NULL,
	[UMNONFAM7] [int] NOT NULL,
	[UMCOUPONS7] [int] NOT NULL,
	[UMMAILDT7] [datetime] NOT NULL,
	[UMRECVDT7] [datetime] NOT NULL,
	[UMOPENIND7] [varchar](1) NULL,
	[UMPARENT8] [int] NOT NULL,
	[UMFAMBOOK8] [int] NOT NULL,
	[UMNONFAM8] [int] NOT NULL,
	[UMCOUPONS8] [int] NOT NULL,
	[UMMAILDT8] [datetime] NOT NULL,
	[UMRECVDT8] [datetime] NOT NULL,
	[UMOPENIND8] [varchar](1) NULL,
	[UMPARENT9] [int] NOT NULL,
	[UMFAMBOOK9] [int] NOT NULL,
	[UMNONFAM9] [int] NOT NULL,
	[UMCOUPONS9] [int] NOT NULL,
	[UMMAILDT9] [datetime] NOT NULL,
	[UMRECVDT9] [datetime] NOT NULL,
	[UMOPENIND9] [varchar](1) NULL,
	[UMPARENT10] [int] NOT NULL,
	[UMFAMBOOK10] [int] NOT NULL,
	[UMNONFAM10] [int] NOT NULL,
	[UMCOUPONS10] [int] NOT NULL,
	[UMMAILDT10] [datetime] NOT NULL,
	[UMRECVDT10] [datetime] NOT NULL,
	[UMOPENIND10] [varchar](1) NULL,
	[TaxExempt] [varchar](1) NULL,
	[GirlScoutSvcUnts] [int] NOT NULL,
	[GSPatch] [varchar](1) NULL,
	[MagNetAcctNum] [int] NULL,
	[AMFMInd] [varchar](1) NULL,
 CONSTRAINT [PK_AccountComplete] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AccountComplete] ADD  CONSTRAINT [DF_AccountComplete_AttnLinePrefix]  DEFAULT ('') FOR [AttnLinePrefix]
GO
