USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[TechnicalProblem]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalProblem](
	[CustomerOrderHeaderInstance] [int] NOT NULL,
	[TransID] [int] NOT NULL,
	[CustomerRemitHistoryInstance] [int] NOT NULL,
	[RenewalSent] [int] NULL,
	[PreviousIncident] [int] NULL
) ON [PRIMARY]
GO
