USE [QSPCanadaOrderManagement]
GO
/****** Object:  Table [dbo].[ToteRegularExtra]    Script Date: 06/07/2017 09:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToteRegularExtra](
	[ToteInstance] [int] NOT NULL,
	[BatchNumber] [int] NOT NULL,
	[BatchDate] [datetime] NOT NULL,
	[ToteBatchSeq] [int] NOT NULL,
	[TotalDollars] [numeric](10, 2) NULL,
	[NumberOfOrderForms] [int] NULL,
	[NumberOfOrders] [int] NULL,
	[SummaryFlag] [bit] NULL,
	[DataEntryMethod] [int] NULL,
	[TotalCashRcvd] [numeric](10, 2) NULL,
 CONSTRAINT [PK_ToteRegularExtra] PRIMARY KEY CLUSTERED 
(
	[ToteInstance] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 95) ON [PRIMARY]
) ON [PRIMARY]
GO
