/* Default STYLES
--------------------------------------------------------*/
body {background: #604B34;}
#TopBannerCell, #TopSubBannerCell, #LeftColumnCell,
#RightColumnCell, #FooterCell, #ContentCell, .Content {font-family: Arial, Helvetica, sans-serif}
#LeftColumnCell, #RightColumnCell, #ContentCell {vertical-align: top}
#Form2 {margin: 0; padding: 0}
#Form2 input, #Form2 select {font: 11px Arial, Helvetica, sans-serif; color: #0d0d0d; background: #fff; line-height: normal}
#PageTable { padding:5px 0 20px 0}
#PageSubTable {width: 770px; background: #EDEAE0 url(images/bn-bkgd.gif) no-repeat 0 0}
#ContentCell {height: 400px; padding: 0 33px 0 6px; background: #fff url(images/c-tile.gif) repeat-y right}
.Content, .Instructions {font-size: 11px; line-height: 17px; color: #7E6D5A; text-align: left}
.Content a {color: #604B34; text-decoration: underline}
.Content a:hover {color: #604B34; text-decoration: none}
.Messages, .ErrorMessages {font-size: 11px; font-weight: bold; color: #c00}
#Instruction1_InstructCell { background:#D5DCBA; border: 1px solid #7E6D5A; padding: 7px;}
#Instruction1_InstructCell a {color: #7E6D5A; text-decoration: underline;}
.Headings {font: 18px Georgia, "Times New Roman", Times, serif; color: #7e6d5a}
.ContentTableHeader, 
.ContentTable,
.ContentTableHorizontal {font-size: 14px; font-weight: bold; color: #7E6D5A; background: #D5DCBA}
.clear {clear:both}
.float-left {float:left}
.float-right {float:right}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.bold {font-weight:bold}
.italic {font-style:italic}
.img-left {float:left;margin:4px 10px 4px 0}
.img-right {float:right;margin:4px 0 4px 10px}
a {outline: none}
a img {border: none}

/* TopBanner Styles
--------------------------------------------------------*/
#TopBannerCell { height:105px; font-size: 11px}

#TopBannerCell .logo { background:url(images/tb-logo.gif) no-repeat; width:200px; height:105px; float:left;}
#TopBannerCell .logo img {margin: 15px 0 0 15px}

#TopBannerCell .top-nav ul { padding:0; margin:20px 0 0 0; list-style:none;}
#TopBannerCell .top-nav li { padding:0; margin:0; float:left;}
#TopBannerCell .top-nav li a { display:block; text-decoration:none; padding:2px 14px 2px 10px; background:url(images/tb-navpipe.gif) no-repeat center right; color:#604B34;}
#TopBannerCell .top-nav li a:hover {text-decoration: underline}
#TopBannerCell .top-nav li.item04 a {background: none}

#TopBannerCell .cart {color:#604B34; float:right; margin:0 18px 0 0; text-align: right}
#TopBannerCell .cart ul {list-style: none; margin: 0; padding: 0}
#TopBannerCell .cart li {display: inline}
#TopBannerCell .cart .cartnav .checkout a {text-decoration: none; background: url(images/tb-carticon.gif) no-repeat 100% 50%; color:#604B34; padding-right: 20px}
#TopBannerCell .cart .cartnav .checkout a:hover {text-decoration: underline}
#TopBannerCell .cart .cartnav {margin-bottom: 26px}
#TopBannerCell .cart .shopcart {clear: both}

/* TopSubBanner Styles
--------------------------------------------------------*/
#TopSubBannerCell {height: 7px; font-size:1px}
#TopSubBannerCell .sub-nav {display: none}

/* LeftColumnNav Styles
--------------------------------------------------------*/
#LeftColumnCell { width: 25%; background: url(images/lc-tile.gif) repeat-y left; vertical-align:top; padding-top: 8px}
#LeftColumnNav1_custommenu {width: 175px; font-size: 11px}

.search { margin:0 0 20px 0; padding: 0 0 0 37px}
.search input { width:120px; border:solid 1px #799856; font-size:11px; color:#000;}
.search a { color:#604B34; text-decoration:none;}
.search a:hover {text-decoration: underline}
.search ul {font-size: 11px; margin: 0; padding: 0; list-style: none}
.search li.head {float: left; background: url(images/lc-searchheader.gif) no-repeat 0 0; text-indent: -9999px; height: 11px; width: 150px}
.search li.textbox {float: left; width: auto}
.search li.button {clear:both; float:right; margin-left: 5px}
.search li.advsearch {clear: both; float:left;}

#LeftColumnCell ul.cartnav {display:none;}
#LeftColumnCell ul.shopcart {margin:20px 0 20px 0; padding: 0 0 0 37px; color:#604B34; font-size: 11px; list-style: none;}

.LeftColumnText a {text-decoration:none; color:#604B34; font-size:11px; line-height:22px; padding-left: 37px}
.LeftColumnText a:hover { text-decoration:underline}

/* Default Page Styles
--------------------------------------------------------*/
.default #ContentCell {padding: 0 41px 10px 14px}
.default #ContentCell .df-welcome {float: left; width: 100%}
.default #ContentCell .df-welcome h1 { font: 18px Georgia, "Times New Roman", Times, serif; color:#604B34; border-bottom: 1px solid #604b34; padding:0 0 3px 0; margin:6px 0 10px 0}
.default #ContentCell .df-welcome p { color:#9C8F80}
.default #ContentCell .df-welcome img {border: 1px solid #ccc; float:left;margin:4px 10px 4px 0}

.default #ContentCell .df-cats {float: left; margin-top: 20px; width: 100%; background:#D5DCBA;}
.default #ContentCell .df-cats h2 {margin: 5px 0 10px 0x; padding: 3px 0; text-indent: 8px; font: 16px Georgia, "Times New Roman", Times, serif;}
.default #ContentCell .df-cats ul {padding: 0; margin: 0 11px 10px 11px; list-style: none; float: left; text-align: center}
.default #ContentCell .df-cats li a {color: #7E6D5A}
.default #ContentCell .df-cats li a img {margin-bottom: 3px}
.default #ContentCell .df-cats img {border: 1px solid #ccc;}

/* Static Page Styles
--------------------------------------------------------*/
.static #ContentCell {padding: 0 41px 10px 14px}
.static #ContentCell h1 { font: 18px Georgia, "Times New Roman", Times, serif; color:#604B34; border-bottom: 1px solid #604b34; padding:0 0 3px 0; margin:6px 0 10px 0}
.static #ContentCell h2 { font: bold 14px "Times New Roman", Times, serif; color:#7E6D5A;}
.static #ContentCell h3 { font: bold 12px "Times New Roman", Times, serif; color:#7E6D5A;}
.static #ContentCell p { margin: 0 0 15px 0; font-size: 12px}

/* Footer Styles
--------------------------------------------------------*/
#FooterCell {background: #604b34 url(images/ft-bkgd.gif) no-repeat 0 0; text-align: center; font-size: 10px; padding: 70px 0 0 25px 0}

#FooterCell .menu {padding:0; margin:0 0 20px 0; text-align:center;}
#FooterCell .menu a { text-decoration:none; color:#604B34; padding:2px 15px 2px 11px; font-size:10px;}
#FooterCell .menu a:hover {text-decoration:underline;}

#FooterCell ul { padding:0; margin:26px 0 20px 0; list-style:none; text-align:center;}
#FooterCell li { display:inline; padding:0; margin:0;}
#FooterCell li a { text-decoration:none; background:url(images/ft-navpipe.gif) no-repeat center right; color:#604B34; padding:2px 15px 2px 11px;}
#FooterCell li.item05 a { background:none; margin-right: 0}
#FooterCell li a:hover { text-decoration:underline;}

#FooterCell p {color:#D5DCBA; padding:0; margin: 0 0 10px 0}
#FooterCell img {margin-top: 10px}