
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Thank you... for your interest in EZFund.com. </h1>
    <div class="row">
       <div class="col-sm-12">
          We are a Texas-based fundraising company with over 20 year's experience in frozen and non-frozen products. Cookie dough has been our number one seller for the past 5 years. We have helped schools in Texas and across the U.S. raise over $150 million in profits.
          <br /><br />
          In 2016 we became a part of Great American Opportunities together, our family of companies sum to more than 5 decades of experience in fundraising.
          <br /><br />
          EZFund has a great reputation for quality products at a good price, along with great customer service and the best delivery and follow-up system in the Fund Raising industry. We have many fundraising products and we can help your group reach its fund-raising goals. No group is too big or small. No goal is too big or small.
          <br /><br />
          Talk to one of our Fundraising Consultants TODAY. We can help you raise serious $$$!

       </div>    
    </div>
    <div class="row row-padding-lg">
        <div class="col-sm-12 text-center">
            <h2>How to Contact Us</h2>
        </div>
        
        <div class="col-sm-6">
            <strong>Mailing Address:</strong>
            <br />
            EZFund.com
            <br />
            11320 State Route 9 #701066
            <br />
            Champlain, NY 12919
        </div>
        <div class="col-sm-6">
           <strong>Phones</strong>
           <br />
           1-615-986-7513
           <br />
           1-800-991-8779  (Sales - Toll-Free)
           <br />
           1-615-986-7513  (Sales - Toll)
           <br />
           1-800-991-8779  (Help Desk - Toll-Free)
           <br />
           1-615-986-7513  (Help Desk - Toll)
           <br />
           Fax	 	1-877-275-8664
           <br />
           Email: <a ng-href="mailto:HelpDesk@ezfund.com">HelpDesk@ezfund.com</a>
        </div>
    </div>
</div>







