
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-padding-lg">
        <div class="col-sm-12 text-center">
            <h2>How to Contact Us</h2>
        </div>
        <div class="col-sm-4">
            <strong>Mailing and remittance address:</strong>
            <br />
            EZFund.com
            <br />
            PO BOX 305142
            <br />
            Nashville, TN 37230-5142
        </div>
        <div class="col-sm-4">
           <strong>Physical address:</strong>
           <br />
           EZFund.com
           <br />
           156 Lawrence Paquette
           <br />
           Industrial Drive PMW #5
           <br />
           Champlain, NY 12919
        </div>
        <div class="col-sm-4">
           <strong>Phones</strong>
           <br />
           1-615-986-7513
           <br />
           1-800-991-8779  (Sales - Toll-Free)
           <br />
           1-615-986-7513  (Sales - Toll)
           <br />
           1-800-991-8779  (Help Desk - Toll-Free)
           <br />
           1-615-986-7513  (Help Desk - Toll)
           <br />
           Fax	 	1-877-275-8664
           <br />
           Email: <a ng-href="mailto:HelpDesk@ezfund.com">HelpDesk@ezfund.com</a>
        </div>
    </div>
</div>