
@{
    ViewBag.Title = "Fundraising Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Full Service Fundraising</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            EZFund.com is a 14-year-old Full Service Fundraising Company with satisfied customers from coast to coast.  We work with public & private schools, preschools, daycares, cheerleaders, sports groups, band, choirs, scouts, church groups... no group is too big or too small.
            <br />
            We offer a variety of Top Quality Products - frozen cookie dough, cinnamon rolls, pretzels, brownies & more.  Our candles, gourmet beverages, snacks, flower bulbs and and Dodo Bag fundraisers have low minimum orders for FREE shipping.  Prepacking by student & classroom is offered on many of our programs.
            <br />
            Our knowledgeable, friendly Fundraising Consultants will guide you every step of the way!  We have a tried & true Delivery System that sets us apart from other fundraising companies!  For our frozen food fundraisers, you will receive a Kick-Off & Delivery DVD that will guide you with helpful instructions from the beginning to the end of your sale.
            <br />
            Our Selling Kits are supplied, FREE of charge, including product brochures, incentive prize brochures and money collection envelopes.  We will provide customized Parent Letters for your school (bilingual, upon request) and will assemble your selling kits for you!
            <h3 class="text-center">100% Customer Satisfaction Guaranteed!</h3>
        </div>
    </div>
</div>

