
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            <h3 class="text-center">Buttons/Badges</h3>
            <a ng-href="http://www.badgeaminit.com/">Badge-A-Minit</a> - Take a look around at the exciting world of button-making.
            <h3 class="text-center">Apparel</h3>
            <a ng-href="http://www.highschoolapparel.com/">HighSchoolApparel.com</a>  - Ready to help you with the apparel fundraising or sales campaign of your school or organization.
            <br />
            <a ng-href="http://www.stitchware.com/">StitchWare</a> - Custom embroidered nylon products. Fundraising - Awards - Momentos
            <h3 class="text-center">Miscellaneous</h3>
            <a ng-href="http://www.bat-a-thon.com/">Bat-A-Thon</a> - We can show you how to raise big bucks if you are a youth baseball organization with kids up to 12 years of age.
            <br />
            <a ng-href="http://www.churchontheweb.com/">ChurchontheWeb.com</a> - International Directory
            <br />
            <a ng-href="http://www.k12news.com/">K12news.com</a> - News headlines updated 24/7 - Find exciting new quality resources for educators, parents & students with kids up to 12 years of age.
            <h3 class="text-center">Batteries</h3>
            <a ng-href="http://www.interstatebatteries.com/fundraising/">Interstate Batteries</a> - A practical, profitable fundraising program that offers useful, everyday products such as alkaline batteries, battery tester/organizers and flashlights.
            <br />
            <a ng-href="http://www.kicknpower.com//fundraising.html">Kickn-Power Batteries</a> - Offers fundraising with the coolest alkaline batteries around.
            <h3 class="text-center">Toys & Games</h3>
            <a ng-href="http://www.hartentertainment.com/">Hart Entertainment, Inc.</a> - Rentals of Interactive games & amusements including dunk tanks, carnival games, inflatable rides, rock climbing, mini golf, arcade amusements, food carts and more for special events and fundraisers.
            <h3 class="text-center">Food/Snacks</h3>
            <a ng-href="http://www.clairesgourmet.com/">Claire's Gourmet</a>  - Claire's Gourmet cakes are so good, you will want to recommend them to everyone you love!
            <h3 class="text-center">Books</h3>
            <a ng-href="http://personallyyoursbooks.com/">Personally Yours Books</a> - Our Books Make Super Gifts At Affordable Prices! High quality Laser Printing ONLY! NO Stickers used here. We boast the most lucrative personalized book fundraiser available.
            <h3 class="text-center">Cookbooks</h3>
            <a ng-href="http://www.cookbookprinter.com/">Rasmussen Company</a> - The Cookbook Printer - We print fundraising cookbooks for churches, schools, PTA's, auxiliaries, charities, civic organizations, hospitals, personal care homes, employee groups, etc.
            <br />
            <a ng-href="http://www.cookbookco.com/">The Cookbook Company</a> - There are many cookbook publishing companies but they are usually only cost efficient if you are doing a large number of books. We specialize in smaller quantity requests.
            <br />
            <a ng-href="http://www.cookbookoriginals.com/">Cookbook Originals</a> - Our process is designed to make the cookbook publishing experience fun and enjoyable for you and your organization.
        </div>
    </div>
</div>
            

            

            
           

            

            

            

            

            

