
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>EZFund.com Privacy Policy</h2>
    <div class="row row-padding-lg">
        <div class="col-sm-12">
            <strong>Privacy statement:</strong>
            <br />
            EZFund.com takes the privacy of our visitors very seriously and wants you to feel comfortable whenever you visit our web site, access our online services, or participate in our online offerings.  EZFund.com periodically communicates its "Special" offerings in a short email.  EZFund.com respects your email rights and will not disclose your email address to any third party.  If at any time you wish to be removed from the EZFund.com list, please email Info@ezfund.com or call 1-800-991-8779 or 1-615-986-7513.
        </div>
    </div>
</div>
            

