
@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = "Sitemap - EzFund.com";
    ViewBag.Description = "Contact us with your questions.  Our Customer Service and Fundraising consultants are available to help you.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Site map</h1>
<div class="row">
    <div class="col-sm-12">
        @Html.MvcSiteMap().SiteMap()
    </div>
</div>

