@using System.Configuration
@{
   Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="container-fluid">
    <div class="lp">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/images/products/beef/banner_beefjerky.jpg" alt="beef jerky" style="margin: auto;display: block;" class="img-fluid" />
            </div>
        </div>
        <div class="row" style="margin-bottom:50px">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;margin: auto;display: block;">
                <br />
                <h2>BEEF JERKY</h2>
                As one of America's favorite treats, Beef Jerky makes an excellent fundraising product for any organization! It’s also a suitable fundraiser for Sports groups that might prefer Beef Jerky over other food fundraisers. It's also worth noting that because jerky is dried, it lasts a really long time, so your supporters can buy in bulk without  worrying the treats will spoil. Remind your donors of this, and you might be surprised how much they spend!
            </div>

        </div>


        <div class="d-flex justify-content-evenly flex-wrap">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/beef/40025.jpg" alt="Jack Links – 1.5oz Stick - Original" class="img-thumbnail"><br />
                    <span>Jack Links – 1.5oz Stick - Original</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/40025.jpg" alt="Jack Links – 1.5oz Stick - Teriyaki" class="img-thumbnail"><br />
                    <span>Jack Links – 1.5oz Stick - Teriyaki</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/40025.jpg" alt="Jack Links – 1.5oz Stick - Pepperoni" class="img-thumbnail"><br />
                    <span>Jack Links – 1.5oz Stick - Pepperoni</span>
            </div>

        </div>



        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/beef/40028.jpg" alt="Jack Links – 1.5oz Stick – Hot & Spicy" class="img-thumbnail"><br />
                    <span>Jack Links – 1.5oz Stick – Hot & Spicy</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/75.jpg" alt="Jack Links - 0.85 oz Original" class="img-thumbnail"><br />
                    <span>Jack Links - 0.85 oz Original</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/76.jpg" alt="Jack Links - 0.85 oz Teriyaki" class="img-thumbnail"><br />
                    <span>Jack Links - 0.85 oz Teriyaki</span>
            </div>

        </div>

        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/beef/77.jpg" alt="Jack Links - 0.85 oz Peppered" class="img-thumbnail"><br />
                    <span>Jack Links - 0.85 oz Peppered</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/40029.jpg" alt="Jack Links - 0.8 oz Beef Steaks Original" class="img-thumbnail"><br />
                    <span>Jack Links - 0.8 oz Beef Steaks Original</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/beef/40030.jpg" alt="Jack Links - 0.8 oz Beef Steaks Teriyaki" class="img-thumbnail"><br />
                    <span>Jack Links - 0.8 oz Beef Steaks Teriyaki</span>
            </div>

        </div>


        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/beef/40031.jpg" alt="Jack Links - 0.8 oz Beef Steaks Peppered" class="img-thumbnail"><br />
                    <span>Jack Links - 0.8 oz Beef Steaks Peppered</span>
            </div>

        </div>
</div>
    </div>

