@using System.Configuration
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container-fluid">
    <div class="lp">

        <div class="row" style="margin-bottom:50px">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;margin: auto;display: block;">
                <br />
                <h2>COOKIE DOUGH</h2>
                IN-DEY-GO is a 100% Canadian-owned and operated business. We are committed to sourcing over 70% of our ingredients locally and from Canadian suppliers. 
                IN-DEY-GO Cookie Dough fundraiser makes it easy for your supporters to enjoy fresh baked, homemade quality cookies.
            </div>

        </div>

        <div class="d-flex justify-content-evenly flex-wrap">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/cookies/91003.jpg" alt="Cookie Dough" class="img-thumbnail"><br />
                <span>Cookie Dough</span>
            </div>
            
        </div>



    </div>

    </div>

