@using System.Configuration
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="container-fluid">
    <div class="lp">

        <div class="row" style="margin-bottom:50px">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;margin: auto;display: block;">
                <br />
                <h2>Smencils</h2>
                Smencils are No. 2 scented pencils made completely from recycled newspapers.
                They come in awesome scents lasts for up to two years. Children love to collect the various designs and scents. We also offer Smens and a variety of scented accessories.
            </div>

        </div>

        <div class="d-flex justify-content-evenly flex-wrap">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/79.jpg" alt="$1 Original Smencils" class="img-thumbnail"><br />
                <span>$1 Original Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/122.jpg" alt="Sports Smencils" class="img-thumbnail"><br />
                <span>Sports Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/82002.jpg" alt="Crayola Smencils" class="img-thumbnail"><br />
                <span>Crayola Smencils</span>
            </div>

        </div>


        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/40032.jpg" alt="Gamer Smencils" class="img-thumbnail"><br />
                <span>Gamer Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/smart.jpg" alt="Smart Smencils" class="img-thumbnail"><br />
                <span>Smart Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/soda_shop.jpg" alt="Soda Shop Smencils" class="img-thumbnail"><br />
                <span>Soda Shop Smencils</span>
            </div>

        </div>




        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/birthday.jpg" alt="Birthday Smencils" class="img-thumbnail"><br />
                <span>Birthday Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/815.jpg" alt="Spooky Smencils" class="img-thumbnail"><br />
                <span>Spooky Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/816.jpg" alt="Holiday Smencils" class="img-thumbnail"><br />
                <span>Holiday Smencils</span>
            </div>

        </div>



        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/818.jpg" alt="Sweet Heart Smencils" class="img-thumbnail"><br />
                <span>Sweet Heart Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/817.jpg" alt="Spring Smencils" class="img-thumbnail"><br />
                <span>Spring Smencils</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/91008.jpg" alt="Mechanical Smencils" class="img-thumbnail"><br />
                <span>Mechanical Smencils</span>
            </div>

        </div>



        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/818.jpg" alt="Sketch &amp; Sniff Gel Crayons" class="img-thumbnail"><br />
                <span>Sketch &amp; Sniff Gel Crayons</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/817.jpg" alt="Glitter Gel Grip Smens" class="img-thumbnail"><br />
                <span>Glitter Gel Grip Smens</span>
            </div>
            <div style="text-align: center;font-weight:bold ">
                <img src="~/Content/images/products/smencils/91008.jpg" alt="Tri-Color Gel Grip Smens" class="img-thumbnail"><br />
                <span>Tri-Color Gel Grip Smens</span>
            </div>

        </div>



        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/44000.jpg" alt="Neon Gel Grip Smens" class="img-thumbnail"><br />
                <span>Neon Gel Grip Smens</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/air_dough.jpg" alt="Air Dough" class="img-thumbnail"><br />
                <span>Air Dough</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/backpack_buddies.jpg" alt="Backpack Buddies" class="img-thumbnail"><br />
                <span>Backpack Buddies</span>
            </div>

        </div>

        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/dino_dudes.jpg" alt="Dino Dudes" class="img-thumbnail"><br />
                <span>Dino Dudes</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/pencil_pouches.jpg" alt="Pencil Pouches" class="img-thumbnail"><br />
                <span>Pencil Pouches</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/plush_crush.jpg" alt="Plush Crush" class="img-thumbnail"><br />
                <span>Plush Crush</span>
            </div>

        </div>

        <div class="d-flex justify-content-evenly flex-wrap" style="margin-top:2%">
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/Smickers.jpg" alt="Smickers" class="img-thumbnail"><br />
                <span>Smickers</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/Smillows.jpg" alt="Smillows" class="img-thumbnail"><br />
                <span>Smillows</span>
            </div>
            <div style="text-align: center;font-weight:bold;">
                <img src="~/Content/images/products/smencils/20000.jpg" alt="Keys" class="img-thumbnail"><br />
                <span>Keys</span>
            </div>

        </div>


    </div>

    </div>

