@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid px-0">
    <div class="row" style="padding-left: 0; padding-right: 0;">
        <div class="col-md-12">
            <img src="~/Content/images/homepage/qsp-banner.jpg" alt="qsp banner" class="mx-auto d-block img-fluid" />
        </div>
    </div>
    </div>
    <div style="margin-top:2%"></div>
    <div class="row">
        <div class="col-md-12"></div>
        <h2 class="text-center">MAGAZINES</h2>
    </div>

    <div style="margin-top:2%"></div>
    <div class="d-flex justify-content-evenly flex-wrap">
        <div style="text-align: center">
            <img src="~/Content/images/homepage/jacklinks.jpg" /><br />
            FAMILY<br />
            Great selection for the entire family
        </div>
        <div style="text-align: center">
            <img src="~/Content/images/homepage/jacklinks.jpg" /><br />
            FUN<br />
            Any titles you want , from beauty trends to sports
        </div>
        <div style="text-align: center">
            <img src="~/Content/images/homepage/jacklinks.jpg" /><br />
            READING<br />
            Great selection for everyone young and older
        </div>
    </div>


    <div class="row" style="margin-top:3%">
        <div class="col-md-12"></div>
        <h2 class="text-center">LASTEST FUNDRAISING PRODUCTS</h2>
    </div>

    <div style="margin-top:2%"></div>
    <div class="d-flex justify-content-evenly flex-wrap">
        <div style="text-align: center;font-weight:bold ">
            <a href="/Products/BeefJerky" title="beef jerky" style="color:black; text-decoration:none">
                <img src="~/Content/images/homepage/jacklinks_homepageimage.jpg" alt="beef jerky"/><br />
                JACK LINKS
                </a>
        </div>
        <div style="text-align: center;font-weight:bold ">
            <a href="/Products/lollipops" title="lollipops" style="color:black; text-decoration:none">
                <img src="~/Content/images/homepage/lollipops_homepageimage.jpg" alt="lollipops"/><br />
                LOLLIPOPS
            </a>
        </div>
        <div style="text-align: center;font-weight:bold ">
            <a href="/Products/smencils" title="smencils" style="color:black; text-decoration:none">
                <img src="~/Content/images/homepage/smencils_homepageimage.jpg" alt="smencils"/><br />
                SMENCILS
            </a>
        </div>
    </div>

    <div style="margin-top:2%"></div>
    <div class="d-flex justify-content-evenly flex-wrap">
        <div style="text-align: center;font-weight:bold ">
            <a href="/Products/cookies" title="COOKIE DOUGH" style="color:black; text-decoration:none">
                <img src="~/Content/images/homepage/cookiedough_homepageimage.jpg" alt="COOKIE DOUGH"/><br />
                COOKIE DOUGH
                </a>
        </div>
        <div style="text-align: center;font-weight:bold ">
            <a href="/Products/Shiptohome" title="Ship to home" style="color:black; text-decoration:none">
                <img src="~/Content/images/homepage/STH_homepageimage.jpg" /><br />
                SHIP TO HOME
                </a>
        </div>

    </div>

