vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Aug 2004 22:37:50 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{F279815D-6230-4624-9AFD-47688D3CEC18}
vti_backlinkinfo:VX|Beef_Jerky/beef_jerky.htm
vti_syncwith_localhost\\c\:\\documents and settings\\fin_jhs\\my documents\\ez/c\:/documents and settings/fin_jhs/my documents/ez:TR|11 Dec 2003 17:49:42 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\fin_jhs\\my documents\\ezupgrade/c\:/documents and settings/fin_jhs/my documents/ezupgrade:TR|19 Jan 2004 23:06:39 -0000
vti_cacheddtm:TX|06 Aug 2004 22:37:50 -0000
vti_filesize:IR|767
