<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessCalendar.Properties.Settings.QSPFulfillmentConnectionString"
            connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>