<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderExpressClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OrderExpressClient.Properties.Settings>
            <setting name="OrderExpressClient_com_qsp_ws_EfundraisingServices"
                serializeAs="String">
                <value>http://ws.qsp.com/QSP.OrderExpress.Efundraising/Service.svc</value>
            </setting>
        </OrderExpressClient.Properties.Settings>
    </applicationSettings>
</configuration>