@using System.Configuration
@{
    ViewBag.Title = "Business Opportunity";
    ViewBag.Description = "Business Opportunity";
    ViewBag.Keywords = "Business Opportunity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"  style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h3>Business Opportunity</h3><br />
         Are you looking for a way to complement your existing income? Or are you seriously contemplating a career change? If you have a desire to contribute to your community, please read on!
        <br /><br />
        The fundraising market is larger than it has ever been, with non-profit groups raising billions of dollars each year. Within this niche market, we have created an opportunity for community-minded leaders who have a desire to develop their own spare-time or full-time business. Now is your chance to take advantage of one of the most exciting and rewarding opportunities available today!
        <br /><br />
        The Give ‘N’ Take Scratch Card Program has already helped thousands of sports teams, school groups, churches and other non-profit groups raise millions of dollars quickly and easily!
        <br /><br />
        By becoming a fundraising agent and promoting this program to local groups in your area, you’ll offer your clients:
        <br /><br />
        <h4>Up to 90% profit!</h4>
        Over 30 customized Scratch Cards for any group type!<br />
        Proven coupon offers from national sponsors including Pizza Hut, A&W and many more!
        <br /><br />
        <h4>And you’ll benefit too:</h4>
        Competitive commission on all paid sales!<br />
        No inventory or deliveries to deal with!<br />
        Ongoing training and support!<br />
        Minimal start-up fee (reimbursed after first sale)!<br />
        The possibility of earning over $8,000 a month!<br />
        <br /><br />
        <h4>How much money can you make?</h4>
            Earn as much as $1,700 a month working part-time as a fundraising agent, or more than $8,400 as a full-time agent representing the Give ‘N’ Take Scratch Cards! With our increasing commission scale, you’re always shooting for a higher return on your sales.
        <br /><br />
            <h4>How does the program work?</h4>
            Each member of a fundraising group (school, team, church or association) receives a Give 'N' Take Scratch Card with 30 or 60 scratch spaces on it. Donors scratch one or more dots to reveal the amount of their donation to the fundraising organization. In exchange, donors receive an exclusive coupon sheet from major national retailers, including offers from Pizza Hut, A&W, most major movie theaters and many more! A valuable “Thank You” gift for such a small donation! Once all the dots are uncovered, the card will have raised $100.
        <br /><br />
            We are expanding fast, so we need honest, diligent people to represent the Give ‘N’ Take Fundraising Program! We have been marketing and refining the program for the past 15 years with excellent results and we are inviting you to join us.
        <br /><br />
            If you’d like to have your own part-time or full-time fundraising business and you want to enrich your life financially and socially, contact us.
        <br /><br />
            <strong>Call us toll-free at 1-866-517-2372 for more details on how to become a Fundraising Agent</strong>



</div>



</div>
