@using System.Configuration
@{
    ViewBag.Title = "FAQs";
    ViewBag.Description = "FAQs";
    ViewBag.Keywords = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h3>Frequently Ask Questions</h3>
        <br />
        Experienced fundraising consultants and friendly customer service representatives are available to answer all your questions when you call 1.866.342.3863, but your answer may already be answered right here!
        <br /><br />
        
        <h4> How do I get started?</h4>
        Your first step is to order your Free Sample Kit. Once it’s in your hands, you’ll have everything you need to make your plan, order products and sell, sell, sell!
        <br /><br />
        <h4> How do I know I’ll get the service my group deserves?</h4>
        Our guarantee promises you that. We have a team of experienced fundraising consultants and customer service representatives available to help you throughout your fundraising campaign. And, if ever you are not satisfied with any aspect of our service, we urge you to let us know. After all, we won’t know what to fix if we don’t know what’s broken! 100% commitment to your campaign – guaranteed!
        <br /><br />
        <h4> What kind of groups do you work with?</h4>
        All kinds: students, educators, sports teams, religious organizations, community centers, and other non-profit groups. It doesn’t matter what kind of group you’re in, all that matters is that you need to raise money!
        <br /><br />
        
        <h4> What types of Scratchcards do you have?</h4>
        You can personalize your cards with your group picture on the cover. Or if you do not have your own picture, you can choose from over 30 Scratchcards that we offer, including general, American flag, church, band, music, school, elementary school, high school, university/varsity, scouts, nature, basketball, softball, hockey, soccer, cheerleading, volleyball, football, baseball, gymnastics, swimming, wrestling, martial arts, track & field, dance, bowling, lacrosse, girls basketball and football/cheerleading cards.
        <br /><br />
        <h4>Can I order personalized Scratchcards?</h4>
        Of course! We will put your group name on each card, as well as your group picture and/or logo if you wish.
        <br /><br />
        <h4>How many dots can be scratched on each card?</h4>
        You can choose from 30-dot or 60-dot cards.
        <br /><br />
        <h4> What are the donation amounts per dot?</h4>
        The donation amounts range from FREE to $2.50 on the 60-dot cards and from $1 to $5 on the 30-dot cards, for a potential of $100 raised per card.
        <br /><br />
        <h4> What do the donors get in return?</h4>
        Supporters receive a valuable coupon sheet as a thank you for their donation. Our brand name national sponsors include Pizza Hut, KFC, Cineplex Odeon Theatres and many more! Each card contains 60 coupon sheets (1 for each dot).
        <br /><br />
        <h4> What is the size of a Scratchcard?</h4>
        Each card folds up into a 4” X 6” card you can easily carry in your pocket!
        <br /><br />
        <h4> What is the cost of the Scratchcards?</h4>
        The cost per Scratchcard is $20. Taxes are not included, if applicable.
        <br /><br />
        <h4> What is the profit?</h4>
        You can earn up to 90% profit with Scratchcards.
        <br /><br />
        <h4> Is there a minimum requirement?</h4>
        The minimum requirement is 10 cards.
        <br /><br />
        <h4> Do you have a return or refund policy?</h4>
        You are responsible for verifying all orders upon delivery - all damaged products should be refused at that time. No returns or refunds will be accepted after order is signed for.
        <br /><br />
        <h4> How do I pay for my order?</h4>
        For online orders, we accept Visa, Master Card, American Express or Discover. For phone orders, we accept checks, credit cards, CODs or POs (for schools only).
        <br /><br />
        <h4>How long will it take to ship my order and how much does it cost?</h4>
        Allow a minimum of 6 to 7 business days for delivery. Shipping is free for all Scratchcard orders. Rush delivery is available upon request (extra shipping fees will apply).
        <br /><br />
        All shipping information is for orders shipped to the Continental US only. For more information on orders shipped outside the Continental US, please call 1-866-385-1128.
        </div>
    </div>
