@using System.Configuration
@{
    ViewBag.Title = "Payment & Shipping";
    ViewBag.Description = "Payment & Shipping";
    ViewBag.Keywords = "Payment & Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h3>Payment &amp; Shipping</h3><br />
        To facilitate your ordering process, here is a list of accepted payment methods.
        Call 1.866.342.3863 for more information or to place your order.
        <br /><br />
        <h4>Payment Up-front</h4>
        <strong>Credit Card:</strong><br />
        <ul>
            <li>Visa, Master Card, American Express, Discover accepted Check or Money Order:</li>
            <li>
                Phone: Call toll-free at the number above to order and give your checking information. A withdrawal will be done, with your approval.
            </li>
            <li>
                Mail: Send a check or money order for the total amount of your order, and once it is received, we will contact you to confirm the order. All checks and money orders can be made out to Scratchcard.com and sent to 156 Lawrence Paquette Drive, PMW #5, Champlain, NY, 12919 .
            </li>
            
        </ul>
        <br />
        <h4>Payment 30-Day Net</h4>
        <strong>Check:</strong>
        <ul>
             <li>
                Purchase Orders (for schools only): Fax a copy of the purchase order issued by the school stating that the order will be paid within 30 days, and if approved, we’ll send your order.
            </li>
            <li>
                All prices listed on the site are subject to change. Taxes not included in prices, if applicable.
            </li>
        </ul>


        <br />
                <h4>SHIPPING INFORMATION</h4>

        <strong>To facilitate your ordering process, here is the shipping information for Scratchcard orders:</strong>
        <ul>
            <li>
                All shipping information is for orders shipped to the Continental US only. For more information on orders shipped outside the Continental US, please call 1-866-385-1128.
               </li>
            <li>
                You are responsible for verifying all orders upon delivery - all damaged products should be refused at that time. No returns or refunds will be accepted after order is signed for.
                </li>
                <li>We are unable to ship products to a post office box address.
                    </li>
                <li>Minimum order is 10 cards.</li>
                <li>Allow a minimum of 4 to 5 business days for delivery. Rush delivery available upon request (extra fees apply) - please call 1.866.342.3863.</li>
                <li>Shipping is free for all orders.</li>
            </ul>
    </div>
    </div>

