@using System.Configuration
@{
    ViewBag.Title = "Tips";
    ViewBag.Description = "Tips";
    ViewBag.Keywords = "Tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h3>Tips For Your Organization</h3>
        <br />
        <h4>1. Planning your campaign</h4>
        There are four important steps to consider when planning your Scratchcard fundraiser:
        <br /><br />
        <strong>Set an objective:</strong><br />
        The objective you set for your group should include a financial figure, as well as a tangible element – it’s more than just choosing a dollar figure! It’s important to state your goal clearly. The best way to rally your group is to write it down. We suggest a simple, effective formula:
        We must raise $________ to pay for our ______ and our _____.
        <br /><br />
        <strong>Set a deadline:</strong><br />
        Your campaign should run a maximum length of 1-2 weeks. Keeping the campaign short will keep your participants motivated and on track.
        <br /><br />
        <strong>Know your group:</strong><br />
        Knowing how many of your group members will be participating in the fundraiser is important, since it will help you organize a selling strategy (see below).
        <br /><br />

        <strong>Keep it organized:</strong><br />
        A great idea is to ask the participants to pay for their Scratchcards up-front. This will motivate them to earn their money back – and more! For example, if you needed to average $40 per card to reach your goal, sell each card for $60 (that’s $40 + the $20 cost per Scratchcard). With up to $100 per card, you’ll reach your goal and then some!
        <br /><br />
        <h4>2. Communication</h4>
            Keep your participants updated every step of the way - information is the key to success! Here are some ideas:
        <br /><br />
        <strong>Letters to participants/parents:</strong><br />
            It is important to keep your participants and/or their parents informed at all times about the fundraiser, as well as their children's roles in the campaign.
        <br /><br />
            An awareness letter should be sent out to participants/parents 2-4 weeks before the beginning of the campaign, giving general information about the fundraiser.
            A general letter handed out with the Scratchcards should include the information outlined in the above 'Planning' section.
        <br /><br />
            A wrap-up letter, distributed one week before the end of the fundraiser, that outlines progress to date and further motivates your group.
        <br /><br />
            Also, send out a summary letter 1-2 weeks after the fundraiser to report the results, to thank everyone for their support, and to clearly explain what the funds will be used for.
        <br /><br />
        <strong>Motivate your group:</strong><br />
            It is important to maintain close and constant contact with your group members, and to motivate and encourage them consistently. Being a positive role model for the group is also important, not only in terms of how much money you raise, but also in terms of how much time and effort you put into your fundraiser to make it a success. If they see you’re putting in the effort, your group will want to follow your positive lead!
        <br /><br />
            <h4>3. Incentive prizes</h4>
            Not all fundraising campaigns need additional incentives to motivate the participants. If a baseball team needs to raise $75 per player to be able to participate in a tournament, the incentive is already there. With many campaigns, however, this is not the case. To secure great prizes that are fun, align yourself with your key supporters. Sometimes, all you’ve got to do is ask and people will be happy to supply you with amazing loot you can use to motivate!
        <br /><br />
            The following are some ideas intended to help get your participants motivated.
        <br /><br />
            <strong>Individual completion prizes:</strong><br />
            Everyone who completes a Scratchcard receives a prize, for example a cash prize, movie tickets, or a Blockbuster Gift Card.
        <br /><br />
            <strong>Bestseller prizes:</strong>
    <br />
    Offer a prize to the individual who raises the most money, or completes the most cards.
    <br /><br />
    <strong>Draw prizes:</strong>
    <br />
    Every participant who completes a card is entered into a drawing for cash prizes or other merchandise.
    <br /><br />
        <strong>Early Bird prizes:</strong><br />
    Offer something great to the person who reaches a specific goal in a shorter period of time. Tested to work time and time again.
    <br /><br />
        <strong>Intangible prizes:</strong><br />
    These are often the most effective for the participants since they are the most fun, and as a result, create the most incentive. Be creative and make a promise to your group that only you can keep! For example, let your group decide that you should sleep in the gym, or the middle of your team’s field, or the roof of your school if they achieve their goal!
    <br /><br />
    As another idea, group leaders can agree to let participants throw pies in their faces if they reach their fundraising goal.
    <br /><br />
    <h4>TIPS FOR THE PARTICIPANTS</h4>
     <strong>How to approach donors:</strong><br />
    The manner in which a potential donor is approached may determine whether or not a donation will be made. Try this simple but effective approach:
    <br /><br />
    Hello, my name is ____________, and I'm raising money for ___________.
    The way our fundraiser works is simple: You scratch off as many dots as you wish, and the sum of the amount uncovered is your total donation. In return for your donation, I will give you a sheet containing money saving coupons from some of your favorite stores and restaurants.
    Would you like to support our group?
    Thank you for your generosity, and have a nice day.
    Key things to remember:
    <br /><br />
    List as many potential donors as you can before you begin approaching people for support. Start with family and friends, then proceed to your neighbors,
    and other people who you feel would be interested in your cause.
    Know why your group is holding the fundraiser, and communicate this to potential donors. For example, "Our group is raising money in order to finance our trip to the annual tournament."Make sure your supporters understand how the Scratchcard works. Smile and be polite. Always carry your card with you: you never know when
    you could meet a potential donor!




</div>



    </div>
