<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <system.serviceModel>
      <client>
         <endpoint name="StoreServiceClient"
                   address="net.tcp://dev.gacore.int/Server/StoreService.svc/intranet"
                   xdt:Transform="SetAttributes(address)"
                   xdt:Locator="Match(name)" />
         <endpoint name="DispatchClient"
                   address="net.tcp://dev.appservices.int/server/DispatchService.svc/intranet"
                   xdt:Transform="SetAttributes(address)"
                   xdt:Locator="Match(name)" />
      </client>
   </system.serviceModel>
</configuration>