<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <swCorporate.systemEx.messaging xdt:Transform="Replace">
    <instrumentation applicationName="GA.BDC.Web.MGP"
                     messageQueueHost="SQLP08"
                     messageQueueAceTrusteeList="SNA\Trusted Corporate PROD Messaging Principals" />
  </swCorporate.systemEx.messaging>
   <connectionStrings xdt:Transform="Replace">
      <add name="esubs_global_v2" connectionString="Data Source=GASQLP02;Initial Catalog=esubs_global_v2;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
      <add name="EFRCommon" connectionString="data source=GASQLP02;initial catalog=EFRCommon;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
      <add name="EFundraisingProd" connectionString="Data Source=MONQSPMVA2;Initial Catalog=EfundraisingProd;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
      <add name="EFundWeb" connectionString="Data Source=GASQLP02;Initial Catalog=eFundWeb;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
      <add name="FastFundraising" connectionString="Data Source=GASQLP02;Initial Catalog=fastfundraising;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
      <add name="EFRECommerce" connectionString="Data Source=GASQLP02;Initial Catalog=EFRECommerce;Integrated Security=True;Application Name=GA.BDC.Web.MGP;" providerName="System.Data.SqlClient" />
   </connectionStrings>
   <searchEngineOptimizationSettings xdt:Transform="Replace">
      <robotPolicySettings>
         <robotPolicyRecord field="User-Agent" value="*" />
         <robotPolicyRecord field="Disallow" value="/Content/" />
         <robotPolicyRecord field="Disallow" value="/Scripts/" />
         <robotPolicyRecord field="Disallow" value="/temp/" />
         <robotPolicyRecord field="Disallow" value="/Error/" />
      </robotPolicySettings>
   </searchEngineOptimizationSettings>
   <appSettings>
      <add key="allowHttpsOnly" value="true"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
      <add key="SendReport.Email" value="efr-mis-efund@qsp.com,dawn_litton@qsp.com,bdcdevelopers@fundraising.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
      <add key="Fundraising.Domain" value="http://fundraising.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="facebookAppID" value="470107796453192" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="facebookAppSecret" value="03b419a96ebee2183c3967aad762cf52" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="twitterConsumerKey" value="0kKMHeL7RDZNq8CJEvMZilypU" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="twitterConsumerSecret" value="jDn16XR0UKIowWDAxzhkfe4S56eHNL9bkzTjHxsOpSPxIO48yo" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="GoogleAnalyticsTrackingId" value="UA-6620752-2" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="BootstrapCssHref" value="/Content/bootstrap.min.css" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />      
      <add key="UnitedAirlines.EventId" value="1564281" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="MBFinancial.EventId" value="1567860" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="InVestUsa.EventId" value="1628142" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="CharityFundApproach.EventId" value="1576459" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="ScholarshipFundApproach.EventId" value="1576458" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="AlumniAssociationApproach.EventId" value="1579367" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="CysticFibrosisFoundation.EventId" value="1580085" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
      <add key="RaceWalkApproach.EventId" value="1580595" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
   <add key="fundraising.webapi.host" value="https://api.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="core.webapi.host" value="https://core.fundraising.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
   </appSettings>
   <applicationSettings>
      <GA.BDC.Web.MGP.Properties.Settings>
         <setting name="YahooConsumerKey" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>dj0yJmk9SloxR3NyTGM3TmtXJmQ9WVdrOWFuTnJjSE0wTjJjbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1mMQ--</value>
         </setting>
         <setting name="YahooConsumerSecret" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>044eb9510dac6fd5315ebc6dc8f46302cc6319db</value>
         </setting>
         <setting name="GoogleClientIdentifier" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>34406547756-7397auosogs5e7gmm6vjk0mvevhbia6l.apps.googleusercontent.com</value>
         </setting>
         <setting name="GoogleClientSecret" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>ryzz5NhjLa_oXmmZipy0v2Fj</value>
         </setting>
         <setting name="GoogleCallBackLogin" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>https://www.efundraising.com/Security/LoginExternalCallback?providerName=Google</value>
         </setting>
         <setting name="GoogleCallBackCampaign" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>https://www.efundraising.com/CampaignManager/OAuthCallback?provider=Google</value>
         </setting>

         
      </GA.BDC.Web.MGP.Properties.Settings>
   </applicationSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="~/Error/500" mode="On" xdt:Transform="Replace">
      <error redirect="~/Error/404" statusCode="404" />
      <error redirect="~/Error/403" statusCode="403" />
    </customErrors>
    <sessionState stateConnectionString="tcpip=GASTATE01:42424" xdt:Transform="SetAttributes(stateConnectionString)"/>
   </system.web>
   <system.serviceModel>
      <client>
         <endpoint name="StoreServiceClient"
                   address="net.tcp://prod.gacore.int/Server/StoreService.svc/intranet"
                   xdt:Transform="SetAttributes(address)"
                   xdt:Locator="Match(name)" />
         <endpoint name="DispatchClient"
                   address="net.tcp://prod.appservices.int/server/DispatchService.svc/intranet"
                   xdt:Transform="SetAttributes(address)"
                   xdt:Locator="Match(name)" />
      </client>
   </system.serviceModel>
</configuration>