<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="efundraising.EFundraisingCRM.Properties.Settings.eFundraisingProdConnectionString1"
            connectionString="Data Source=CAEFR3K01-DEV;Initial Catalog=eFundraisingProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString1"
            connectionString="Data Source=CAEFR3K01-DEV\SQL2005;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString"
            connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString2"
            connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;User ID=QSPEcommerce"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString3"
            connectionString="Data Source=qspdevdb1\qsp;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.efundraisingprodConnectionString"
            connectionString="Data Source=qspdevdb1\qsp;Initial Catalog=efundraisingprod;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString4"
            connectionString="Data Source=qspdevdb1;Initial Catalog=QSPFulfillment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString5"
            connectionString="Data Source=qspdevdb1.qsp;Initial Catalog=QSPFulfillment;Persist Security Info=True;User ID=QSPEcommerce;Password=oneteam"
            providerName="System.Data.SqlClient" />
        <add name="efundraising.EFundraisingCRM.Properties.Settings.QSPFulfillmentConnectionString6"
            connectionString="Data Source=10.176.187.9;Initial Catalog=QSPFulfillment;User ID=QSPFormWebUser;Password=somewhereakinghasnowife"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>