@model IList<GA.BDC.Shared.Entities.BlogPost>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Recent Posts</h3>
    </div>
    <div class="panel-body">
        @foreach (var category in Model.OrderByDescending(p => p.Created))
        {
            <p style="border-bottom: solid 1px #EEE;"><a ng-href="/blog/post/@category.Url">@category.Title</a></p>
        }
    </div>
</div>