<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Tags</h3>
    </div>
    <div class="panel-body">
        <div id="keywords" style="width: 230px; height: 230px;"></div>
    </div>
</div>
