USE [QSPCanadaProduct]
GO
/****** Object:  Table [dbo].[ProgramSectionType]    Script Date: 06/07/2017 09:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProgramSectionType](
	[ID] [int] NOT NULL,
	[FulfillmentID] [int] NULL,
	[Description] [varchar](50) NULL,
	[IsTaxIncluded] [bit] NULL,
	[IsPriceWithTax] [char](1) NULL,
 CONSTRAINT [PK_ProgramSectionType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
