USE [QSPCanadaProduct]
GO
/****** Object:  Table [dbo].[ProductDescription]    Script Date: 06/07/2017 09:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductDescription](
	[PRODUCT_CODE] [varchar](20) NOT NULL,
	[LANGUAGE_CODE] [varchar](10) NOT NULL,
	[PRODUCT_DESCRIPTION_ALT] [varchar](50) NULL,
	[COUNTRY_CODE] [varchar](10) NOT NULL,
	[CatalogProductCode] [varchar](20) NULL,
 CONSTRAINT [PK_ProductDescription] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CODE] ASC,
	[LANGUAGE_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
