USE [QSPCanadaProduct]
GO
/****** Object:  Table [dbo].[Publisher_ContactsNext]    Script Date: 06/07/2017 09:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publisher_ContactsNext](
	[ID] [int] IDENTITY(266,1) NOT NULL,
	[GUID] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
