USE [QSPCanadaProduct]
GO
/****** Object:  Table [dbo].[ProgFSSectionMap]    Script Date: 06/07/2017 09:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgFSSectionMap](
	[PROGRAM_ID] [int] NOT NULL,
	[CATALOG_SECTION_ID] [int] NULL
) ON [PRIMARY]
GO
