USE [QSPCanadaProduct]
GO
/****** Object:  Table [dbo].[ListingLevel]    Script Date: 06/07/2017 09:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListingLevel](
	[ID] [int] NULL,
	[DESCRIPTION] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
