body {margin: 0; padding: 0}
#Form2 {margin: 0; padding: 0}

/* Form Layout */
.col2 {width: 100%}
.col2 .c1 {width: 50%; padding-right: 10px}
.col2 .c2 {width: 50%; padding-left: 10px}

/* Form Tables */
.formtbl {width: 100%}
.formtbl td {padding: 3px 0; vertical-align: top}
.formtbl td.name {white-space: nowrap}
.formtbl td.input {white-space: nowrap; width: 100%}
.formtbl td.input input, .formtbl td.input select, .formtbl td.input textarea {margin: 0 5px}

/* Form Styles */
#Form2 input, #Form2 select {line-height: normal}
#Form2 select#Country, #Form2 select#State {width: 160px}

/* Breadcrumbs */
#BreadCrumbs1_BreadCrumbs1 {font-size: 12px}

/* Instructions */
table#Instruction1_Table2 {margin-bottom: 15px}

/* Errors & Messages */
.Messages, .ErrorMessages {font-size: 12px; font-weight: bold; color: #c00; width: 100%; text-align: center}
table.formtbl .ErrorMessages {width: 5px}

/* Content Tables */
.ContentTableHeader, .ContentTable, .ContentTableHorizontal {font-size: 14px; font-weight: bold}

/* Content Type Styles */
.Content, .Instructions {text-align: left}

/* Buttons */
td.button {padding-top: 20px; text-align: right}

/* Common Styles */
a {outline:none}
a img {border:none;}
.center {text-align:center;}
.clear {clear:both;}
.float-left {float:left}
.float-right {float:right}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.bold {font-weight:bold}
.italic {font-style:italic}
.img-left {float:left;margin:0 10px 4px 0}
.img-right {float:right;margin:0 0 4px 10px}
.hide {display: none}

/* Reset Styles */
#TopBannerCell, #TopSubBannerCell,
#LeftColumnCell, #RightColumnCell,
#FooterCell, .search, .cart, #ContentCell,
#TopBannerCell ul, #TopBannerCell p,
#TopSubBannerCell ul, #TopSubBannerCell p,
#LeftColumnCell ul, #LeftColumnCell p,
#RightColumnCell ul, #RightColumnCell p,
#FooterCell ul, #FooterCell p,
.search ul, .search p, .cart ul, .cart p
#ContentCell, #ContentCell p,
#ContentCell h1, #ContentCell h2,
#ContentCell h3, #ContentCell h4,
.Headings, .subHeadings,
#ContentCell ul .Content, .Content p,
table td {margin: 0; padding: 0; list-style: none; vertical-align: top; text-align: left}

/* Search Result Page Styles
--------------------------------------------------------*/

/* Template 1 - Grid */
.griditem {margin-bottom: 20px}
.griditem td {text-align: center; padding-bottom: 3px}
.griditem table td, .griditem table td table {margin: auto}

/* Merchant Defined Bundles Styles
--------------------------------------------------------*/
.Content .bundlewrap h2 {width: 100%; float: left}
.Content .bundletbl {margin: 10px 0 0 0}
.bundlewrap table {width: 100%; float: left}
.bundle {margin-bottom: 10px}
.bundle td {padding: 3px 0}

/* Payment Page Styles
--------------------------------------------------------*/
#tblCreditCard td.inner {padding: 10px}