.Footer {
  font: 10pt Verdana;
  color: #000000;
  font-weight: bold;
}

.AltFont1 {
  font: 7.5pt Verdana;
  color: #000000;
}

.AltFont2 {
  font: 7.5pt Verdana;
  color: #000000;
}

.Content_Small {
  font: 7.5pt Verdana;
  color: #000000;
}

.Content_Large {
  font: 13.5pt Verdana;
  color: #000000;
}

.ECheck {
  font: 7.5pt Verdana;
  color: #000000;
}

.ECheck2 {
  font: 7.5pt Verdana;
  color: #000000;
}

.Error {
  font: 10pt Verdana;
  color: #FF0000;
}

.Middle_Top_Banner_Small {
  font: 10pt Verdana;
  color: #FFFFFF;
}

.ContentBar_Small {
  font: 7.5pt Verdana;
  color: #FFFFFF;
}

.TopBanner_Large {
  font: 10pt Verdana;
  color: #000000;
}

body {
  background-color: #F9F9F9;
}

body, table, td, p {
  font: 10pt Verdana;
  color: #000000;
}

h1 {
  font: 13.5pt Verdana;
  color: #000000;
  font-weight: bold;
}

.tdbackgrnd {
  background-color: #000000;
}

.tdTopBanner {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFAA33;
  font-weight: bold;
}

.tdTopBanner2 {
  background-color: #FFFFFF;
}

.tdMiddleTopBanner {
  font: 13.5pt Verdana;
  color: #FFFFFF;
  background-color: #000000;
  font-weight: bold;
}

.tdBottomTopBanner {
  font: 10pt Verdana;
  color: #FFFFFF;
  background-color: #263C6D;
}

.tdBottomTopBanner2 {
  font: 10pt Verdana;
  color: #FFFFFF;
  background-color: #263C6D;
}

.tdContent {
  background-color: #FFFFFF;
}

.tdContent2 {
  background-color: #FFFFFF;
}

.tdContent3 {
  background-color: #FFFFFF;
}

.tdContentBar {
  font: 7.5pt Verdana;
  color: #FFFFFF;
  background-color: #A52A2A;
  font-weight: bold;
}

.tdFooter {
  font: 10pt Verdana;
  color: #000000;
  background-color: #FFAA33;
  font-weight: bold;
}

.tdAltFont1 {
  font: 7.5pt Verdana;
  color: #000000;
  background-color: #CCCCCC;
}

.tdAltFont2 {
  font: 7.5pt Verdana;
  color: #000000;
  background-color: #EAEAEA;
}

.tdAltBG1 {
  background-color: #CCCCCC;
}

.tdAltBG2 {
  background-color: #EAEAEA;
}


