USE [QSPCanadaFinance]
GO
/****** Object:  View [dbo].[vw_GAO_Mapping_Account_Year]    Script Date: 06/07/2017 09:16:40 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[vw_GAO_Mapping_Account_Year] AS
SELECT '2011' AS GAO_Accounting_year, ACCOUNTING_YEAR AS Historical_Account_Year, ACCOUNTING_PERIOD, START_DATE, END_DATE
FROM QSPCanadaFinance.dbo.ACCOUNTING_PERIOD
WHERE START_DATE BETWEEN '01/01/2011' AND '12/31/2011 23:59:59'
UNION
SELECT '2012' AS GAO_Accounting_year, ACCOUNTING_YEAR AS Historical_Account_Year, ACCOUNTING_PERIOD, START_DATE, END_DATE
FROM QSPCanadaFinance.dbo.ACCOUNTING_PERIOD
WHERE START_DATE BETWEEN '01/01/2012' AND '12/31/2012 23:59:59'
UNION
SELECT '2013' AS GAO_Accounting_year, ACCOUNTING_YEAR AS Historical_Account_Year, ACCOUNTING_PERIOD, START_DATE, END_DATE
FROM QSPCanadaFinance.dbo.ACCOUNTING_PERIOD
WHERE START_DATE BETWEEN '01/01/2013' AND '12/31/2013 23:59:59'
UNION
SELECT '2014' AS GAO_Accounting_year, ACCOUNTING_YEAR AS Historical_Account_Year, ACCOUNTING_PERIOD, START_DATE, END_DATE
FROM QSPCanadaFinance.dbo.ACCOUNTING_PERIOD
WHERE START_DATE BETWEEN '01/01/2014' AND '12/31/2014 23:59:59'
GO
