@{
   ViewBag.Title = "Catalogs";
   ViewBag.Description = "Easy Apparel Catalogs";
   ViewBag.Keywords = "Catalogs, fundraising ideas";
   Layout = "~/Views/Shared/_Layout.cshtml";
   ViewBag.CanonicalUrl = Url.Action("AllCatalogs", "Catalog");

}

<div class="container-fluid" style="padding-left:0px; padding-right:0px">
   <div class="row">
      <div class="col-lg-12" style="width:auto;overflow:hidden;">
         <img class="img-responsive" src="~/Content/catalog/banner_brochures.jpg" style="position:relative;display: inline-block; width:100%" alt="all catalogs" title="all catalogs" />
         <div style="position:absolute; top:30%; left:35%; font-size:2.5vw; color:#fff; text-align:center">BROCHURES<br /><span style="font-size:2.0vw;">GET STARTED</span></div>
      </div>
   </div>
   <div class="row" style="background: linear-gradient(to right, #66dedd ,#4f84ae);">
      <div class="col-lg-12">
         <div class="row pagination-centered" style="margin:15px">
            <div class="row">
               <div class="col-lg-12" style="text-align:center; color:white; margin-bottom:20px">
                  CLICK ON THE BROCHURE OF YOUR CHOICE FOR MORE INFORMATION
               </div>
            </div>
            <div class="col-lg-12">
               <div class="row">
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/6.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/8.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/10.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/12.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/18.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/adidas.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4">
                     <img src="~/Content/catalog/createyourown.png" class="img-responsive" style="display:block; margin-left:auto;margin-right:auto;margin-bottom:20px" />
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>

</div>
