USE [QSPCanadaOrderManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[GetRow]    Script Date: 06/07/2017 09:21:01 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetRow] ()  
RETURNS int AS  
BEGIN
return 123 
END
GO
