/*
pt2px conversion @ 1024x768
Size	pt	px
Small	8	11
Normal	10	13
Big		12	16
Mega	14	20
Giga	18	24
*/

body 
{
	font-family: Arial;
	font-size: 13px;
	color: #333333;
}

INPUT
{
	font-size: 12px;
}

/* MENUS */

.Menu
{
	font-family:Arial;
	font-size: 11px;
	text-decoration:none;
	font-weight: bold;
	color: #000000;
}

.MenuSelected
{
	font-family:Arial;
	font-size: 13px;
	text-decoration:none;
	font-weight: bold;
	color: #333333;
}

.Submenu
{
	font-family:Arial;
	font-size: 13px;
	color:#3366ff;
	text-decoration: underline;
}

.SubMenuSelected
{
	font-family:Arial;
	font-size: 13px;
	text-decoration: underline;
	font-weight: bold;
	color:#3366ff;
}

.SubmenuSpace
{
	font-family:Arial;
	font-size: 13px;
	color:#3366ff;
}
	
.SectionTitle
{
	font-family:Arial;
	font-size: 20px;
	text-decoration:none;
	font-weight: bold;
	color:#f3642b;
}

/* NORMAL TEXT */

.GigaText
{
	font-family:Arial;
	font-size: 24px;
	text-decoration:none;
	
}
.GigaTextBold
{
	font-family:Arial;
	font-size: 24px;
	text-decoration:none;
	font-weight: bold;
}

.GigaTextLink
{
	font-family:Arial;
	font-size: 24px;
	color:#3366ff;
	text-decoration: underline;	
}

.GigaTextItalic
{
	font-family:Arial;
	font-size: 24px;
	text-decoration:none;
	font-style: italic;		
}

.MegaText
{
	font-family:Arial;
	font-size: 20px;
	text-decoration:none;
	
}
.MegaTextBold
{
	font-family:Arial;
	font-size: 20px;
	text-decoration:none;
	font-weight: bold;
}

.MegaTextLink
{
	font-family:Arial;
	font-size: 20px;
	color:#3366ff;
	text-decoration: underline;	
}

.MegaTextItalic
{
	font-family:Arial;
	font-size: 20px;
	text-decoration:none;
	font-style: italic;		
}

.BigText
{
	font-family:Arial;
	font-size: 16px;
	text-decoration:none;
}

.BigTextBold
{
	font-family:Arial;
	font-size: 16px;
	text-decoration:none;
	font-weight: bold;
}

.BigTextLink
{
	font-family:Arial;
	font-size: 16px;
	color:#3366ff;
	text-decoration: underline;	
}

.BigTextItalic
{
	font-family:Arial;
	font-size: 16px;
	text-decoration:none;
	font-style: italic;		
}

.NormalText
{
	font-family:Arial;
	font-size: 13px;
	text-decoration:none;
}

.NormalTextBold
{
	font-family:Arial;
	font-size: 13px;
	text-decoration:none;
	font-weight: bold;
}

.NormalTextLink
{
	font-family:Arial;
	font-size: 13px;
	color:#3366ff;
	text-decoration: underline;
}

.NormalTextItalic
{
	font-family:Arial;
	font-size: 13px;
	text-decoration:none;
	font-style: italic;
}

.SmallText
{
	font-family:Arial;
	font-size: 11px;
	text-decoration:none;
}

.SmallTextBold
{
	font-family:Arial;
	font-size: 11px;
	text-decoration:none;
	font-weight: bold;
}

.SmallTextLink
{
	font-family:Arial;
	font-size: 11px;
	color:#3366ff;
	text-decoration: underline;	
}

.SmallTextItalic
{
	font-family:Arial;
	font-size: 11px;
	text-decoration:none;
	font-style: italic;		
}

.TextUnderline
{
	text-decoration: underline;
}

/* BACKGROUND COLORS */

.FrameHeaderBackground
{
	background-color:#f3642b;
}

.FrameBodyBackground
{
	background-color:#f4f4f4;	
}

.BannerBodyBackground
{
	background-color:#e4ecf3;	
}

.BannerBorderBackground
{
	background-color:#5784b6;	
}

.ThermometerBackground
{
	background-color:#EB3E30;	
}

.BoxBodyBackground
{
	background-color: #E2E2E2;	
}


.BoxBorderBackground
{
	background-color: #A7A7A7;	
}


.BoxBodyLighterBackground 
{
	background-color: #F4F4F4;
}

.HeaderTitleBackGround
{
	background-color : #F3642B;
}


/* Testimonials.aspx, Prizes.aspx 
.BoxLineBorderBackground 
{
	background-color: #A7A7A7;
}
/* End */


/* FOREGROUND COLORS */

.Normal
{
	color:#333333;
}

.Passive
{
	color:#5784b6;
}

.Active
{
	color:#F3642B;
}

.Disabled
{
	/* color:#f4f4f4; */
	color: #BCBCBC;
}

.Header
{
	color:#ffffff;
}

.ImportantMessage
{
	color:#FF0000;
}

.HighlightedText
{
	color:#EB3E30;
}

.Link
{
	color:#3366ff;
}

.colorChoserTD
{
	cursor:pointer;
	width: 12;
	height: 15;
}