@using System.Configuration
@{
    ViewBag.Title = "Church Scratchcards";
    ViewBag.Description = "Church Scratchcards";
    ViewBag.Keywords = "Church Scratchcards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h2>Church Scratchcards</h2>
     </div>
</div>
<div class="row" style="padding-left:100px; padding-right:100px;">
    <div class="col-md-6">
        <a href="#church" class="portfolio-link" data-toggle="modal">     
        <img src="~/Content/images/products/9.jpg" class="img-rounded img-responsive center-block" /></a>
        <h4 style="text-align:center">Church</h4>
    </div>
    <div class="col-md-6">
        <a href="#catholic" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/24.jpg" class="img-rounded img-responsive center-block" /></a>
            <h4 style="text-align:center">Catholic</h4>
</div>
</div>



<div class="portfolio-modal modal fade" id="church" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Church</h3></div>
                            <img src="~/Content/images/products/9.jpg" class="img-rounded img-responsive center-block" />
                            <a href="https://www.fundraising.com/products/scratchcards/church-scratchcards/Church-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="catholic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Catholic</h3></div>
                        <img src="~/Content/images/products/24.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/church-scratchcards/Catholic-Church-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


