@using System.Configuration
@{
    ViewBag.Title = "Dance Scratchcards";
    ViewBag.Description = "Dance Scratchcards";
    ViewBag.Keywords = "Dance Scratchcards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h2>Dance Scratchcards</h2>
    </div>
</div>
<div class="row" style="padding-left:100px; padding-right:100px;">
    <div class="col-md-6">
        <a href="#dance" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/10.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Dance</h3>
    </div>
    <div class="col-md-6">
        <a href="#gymnastics" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/34.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Gymnastics</h3>
    </div>
</div>



<div class="portfolio-modal modal fade" id="dance" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center"><h3>Dance</h3></div>
                        <img src="~/Content/images/products/10.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/dance-scratchcards/Dance-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="gymnastics" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center"><h3>Gymnastics</h3></div>
                        <img src="~/Content/images/products/34.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/dance-scratchcards/Gymnastics-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


