@using System.Configuration
@{
    ViewBag.Title = "Other Scratchcards";
    ViewBag.Description = "Other Scratchcards";
    ViewBag.Keywords = "Other Scratchcards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h2>Other Scratchcards</h2>
    </div>
</div>
<div class="row" style="padding-left:100px; padding-right:100px;">
    <div class="col-md-6">
        <a href="#cdn" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/6.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Canadian Flag</h3>
    </div>
    <div class="col-md-6">
        <a href="#usa" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/300.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">USA Flag</h3>
    </div>
    <div class="col-md-6">
        <a href="#holiday" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/8.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Holiday</h3>
    </div>
    <div class="col-md-6">
        <a href="#general" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/14.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">General</h3>
    </div>
    <div class="col-md-6">
        <a href="#band" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/21.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Band</h3>
    </div>
    <div class="col-md-6">
        <a href="#music" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/22.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Music</h3>
    </div>
    <div class="col-md-6">
        <a href="#nature" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/23.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Nature</h3>
    </div>
    <div class="col-md-6">
        <a href="#winter" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/32.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Winter</h3>
    </div>
    <div class="col-md-6">
        <a href="#animals" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/35.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Animals</h3>
    </div>
</div>


<div class="portfolio-modal modal fade" id="cdn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Canadian Flag</h3></div>
                        <img src="~/Content/images/products/6.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/general-scratchcards/Canadian-Flag-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="usa" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>USA Flag</h3></div>
                        <img src="~/Content/images/products/300.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/general-scratchcards/USA-Flag-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="holiday" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Holiday</h3></div>
                        <img src="~/Content/images/products/8.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/general-scratchcards/Holiday-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="general" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>General</h3></div>
                        <img src="~/Content/images/products/14.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/general-scratchcards/General-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="band" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Band</h3></div>
                        <img src="~/Content/images/products/21.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/music-scratchcards/Band-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="music" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Music</h3></div>
                        <img src="~/Content/images/products/22.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/music-scratchcards/Music-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="nature" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Nature</h3></div>
                        <img src="~/Content/images/products/32.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/nature-scratchcards/Nature-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="winter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Winter</h3></div>
                        <img src="~/Content/images/products/32.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/nature-scratchcards/Winter-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="animals" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body img-rounded" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>Animals</h3></div>
                        <img src="~/Content/images/products/35.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/nature-scratchcards/Animals-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>