@using System.Configuration
@{
    ViewBag.Title = "Church Scratchcard";
    ViewBag.Description = "Church Scratchcard";
    ViewBag.Keywords = "Church Scratchcard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-left:20px; padding-right:20px; padding-top:100px">
    <div class="col-md-12">
        <h2>School Scratchcards</h2>
    </div>
</div>
<div class="row" style="padding-left:100px; padding-right:100px;">
    <div class="col-md-6">
        <a href="#elementary" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/11.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">Elementary School</h3>
    </div>
    <div class="col-md-6">
        <a href="#highschool" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/16.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">High School</h3>
    </div>
    <div class="col-md-6">
        <a href="#highschool2" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/59.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">High School 2</h3>
    </div>
    <div class="col-md-6">
        <a href="#university" class="portfolio-link" data-toggle="modal">
            <img src="~/Content/images/products/31.jpg" class="img-rounded img-responsive center-block" />
        </a>
        <h3 style="text-align:center">University / Varsity</h3>
    </div>
   
</div>



<div class="portfolio-modal modal fade" id="elementary" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center"><h3>Elementary School</h3></div>
                        <img src="~/Content/images/products/11.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/school-scratchcards/Elementary-School-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="highschool" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>High School</h3></div>
                        <img src="~/Content/images/products/16.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/school-scratchcards/High-School-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="highschool2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>High School 2</h3></div>
                        <img src="~/Content/images/products/59.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/school-scratchcards/High-School-Scratchcard2" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="university" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content" style="background-color:rgba(31, 30, 30, 0.56);">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-7 col-xs-offset-3">
                    <div class="modal-body" style="background-color:white">
                        <!-- Project Details Go Here -->
                        <div align="right"><button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i></button></div>
                        <div align="center" class="hidden-xs"><h3>University / Varsity</h3></div>
                        <img src="~/Content/images/products/31.jpg" class="img-rounded img-responsive center-block" />
                        <a href="https://www.fundraising.com/products/scratchcards/school-scratchcards/University-Varsity-Scratchcard" class="btn btn-success btn-lg btn-block" role="button">Buy Now</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


