USE [QSPCanadaProduct]
GO
/****** Object:  UserDefinedDataType [dbo].[CountryCode_UDDT]    Script Date: 06/07/2017 09:18:07 ******/
CREATE TYPE [dbo].[CountryCode_UDDT] FROM [varchar](2) NOT NULL
GO
