<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <system.web>
	<httpRuntime maxRequestLength="2000" executionTimeout="3600" />
  </system.web>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="StoreFront.Integration.log" />
			<param name="AppendToFile" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="- %d [%t] %-5p %c\n [%x] - \r\n%m%n\r\n" />
			</layout>
		</appender>
		<logger name="StoreFront.Integration.Integrator">
			<level value="ALL" />
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="StoreFront.Integration.ImportOrder">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="StoreFront.Integration.ExportOrder">
			<level value="ALL" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="SmtpAppender"></appender-ref>
		</logger>
		<logger name="StoreFront.Integration.ImportCustomer">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="StoreFront.Integration.ImportInventory">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="StoreFront.Integration.ImportOrderStatus">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>
		<logger name="StoreFront.Integration.ImportProduct">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>
	</log4net>
</configuration>
