.panel {
   border-color: #648D3E !important;
}
.panel .panel-heading {
   background-color: #A2C27D !important;
   color: black !important;
   border-color: #648D3E !important;
}
.panel .panel-heading .panel-title {
   font-weight: bold !important;
}
.panel .panel-heading .panel-title {
   font-weight: bold !important;
}
a, h2, h1 {
   color: #648D3E !important;  
}
#landingPartnerPage a:hover, #landingPartnerPage a:active {
   color: #395123 !important;  
}
#landingPartnerPage .support-middle {
   text-align: center !important;
   background-color: #EAFFD1 !important;
}
#groupPage .raisedAmountIndicator {
   background-color: #EAFFD1 !important;
   color: black !important;
   border: solid 2px #648D3E !important;
}
#groupPage a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
   border-color: #648D3E !important;
}
#groupPage a {
   color: #648D3E !important;  
}
#groupPage #participantsRotator .carousel-inner {
   background-color: #EAFFD1 !important;
   font-weight: bold;
   border: solid 1px #648D3E !important;
}
#groupPage .blackImage {
   background-color: #648D3E !important;   
}
#groupPage .blackImage a {
   color: white !important;   
}
#groupPage #carousselContainer {
   border-color: #648D3E !important;  
}
#groupPage #howItWorksLink {
   font-size: 18px;
   font-weight: bold;
}
#landingPageTitle {
   margin-top: 0 !important;
   color: #648D3E !important;
}
#landingPageDescription {
   font-size: 13px !important;
}
#findAnEventBox button {
   background-color: #648D3E !important;
   color: white !important;
}
#findAnEventBox button:hover {
   background-color: #395123 !important;
   color: white !important;
}

nav ul
{
    background-color: #A2C27D !important;
}


nav a,
nav a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus
{
    color: white !important;
    font-weight: bold !important;
}

nav .nav-pills > li.active > a,
.nav > li > a:hover, .nav > li > a:focus,
nav .nav-pills > li.active > a:hover,
nav .nav-pills > li.active > a:focus,
nav .nav-pills > li > a:hover,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav-pills > li.active > a,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
    background-color: #648D3E !important;
   color: white !important;
}